Page header:
page title: Social Work Licensure Requirements | University of Michigan School of Social Work
og:description: The Michigan Public Health Code and board administrative rules require every licensed master's and bachelor's social worker to complete at least 45 hours of continuing education during the three-year period prior to the license's expiration date.

Visible page text:
Ethics
Pain Management
Human Trafficking
Implicit Bias
The Michigan Public Health Code and board administrative rules require every licensed Master's and Bachelor's social worker to complete, during the 3-year period prior to the expiration date of the license, no less than 45 hours of continuing education in courses or programs approved by the Board with at least
five of those hours in ethics
and
at least two hours in pain management
(contact hours in pain and pain symptom management may include, but are not limited to courses in behavior management, psychology of pain, behavior modification, and stress management), and
at least two hours in human trafficking
.
The new implicit bias requirement takes effect June 1, 2022 and will be required for any renewal or new application that is completed on or after that date. Renewing applicants and registrants are required to complete
1 hour of implicit bias training for each year of their license or registration cycle
. Example: If your license is issued for 3 years, then you must complete 3 hours of implicit bias training during each renewal cycle.
These requirements apply regardless of whether the social worker is actively engaged in the practice of social work; no one is exempt from this requirement.
For more information, please consult:
Michigan Licensing and Regulatory Affairs (Social Work)
Michigan Social Work Continuing Education Collaborative: What Every Social Worker Should Know
Michigan Continuing Education Requirements
Licensed in another state? Please view
ASWB ACE's approved states/provinces
to determine if you can count our CE approval in your jurisdiction. If you have any questions about what is accepted as continuing education in your state, please contact your licensing board.
