Page header:
page title: Editable Climate & Meterology Sample Schedule - Google Sheets

Visible page text:
This browser version is no longer supported. Please upgrade to a supported browser.
Editable Climate & Meterology Sample Schedule
Tab
Share
File
Edit
View
Insert
Format
Data
Tools
Extensions
Help
Accessibility
Debug
Unsaved changes to Drive
Accessibility
View only
Loading...
A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z
AA
AB
1
Climate and Meteorology Sample Schedule
2
Meterology Concentration
3
**See the next tab for the Climate Sciences Concentration**
4
To edit this Sample Schedule, make a copy of this sheet to your own Google Drive.  Click File > Make a Copy.
5
Please note: This sample schedule is based off of the CoE Bulletin and can be found on the EAC Website.  Changes may occur, and students need to work with their Major Advisors to create a plan for completing requirement.  This document has multiple tabs.  Use Alt ^ to switch tabs.  See the third tab for CoE General Requirements.
6
7
Sample Schedules for all majors can be found on the
8
EAC Website
9
Pre-UM Credit (if applicable)
Course
Credits
Course
Credits
Course
Credits
Pre-UM Credit (if applicable)
10
11
12
13
14
Total
0
Total
0
Total
0
15
16
Cumulative Totals:
0
0
0
17
18
First Year
Fall
Credits
Winter
Credits
Spring/Summer (Optional)
Credits
First Year
19
Math 115
4
Math 116
4
20
Chem 130/125/126 or 210/211
5
Physics 140/141
5
21
Engr 100
4
Engr 101
4
22
Intellectual Breadth
4
Intellectual Breadth
4
23
24
25
Term Totals:
17
17
0
26
27
Cumulative Totals:
17
34
34
28
29
Second Year
Fall
Credits
Winter
Credits
Spring/Summer (Optional)
Credits
Second Year
30
Math 215
4
Math 216
4
31
Physics 240/241
5
Intellectual Breadth
4
32
Intellectual Breadth
4
Climate 321
3
33
Climate 320
3
Climate 323
4
34
35
36
Term Totals:
16
15
0
37
38
Cumulative Totals:
50
65
65
39
40
Third Year
Fall
Credits
Winter
Credits
Spring/Summer (Optional)
Credits
Third Year
41
Climate 380
3
Climate 350
3
42
Climate 401
3
Climate 414
3
43
Climate 463
3
Climate 324
4
44
Technical Electives
4
Climate 423
4
45
General Electives
3
General Electives
3
46
47
Term Totals:
16
17
0
48
49
Cumulative Totals:
81
98
98
50
51
Fourth Year
Fall
Credits
Winter
Credits
Spring/Summer (Optional)
Credits
Fourth Year
52
Climate 410
4
Climate 455
4
53
Climate 440
4
Climate 411
3
54
Technical Electives
4
Climate 485
3
55
General Electives
3
Technical Electives
5
56
57
58
Term Totals:
15
15
0
59
60
Cumulative Totals:
113
128
128
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
Quotes are not sourced from all markets and may be delayed up to 20 minutes. Information is provided 'as is' and solely for informational purposes, not for trading purposes or advice.
Disclaimer
CLASP: Meterology Editable Sample Schedule
CLASP: Climate Sciences Editable Sample Schedule
CoE Requirements
GPA Calculator
Honor Point Deficit Calculator
A browser error has occurred.
Please hold the Shift key and click the Refresh button to try again.
