Page header:
page title: Political Science Major | U-M LSA U-M College of LSA

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Political Science Major
...
Political Science Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Political Science Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Fall 2024
Advising
Normally, the decision to major is made late in the sophomore year or early in the junior year. Advising appointments are scheduled by going to the
Political Science website
or by contacting the department office.
Prerequisites
Students should prepare for advanced study in the discipline by completing two of the following introductory courses:
POLSCI 101: Introduction to Political Theory
POLSCI 111: Introduction to American Politics
POLSCI 140: Introduction to Comparative Politics
POLSCI 160: Introduction to World Politics
In rare circumstances, departmental advisors may approve the use of an upper-level course to meet the prerequisite.
Requirements
Minimum Credits:
30
At least 30 credits in POLSCI at the 300 level or above (in addition to required prerequisites).
Only eight credits of Experiential and Independent Study credit may be included in the major. Only four of these credits can come from POLSCI 399.
Core courses must be elected from the 300-level or higher and include at least:
two courses at the 400-level, or
one 400-level POLSCI course and one ULWR POLSCI course.
Students are encouraged to elect an undergraduate topics seminar at the 400 level (POLSCI 495,496, 497, or 498) in their senior year.
Political science majors are expected to acquire an appreciation of the diverse styles of political inquiry by electing at least one course in four of the following five subfields: political theory, American government, comparative politics, world politics, and methodology. Coursework from both the prerequisite and upper-level courses are used to meet this requirement. STATS 250 does not count towards the Methods requirement for the major.
Roster of POLSCI subfields and courses
American Government
111, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 338, 380, 382, 385 (
for approved topics, consult department's
website
), 389 (
for approved topics, consult department's
website
), 421, 425, 427, 432, 482, 485, 486, 489 (
for approved topics, consult department's
website
), 496, 499
Comparative Politics
140, 333, 334, 336, 337, 339, 340, 342, 343, 345, 347, 348, 350, 352, 353, 354, 355, 356, 359, 360, 362, 385 (
for approved topics, consult department's
website
), 386, 387, 389 (
for approved topics, consult department's
website
), 394, 395, 396, 397, 434, 435, 436, 441, 445, 455, 458, 489 (
for approved topics, consult department's
website
), 496, 497
Methods
300, 325, 373, 381, 389 (
for approved topics, consult department's
website
), 391, 485, 489 (
for approved topics, consult department's
website
), 490, 499
Political Theory
101, 301, 302, 303, 304, 306, 307, 308, 309, 379, 389 (
for approved topics, consult department's
website
), 401, 402, 403, 406, 407, 408, 409, 419, 438, 449, 489 (
for approved topics, consult department's
website
), 495
World Politics
160, 353, 360, 364, 368, 369, 371, 372, 373, 378, 389 (
for approved topics, consult department's
website
), 435, 441, 446, 447, 462, 464, 489 (
for approved topics, consult department's
website
), 498
Residency
At least 12 credits – including both 400 level courses – must be taken on the Ann Arbor campus.
Only 12 credits of study abroad coursework in political science may be counted toward the major.
Students are encouraged to seek preapproval of study abroad selections.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the POLSCI subject area may not be used toward the Distribution Requirement.
Honors
Especially well-qualified students are encouraged to undertake an Honors plan, which involves preparing a thesis under the direction of a faculty member. To become eligible for the Honors plan, students must take POLSCI 381 before their senior year. During the senior year, students enroll in a proseminar in which they prepare the thesis.
The department collects applications to the Honors plan during the winter of each academic year. Students usually apply during their junior year. Sophomore majors who have completed POLSCI 381 may apply during their sophomore or junior year. To be admitted to the Honors plan, students must have:
received an A-range grade in POLSCI 381,
a grade point average of 3.5 or higher both overall and in Political Science courses,
secured a faculty member as a thesis advisor,
written a thesis research proposal (which is generally done in POLSCI 381).
The Honors plan requires at least 34 credit hours of POLSCI coursework at the 300 level or above and must include the following:
POLSCI 381: Political Science Research Design
POLSCI 493: Senior Honors Proseminar (fall only)
POLSCI 494: Senior Honors Proseminar (winter only)
at least one course in four of the following five subfields: political theory, American government, comparative politics, world politics, and methodology.
A student must end their undergraduate career with at least a 3.5 GPA in political science coursework and a 3.4 overall GPA in order to receive any level of Honors with their diploma.
Teaching Certificate
Students interested in obtaining a secondary teaching certificate with a teaching major or minor in Political Science should consult "Teacher Certification Program" and the School of Education Teacher Education Office, 1228 School of Education Building, (734) 615-1528.
Political Science (Major) (Fall 2016 - Summer 2024)
Effective Fall 2016
Advising
Normally, the decision to major is made late in the sophomore year or early in the junior year. Advising appointments are scheduled by going to the
Political Science website
or by contacting the department office. Appointments for the Honors advisor are scheduled at 1330 Mason Hall.
Prerequisites
Students should prepare for advanced study in the discipline by completing two of the following introductory courses:
POLSCI 101: Introduction to Political Theory
POLSCI 111: Introduction to American Politics
POLSCI 140: Introduction to Comparative Politics
POLSCI 160: Introduction to World Politics
In rare circumstances, departmental advisors may approve the use of an upper-level course to meet the prerequisite.
Requirements
Minimum Credits:
30
At least 30 credits in POLSCI at the 300 level or above (in addition to required prerequisites).
Only eight credits of Experiential and Independent Study credit may be included in the major. Only four of these credits can come from POLSCI 399.
Core courses must be elected from the 300-level or higher and include at least:
two courses at the 400-level, or
one 400-level POLSCI course and one ULWR POLSCI course.
Students are encouraged to elect an undergraduate topics seminar at the 400 level (POLSCI 495,496, 497, or 498) in their senior year.
Political science majors are expected to acquire an appreciation of the diverse styles of political inquiry by electing at least one course in four of the following five subfields: political theory, American government, comparative politics, world politics, and methodology. Coursework from both the prerequisite and upper-level courses are used to meet this requirement. STATS 250 does not count toward methods requirements for the major.
Roster of POLSCI subfields and courses
American
111, 300, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 326, 327, 329, 330, 331, 332, 333, 334, 335, 380, 385, 410, 432, 482, 484, 486, 496
Comparative
140, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 362, 382, 387, 395, 396, 397, 451, 497
Methods
300, 381, 391, 488, 490, 499; PUBPOL 201
Theory
101, 301, 302, 306, 307, 308, 309, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 495
World
160, 360, 361, 363, 364, 365, 368, 369, 370, 371, 372, 379, 462, 463, 498
Residency
At least 12 credits – including both 400 level courses – must be taken on the Ann Arbor campus.
Only 12 credits of study abroad coursework in political science may be counted toward the major.
Students are encouraged to seek preapproval of study abroad selections.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the POLSCI subject area may not be used toward the Distribution Requirement.
Honors
Especially well-qualified students are encouraged to undertake an Honors plan, which involves preparing a thesis under the direction of a faculty member. To become eligible for the Honors plan, students must take POLSCI 381 before their senior year. During the senior year, students enroll in a proseminar in which they prepare the thesis.
The department collects applications to the Honors plan during the winter of each academic year. Students usually apply during their junior year. Sophomore majors who have completed POLSCI 381 may apply during their sophomore or junior year. To be admitted to the Honors plan, students must have:
received an A-range grade in POLSCI 381,
a grade point average of 3.5 or higher both overall and in Political Science courses,
secured a faculty member as a thesis advisor,
written a thesis research proposal (which is generally done in POLSCI 381).
The Honors plan requires at least 34 credit hours of POLSCI coursework at the 300 level or above and must include the following:
POLSCI 381: Political Science Research Design
POLSCI 493 : Senior Honors Proseminar (fall only)
POLSCI 494: Senior Honors Proseminar (winter only)
at least one course in four of the following five subfields: political theory, American government, comparative politics, world politics, and methodology.
A student must end their undergraduate career with at least a 3.5 GPA in political science coursework and a 3.4 overall GPA in order to receive any level of Honors with their diploma.
Teaching Certificate
Students interested in obtaining a secondary teaching certificate with a teaching major or minor in Political Science should consult "Teacher Certification Program" and the School of Education Teacher Education Office, 1228 School of Education Building, (734) 615-1528.
Political Science Major (Fall 2015-Summer 2016)
May be elected as a departmental major
Prerequisites to the Major
Students should prepare for advanced study in the discipline by completing two of the following introductory courses:
POLSCI 101: Introduction to Political Theory
POLSCI 111: Introduction to American Politics
POLSCI 140: Introduction to Comparative Politics
POLSCI 160: Introduction to World Politics
In rare circumstances, departmental advisors may approve the use of an upper level course to meet the prerequisite.
Requirements for the Major
At least 30 credits in POLSCI at the 300 level or above (in addition to required prerequisites).
Core courses must be elected from the 300-level or higher and include at least two courses at the 400-level. Students are encouraged to elect an undergraduate topics seminar at the 400 level (POLSCI 495,496, 497, or 498) in their senior year.
Political science majors are expected to acquire an appreciation of the diverse styles of political inquiry by electing at least one course in four of the following five subfields: political theory, American government, comparative politics, world politics, and methodology. Coursework from both the prerequisite and upper level courses are used to meet this requirement. STATS 250 does not count toward methods requirements for the major.
Ann Arbor Campus Requirement.
At least 12 credits – including both 400 level courses – must be taken on the Ann Arbor campus.
Exclusions.
Only eight credits of Experiential and Independent Study credit may be included in the major. Only four of these credits can come from POLSCI 399.
Only 12 credits of study abroad coursework in political science may be counted toward the major. Students are encouraged to seek preapproval of study abroad selections.
Roster of POLSCI subfields and courses
American
111, 300, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,326, 327, 329, 330, 331, 332, 333, 334, 335, 380, 385, 410, 432, 482, 484, 486, 496
Comparative
140, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 382, 387, 395, 396, 397, 451, 497
Methods
381, 391, 488, 490, 499
Theory
101, 301, 302, 306, 307, 308, 309, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 495
World
160, 360, 361, 363, 364, 365, 368, 369, 370, 371, 372, 379, 462, 463, 498
Teaching Certificate
Students interested in obtaining a secondary teaching certificate with a teaching major or minor in Political Science should consult  "
Teacher Certification Program
" and the School of Education Teacher Education Office, 1228 School of Education Building, (734) 615-1528.
Honors Plan
Especially well-qualified students are encouraged to undertake an Honors plan, which involves preparing a thesis under the direction of a faculty member. To become eligible for the Honors plan, students must take POLSCI 381 before their senior year. During the senior year, students enroll in a proseminar in which they prepare the thesis.
The department collects applications to the Honors plan during the winter of each academic year. Students usually apply during their junior year. Sophomore majors who have completed POLSCI 381 may apply during their sophomore or junior year. To be admitted to the Honors plan, students must have:
received an A-range grade in POLSCI 381,
a grade point average of 3.5 or higher both overall and in Political Science courses,
secured a faculty member as a thesis advisor,
written a thesis research proposal (which is generally done in POLSCI 381).
The Honors plan requires at least 34 credit hours of POLSCI coursework at the 300 level or above and must include the following:
POLSCI 381: Political Science Research Design
POLSCI 493 : Senior Honors Proseminar (fall only)
POLSCI 494: Senior Honors Proseminar (winter  only)
at least one course in four of the following
five
subfields: political theory, American government, comparative politics, world politics, and methodology.
A student must end their undergraduate career with at least a 3.5 GPA in political science coursework and a 3.4 overall GPA in order to receive any level of Honors with their diploma.
Political Science Major (Fall 2011-Summer 2015)
May be elected as a departmental major
Prerequisites to the Major
Two courses chosen from different subfields of political science. First- and second-year students choose from among POLSCI 101 (political theory), 111 (American government), 140 (comparative politics), 160 (world politics); juniors and seniors from POLSCI 301 and 302 (political theory), 311 (American government), advisor approval (comparative politics), and advisor approval (world politics).
Requirements for the Major
At least 24 credits in POLSCI (in addition to required prerequisites) and 6 credits elected through a cognate department.
Core courses must be elected from the 300-level or higher, including at least two at the 400-level. Twelve credits (including the two at the 400-level) must be taken
in the department
.
Only 9 hours of foreign credit from a one-term accredited program and 12 hours of foreign credit from a year-long program may be counted toward the major core.
No more than 4 credits of internship and 4 credits of directed study may be included in a plan for the major.
Directed reading may not be counted as advanced unless approved
beforehand
by a department advisor.
Credit for STATS 250 (or 350) can count toward methods requirements for the major.
Seniors are encouraged to elect an undergraduate seminar (POLSCI 495, 496, 497, or 498). Law courses, with the exception of POLSCI 345 are counted in the American politics subfid. Political science majors are expected to acquire an appreciation of the diverse styles of political inquiry by electing at least one course in four of the following subfields: political theory, American government, comparative politics, world politics, and methodology. Normally, this requirement is satisfied by the prerequisites to major and different additional upper-level courses in two subfields. Cognate courses, which are upper-level courses in another discipline, are an integral part of the plan for the major and should be selected with a view toward building a coherent program of study. As a general rule, cognate courses should be in the same discipline with exceptions approved in advance by a department advisor.
Roster of POLSCI subfields and courses
American
111, 300, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,326, 327, 329, 330, 331, 332, 333, 334, 335, 380, 385, 410, 432, 482, 484, 486, 496
Comparative
140, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 382, 387, 395, 396, 397, 451, 497
Methods
381, 391, 488, 490, 499
Theory 101, 301, 302, 306, 307, 308, 309, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 495
World
160, 360, 361, 363, 364, 365, 368, 369, 370, 371, 372, 379, 462, 463, 498
Honors Plan
Especially well-qualified students are encouraged to undertake an Honors major. Such students elect the Honors proseminar (POLSCI 381) before their senior year and prepare a senior thesis under the direction of a faculty member in the department. Senior Seminars (POLSCI 493, 494) provide thesis credit. Students may count only two Honors courses toward the major core, one if a previous directed reading has been taken.
Normally, candidates for an Honors major must maintain a grade point average of at least 3.5 in political science courses.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
