Page header:
page title: Astronomy and Astrophysics Major | U-M LSA U-M College of LSA

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Astronomy and Astrophysics Major
...
Astronomy and Astrophysics Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Astronomy and Astrophysics Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Fall 2026
Exclusions:
Not open to those with a major in Interdisciplinary Astronomy.
Advising
Students considering an Astronomy Major or Minor are encouraged to meet with an Academic Advisor in the Department of Astronomy as early as possible.
Advising appointments are
scheduled online
.
Prerequisites
1. Mathematics coursework through MATH 216
2. PHYSICS 140/141 or 160/161
3. PHYSICS 240/241 or 260/261
4. PHYSICS 340 or 360
5. PHYSICS 316
6. Programming: COMPFOR 131 or SI 101 or an equivalent introduction to programming with Python, approved by an Astronomy department advisor
Requirements
Minimum Credits:
35
Astronomy Core:
ASTRO 201, 361, 399, 402, 404, and 429
Physics Core:
PHYSICS 390, 391, 401, 405
Astronomy Electives:
Two of: ASTRO 401, 403, 405, 406, 416, 461, or by permission of instructor, a 500-level ASTRO course.
Students are urged to complete the requirements in physics and mathematics as soon as possible.
Residency
Transfer credit for the prerequisites and Physics coursework within the Astronomy and Astrophysics major is permitted. All other coursework within the major must be taken in-residence. (In-residence: Courses elected on the Ann Arbor campus or at off-campus sites directed by Ann Arbor faculty.) Transfer students interested in the major are encouraged to meet with an undergraduate department advisor; waiver of the in-residence requirement for certain courses can be made on a case-by-case basis.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the ASTRO subject area may not be used toward the Distribution Requirement.
Honors
Students who are interested in scholarly research in astronomy and have a cumulative grade point average of 3.5 are encouraged to consider the Honors major. Students with a lower GPA may be admitted to Honors at the discretion of the department advisor. The Honors major requires writing a senior Honors thesis based on research done in collaboration with a faculty member. Interested students should consult with the department advisor by the beginning of their junior year.
Astronomy and Astrophysics (Major) (Winter 2024 - Summer 2026)
Effective Winter 2024
Exclusions:
Not open to those with a major in Interdisciplinary Astronomy.
Advising
Advising appointments are scheduled
online
.
Prerequisites
1. Mathematics coursework through MATH 216
2. PHYSICS 160/161 [or PHYSICS 140/141 and one of COMPFOR 131, PHYSICS 104, SI 106, EECS 183, ENGR 101, or an equivalent computing course approved by the Astronomy department advisor]
3. PHYSICS 240/241 or 260/261
4. PHYSICS 340 or 360
Requirements
Minimum Credits:
35
Astronomy Core:
ASTRO 201, 361, 399, 402, 404, and 429
Physics Core:
PHYSICS 390, 391, 401, 405
Astronomy Electives:
Two of: ASTRO 401, 403, 405, 406, 416, 461, or by permission of instructor, a 500-level ASTRO course.
Students are urged to complete the requirements in physics and mathematics as soon as possible. Students planning graduate work might benefit from knowledge of Spanish, but this is not essential.
Residency
Transfer credit for the prerequisites and Physics coursework within the Astronomy and Astrophysics major is permitted. All other coursework within the major must be taken in-residence. (In-residence: Courses elected on the Ann Arbor campus or at off-campus sites directed by Ann Arbor faculty.) Transfer students interested in the major are encouraged to meet with an undergraduate department advisor; waiver of the in-residence requirement for certain courses can be made on a case-by-case basis.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the ASTRO subject area may not be used toward the Distribution Requirement.
Honors
Students who are interested in scholarly research in astronomy and have a cumulative grade point average of 3.5 are encouraged to consider the Honors major. Students with a lower GPA may be admitted to Honors at the discretion of the department advisor. The Honors major requires writing a senior Honors thesis based on research done in collaboration with a faculty member. Interested students should consult with the department advisor by the beginning of their junior year.
Astronomy and Astrophysics (Major) (Winter 2023 - Fall 2023)
Effective Winter 2023
Exclusions:
Not open to those with a major in Interdisciplinary Astronomy.
Advising
Advising appointments are scheduled
online
.
Prerequisites
Mathematics through MATH 216
PHYSICS 160/161 [or PHYSICS 140/141 and one of PHYSICS 104, SI 106, EECS 183, ENGR 101, or an equivalent computing course approved by the Astronomy department advisor]
PHYSICS 240/241 or 260/261
PHYSICS 340 or 360
Requirements
Minimum Credits:
34
Astronomy Core:
ASTRO 201, 361, 399, 402, 404, and 429
Physics Core:
PHYSICS 390, 391, 401, 405
Astronomy Electives:
Two of: ASTRO 401, 403, 405, 406, 461, or by permission of instructor, a 500-level ASTRO course.
Students are urged to complete the requirements in physics and mathematics as soon as possible. Students planning graduate work might benefit from knowledge of Spanish, but this is not essential.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the ASTRO subject area may not be used toward the Distribution Requirement.
Honors
Students who are interested in scholarly research in astronomy and have a cumulative grade point average of 3.5 are encouraged to consider the Honors major. Students with a lower GPA may be admitted to Honors at the discretion of the department advisor. The Honors major requires writing a senior Honors thesis based on research done in collaboration with a faculty member. Interested students should consult with the department advisor by the beginning of their junior year.
Astronomy and Astrophysics (Major) (Winter 2017 - Fall 2022)
Effective Winter 2017
Exclusions:
Not open to those with a major in Interdisciplinary Astronomy.
Advising
Advising appointments are scheduled
online
.
Prerequisites
Mathematics through MATH 216
PHYSICS 160/161 [or PHYSICS 140/141 and one of EECS 183, ENGR 101, or an equivalent computing course approved by the Astronomy department advisor]
PHYSICS 240/241 or 260/261
PHYSICS 340 or 360
Requirements
Minimum Credits:
36
Astronomy Core:
ASTRO 201, 361, 399, 402, 404, and 429
Physics Core:
PHYSICS 390, 391, 401, 405
Astronomy Electives:
Two of: ASTRO 401, 403, 405, 406, 461, or by permission of instructor, a 500-level ASTRO course.
Students are urged to complete the requirements in physics and mathematics as soon as possible. Students planning graduate work might benefit from knowledge of Spanish, but this is not essential.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the ASTRO subject area may not be used toward the Distribution Requirement.
Honors
Students who are interested in scholarly research in astronomy and have a cumulative grade point average of 3.5 are encouraged to consider the Honors major. Students with a lower GPA may be admitted to Honors at the discretion of the department advisor. The Honors major requires writing a senior Honors thesis based on research done in collaboration with a faculty member. Interested students should consult with the department advisor by the beginning of their junior year.
Astronomy and Astrophysics Major (Fall 2016)
Effective Fall 2016
May be elected as a departmental major; not open to those with a major in Interdisciplinary Astronomy
Prerequisites to the Major
Mathematics through MATH 216
PHYSICS160/161 [or PHYSICS 140/141 and one of EECS 183, ENGR 101, or an equivalent computing course approved by the Astronomy department advisor]
PHYSICS 240/241 or 260/261
PHYSICS 340 or 360
Requirements for the Major
A minimum of 36 credits, distributed as follows:
Astronomy Core:
ASTRO 201, 361, 399, 402, 404, and 429
Physics Core
:
PHYSICS 390, 401, 405, 453
Astronomy Electives:
Two of: ASTRO 403, 405, 406, 461, or by permission of instructor, a 500-level ASTRO course.
Students are urged to complete the requirements in physics and mathematics as soon as possible. Students planning graduate work might benefit from knowledge of Spanish, but this is not essential.
Honors Plan
Students who are interested in scholarly research in astronomy and have a cumulative grade point average of 3.5 are encouraged to consider the Honors plan. Students with a lower GPA may be admitted to the program at the discretion of the department advisor. The program requires writing a senior Honors thesis based on research done in collaboration with a faculty member. Interested students should consult with the department advisor by the beginning of their junior year.
Astronomy and Astrophysics Major (Fall 2014-Summer 2016)
Effective Fall 2014-Summer 2016
May be elected as a departmental major; not open to those with a major in Interdisciplinary Astronomy
Prerequisites to the Major.
Mathematics through MATH 216
PHYSICS160/161 [or PHYSICS 140/141 and one of EECS 183, ENGR 101, or an equivalent computing course approved by the Astronomy department advisor]
PHYSICS 240/241 or 260/261
PHYSICS 340/341 or 360/341
Requirements for the Major
A minimum of 36 credits, distributed as follows:
Astronomy Core:
ASTRO 201, 361, 399, 402, 404, and 429
Physics Core
:
PHYSICS 390, 401, 405, 453
Quantitative Techniques:
One of: PHYSICS 351 or 411
Astronomy Electives:
One of: ASTRO 403, 405, 406, 461, or by permission of instructor, a 500-level ASTRO course.
Students are urged to complete the requirements in physics and mathematics as soon as possible. Students planning graduate work might benefit from knowledge of Spanish, but this is not essential.
Honors Plan
Students who are interested in scholarly research in astronomy and have a cumulative grade point average of 3.5 are encouraged to consider the Honors plan. Students with a lower GPA may be admitted to the program at the discretion of the department advisor. The program requires writing a senior Honors thesis based on research done in collaboration with a faculty member. Interested students should consult with the department advisor by the beginning of their junior year.
Astronomy and Astrophysics Major (Winter 2013-Summer 2014)
Effective Winter 2013-Summer 2014
May be elected as a departmental major; not open to those with a major in Interdisciplinary Astronomy
Prerequisites to the Major
Mathematics through MATH 216;
PHYSICS 140/141, 240/241 (or Honors equivalents), and 340/341.
Requirements for the Major
A minimum of 36 credits, distributed as follows:
ASTRO 201, 361, 399, 402, 404, and 429
Physics Core
: PHYSICS 390, 401, 405, 453
Electives/Cognates:
One of the following mathematics courses: MATH 450, MATH 454, or PHYSICS 351 (preferred).
In addition, all astronomy majors are required to elect one of the following:
ASTRO 403, 405, or 420;
PHYSICS 411;
or, by  permission of instructor, a 500-level ASTRO course..
Students are urged to complete the requirements in physics and mathematics as soon as possible. Students planning graduate work might benefit from knowledge of Spanish, but this is not essential.
Honors Plan.
Students who are interested in scholarly research in astronomy and have a cumulative grade point average of 3.5 are encouraged to consider the Honors plan. Students with a lower GPA may be admitted to the program at the discretion of the department advisor. The program requires writing a senior Honors thesis based on research done in collaboration with a faculty member. Interested students should consult with the department advisor by the beginning of their junior year.
Astronomy and Astrophysics Major (Fall 2012)
Effective Fall 2012
May be elected as a departmental major; not open to those with a major in Interdisciplinary Astronomy
Prerequisites to the Major
Mathematics through MATH 216;
PHYSICS 140/141, 240/241 (or Honors equivalents), and 340/341.
Requirements for the Major
A minimum of 36 credits, distributed as follows:
ASTRO 201, 361, 399, 402, 404, and 429 form the core of the major.
All astronomy majors also must elect PHYSICS 390, 401, 405, 453, and one of the following mathematics courses: MATH 450, MATH 454, or PHYSICS 351 (preferred).
In addition, all astronomy majors are required to elect one of the following: ASTRO 401, 403, 405, or 406.
Students are urged to complete the requirements in physics and mathematics as soon as possible. Students planning graduate work might benefit from knowledge of Spanish, but this is not essential.
Honors Plan.
Students who are interested in scholarly research in astronomy and have a cumulative grade point average of 3.5 are encouraged to consider the Honors plan. Students with a lower GPA may be admitted to the program at the discretion of the department advisor. The program requires writing a senior Honors thesis based on research done in collaboration with a faculty member. Interested students should consult with the department advisor by the beginning of their junior year.
Advising.
The department advisor is Professor Bergin. Information about scheduling advising appointments is available from the Department office.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
