Page header:
page title: Comparative Literature, Arts, and Media | U-M LSA U-M College of LSA

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Comparative Literature, Arts, and Media
...
Comparative Literature, Arts, and Media
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Comparative Literature, Arts, and Media
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Winter 2026
Exclusions:
A major in Comparative Literature, Arts, and Media is not open to students with a Translation Major.
Advising
Students schedule
advising appointments
on the online appointment system with an advisor to learn about major requirements, discuss progress in the major, discuss the process for approval for study abroad or transfer credit, or to complete a major release form.
Prospective majors can schedule an introductory appointment with an advisor any time; we strongly recommend, however, that it be no later than the second term of their second year at UM. Most majors continue to see an advisor at least once a year. In any case, students must consult with the undergraduate advisor during the first term of their last full year in the program to ensure that required courses will be completed for graduation.
Grade Policies
No course will count toward the major unless the student receives a grade of C- or better.
Prerequisites
Advisory: Completion of the
LSA Language Requirement
.
Requirements
Minimum Credits:
27
The major requires 27 credits, including 12 credits in Comparative Literature (COMPLIT) courses at the 200-level or above; a focus of 12 credits (determined in consultation with the department advisor), of which at least three credits must be a the 400-500 level; and the completion of a capstone seminar (COMPLIT 495), which culminates in the presentation of a seminar paper.
Comparative Literature Core
: 12 required credits in COMPLIT core courses
Focus
: 12 credits focused on one language, one medium, one discipline, or a coherent combination thereof, determined in consultation with the departmental advisor. A minimum 3 credits must be elected at the advanced (400-500 level).
Capstone Seminar
: COMPLIT 495. Capstone Seminar in Comparative Literature (completed during the Fall term of the student’s last year in the program)
Constraints
A maximum of 12 credits may be shared between the requirements of the Comparative Literature, Arts, and Media major and each additional major.
Residency
The four Comparative Literature (COMPLIT) courses must be taken on the Ann Arbor campus. At least 3-credits of the focus requirement must be taken in-residence.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the COMPLIT subject area may not be used to meet a Distribution Requirement.
Honors
To be eligible for an Honors major in Comparative Literature, Arts, and Media students should have a cumulative grade point average of at least a 3.4, and a 3.5 grade point average in courses counting toward the major. Students who elect an Honors degree will first take COMPLIT 495 (offered in the fall) and then work with an advisor to write an Honors thesis by electing COMPLIT 496 in a subsequent term.
Comparative Literature, Arts, and Media (Major) (Fall 2025)
Effective Fall 2025
Exclusions:
A major in Comparative Literature, Arts, and Media is not open to students with a Translation Major.
Advising
Students schedule
advising appointments
on the online appointment system with an advisor to learn about major requirements, discuss progress in the major, discuss the process for approval for study abroad or transfer credit, or to complete a major release form.
Prospective majors can schedule an introductory appointment with an advisor any time; we strongly recommend, however, that it be no later than the second term of their second year at UM. Most majors continue to see an advisor at least once a year. In any case, students must consult with the undergraduate advisor during the first term of their last full year in the program to ensure that required courses will be completed for graduation.
Grade Policies
No course will count toward the major unless the student receives a grade of C- or better.
Prerequisites
Advisory: Completion of the
LSA Language Requirement
.
Requirements
Minimum Credits:
27
The major requires 27 credits, including 12 credits in Comparative Literature (COMPLIT) courses at the 200-level or above; a focus of 12 credits (determined in consultation with the department advisor), of which at least three credits must be a the 400-500 level; and the completion of a capstone seminar (COMPLIT 495), which culminates in the presentation of a seminar paper.
Comparative Literature Core
: 12 required credits in COMPLIT core courses
Focus
: 12 credits focused on one language, one medium, one discipline, or a coherent combination thereof, determined in consultation with the departmental advisor. A minimum 3 credits must be elected at the advanced (400-500 level).
Capstone Seminar
: COMPLIT 495. Capstone Seminar in Comparative Literature (completed during the Fall term of the student’s last year in the program).
Constraints
A maximum of 12 credits may be shared between the requirements of the Comparative Literature, Arts, and Media major and each additional major.
Residency
The four Comparative Literature (COMPLIT) courses must be taken on the Ann Arbor campus. At least 3-credits of the focus requirement must be taken in-residence.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the COMPLIT subject area may not be used to meet a Distribution Requirement.
Honors
To be eligible for an Honors major in Comparative Literature, Arts, and Media students should have a cumulative grade point average of at least a 3.4, and a 3.5 grade point average in courses counting toward the major. Students who elect an Honors degree will first take COMPLIT 495 and then work with an advisor to write an Honors thesis during the final year of their course work.
Comparative Literature (Major) (Fall 2022 - Summer 2025)
Effective Fall 2022
Advising
Prospective majors should consult the Comparative Literature department advisor as early as possible about developing a challenging and unified interdepartmental program of study.
Prerequisites
Language skills necessary for the study of literature courses in a second language.
Requirements
Minimum Credits:
33
Students are required to complete a minimum of 33 credits, according to the following plan. 100-level courses do not count toward the major.
30 credits. A complementary grouping of literature courses.  Students will combine COMPLIT courses with other elective courses in relevant departments and related fields, chosen from the
list of pre-approved courses
OR to be chosen in consultation with and approved by the Director of Undergraduate Studies, including
At least 9 credits of
COMPLIT courses
at the 200 level or above. For those writing a senior thesis during the last term, COMPLIT 496 (3 credits) may be used.
at least 12 credits in a second language
An additional 9 credits in Comp Lit or other relevant departments. See the
list of pre-approved courses
and the “
Selecting courses in other departments
” guidance on the Comparative Literature website.
3 credits. The senior seminar, COMPLIT 495, is required for all students in the major.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the COMPLIT subject area may not be used toward the Distribution Requirement.
Honors
To be eligible for an Honors major in Comparative Literature, students should have a cumulative grade point average of at least a 3.4, and a 3.5 grade point average in courses counting toward the major. Students who elect an Honors degree will write an Honors thesis during the final year of their course work.
Comparative Literature (Major) (Fall 2010 - Summer 2022)
Effective Fall 2010
Advising
Prospective majors should consult the Comparative Literature department advisor as early as possible about developing a challenging and unified interdepartmental program of study.
Prerequisites
Foreign languages necessary for the study of foreign literature courses at the 300-level.
Requirements
Minimum Credits:
33
24 credits: A complementary grouping of literature courses at the 300-level or above in a minimum of two languages, one of which may be English. At least 12 credits are required in each literature.
If a student chooses to work in English as one of the chosen languages, then a maximum of 18 credits of undergraduate courses in COMPLIT may be applied to the major, of which the maximum number of credits at the 200-level is six. Students may also combine with courses in COMPLIT other courses in the national literature departments and related fields, in consultation with the department advisor. 100-level courses do not count toward the major.
3 credits: The senior seminar, COMPLIT 495, is required for all students in the major.
6 credits: Comparative Literature electives at the 200 level or above. COMPLIT 496 (3 credits), for those writing an Honors thesis during the last term may be used. (Maximum of 6 credits of 200-level COMPLIT courses may be used in the major.)
Courses will be chosen in consultation with the department advisor in Comparative Literature based on a robust theoretical or organizational principle.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the COMPLIT subject area may not be used toward the Distribution Requirement.
Honors
To be eligible for an Honors major in Comparative Literature, students should have a cumulative grade point average of at least a 3.4, and a 3.5 grade point average in courses counting toward the major. Students who elect an Honors degree will write an Honors thesis during the final year of their course work.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
