BACHELOR'S
CERTIFICATION
Undergraduate Elementary Teacher Education
Overview & Requirements
Applying
Careers & Field Experience
The elementary teacher education program at the University of Michigan now offers first-year admission in addition to the option to transfer in as a junior (either across campus or from a different college or university). The elementary teacher education program at the University of Michigan has a strong emphasis on developing teachers’ instructional practices for the purpose of disrupting inequities in schools. Students earn a Bachelor of Arts or a Bachelor of Science degree in Education and are recommended to the State of Michigan for elementary teacher certification. Prospective teachers (teaching interns) learn teaching practices that adopt a "subject-matter serious" perspective and are rooted in social justice.
The undergraduate elementary teacher education program prepares you to teach in:
Grades PK–3 all subjects (PK–3 all subjects, self-contained classroom)
Grades 3–6 all subjects (3–6 all subjects, self-contained classroom)
Foundational Pillars of the Elementary Education Program
High Leverage Practices
Ethical Obligations and Justice Priorities
Content Knowledge for Teaching
Post-baccalaureate Certification Only
Students who have already completed a bachelor’s degree (and do not seek a second bachelor’s degree) may apply as a non-degree applicant to the Marsal Family School of Education to complete the teacher certification requirements. This Post-Baccalaureate/Non-Candidate for Degree Status program is for the undergraduate level only.
Please note:
Multiple Dependent Degree Programs (MDDP), or dual degrees, are not available at this time for students in the Elementary Education program.
Want to learn more about the program?
See our
upcoming information sessions
Read more +
Additional certificate and endorsement opportunities
English as a Second Language Teaching Endorsement
Trauma-Informed Practice Mini-Certificate
Requirements
The elementary teacher education program consists of two course sequences. The pre-professional sequence completed in the first and second year can either be taken at U-M or at another institution prior to transferring. The professional sequence is completed in the third and fourth year at Marsal. Select your applicant status below for a detailed curriculum outline.
First-Year Admission
Transfer - External
Transfer - U-M Cross Campus
Curriculum
Minimum credits required
120
Pre-professional credits
42
Required Education Core Courses (26 credits)
EDUC 118 – Schooling in a Multicultural Society
(3 credits)
EDUC 141 – Schools, Society, and Self: Beginning the Work of Teaching
(2 credits)
EDUC 151 – Youth Serving Community Engagement
(1 credit)
EDUC 160 – Everyday Equitable Practice and Dialogue for Teaching
(3 credits)
EDUC 241 – Deepening Disciplinary Knowledge
(3 credits)
EDUC 271 – Youth Serving Community Engagement II
(2 credits)
EDUC 291 – Educational Psychology
(3 credits)
EDUC 392 – Education in a Multicultural Society
(3 credits)
EDUC electives (6 credits; 2 courses)
First-Year Writing (3 credits)
Select one course designated by U-M as meeting the
First Year Writing Requirement (FYWR)
(link is external)
, such as
CLCIV 101, 121,
COMPLIT 122,
ENGLISH 124, 125, 126,
GTBOOKS 191,
HISTORY 195, or
WRITING 160.
Natural Science (6 credits)*
Select two courses (6 credits) in
two different
natural science disciplines from the following list:
Astronomy
Biology
Chemistry
Earth Science
Physics
Environmental Science
Social Science (6 credits)*
Select two courses (6 credits) in
two different
social studies disciplines from the following list:
Civics/Political Science
Economics
History
Geography: cultural, human or world regional with a social science focus (e.g., GEOG 145 – Introduction to International Studies—not physical or natural science)
Advanced or in-depth courses that focus on specific issues and provide substantive learning opportunities are highly preferred to introductory, survey courses.
* AP/IB credit not allowed
General Elective Credits
17
17 minimum
Credits to complete during the professional sequence
Core credits
45
Students complete the following courses:
EDUC 303 – Problems and Principles of Elementary Education
(2 credits)
EDUC 391 – Educational Psychology and Human Development
(2 credits)
EDUC 392 – Educational Foundations in a Multicultural Society
(3 credits)
EDUC 401 – Literacy 1: Development of Foundational Skills
(3 credits)
EDUC 403 – Literacy 2: Development of Comprehension and Motivation PK-6
(3 credits)
EDUC 405 – Literacy 3: Development of Language and Composition PK-6
(3 credits)
EDUC 407 – Literacy 4: Teaching Language, Literacy and Academic Content to Diverse Learners
(3 credits)
EDUC 411 – Teaching PK-6 Mathematics
(4 credits)
EDUC 414 – Creating School and Classroom Culture
(3 credits)
EDUC 415 – Children as Sensemakers in PK-6 Mathematics and Science
(4 credits)
EDUC 416 – Teaching with Curriculum Materials in PK-6 Mathematics and Science
(4 credits)
EDUC 417 – Imagination and the Whole Child
(1 credit)
EDUC 421 – Teaching PK-6 Science
(3 credits)
EDUC 430 – "Teaching To Transgress:" Using Dialogic Thinking and History/Social Science Perspectives to Understand Contemporary and Historical Issues
(3 credits)
EDUC 431 – Teaching Social Studies in PK-6
(3 credits)
EDUC 443 – Teaching Students with Exceptionalities in the General Education Elementary Classroom (Module 1)
(1 credit)
EDUC 443 – Teaching Students with Exceptionalities in the General Education Elementary Classroom (Module 2)
(2 credits)
EDUC 444 – Teaching with Digital Technologies (Module 1)
(2 credits)
EDUC 444 – Teaching with Digital Technologies (Module 2)
(1 credit)
Teaching experience credits
16
Students complete the following courses:
EDUC 301 – Directed Teaching in the Elementary Grades
(10 credits)
EDUC 307 – Practicum
(6 credits total: 2 each in Semesters 1, 2, and 3)
MDE ESL endorsement credits (optional)
17
Interns may elect the MDE English as a Second Language (ESL) endorsement by completing a sequence of courses and fieldwork, focused on English Language Development (ELD), during their elementary or secondary certification programs at the undergraduate or master’s levels. Fully approved by the State of Michigan, the ELD Coursework is a 17-credit, six course and practice-based course sequence, which meets Michigan state standards and prepares interns to take the MTTC ESL exam.
Learn more about obtaining an MDE ESL endorsement
Upcoming Information Sessions
Aug 10, 2026
Discover Marsal Undergraduate Session (Online session)
11:00 a.m.-12:00 p.m.
Information Session
Aug 20, 2026
Discover Marsal Undergraduate Session (In person session)
6:00-7:00 p.m.
Information Session
Aug 27, 2026
Transfer Undergraduate Teacher Education Information Session
4:00 p.m.
Information Session
Sep 15, 2026
Transfer Undergraduate Teacher Education Information Session
12:00 p.m.
Information Session
See all information sessions
Connect with us
Submit an inquiry
(link is external)
Meet a student ambassador
Meet with an admissions advisor
(link is external)
FAQ
Application Deadlines
Apply early to receive a timely decision! Submitting an early application will give you time to engage with your program, visit campus, and have time to make an informed decision.
Fall (August)
November 1
Early Action
(link is external)
Early Decision
(link is external)
First-year admission only
February 1
Regular Decision
(link is external)
Application Process
First-Year Admission
Post-Baccalaureate
Transfer - External
Transfer - U-M Cross Campus
Step 1: Meet with us
Schedule an appointment with an admissions representative
(link is external)
Sign up for an information session
Step 2: Prepare application materials
Gather the materials outlined in the
application checklist
(link is external)
Step 3: Apply online
Complete the
Common Application for First-Year Students
(link is external)
and select one of the
Teacher Education
options as your program of study
Visit
First-year Application Plans
(link is external)
to view your admission options (Early Action, Early Decision, or Regular Decision)
Step 4: Submit Video Interview
Becoming a Teacher Education Student: Admissions Video Interview
Quick Facts
Financial aid
Available
Part-time status
No applications accepted
Field placements
Guaranteed
In-school placements every semester, plus additional courses that occur in schools
Connect with us
Submit an inquiry
(link is external)
Meet a student ambassador
Meet with an admissions advisor
(link is external)
FAQ
Careers
86%
of known graduates found full-time employment or pursued an advanced degree
92%
of known graduates indicated are highly satisfied or satisfied with their current position
100%
of known graduates found a job within 4 months
Hiring organizations and job titles
In-state
Organization
Job Title
Location
Abbot Elementary School
1st Grade Teacher
Ann Arbor, MI
Carpenter Elementary School
4th Grade Teacher
Ann Arbor, MI
Dearborn School of Music
Piano, Guitar, and Bass Guitar Instructor
Dearborn, MI
Kent Lake Elementary School
5th Grade Teacher
South Lyon, MI
Wines Elementary School
Academic Resource Teacher (K-2)
Ann Arbor, MI
Out-of-state
Organization
Job Title
Location
Baker-Butler Elementary School
1st Grade Classroom Teacher
Charlottesville, VA
Hoover Math and Science Academy
Kindergarten Teacher
Schaumburg, IL
Monterey Community School
2nd Grade Teacher
Denver, CO
Sixth Avenue Elementary School
3rd Grade Teacher
Aurora, CO
Field Experience
Classroom Experience
Having a real-world experience within the settings of your chosen profession is an essential part of your educational preparation. In the first three terms, you will spend 6–9 hours per week in classrooms as a teaching intern. You will observe the classroom in action and collect data on student learning and teaching practice. You will contribute to the classroom instruction by tutoring, co-teaching, and planning with mentor teachers and your university partners.
The culminating field experience is the student teaching term, when you will follow the calendar and schedule of your placement classroom for a period of 14–15 weeks. During this experience, you will spend 5 days per week for the full school day immersed in the classroom. You will slowly and deliberately take on all aspects of instructional responsibility, building toward lead teaching, when you will be responsible for most or all aspects of the school experience for your K–8 students. Lead teaching generally happens between the 8th and 10th week of the student teaching experience and lasts 2–3 weeks.
School Partnerships
Substantial field experience in a diverse array of classrooms, urban to rural, is a key component of the program. You will have one field placement in a school in Ann Arbor and at least one placement in a neighboring district. You should expect to be assigned to grade levels spanning K–6.
Connect with us
Submit an inquiry
(link is external)
Meet a student ambassador
Meet with an admissions advisor
(link is external)
FAQ
