Kines Spirit Store
School and Program Branded Apparel
Choose from Kinesiology, AES, AT, IONM, MVS, and SM
$5 from each item purchased supports Kinesiology student organizations (SSOs)
View more and purchase:
myumi.ch/AZkmV
Alumni Branded Apparel
Choose from Kinesiology, AES, AT, IONM, MVS, SM, and PE
$5 from each item purchased supports the Kinesiology Alumni Society Board Scholarship
View more and purchase:
myumi.ch/zXr2A
Suggest an Apparel Item
What else would you like to see in the Kines Spirit Store? (Apparel only, please -- no hard goods like water bottles, totes, etc.)
Make a Suggestion
