Improving Health Through Movement
In the Movement Science program, you’ll examine human movement from a variety of perspectives, including injury prevention and rehabilitation, sport medicine, biomechanics, exercise physiology, health and fitness, and/or motor control and development and gain insights that allow you to contribute to major medical advances and more effective models of health care.
Our
Health Sciences Advisory Board
connects students with leaders across health science related fields. Board members provide insight into current and emerging trends, as well as help create meaningful connections that support student internships, employment opportunities, and mentorship.
Undergraduate program:
Apply Now
Connect with Us
Graduate programs:
Apply Now
Connect with Us
Degrees
Undergraduate Program
Through our undergraduate program, you'll actively learn about the field through close interaction with faculty, academic advisors, and alumni mentors, as well as internships and professional development activities.
Master's Program
As a master’s student, you’ll work closely with a faculty advisor to develop an academic program and research projects tailored to your particular interests.
PhD Program
Our doctorate program is the right path for you if you intend to build a career as a scholar, researcher, teacher, or industry professional in the science of human movement, kinesiology, or other a
rgb(165,165,8)
rgb(0,39,76)
#1
DOCTORAL PROGRAM IN THE COUNTRY
NATIONAL ACADEMY OF KINESIOLOGY, 2023
#2
College for Kinesiology / Physical Therapy in the US
Niche, 2024
30
Research labs & centers
SoK Spotlights
Rory Christensen
Administrative assistant, AES & MVS programs
I love the School of Kinesiology's focus on how movement is essential for emotional and mental wellbeing. I started being more serious about my health a few years ago and the difference in my attitude and perspective was staggering.
Read More About       Rory Christensen
SoK Spotlights
Vienna Liu
MVS '26 (just graduated!)
Use your resources. Everyone here, whether it be academic advisors or professors or upperclassmen, has always been willing to talk, and I’ve learned that asking questions is never a bad thing.
Read More About       Vienna Liu
SoK Spotlights
Sophie Jenz
Postdoctoral research fellow
Having worked as a personal trainer, I’ve seen firsthand how life-changing strength training can be for women. I love that my research helps spread the word of why building muscle and strength is important for women of all ages.
Read More About       Sophie Jenz
SoK Spotlights
Bekah Perlin
Research biomechanist
The most satisfying aspect of my work is knowing that the research I contribute to can make a real difference in people’s lives. I also love being part of a team where curiosity, problem-solving, and collaboration drive everything we do.
Read More About       Bekah Perlin
SoK Spotlights
Rory Christensen
Administrative assistant, AES & MVS programs
I love the School of Kinesiology's focus on how movement is essential for emotional and mental wellbeing. I started being more serious about my health a few years ago and the difference in my attitude and perspective was staggering.
Read More About       Rory Christensen
SoK Spotlights
Vienna Liu
MVS '26 (just graduated!)
Use your resources. Everyone here, whether it be academic advisors or professors or upperclassmen, has always been willing to talk, and I’ve learned that asking questions is never a bad thing.
Read More About       Vienna Liu
Student Organizations
rgb(0,39,76)
rgb(254,254,255)
rgb(255,203,5)
CAREERS IN MOVEMENT SCIENCE
FIRST DESTINATION CAREER PLANS
Movement Science graduates go on to work in different health-related disciplines, such as medicine, physical therapy, occupational therapy, physical rehabilitation, and biomedical research.
WHAT OUR GRADUATES DO
47.5%
Employed Full-Time
Undergraduate class of 2022; 71% reporting (142 graduates)
41.5%
Continuing Education
9%
EMPLOYED PART-TIME / INTERNSHIP / SERVICE
rgb(0,39,76)
research-court-lines
Integrative Molecular Genetics Laboratory
Research
MOVEMENT SCIENCE
Our MVS labs examine
how physical activity affects our bodies and minds, how technology can enhance our bodies' performance and function, and how movement can improve the lives of children and adults with and without physical disabilities.
Learn more about our research
rgb(255,203,5)
rgb(0,39,76)
rgb(0,39,76)
