Visible page text:
Social Theory and Practice (STP) Major: Requirement Checklist
Requirements
Credits
Semester Taken and/or Notes
Pre-Reqs
:
RCSTP 260
3
Rec: Take winter semester sophomore year
RCSTP
290
1
Rec: Take concurrently with
RCSTP
260
Social Science “Gateway” Course (
RCSTP 101
, or a 200-level course in any SocSci discipline)
3-4
Theory Course:
RCS
TP
301
or
RCSTP
302
4
Rec: Take fall semester junior year
Research Methods Course (choose 1)
:
Quant:
Stats 250
|
Soc 210
|
QMSS 201
-or-
Mixed:
Soc 310
-or-
Qual:
AnthrCul 359
|
AmCult 300
4
STP Core Courses (self-selected):
→ At least 18 credits | At least 6 courses | All classes must be at the 300- or 400-level (with limited exceptions)
→ Within these 18 credits: at least 3 cr must be from a
community-engaged learning (CEL) course
and another 3 cr must be from a course that explicitly engages with
theory
(this second theory course is
in addition to 301/302
)
**See
HERE
for examples of
CEL
and
Theory courses
that STP students commonly select
Students plan these Core Courses while enrolled in RCSTP 290, and can always make adjustments in conversation with the STP Advisor! It’s also fine to complete Core Courses
before declaring STP
– they still count!
Core Course #1:
Theory Course
(3 cr):
Core Course #2:
Practicum/CEL Course
(3 cr):
Core Course #3: Elective
Core Course #4: Elective
Core Course #5: Elective
Core Course #6: Elective
STP Senior Project
or
Honors Thesis:
*Note:
Students doing an Honors Thesis take a Jr year Honors Seminar class, which counts as an elective
RCSTP 490: STP Capstone Class
4
Take Fall of senior year
Senior Project or Honors Thesis Advisor:
_______________________________
If Honors Thesis, list Second Reader here:
__________________________________
