Page header:
page title: Ford School events | Gerald R. Ford School of Public Policy

Visible page text:
Section Menu
In the past few years, we've hosted Governor
Gretchen Whitmer
, Secretary
Pete Buttigieg
, Secretary
Hillary Clinton
, FBI Director
Christopher Wray
, Secretary
Condoleezza Rice
, Secretary
Jeh Johnson
, Secretary
Antony Blinken
, Ambassador
Susan Rice
, Secretary
Lawrence H. Summers
, Secretary
Denis McDonough
; U.S. Senators
Elizabeth Warren
and
Chris Coons
; Michigan U.S. Representatives
Debbie Dingell
,
Fred Upton
,
Peter Meijer
,
Andy Levin
,
Rashida Tlaib
, and
Elissa Slotkin
; and many more.
The Ford School hosts dozens of events every year with the goal of providing students, faculty, alumni and the public with insight into key policy discussion on a range of topics.
In addition to public events, visiting policymakers typically meet in small groups with students and faculty, going in depth on critical policy and political issues, or exploring and coaching for career development and leadership lessons.
Students are active participants in our public events, and they often lead the question and answer sessions that close each event.
Our public events are presented with generous support from partners and friends of the Ford School.
Learn more about our named lecture series
.
Sep
11
2026
6:00-7:30 pm
Sep
14
2026
12:00-1:30 pm
Sep
14
2026
8:00-10:30 pm
Speakers
Secretary Hillary Clinton
"We've got to get back to listening to each other and working with each other. We've got to start showing that democracy can work again. We've got to have debates that actually lead to decisions being made and action being taken. It's the next generation of leaders who are going to have to model the best way to do that."
October 11, 2019
Watch the event
Learning from Leaders
Governor Gretchen Whitmer event: Ford School students perspective
Mar 24, 2023
|
00:44
Prior to the March 8 public event alongside CNN anchor Chris Wallace, Governor Gretchen Whitmer spoke with a small group of Ford School students about...
Watch the video
News
Soundbites
Check out some of the best quotes from recent Policy Talks @ the Ford School events in the Spring 2023 edition of State & Hill magazine.
Read the story
Speakers
Secretary Jeh Johnson
“The reality is that Dr. King was a man of action. He did more than dream. He was divisive. To many he was a troublemaker - or as John Lewis would put it, “good trouble” - to force the social change we now all celebrate. He challenged the social order of things and pushed people out of their comfort zones.”
2023 Martin Luther King, Jr. symposium event
Watch the full event
