Page header:
page title: Bachelor of Arts in public policy | Gerald R. Ford School of Public Policy
og:description: The Ford School BA in public policy is a liberal arts degree based in the social sciences. Students apply for admission during their sophomore year at Michigan.

Visible page text:
Section Menu
Major in making a difference
BA FAQ
Request more information
The Ford School BA in public policy is a liberal arts degree based in the social sciences. Students apply for admission during their sophomore year at Michigan.
Our undergraduate students receive individualized writing instruction from our
best-in-class Writing Center
. In addition to the degree requirements, students are required to take an applied learning course with the whole cohort--exploring issues of diversity, equity, and inclusion. BA students are granted unique access to a
dedicated career counselor
, terrific peer advisors,
visiting policy leaders
, and more.
Kaltura Video
Bachelor of Arts in Public Policy (BA)
Curriculum
Degree requirements
PUBPOL 320: Politics, Political Institutions, and Public Policy (4 credits)
PUBPOL 330: Microeconomics for Public Policy (4 credits)
STATS 250 or SOC 210: Introduction to Statistics (4 credits)
PUBPOL 474: Values and Ethics (3 credits)
PUBPOL 315: Exploring Public Policy: Designing a Focus Area (1 credit completed junior year)
PUBPOL 479: Evaluating Public Policies course (4 credits completed senior year; Stats 250/Soc 210 is a prerequisite so students should complete the course prior to their senior year.)
PUBPOL 495: Policy Seminar (completed junior year, 4 credits)
PUBPOL 495: Policy seminar (completed senior year, 4 credits)
At least 6 additional elective credits in PubPol 300-level or higher course
12 additional credits in student-declared focus area
The Ford School's policy on the assignment of credit hours for undergraduates follows the
Provost's guidance on defining the academic credit hour
.
Focus areas
The field of public policy touches many academic disciplines and a broad range of policy arenas. Students design focus areas that allow them to develop a deeper understanding of a policy area that interests them.
Focus areas can address an area of public policy, a perspective on public policy, or the policy issues concerning a specific geographic region. Students will take four upper–level classes (12 credits) from any school or college at U-M or during a study abroad/study away program.
Examples of past student focus areas include: Energy Policy, Health Care Policy & Infectious Disease Control/Prevention, Economic Perspectives on Public Policy, Historical Perspectives on Foreign Policy, Development Policy in Southeast Asia, and Middle Eastern Policy.
Policy seminars
Policy seminars (
PubPol 495
) are small, interdisciplinary courses that emphasize teamwork, writing, analysis, and/or oral presentation. Students take one policy seminar each their junior and senior years.
Recent policy seminar topics include:
Crime & Public Policy
Global Financial Markets, Crises, and Policies
Poverty, Inequality, and Public Policy
Behavioral Economics
Drugs, Crime, and Terrorism
Immigration Policy
Dangerous Peacemaking
Energy and Climate
Philanthropic Foundations
How will you make a difference?
Several years after graduation, our BA alumni include:
The chief of staff for a member of Congress
Research directors and program managers for think-tanks, consulting firms, and nonprofit organizations
Entrepreneurs
Teachers in large public school districts
Analysts with city or state human service agencies
Associate attorneys at law firms in Chicago, New York, and San Francisco
Lawyers with the U.S. Department of Justice or major advocacy organizations
Learn more about the careers of impact forged by our BAs in public policy.
Download our BA brochure
More information
For prospective students, email the admissions team at
[email protected]
.
Have any questions?
Logan Corey
Assistant Director, Recruiting and Admissions
2248 Weill Hall
735 S. State Street
Ann Arbor, MI, 48109
(734) 615-5389
[email protected]
Zach Marentay
Admissions & CRM Specialist
2248 Weill Hall
735 S. State Street
Ann Arbor, MI, 48109
734-764-6923
[email protected]
Contact
