BACHELOR'S
Learning, Equity, and Problem Solving for the Public Good
Overview & Curriculum
Applying
Careers & Engaged Learning
Living/Learning
LEAPS is a four-year Bachelor’s Degree in Education, designed to prepare students for a wide range of professional careers. It has many unique elements that distinguish it from the traditional undergraduate experience, including an educational approach based upon our best knowledge of how people learn.
LEAPS prepares learning leaders by
employing broad, program-wide mastery learning goals that transcend individual courses;
recognizing learning from across the student’s entire experience;
providing students with regular real-world interaction through projects, volunteering, internships, and research opportunities;
providing students with an active and growing portfolio of achievements that future employers and graduate schools find compelling, including a capstone thesis project demonstrating a broad range of integrated capabilities;
employing a “Forum” or homeroom-like experience—organized by U-M faculty, who serve as mentors and advisors to students—to build coherence across courses and applied learning experiences;
featuring a cohort experience that encourages collaboration and provides a built-in social and professional network.
Read more +
Curriculum
Program-Wide Learning Goals and Mastery-based Assessment
LEAPS is built around four program-wide mastery learning areas: Ways of Knowing, Personal Good, Group Good, and Public Good. Ways of Knowing focuses on different academic traditions and ways of understanding the world around us: scientific, historical, narrative, computational, mathematical, artistic, etc. Personal Good is about building one’s intentionality and reflection, self-knowledge and well-being, and persistence. Group Good is about being a reliable and productive contributor to teams, and learning how to lead. Public Good is about civic purpose and engagement, cross-cultural understanding, ethics, and empathy and altruism.
LEAPS Learning Goals exist beyond traditional course-based assessment. Each LEAPS learner describes and demonstrates their own accomplishment of the Learning Goals as they build their personal portfolio. LEAPS graduates receive two different transcripts: the traditional U-M transcript showing courses and grades, and a mastery-based transcript with a linked portfolio showing demonstrated capabilities.
Forum: Meaning Making, Community, and Continuity
A homeroom-like Forum provides learners with a space for meaning making across their entire learning experience. All Forums are organized by U-M professors, who serve as direct and consistent mentors and advisors to students across their entire program, helping to build strong connections to the resources and opportunities of the program and the broader university. Forum provides an opportunity for LEAPS cohorts across the four years of the program to collaborate and benefit from peer-mentoring experiences where students provide feedback to each other, and especially to newer students. Learning to give and receive constructive feedback is among the key skills learned in the program. Forum is also where students present and defend evidence towards mastery of the program-wide learning goals. A key part of this process is students giving feedback to each other, another important skill for future work and learning.
Key Areas of Coursework
LEAPS students take courses in
how people, communities, and organizations learn;
methods for understanding and studying learning in the world;
methods for creating interventions and programs to improve learning;
how cities shape identities, and how peoples shape cities;
the cultural, industrial, and political history of Detroit.
Upper-Level Capstone
All LEAPS students will be prepared to defend their mastery of program-wide learning goals and demonstrate their broad skills and knowledge through a senior capstone or thesis project.
Requirements
Total credits must equal at least 120 to qualify for graduation. In addition, students must demonstrate suitable mastery of program-wide learning goals.
Course listings, specific course offerings, and program requirements are subject to change. Please confirm course offerings with an advisor.
Minimum credits required
120
Forum credits
5
Students complete the following courses:
EDUC 101 – Lower Division Forum  (1 credit) (Taken Fall and Winter Semester in Year 1, and Winter Semester in Year 2)
EDUC 322 – Upper Division Forum (1 credit) (Taken Winter Semester Year 3, and Winter Semester in Year 4)
General Education credits
12
Students complete all of the following courses:
EDUC 131 – Science in the City (3 credits)
EDUC 140 Writing WIth Detroit  (3 credits)
EDUC 251 – Mathematics and Society  (3 credits)
EDUC 331 – Strategic Communication (3 credits)
Core credits
25
Students complete the following courses:
EDUC 100 – Learning Within and Across Settings (4 credits)
EDUC 107 – Preparing for Engaged Learning (4 credits)
EDUC 130 – The City as Identity (4 credits)
EDUC 202 – Design as Community Inquiry (3 credits)
EDUC 203 – Inquiry, Partnership, and Research (3 credits)
EDUC 481 – Education for Empowerment Capstone 1 (3 credits)
EDUC 482 – Education for Empowerment Capstone 2 (4 credits)
Research & Engagement credits
12-16
Students complete the following courses:
EDUC 207 – Lower Division Community-Engaged Learning Internship   - degree requires 4 credits, maximum of 8 (variable credit 2-8)
EEDUC 393 Upper Division Community-Engaged Learning Internship - degree requires 8 credits, maximum of 8 (variable credit 2-8)
Concentration credits
24
Students complete concentration-related courses.
Elective credits
32-38
Students complete a minimum of 32 elective credits.
NOTE
: Students pursuing teaching certification must choose electives that meet state requirements for different teaching areas and levels. These students should work closely with an academic advisor to select appropriate elective courses each term.
Course sequence
LEAPS students spend their first year living in Detroit, taking courses that include time in Ann Arbor; from years two through four, they reside in Ann Arbor while maintaining ongoing engagements in Detroit.
Year 1: Foundations
Fall Term
Course Name
#
Credits
Lower Division Forum
101
1
Learning Within and Across Settings
100
3
The City as Identity
130
3
Elective (could be 4 credits if taken in LSA)
TBD
3
Writing WIth Detroit
140
3
Preparing for Engaged Learning
107
4
FALL TOTAL CREDITS
17
Winter Term
Course Name
#
Credits
Lower Division Forum
101
1
Science in the City
131
3
TBD
108
TBD
Elective (could be 4 credits if taken in LSA)
TBD
4
Design as Community Inquiry
202
3
WINTER TOTAL CREDITS
11
Year 2: Deepening Understanding
Fall Term
Course Name
#
Credits
Inquiry, Partnership, and Research
203
3
Elective
—
3
Elective
—
3
Lower Division Community-Engaged Learning Internship
207
2
FALL TOTAL CREDITS
11
Winter Term
Course Name
#
Credits
Lower Division Forum
101
1
Mathematics and Society
251
3
Lower Division Community-Engaged Learning Internship
207
2
Elective
—
3
Elective
—
3
WINTER TOTAL CREDITS
12
Year 3: Launching Concentrations
Fall Term
Course Name
#
Credits
Upper Division Community-Engaged Learning Internship
393
2
Elective
—
3
Concentration Elective
—
4
FALL TOTAL CREDITS
9
Winter Term
Course Name
#
Credits
Upper Division Forum
322
1
Upper Division Community-Engaged Learning Internship
393
2
Concentration Elective
—
4
Concentration Elective
—
4
Strategic Communication
331
3
WINTER TOTAL CREDITS
14
Year 4: Capstone & Concentrations to Career
Fall Term
Course Name
#
Credits
Upper Division Community-Engaged Learning Internship
393
2
Education for Empowerment Capstone 1
481
3
Concentration Elective
—
4
Concentration Elective
—
4
FALL TOTAL CREDITS
13
Winter Term
Course Name
#
Credits
Upper Division Forum
322
1
Upper Division Community-Engaged Learning Internship
393
2
Concentration Elective
—
4
Education for Empowerment Capstone 2
482
4
WINTER TOTAL CREDITS
11
Upcoming Information Sessions
Aug 10, 2026
Discover Marsal Undergraduate Session (Online session)
11:00 a.m.-12:00 p.m.
Information Session
Aug 20, 2026
Discover Marsal Undergraduate Session (In person session)
6:00-7:00 p.m.
Information Session
See all information sessions
Connect with LEAPS
Submit an inquiry
(link is external)
Meet a student ambassador
Meet with an admissions advisor
(link is external)
FAQ
Visit LEAPS Campus
(link is external)
Application Deadlines
Apply early to receive a timely decision! Submitting an early application will give you time to engage with your program, visit campus, and have time to make an informed decision.
Fall (August)
November 1
Early Action
(link is external)
Early Decision
(link is external)
First-year admission only
February 1
Regular Decision
(link is external)
Application Process
Step 1: Meet with us
Schedule an appointment with an admissions representative
(link is external)
Sign up for an information session
Step 2: Prepare application materials
Gather the materials outlined in the
application checklist
(link is external)
Step 3: Apply online
Complete the
Common Application for First-Year Students
(link is external)
and select
Learning, Equity, and Problem Solving for the Public Good (LEAPS)
as your program of study
Visit
First-year Application Plans
(link is external)
to view your admission options (Early Action, Early Decision, or Regular Decision)
Step 4: Submit Video Interview
Becoming a LEAPS Student: Admissions Video Interview
Connect with LEAPS
Submit an inquiry
(link is external)
Meet a student ambassador
Meet with an admissions advisor
(link is external)
FAQ
Visit LEAPS Campus
(link is external)
Careers
In their junior year, LEAPS students choose a specialization or pre-professional interest known as a concentration. Concentrations are designed to prepare students for particular career paths and/or postgraduate study. Students may choose a concentration from among pre-set options, or define their own concentration (which other students may follow in the future) with faculty approval. LEAPS faculty will guide students toward professional learning opportunities and courses designed to prepare them for further study or work in their respective areas of interest.
Concentration are flexible. Potential concentrations include the following:
Public-service Entrepreneurship
Work directly with entrepreneurs in an incubator on the Marygrove campus as you take courses in key areas of business. Graduate ready to contribute to (or found!) an innovative company.
Education
Engage with learning at all levels right on the Marygrove campus: Pre-K, elementary, middle, and high school. While LEAPS does not result in a teaching certification, it will prepare you for a range of education-related careers, including roles in education policy, summer camps, museum education, and other informal learning settings.
Public Health
Join forces with nonprofits across Detroit serving a broad range of community health and wellness needs.
Public Service/Government
Learn about government from the inside out by working with members of the Detroit City Council, analyzing data and producing reports related to the needs of the city, and taking political science and government courses.
Law
Engage with all levels of the legal system in Detroit. Work with legal clinics run by the University of Michigan Law School. Take the courses that law schools really value.
Engaged Learning
Community-engaged learning (CEL) is a key element of LEAPS. In your first year, you will be introduced to core concepts in CEL and become familiar with a range of different contexts and organizations in Detroit. As part of your upper-division concentration in LEAPS, you will be matched with an organization aligned with your career goals for a long-term internship that forms a centerpiece of your overall program. Faculty-led research projects from across U-M offer additional opportunities for engaged learning and development as a scholar and a lifelong learner.
An immersive living/learning experience
Students live on the Marygrove Campus in Detroit for their first year. This creates a welcoming living/learning environment where students can build strong relationships with each other, their faculty, and the community, which will continue through all four years of the program.
Residence halls at Marygrove are newly renovated, directly connected to academic and recreational spaces, and part of a wooded campus serving as a community hub for neighborhoods in northwestern Detroit.
No cost, regular transportation between Detroit and Ann Arbor is provided, helping students experience and participate in the UM-Ann Arbor experience.
Students receive support in finding housing (either on-campus or off-campus) in Ann Arbor after their first year, and also have the option of remaining at Marygrove in Detroit.
All LEAPS students will have the option to use the Marygrove residence hall as a “home base” for ongoing work in Detroit.
LEAPS, Detroit, & Marygrove: A Unique and Powerful Combination
(link is external)
