Law, Justice, and Social Change (Sub-Major)
Effective Winter 2023
Advising
Please review the
Advising
page of the Sociology website for full information on declaring a Sociology major, sub-major, or minor, getting in touch by email, or scheduling an appointment.
A department advisor is available to discuss the choice of Sociology as a major or minor, assist with course planning, and provide guidance on department opportunities. Students may schedule an advising appointment using the online appointment scheduler linked
here
or email advising questions to
socadvisor@umich.edu
.
Prerequisites
None.
Requirements
A minimum of eight credits must be elected in the subplan at the 300-level or above (not including prerequisite).
To have a notation of the submajor appear on your transcript, you must successfully complete a minimum of 12 credits from the following list:
SOC 204: International Migration and the Politics of Membership in a Globalizing World
SOC 208: Terrorism, Torture, & Violence
SOC 214: Non-profits
SOC 225: Project Community - Criminal Justice sections
SOC 250: Politics, Power, and Society
SOC 270: Gender and the Law
SOC 304: American Immigration
SOC 325: Project Community: Advanced Practicum - Criminal Justice Section
SOC 335: Urban Inequality in America
SOC 354: Law and Society
SOC 368: Criminology
SOC 391: Justice in Action
SOC 422: Latin America
SOC 461: Social Movements: Political Protest and Collective Resistance
SOC 465: Sociology of Deviance: From Sin to Sickness
SOC 468: Crime & Justice: Inside Out Prison Exchange
SOC 476: Sociology of Bioethics
SOC 480: Environmental Justice
Approved topics in SOC 295, 495, 394 (SURO), 395 (Independent Study), 396 (Internship)
Constraints
Up to 6 credits of SOC 394 SURO, SOC 395 Independent Study, and SOC 396 Internship may count in the sub-major.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the SOC subject area may not be used toward the Distribution Requirement.
