Undergraduate Degree Requirements
The University of Michigan School of Public Health
Bachelor of Arts (BA) in Community and Global Public Health
and
Bachelor of Science (BS) in Public Health Sciences
provide an interdisciplinary undergraduate liberal education through the lens of
                     public health.
To qualify for a bachelor's degree from the School of Public Health, a student must
                     complete a minimum 120 credits. This includes successful completion of the prerequisite
                     courses and a minimum of 60 upper-level credits, with 45 of those credits coming from
                     courses offered by the School of Public Health. The remaining 15 credits, the general
                     upper-level electives, can be fulfilled by any upper-level course (300-level or above).
                     These can be additional courses in public health or courses from another school or
                     college within the University of Michigan. Some lower-level pre-health and language
                     courses can count toward this requirement. A list of those courses can be found on
                     the
upper-level elective exceptions page
.
The 45 public health credits consist of:
27 credits of required public health courses
18 credits of public health electives, which may be any 300-level or high public health
                        course, including graduate courses.
The remaining 15 upper-level credits may be completed through any 300-level or higher
                     course at the University of Michigan, including additional public health courses.
                     Students who complete more than 45 upper-level public health credits may count the
                     extra SPH credits toward this requirement., Some 200-level pre-health and language
                     courses can count toward this requirement. A list of those courses can be found on
                     the
upper-level elective exceptions page
.
The requirements listed here apply to students admitted in Fall 2026. Current public
                        health students should refer to the Heights for degree requirements specific to their
                        cohort.
I. Integrated Core Courses
Complete ALL of the following in the term indicated:
PUBHLTH 381
– Public Health Systems: Achievements & Challenges, 3 credits (Fall 2026)
PUBHLTH 382
– Population Health Determinants and Disparities, 3 credits (Winter 2027)
PUBHLTH 383
– Data Driven Solutions in Public Health, 4 credits (Winter 2027)
PUBHLTH 384
– Public Health in Action: Creating Change, 3 credits (Fall 2027)
II. Major Specific Requirements
Bachelor of Arts in Community and Global Public Health:
PUBHLTH 350
– Global Public Health: Challenges & Transformations, 4 credits (Winter)
PUBHLTH 360
– Community, Culture and Social Justice in Public Health, 3 credits (Fall 2026)
18 credits of
public health electives
(300-level and above)
Bachelor of Science in Public Health Sciences:
PUBHLTH 370
– Public Health Biology and Pathophysiology, 4 credits (Fall 2026)
One of the following:
PUBHLTH 305
- The Environment and Human Health, 4 credits (Winter)
PUBHLTH 310
- Nutrition in the Life Cycle, 3 credits (Winter)
PUBHLTH 311
- Introduction to Public Health Genetics, 3 credits (Fall)
18 credits of
public health electives
(300-level and above)
III. Health Equity Requirement
One 3 credit course in Health Equity
Requirement details and a list of approved courses can be found here
.
IV. Culminating Experience
PUBHLTH 481
- Public Health Practice and Professionalism, 3 credits (Fall 2027)
PUBHLTH 380 - Public Health Leadership, 1 credit (Winter 2027)
Public Health Electives
Any public health course (300-level and above), outside the required courses can count
                     towards the public health elective credits. Elective courses can include courses from
                     the other major or graduate courses. Details on all public health course offerings,
                     including electives, can be found on our
course guide
.
Exceptions to the upper-level credits
Students must complete a minimum of 60 upper-level credits (300-level and above).
                     The 45 public health credits are included in this requirement. The remaining 15 credits
                     can be fulfilled by any upper-level course. Some lower-level pre-health and language
                     courses can count towards this requirement. A list of those courses can be found on
                     the
upper-level elective exceptions page
.
Undergraduate Information Session
This video is also available at https://youtu.be/1Ihe9KRQNfc
Ready to Apply?
Start with our Admissions page to learn about specific degree application deadlines
                     and requirements.
Get Started
Questions?
For more information about the undergraduate programs, admissions process, or to request
                        an appointment, contact our admissions and advising team at
[email protected]
.
Join our interest list to receive personalized information about our programs. We’ll
                        send you application tips, scholarship and financial aid information, deadline reminders,
                        and opportunities to connect with our faculty, staff, and current students.
join our interest list
