Biological Physics Track (Sub-Major)
Effective Fall 2021
Prerequisites
MATH 115 and 116
MATH 215 and 216;
or
CHEM 262
CHEM 210/211 and 215
PHYSICS 150/151 and 250/251
or
140/141 and 240/241
or
160/161 and 260/261
or
139/239 (
or
135/136 and 235/236)
BIOLOGY 172,
174, 191, 192,
or
195
NOTE: students with Math AP credit are advised to take the MATH 215, 216 sequence
Requirements
Minimum Credits:
28
Core:
BIOPHYS / CHEM / PHYSICS 370: Physical and Chemical Principles behind Biology and Medicine
BIOPHYS / CHEM / PHYSICS 417: Dynamical Processes in Biophysics
BIOPHYS / PHYSICS 450: Biophysics Laboratory
BIOPHYS 495: Senior Seminar in Biophysics
Outside Core:
CHEM / BIOLCHEM 351: Fundamentals of Biochemistry
or
MCDB 310 (Introductory Biochemistry)
or
BIOLCHEM 415 (Introductory Biochemistry)
Electives:
Three of the following:
BIOPHYS / MCDB 420: Structural Biology: The Architecture of Life
BIOPHYS 421: Structural Biology: Biophysical Controversies
BIOPHYS / CHEM 422: Exp Methods in Structural BIology
BIOPHYS / PHYSICS 430: Medical Physics
BIOPHYS / PHYSICS 433: Biocomplexity
BIOPHYS 435: Biophysical Modeling
BIOPHYS / CHEM 440: Biophysics of Diseases
BIOPHYS / CMPLXSYS / PHYSICS 445: Introduction to Information Theory for the Natural Sciences
(only if taken FA20 or later)
BIOPHYS / CHEM 454: Macromolecular Structure & Dynamics
BIOPHYS / MATH / BIOINF 463: Mathematical Modeling in Biology
BIOPHYS / CHEM 520: Biophysical Chemistry: Methods & Techniques
BIOPHYS / CHEM 521: Biophysical Chemistry: Theories
Note: Other 400-level Physics, Chemistry, or Biology courses may be accepted, per approval of the Undergraduate Chair
Cognate:
One of the following:
MATH 404: Intermediate Differential Equations
MATH 471: Intro to Numerical Methods
PHYSICS 406: Statistical Mechanics and Thermodynamics
PHYSICS 453: Quantum Mechanics
CHEM / BIOLCHEM 451: Biochemistry I
MCDB 427: Molecular Biology
MCDB 428: Cell Biology
Note: Other 400-level Physics, Chemistry, or Biology courses may be accepted, per approval of the Undergraduate Chair.
Students double majoring in Biophysics and any major in the Department of Physics cannot use PHYSICS 402, 406, or 453 to satisfy the Biophysics cognate or Honors elective requirement.
Research:
At least two credits of BIOPHYS 399. Students wishing to conduct research in a laboratory outside of the Program must identify a Biophysics co-sponsor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the BIOPHYS subject area may not be used toward the Distribution Requirement.
Honors
In addition to completing all the Biophysics requirements for the major, a GPA in the major of at least 3.4 and the completion of an
Honors thesis
(BIOPHYS 499) with a grade of B or better, and
a third Biophysics elective
are required.
Approved Honors electives are all Biophysics and cognate electives above, plus CHEM 453, MCDB 422, PHYSICS 402 and PHYSICS 453.
Other courses may be accepted, per approval of the Undergraduate Chair.
