Page header:
page title: Judaic Studies Major | U-M LSA U-M College of LSA

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Judaic Studies Major
...
Judaic Studies Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Judaic Studies Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Fall 2021
Exclusions:
Students can pursue both a Judaic Studies and a Middle East Studies major as long as the student does not elect to pursue both a Middle East Studies Hebrew submjaor and a Judaic Studies Hebrew sub plan. Students pursuing a Middle East Studies Hebrew submajor or Judaic Studies Hebrew subplan cannot use the Hebrew credits used to fulfill the Hebrew submajor/subplan to also fulfill requirements for the Judaic Studies or Middle East Studies major.
Advising
A student who is interested in a major in Judaic Studies should meet with the major advisor as early as possible to plan a coherent course of study. Please email js-student-services@umich.edu or call 734-615-6097 to schedule an appointment.
Prerequisites
None
Requirements
Minimum Credits:
28
Core.
At least one of the following
JUDAIC 205: What is Judaism
JUDAIC 210 Sources of Jewish History
JUDAIC 281: Jews in the Modern World
Electives:
All courses must be at the 200-level or above with a Judaic listing or be approved by a major advisor.
Upper Level Credit Requirement
At least 15 credits must be at 300 or 400 level; at least one of these courses must be at the 400 level.
Hebrew Sub Plan:
Optional sub plan for Judaic Studies majors
Prerequisite of first year proficiency in Hebrew achieved through coursework (Hebrew 102) or placement examination.
Judaic Studies Hebrew Sub Plan Language Requirement (6 credit minimum taken in residence): one 200 level course can count toward the language requirement (but does not count toward the 28 credit major).  At least one Hebrew language course must be taken at the 300-level or above
Language:
200 level or above language courses in less commonly taught languages (such as Yiddish, Ladino, or Biblical Hebrew) can count toward the 28 credit major (up to 8 credits) if the student meets LSA's language requirement in another language.
Constraints
Advanced Hebrew language courses (300-level and 400-level) may count toward the major.
Students may not use more than one Independent study course as an elective unless approved by the Judaic Studies advisor.
Residency
Fifteen of the 28 credits must be elected in residence unless special permission is given by the major advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the JUDAIC, LADINO, and YIDDISH subject areas may not be used toward the Distribution Requirement.
Honors
The Center offers an Honors plan to qualified Judaic Studies students. Application for an Honors plan is usually made at the beginning of the third year. Participation requires a 3.5 grade point average. Graduation with Honors is recommended for students who complete all College and Judaic Studies graduation requirements, maintain a 3.5 GPA, and write a substantial Honors thesis which is judged worthy of Honors designation by the thesis advisor and at least one other faculty reader. An Honors plan is not limited to students who have been in the College Honors Program in the first and second years. For more information about Honors, email
Ask.Honors@umich.edu
or call 734.764.6274.
Judaic Studies (Major) (Fall 2020 - Summer 2021)
Effective Fall 2020
Exclusions:
Students can pursue both a Judaic Studies and a Middle East Studies major as long as the student does not elect to pursue both a Middle East Studies Hebrew submjaor and a Judaic Studies Hebrew sub plan. Students pursuing a Middle East Studies Hebrew submajor or Judaic Studies Hebrew subplan cannot use the Hebrew credits used to fulfill the Hebrew submajor/subplan to also fulfill requirements for the Judaic Studies or Middle East Studies major.
Advising
A student who is interested in a major in Judaic Studies should meet with the major advisor as early as possible to plan a coherent course of study. Please email js-student-services@umich.edu or call 734-615-6097 to schedule an appointment.
Prerequisites
None
Requirements
Minimum Credits:
28
Core.
At least one of the following
JUDAIC 205: What is Judaism
JUDAIC 210 Sources of Jewish History
JUDAIC 281: Jews in the Modern World
Electives:
All courses must be at the 200-level or above with a Judaic listing or be approved by a major advisor.
Upper Level Credit Requirement
At least 15 credits must be at 300 or 400 level; at least one of these courses must be at the 400 level.
Hebrew Sub Plan:
Optional sub plan for Judaic Studies majors
Prerequisite of first year proficiency in Hebrew achieved through coursework (Hebrew 102) or placement examination.
Judaic Studies Hebrew Sub Plan Language Requirement (6 credit minimum taken in residence): one 200 level course can count toward the language requirement (but does not count toward the 28 credit major).  At least one Hebrew language course must be taken at the 300-level or above
Language:
200 level language courses in less commonly taught languages (such as Yiddish, Ladino, or Biblical Hebrew) can count toward the 28 credit major (up to 8 credits)
Constraints
Advanced Hebrew and Yiddish language courses (300-level and 400-level) may count toward the major.
Students may not use more than one Independent study course as an elective unless approved by the Judaic Studies advisor.
Residency
Fifteen of the 28 credits must be elected in residence unless special permission is given by the major advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the JUDAIC subject area may not be used toward the Distribution Requirement.
Honors
The Center offers an Honors plan to qualified Judaic Studies students. Application for an Honors plan is usually made at the beginning of the third year. Participation requires a 3.5 grade point average. Graduation with Honors is recommended for students who complete all College and Judaic Studies graduation requirements, maintain a 3.5 GPA, and write a substantial Honors thesis which is judged worthy of Honors designation by the thesis advisor and at least one other faculty reader. An Honors plan is not limited to students who have been in the College Honors Program in the first and second years. For more information about Honors, email
Ask.Honors@umich.edu
or call 734.764.6274.
Judaic Studies (Major) (Winter 2020 - Summer 2020)
Effective Winter 2020
Exclusions:
A major in Judaic studies is not open to students with a minor in Judaic Studies, a minor in Yiddish Studies, or a Hebrew Studies
submajor
from the Department of Middle East Studies
Advising
A student who is interested in a major in Judaic Studies should meet with the major advisor as early as possible to plan a coherent course of study. Please email js-student-services@umich.edu or call 734-615-6097 to schedule an appointment.
Prerequisites
None
Requirements
Minimum Credits:
28
Core.
At least one of the following
JUDAIC 205: What is Judaism
JUDAIC 210 Sources of Jewish History
JUDAIC 281: Jews in the Modern World
Electives:
All courses must be at the 200-level or above with a Judaic listing or be approved by a major advisor.
Upper Level Credit Requirement
At least 15 credits must be at 300 or 400 level; at least one of these courses must be at the 400 level.
Hebrew Sub Plan:
Optional sub plan for Judaic Studies majors
Prerequisite of first year proficiency in Hebrew achieved through coursework (Hebrew 102) or placement examination.
Judaic Studies Hebrew Sub Plan Language Requirement (6 credit minimum taken in residence): one 200 level course can count toward the language requirement (but does not count toward the 28 credit major).  At least one Hebrew language course must be taken at the 300-level or above
Language:
200 level language courses in less commonly taught languages (such as Yiddish, Ladino, or Biblical Hebrew) can count toward the 28 credit major (up to 8 credits)
Constraints
Advanced Hebrew and Yiddish language courses (300-level and 400-level) may count toward the major.
Students may not use more than one Independent study course as an elective unless approved by the Judaic Studies advisor.
Residency
Fifteen of the 28 credits must be elected in residence unless special permission is given by the major advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the JUDAIC subject area may not be used toward the Distribution Requirement.
Honors
The Center offers an Honors plan to qualified Judaic Studies students. Application for an Honors plan is usually made at the beginning of the third year. Participation requires a 3.5 grade point average. Graduation with Honors is recommended for students who complete all College and Judaic Studies graduation requirements, maintain a 3.5 GPA, and write a substantial Honors thesis which is judged worthy of Honors designation by the thesis advisor and at least one other faculty reader. An Honors plan is not limited to students who have been in the College Honors Program in the first and second years. For more information about Honors, email
Ask.Honors@umich.edu
or call 734.764.6274.
Judaic Studies (Major) (Fall 2016 - Fall 2019)
Effective Fall 2016
Exclusions:
A major in Judaic studies is not open to students with a minor in Judaic Studies, a minor in Yiddish Studies, or a Hebrew Studies
submajor
from the Department of Near Eastern Studies
Advising
A student who is interested in a major in Judaic Studies should meet with the major advisor as early as possible to plan a coherent course of study. Please email
JudaicStudies@umich.edu
or call 734-615-6097 to schedule an appointment.
Prerequisites
Second semester proficiency in Hebrew (HEBREW 102) or Yiddish (JUDAIC 102), achieved either through course work or placement examination.
Requirements
Minimum Credits:
28
At least 12 credits must be at 300 or 400 level; at least one of these courses must be at the 400 level.
Core.
At least two of the following
JUDAIC 205: What is Judaism?
JUDAIC 210: Sources of Jewish History
JUDAIC 281: Jews in Modern World
Electives:
All courses must be at the 200-level or above and approved by a major advisor or chosen from the list below.
Electives:
Judaic Studies
Any course in JUDAIC or YIDDISH at the 200-level or above, or crossslisted with JUDAIC or crosslisted with YIDDISH, except for elementary language courses (JUDAIC 201, 202, 531, 532 or GERMAN 227, 228 or YIDDISH 201, 202, 531, 532)
Courses in other departments
AMCULT 342 / HISTORY 368 / WOMENSTD 360. History of the Family in the U.S.
CLARCH 327 / CLCIV 327 / MIDEAST 355 / RELIGION 326. Jews in the Roman Mediterranean: Archaeology, Religion, and Culture
CLCIV 327 / CLARCH 327 / MIDEAST 355 / RELIGION 326. Jews in the Roman Mediterranean: Archaeology, Religion, and Culture
ENGLISH 313. Topics in Literary Studies,
section titled “Literature of the Holocaust”
ENGLISH 317. Literature and Culture, sections titled
"Yiddish Classics”
, or
"Yiddish Classics and Modernity"
, or
"Literature of the Holocaust"
GERMAN 322 / HISTORY 322. The Origins of Nazism
HEBREW 301. Advanced Hebrew I
HEBREW 302. Advanced Hebrew II
HISTORY 322 / GERMAN 322. The Origins of Nazism
HISTORY 259 / RELIGION 358 / MIDEAST 339 / JUDAIC 339. Israel Before the Exile (587 BCE): Its History & Religion
HISTORY 368 / AMCULT 342 / WOMENSTD 360. History of the Family in the U.S.
JUDAIC 280 / MIDEAST 238 / RELIGION 280. The Historical Jesus in Christianity, Judaism, and Islam
JUDAIC 335 / RELIGION 359 / MIDEAST 335. History and Religion of Ancient Judaism
JUDAIC 339 / HISTORY 259 / RELIGION 358 / MIDEAST 339. Israel Before the Exile (587 BCE): Its History & Religion
MIDEAST 200  Introduction to the Middle East
MIDEAST 201. Madness, Medicine, and Magic in the Middle East
MIDEAST 235 / RELIGION 121. Introduction to the Tanakh/Old Testament
MIDEAST 238 / RELIGION 280. The Historical Jesus in Christianity, Judaism, and Islam
MIDEAST 242 / RELIGION 270. Introduction to Rabbinic Literature
MIDEAST 326. The Arab-Israeli Conflict in Middle Eastern Literature
MIDEAST 335 / RELIGION 359. History and Religion of Ancient Judaism
MIDEAST 339 / RELIGION 358. Israel Before the Exile (587 BCE): Its History & Religion
MIDEAST 355 / CLARCH 327 / CLCIV 327 / RELIGION 326. Jews in the Roman Mediterranean: Archaeology, Religion, and Culture
POLSCI 351. Israeli Society and Politics
POLSCI 353. The Arab-Israeli Conflict
RELIGION 121 / MIDEAST 235. Introduction to the Tanakh/Old Testament
RELIGION 270 / MIDEAST 242. Introduction to Rabbinic Literature
RELIGION 280 / MIDEAST 238 / JUDAIC 280. The Historical Jesus in Christianity, Judaism, and Islam
RELIGION 326 / MIDEAST 355 / CLARCH 327 / CLCIV 327. Jews in the Roman Mediterranean: Archaeology, Religion, and Culture
RELIGION 358 / MIDEAST 339 / HISTORY 259 / JUDAIC 339. Israel Before the Exile (587 BCE): Its History & Religion
RELIGION 359 / MIDEAST 335 / JUDAIC 335. History and Religion of Ancient Judaism
WOMENSTD 360 / HISTORY 368 / AMCULT 342. History of the Family in the U.S.
Constraints
Only advanced Hebrew and Yiddish language courses (300-level and 400-level) may count toward the major.
Students may not use more than one Independent study course as an elective.
Residency
Fifteen of the 28 credits must be elected in residence unless special permission is given by the major advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the JUDAIC subject area may not be used toward the Distribution Requirement.
Honors
The Center offers an Honors plan to qualified Judaic Studies students. Application for an Honors plan is usually made at the beginning of the third year. Participation requires a 3.5 grade point average. Graduation with Honors is recommended for students who complete all College and Judaic Studies graduation requirements, maintain a 3.5 GPA, and write a substantial Honors thesis which is judged worthy of Honors designation by the thesis advisor and at least one other faculty reader. An Honors plan is not limited to students who have been in the College Honors Program in the first and second years. For more information about Honors, email
Ask.Honors@umich.edu
or call 734.764.6274.
Judaic Studies Major (Fall 2015-Summer 2016)
May be elected as an interdepartmental major
Students who elect the Hebrew Studies submajor of Near Eastern Studies may not elect the Judaic Studies major.
Effective: Fall 2015-Summer 2016
An undergraduate major in Judaic Studies offers students the opportunity to broaden their knowledge of international affairs, historical change and religious phenomena. The major introduces students to the history and cultures of the Jewish people, and explores the world from distinctive Jewish perspectives.
Prerequisites to the Major
JUDAIC 205 and second-term proficiency in modern Hebrew (HJCS 102) or Yiddish (JUDAIC 102).
Requirements for the Major
Students are required to complete at least 24 credits of work in approved courses, exclusive of the above language requirement and JUDAIC 205. Fifteen of the 24 credits must be elected in residence unless special permission is given by the department advisor.
The 24 credits must include two courses in each of the following three categories:
Classical and Modern Judaism
Jewish Literature and Culture
Jewish History and Social Science
In addition, two of the courses (not including JUDAIC 205) must cover or include material from pre-modern periods (before ca. 1750).
Classical and Modern Judaism: Law and
Religion
History: HISTORY 256, 269, 277, 281, 306, 307, and 406
Judaic Studies: JUDAIC 260, 265, 270, 277, 281, 376, 379, 467, 468, 470, 478, 481
Law: 642, 867
Near Eastern Studies
Ancient Civilizations and Biblical Studies: ACABS 270, 321, 322, 470, 542, 543, 723, and appropriate sections of 591 and 592
Hebrew & Jewish Cultural Studies: HJCS 270, 379, 470, 477, 478, 491, 542, 543, 576, 577, 591
Near Eastern Studies: NEAREAST 200, 207, 238
Religion: 201, 260, 270, 277, 359, 469, 471 and 478
Slavic Languages and Literatures:
SLAVIC 281, 481
Women’s Studies: WOMENSTD 376
Jewish Literature and Culture
American Culture: AMCULT 387
Anthropology: ANTHRCUL 335
English Language and Literature: 383, and appropriate sections of ENGLISH 313, 317, 318, 417 and 430.
History: 350, 387, 435
History of Art: HISTART 323
Judaic Studies: 250, 271, 281, 296, 343, 344, 373, 381, 401, 451, 467, 480, 591, and 592
Near Eastern Studies
Ancient Civilizations and Biblical Studies: ACABS 544
Hebrew & Jewish Cultural Studies: HJCS 296, 305, 323, 335, 373, 381, 401, 402, 471, 472, 544, 545, 571, 572, 577, 592
Near East Studies: NEAREAST 281, 326, 490, 590
Political Science: 350 and 451
Religion: 296, 324, 361, 444, and 471
Slavic Languages and Literatures:
RUSSIAN 435
SLAVIC 270, 281, 481
Women’s Studies: WOMENSTD 376
Jewish History and Social Science
American Culture: AMCULT 343, 387
Germanic Languages and Literatures: GERMAN 322
History: HISTORY 244, 256, 269, 322, 368, 381, 382, 383, 384, 385, 386, 387, 406, 435, 628, and appropriate sections of HISTORY 396, 397, 590, 591; and MEMS 381 and 382
Judaic Studies: JUDAIC 244, 260, 265, 271, 277, 296,  343, 380, 382, 383, 384, 385, 386, 387, 406, 410, 435, 451, 480, 628, and 652
Middle Eastern and North African Studies: MENAS 244
Near Eastern Studies
Arabic, Armenian, Persian, Turkish & Islamic Studies: AAPTIS 244, 277
Hebrew & Jewish Cultural Studies: HJCS 244, 277, 296
Near East Studies: NEAREAST 207
Political Science: 350, 351, 353, 451 and 652
Religion: 260, 277, 296, 358
Slavic Languages and Literatures:
Slavic Surveys: SLAVIC 270
Social Work: 645
Sociology: 410
Languages
Judaic Studies: JUDAIC 201, 202, 301, 302, 333 and 401
Near Eastern Studies
Ancient Civilizations and Biblical Studies: ACABS202, 483, 484, 581 and 582
Hebrew:  HEBREW 301
Hebrew & Jewish Cultural Studies: HJCS 201, 202,  302
Near Eastern Studies Language: NESLANG 201
Yiddish: YIDDISH 201, 202, 301, and 302
Independent Studies
Judaic Studies: JUDAIC 495, 496, 497, 498, and 500.
Other courses, at the 200-level and above, may be approved by the department advisor.
100-level courses may not be included in a plan for the major.
Students with extensive preparation in Jewish studies may be exempted from taking JUDAIC 205 by the department advisor.
Students may include intermediate Hebrew or Yiddish courses in a plan for the major if they use the other language as a prerequisite.
Honors Plan
The Center offers an
Honors plan
to qualified Judaic Studies students. Application for an Honors plan is usually made at the beginning of the third year. Participation requires a 3.5 grade point average. Graduation with Honors is recommended for students who complete all College and Judaic Studies graduation requirements, maintain a 3.5 GPA, and
write a substantial Honors thesis
which is judged worthy of Honors designation by the thesis advisor and at least one other faculty reader. An Honors plan is not limited to students who have been in the College Honors Program in the first and second years. The name, phone number, and office hours of the Honors department advisor are available in the Honors Office, 1330 Mason Hall, or in the Center for Judaic Studies, 2111 Thayer Academic Building.
Concurrent Undergraduate/Graduate Studies (CUGS) Program
Majors who are advanced in their studies and have exhausted the undergraduate resources in Judaic Studies are encouraged to speak with the Judaic Studies Student/Fellow Coordinator about the Concurrent Undergraduate-Graduate Studies (CUGS) Program in LSA.
Judaic Studies Major (Fall 2012-Summer 2015)
May be elected as an interdepartmental major
Effective: Fall 2012 - Summer 2015
An undergraduate major in Judaic Studies offers students the opportunity to broaden their knowledge of international affairs, historical change and religious phenomena. The major introduces students to the history and cultures of the Jewish people, and explores the world from distinctive Jewish perspectives.
Prerequisites to the Major
JUDAIC 205 and second-term proficiency in modern Hebrew (HJCS 102) or Yiddish (JUDAIC 102).
Requirements for the Major
Students are required to complete at least 24 credits of work in approved courses, exclusive of the above language requirement and JUDAIC 205. Fifteen of the 24 credits must be elected in residence unless special permission is given by the department advisor.
The 24 credits must include two courses in each of the following three categories:
Classical and Modern Judaism
Jewish Literature and Culture
Jewish History and Social Science
In addition, two of the courses (not including JUDAIC 205) must cover or include material from pre-modern periods (before ca. 1750).
Classical and Modern Judaism: Law and
Religion
History: HISTORY256, 269, 277, 281, 306, 307, and 406
Judaic Studies: JUDAIC 260, 265, 270, 277, 281, 376, 379, 467, 468, 470, 478, 481
Law: 642, 867
Near Eastern Studies
Ancient Civilizations and Biblical Studies: ACABS 200, 221, 270, 277, 321, 322, 470, 542, 543, 723, and appropriate sections of 591 and 592
Arabic, Armenian, Persian, Turkish & Islamic Studies: AAPTIS 200, 277
Hebrew & Jewish Cultural Studies: HJCS 200, 270, 277, 379, 470, 477, 478, 491, 542, 543, 576, 577, 591
Religion: 201, 260, 270, 277, 359, 469, 471 and 478
Slavic Languages and Literatures:
SLAVIC 281, 481
Women’s Studies: WOMENSTD 376
Jewish Literature and Culture
American Culture: AMCULT 387
Anthropology: ANTHRCUL 335
English Language and Literature: 383, and appropriate sections of ENGLISH 313, 317, 318, 417 and 430.
History: 350, 387, 435
History of Art: HISTART 323
Judaic Studies: 250, 271, 281, 296, 343, 344, 373, 381, 401, 451, 467, 480, 591, and 592
Near Eastern Studies
Ancient Civilizations and Biblical Studies: ACABS 544
Arabic, Armenian, Persian, Turkish & Islamic Studies: AAPTIS 383
Hebrew & Jewish Cultural Studies: HJCS 281, 296, 305, 323, 335, 373, 381, 401, 402, 471, 472, 491, 544, 545, 571, 572, 577, 591 and 592
Political Science: 350 and 451
Religion: 296, 324, 361, 444, and 471
Slavic Languages and Literatures:
RUSSIAN 435
SLAVIC 270, 281, 481
Women’s Studies: WOMENSTD 376
Jewish History and Social Science
American Culture: AMCULT 343, 387
Germanic Languages and Literatures: GERMAN 322
History: HISTORY 244, 256, 269, 322, 368, 381, 382, 383, 384, 385, 386, 387, 406, 435, 628, and appropriate sections of HISTORY 396, 397, 590, 591; and MEMS 381 and 382
Judaic Studies: JUDAIC 244, 260, 265, 271, 277, 296,  343, 380, 382, 383, 384, 385, 386, 387, 406, 410, 435, 451, 480, 628, and 652
Middle Eastern and North African Studies: MENAS 244
Near Eastern Studies
Ancient Civilizations and Biblical Studies: ACABS 277
Arabic, Armenian Turkish & Islamic Studies: AAPTIS 244, 277
Hebrew & Jewish Cultural Studies: HJCS 244, 277, 296
Political Science: 350, 351, 353, 451 and 652
Religion: 260, 277, 296, 358
Slavic Languages and Literatures:
Slavic Surveys: SLAVIC 270
Social Work: 645
Sociology: 410
Languages
Judaic Studies: JUDAIC 201, 202, 301, 302, 333 and 401
Near Eastern Studies
Ancient Civilizations and Biblical Studies: ACABS 201, 202, 483, 484, 581 and 582
Hebrew & Jewish Cultural Studies: HJCS 201, 202, 301 and 302
Yiddish: YIDDISH 201, 202, 301, and 302
Independent Studies
Judaic Studies: JUDAIC 495, 496, 497, 498, and 500.
Other courses, at the 200-level and above, may be approved by the department advisor.
100-level courses may not be included in a plan for the major.
Students with extensive preparation in Jewish studies may be exempted from taking JUDAIC 205 by the department advisor.
Students may include intermediate Hebrew or Yiddish courses in a plan for the major if they use the other language as a prerequisite.
Honors Plan
The Center offers an
Honors plan
to qualified Judaic Studies students. Application for an Honors plan is usually made at the beginning of the third year. Participation requires a 3.5 grade point average. Graduation with Honors is recommended for students who complete all College and Judaic Studies graduation requirements, maintain a 3.5 GPA, and
write a substantial Honors thesis
which is judged worthy of Honors designation by the thesis advisor and at least one other faculty reader. An Honors plan is not limited to students who have been in the College Honors Program in the first and second years. The name, phone number, and office hours of the Honors department advisor are available in the Honors Office, 1330 Mason Hall, or in the Center for Judaic Studies, 2111 Thayer Academic Building.
Concurrent Undergraduate/Graduate Studies (CUGS) Program
Majors who are advanced in their studies and have exhausted the undergraduate resources in Judaic Studies are encouraged to speak with the Judaic Studies Student/Fellow Coordinator about the Concurrent Undergraduate-Graduate Studies (CUGS) Program in LSA.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
