Page header:
page title: Arts & Ideas in the Humanities Major | U-M LSA U-M College of LSA

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Arts & Ideas in the Humanities Major
...
Arts & Ideas in the Humanities Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Arts & Ideas in the Humanities Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Winter 2022
Advising
1813 East Quadrangle
(734) 647-2745
www.lsa.umich.edu/rc
The Residential College (RC) is a four-year undergraduate liberal arts program with about 900 students and 60 faculty, situated within LSA. All RC advisors are RC faculty members and are available to meet with students to discuss RC and LSA requirements, possible majors, graduation requirements, etc. The RC
Board on Academic Standing
considers petitions submitted by RC students relating to requirements, deadlines, and academic circumstances. Appointments with academic advisors can be scheduled by calling the RC Academic Services Office at (734) 647-2745, or by stopping by the offices at 1813 East Quad.
Students wishing to pursue a major program in Arts and Ideas in the Humanities must develop a specific plan for its completion in consultation with the program's designated advisor. Appointments may be scheduled at the RC Advising Office, 1813 East Quad, or by calling (734) 647-2745 or online at: https://lsa.umich.edu/rc/current-students/academic-services.html
Prerequisites
None.
Requirements
Minimum Credits:
33
Cultural and Historical Perspectives:
Of the total coursework in sections I-IV, at least one course must have a significant focus on the world before 1900 and at least one (separate) course must have a significant focus outside the English-speaking or European worlds. Courses fulfilling this requirement are to be determined in consultation with the Arts & Ideas Advisor
I. How to think in the Arts and Humanities: 6 credits
All majors are required to take 6 credits of How To Think courses, preferably in a balance of Arts and Humanities topics.
RCHUMS 201 - How to Think (Humanities)
RCHUMS 202 -  How to Think (Arts)
II. Core Humanities: 6 credits
Must be fulfilled by courses listed below which have been specifically designed to treat at least two art forms.
RCHUMS 214 - Fundamentals of Narrative Fiction
RCHUMS 217 - Fathers and Sons
RCHUMS 218 - The Hero as Outsider, Outcast or Outlaw
RCHUMS 230 - Biblical, Greek, and Medieval Texts: Original Works and Modern Counterparts
RCHUMS 235 - Topics in World Dance
RCHUMS 251 - Topics in Music
RCHUMS 255 - Film Experience
RCHUMS 256 - Studying and Playing Southeast Asian Music
RCHUMS 257 - Visual Sources
RCHUMS / DANCE 260 - The Art of Dance: An Introduction to American and European Dance History, Aesthetics, and Criticism
RCHUMS 275 - The Western Mind in Revolution: Six Interpretations of the Human Condition
RCHUMS 290 - The Experience of Arts and Ideas of the 20th Century
RCHUMS 291 - The Experience of Arts and Ideas of the 19th Century
RCHUMS 304 - Time, History, Arts, and Culture
RCHUMS 305 - Art and Resistance
RCHUMS 306 - History of Writing
RCHUMS / ASIAN 308 - Art and Culture: Arts and Ideas of Modern South and Southeast Asia
RCHUMS 309 - Premodern Sources and Modern Culture
RCHUMS / SLAVIC 312 - Central European Cinema
RCHUMS 315 - Representation in the Arts
RCHUMS 317 - The Writings of Latinas
RCHUMS 318 - Critical Approaches to Literature
RCHUMS 319 - Topics in Film
RCHUMS 331 / THTREMUS 333 - Documentary Theatre
RCHUMS 333 - Art and Culture
RCHUMS 334 - Special Topics in the Humanities
RCHUMS / THTREMUS 335 - Theatre and Incarceration
RCHUMS / LATINOAM / THTREMUS 336 - Latina/o Theatre for Social Change
RCHUMS / ENVIRON 337 - Children Under Fire: Narratives of Sustainability
RCHUMS 338 - Growing Up Near the Great Lakes
RCHUMS 340 - Four Interdisciplinary Studies in 19th- & 20th-Century Intellectual History: Psychoanalysis, Mysticism, Nihilism and Marxism
RCHUMS 341 - Community Empowerment Through the Arts
RCHUMS 342 - Representing the Holocaust in Literature, Film and the Visual Arts
RCHUMS 344 / HISTART 342 - Reason and Passion in the 18th Century
RCHUMS 346 / HISTART 352 - Art and Philosophy in the Renaissance Tradition
RCHUMS / AAS / HONORS / WGS 354 (WOMENSTD 354) - Race and Identity in Music
RCHUMS 355 - Film Criticism
RCHUMS 356 - The Symphonic Century: Music and Revolution in the 19th Century
RCHUMS 357 - What Art Means: Analysis and Interpretation
RCHUMS 360 - Existentialism
RCHUMS 361 - Psychoanalysis and the Modern Novel
RCHUMS 364 - Nietzsche's Last Year: Final Vision and Mental Collapse
RCHUMS 365 / RELIGION 360 - Experiences of Atheism: A History of Skepticism and Unbelief
RCHUMS 371 - Political Modernism
RCHUMS 372 - The Subject in the Aftermath of Revolution
RCHUMS / ASIAN 373 - The Performing Arts in South and Southeast Asia
RCHUMS 380 - Greek Theatre
RCHUMS 410 - Upperclass Literature Seminar
RCHUMS 411 - Translation Seminar
RCHUMS 444 - George Balanchine and the Transformation of American Dance
RCHUMS 457 - Video Production Seminar: Fiction, Fantasy, Fairy Tale
RCHUMS 470 - Philosophy and Public Affairs
RCHUMS 472 - Arts and Ideas Senior Seminar
III. Core Arts: 6 credits
Courses fulfilling this requirement must focus on the practice of visual art, music, drama, film, or creative writing. They may be chosen from appropriate offerings in RCHUMS, RCARTS, RCMUSIC and across the university at the 200-level or above. Select these courses in consultation with the Arts and Ideas advisor.
IV. Focus: 15 credits
Courses fulfilling this requirement converge around a single art form in deep historical and theoretical context, or two art forms in relation to each other. The rationale informing course selections in this section must be approved by the Arts & Ideas advisor.
Courses may be chosen from among offerings in RCARTS, RCHUMS, RCMUSIC, and across the university at the 300-level or above. RC Language Readings courses may be counted in this section. With advisor approval, courses taken abroad may also count.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
.
Honors
To be eligible for an Honors subplan in Arts & Ideas, students should have a cumulative grade point average of at least a 3.4, and a 3.5 grade point average in courses counting toward the major. Students who elect an Honors degree will write an Honors thesis during the final year of their course work
Arts & Ideas in the Humanities (Major) (Fall 2020 - Fall 2021)
Effective Fall 2020
Advising
1813 East Quadrangle
(734) 647-2745
www.lsa.umich.edu/rc
The Residential College (RC) is a four-year undergraduate liberal arts program with about 900 students and 60 faculty, situated within LSA. All RC advisors are RC faculty members and are available to meet with students to discuss RC and LSA requirements, possible majors, graduation requirements, etc. The RC
Board on Academic Standing
considers petitions submitted by RC students relating to requirements, deadlines, and academic circumstances. Appointments with academic advisors can be scheduled by calling the RC Academic Services Office at (734) 647-2745, or by stopping by the offices at 1813 East Quad.
Students wishing to pursue a major program in Arts and Ideas in the Humanities must develop a specific plan for its completion in consultation with the program's designated advisor. Appointments may be scheduled at the RC Advising Office, 1813 East Quad, or by calling (734) 647-2745 or online at: https://lsa.umich.edu/rc/current-students/academic-services.html
Prerequisites
None.
Requirements
Minimum Credits:
33
I.     How to think in the Arts and Humanities: 6 credits
All majors are required to take 6 credits of How To Think courses, preferably in a balance of Arts and Humanities topics.
RCHUMS 201: How to Think (Humanities)
RCHUMS 202: How to Think (Arts)
II.     How to Think ACROSS the Arts and Humanities. 12 credits
Must be fulfilled only from the courses listed below. The courses fulfilling this requirement have been specifically designed to treat at least two art forms.
Distribution: Of the 4 courses fulfilling this requirement,
at least one must have a significant focus on the world before 1900
and at least one must have a significant focus outside the English-Speaking or European worlds.
RCHUMS 290: The Experience of Arts and Ideas of the 20th Century
RCHUMS 291: The Experience of Arts and Ideas of the 19th Century
RCHUMS 304 Time, History, Arts, and Culture
RCHUMS 305: Cultural Confrontations in the Arts
RCHUMS 306 History of Writing
RCHUMS/ASIAN 308: Art and Culture: Arts and Ideas of Modern South and Southeast Asia
RCHUMS 318: Critical Approaches to Literature
RCHUMS/ENVIRON 337: Children Under Fire: Narratives of Sustainability
RCHUMS 338: Growing Up Near the Great Lakes: Reading and Writing Landscapes of Childhood
RCHUMS 342: Representing the Holocaust in Literature, Film and the Visual Arts
RCHUMS 344/HISTART 342: Reason and Passion in the 18th Century
RCHUMS 346/HISTART 352: Art and Philosophy in the Renaissance Tradition
RCHUMS /AAS/HONORS/WGS 354 (WOMENSTD 354): Race and Identity in Music
RCHUMS 371: Political Modernism: The Artist in the Nightmare of History: Picasso, Eliot, Orwell
RCHUMS 372: The Subject in the Aftermath of Revolution
RCHUMS/ASIAN 373: The Performing Arts in South and Southeast Asia
III.     Arts. 6 credits
Courses fulfilling this requirement may be chosen from offerings at the RC and across the University at the 200 level or above. Choose these courses in consultation with an advisor.
IV.     Concentration. 9 credits
Courses fulfilling this requirement may be chosen from RCARTS and RCHUMS courses and across the University at the 300 level or above. RC Language Readings courses may also be used in this area. The concentration coursework may focus on the study of a single art form in deep historical and theoretical context, or two art forms in relation to each other. These courses should be selected according to a clear rationale approved by your Arts & Ideas advisor. Choose these courses in consultation with an advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
.
Honors
To be eligible for an Honors subplan in Arts & Ideas, students should have a cumulative grade point average of at least a 3.4, and a 3.5 grade point average in courses counting toward the major. Students who elect an Honors degree will write an Honors Thesis during the final year of their course work
Arts & Ideas in the Humanities (Major) (Winter 2018 - Summer 2020)
Effective Winter 2018
Advising
1813 East Quadrangle
(734) 647-2745
www.lsa.umich.edu/rc
The Residential College (RC) is a four-year undergraduate liberal arts program with about 900 students and 60 faculty, situated within LSA. All RC advisors are RC faculty members and are available to meet with students to discuss RC and LSA requirements, possible majors, graduation requirements, etc. The RC Board on Academic Standing considers petitions submitted by RC students relating to requirements, deadlines, and academic circumstances. Appointments with academic advisors can be scheduled by calling the RC Academic Services Office at (734) 647-2745 or by stopping by the offices at 1813 East Quadrangle.
Prerequisites
None.
Requirements
A minimum of five courses to be elected from (1) History and Theory and (2) Visual Studies, Performance and Studio Arts, completed by seven courses of Specialized Study. (Total: minimum of 12 courses)
History and Theory:
There are two areas: (A) Historical Perspectives and (B) Issues of Modernity. Students take two courses in one area and one in the remaining area:
Historical Perspectives
RCHUMS 309: Classical Sources of Modern Culture
RCHUMS / ENVIRON 337: Children Under Fire: Narratives of Sustainability
RCHUMS 338: Growing Up Near the Great Lakes: Reading and Writing Landscapes of Childhood
RCHUMS 344 / HISTART 342: Reason and Passion in the 18th Century
RCHUMS 346 / HISTART 352: Art and Philosophy in the Renaissance Tradition
RCHUMS / AAS/ HONORS / WGS 354 (WOMENSTD 354): Race and Identity in Music
RCHUMS 371: Political Modernism: The Artist in the Nightmare of History: Picasso, Eliot, Orwell (only through SU18)
RCHUMS / ASIAN 373: The Performing Arts in South and Southeast Asia
Issues of Modernity
RCHUMS 290: The Experience of Arts and Ideas of the 20th Century
RCHUMS 291: The Experience of Arts and Ideas of the 19th Century
RCHUMS 305: Cultural Confrontations in the Arts
RCHUMS / ASIAN 308: Art and Culture: Arts and Ideas of South and Southeast Asia
RCHUMS 318: Critical Approaches to Literature
RCHUMS 342: Representing the Holocaust in Literature, Film and the Visual Arts
RCHUMS 371: Political Modernism: The Artist in the Nightmare of History: Picasso, Eliot, Orwell (F18)
RCHUMS 372: The Subject in the Aftermath of Revolution
Visual Studies, Performance, and Studio Arts:
Two courses selected from one or more of the following areas.
Film/Video
RCHUMS 217: Fathers and Sons
RCHUMS 218: The Hero as Outsider, Outcast or Outlaw
RCHUMS / FTVM 236: Art of the Film
RCHUMS / SLAVIC 312: Central European Cinema
RCHUMS / FTVM / SLAVIC 313: Russian and Ukrainian Cinema
Dance
RCHUMS 235: Topics in World Dance
RCHUMS 260 / DANCE 241: The Art of Dance: An Introduction to American and European Dance History
RCHUMS 444: George Balanchine and the Transformation of American Dance
Studio Arts
RCARTS 268: Introduction to Visual Thinking and Creativity
RCARTS 269: Elements of Design
RCARTS 285: Photography
RCARTS 286: Sculpture
RCARTS 287: Printmaking
RCARTS 288: Beginning Drawing
RCARTS 289: Ceramics
Music
RCMUSIC 249 (RCHUMS 249): Foundations of Music
RCHUMS 251: Topics in Music
RCHUMS 253: Choral Ensemble
RCHUMS 256: Studying and Playing Southeast Asian Music
RCHUMS 259: Musical Improvisation
RCHUMS 301: Beginning Indonesian Orchestra
RCHUMS 302: Beginning Indonesian Orchestra
RCHUMS 303: Indonesian Orchestra
RCMUSIC 320 (RCHUMS 250): Chamber Music
RCMUSIC 334 (RCHUMS 252): Topics in Musical Expression
RCHUMS 350: Creative Musicianship
RCHUMS 351: Creative Musicianship: Theory Lab
RCHUMS 352: Found Instruments - Building, Design and Performance
RCHUMS 356: The Symphonic Century: Music and Revolution in the 19th Century
RCMUSIC 357 (RCHUMS 258): Afro-Cuban Drumming and Styles
Specialized Study:
Seven upper-level courses (300 and above) distributed among two areas of focus. Four courses must be selected from one area and three in the remaining area. These areas and the specific courses considered appropriate for inclusion are determined by the student in consultation with the Arts and Ideas designated advisor. Possible areas of specialization include, for example: drama and anthropology; photography and history of art; literature and history; creative writing and African-American studies. However, no more than one of the two specializations may be in the practice of an art form.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
.
Honors
Qualified students may be admitted to a program of advanced study in the beginning or middle of the junior year. An Honors Thesis is required.
Arts and Ideas in the Humanities Major (Winter 2013 - Fall 2017)
Effective Winter 2013
May be elected as a departmental major
Students wishing to pursue a major program in
Arts and Ideas in the Humanities
must develop a specific plan for its completion in consultation with the program's designated advisor. Appointments may be scheduled at the RC Advising Office, 134 Tyler, East Quad, or by calling 734.763.0032.
The Arts and Ideas Major offers students the ability to construct an interdisciplinary major in the arts and humanities. Majors can combine either two humanities disciplines or a humanities discipline with an artistic practice. Many courses focus on a specific historical moment or context, encouraging students to examine a particular culture through a broad range of different media. In these courses, students are asked to develop interpretive and analytical skills appropriate to the arts. Courses in visual studies, performance, and studio art provide training in the comparative analysis or practice of different art forms. By combining practice with the academic study of art, the Arts and Ideas curriculum encourages students to reflect on the origins of art, and to engage in its contexts, whether productive or historical.
Advising
The Residential College (RC) is a four-year undergraduate liberal arts program with about 900 students and 60 faculty, situated within LSA. All RC advisors are RC faculty members and are available to meet with students to discuss RC and LSA requirements, possible majors, graduation requirements, etc. The RC
Board on Academic Standing
considers petitions submitted by RC students relating to requirements, deadlines, and academic circumstances. Appointments with academic advisors can be scheduled by calling the RC Academic Services Office at (734) 763-0032, or by stopping by the offices at 134 Tyler.
Prerequisites
None.
Requirements for the Major:
A minimum of five courses to be elected from (1) History and Theory and (2) Visual Studies, Performance and Studio Arts, completed by seven courses of Specialized Study. (Total: minimum of 12 courses)
History and Theory: There are two areas: (A) Historical Perspectives and (B) Issues of Modernity. Students take two courses in one area and one in the remaining area:
Historical Perspectives
RCHUMS 309  Classical Sources of Modern Culture
RCHUMS 310   Pagans, Christians, Barbarians in Late Antiquity and the Early Middle Ages
RCHUMS 314  The Figure of Rome in Shakespeare and 16th-Century Painting
RCHUMS 315  Representations of History in the Literature and Visual Arts of Rome
RCHUMS 344  Reason and Passion in the 18th Century
RCHUMS 354  Race and Identity in Music
RCHUMS 373  The Performing Arts in South and Southeast Asia
Issues of Modernity
RCHUMS 290  Arts and Ideas of the 20th Century
RCHUMS 291  Arts and Ideas of the 19th Century
RCHUMS 305  Cultural Confrontations in the Arts
RCHUMS 308  Art and Culture: Arts and Ideas of South and Southeast Asia
RCHUMS 318  Critical Approaches to Literature
RCHUMS 342  Representing the Holocaust in Literature, Film and the Visual Arts
RCHUMS 356 The Symphonic Century; Music and Revolution in the 19thCentury
RCHUMS 372  The Subject in the Aftermath of Revolution
Visual Studies, Performance, and Studio Arts: Two courses selected from one or more of the following areas.
Film/Video
RCHUMS 236  Art of the Film
RCHUMS 312  Central European Cinema
RCHUMS 313   Russian and Ukrainian Cinema
Dance
RCHUMS 235  Topics in World Dance
RCHUMS 260   The Art of Dance: An Introduction to American and European Dance History
RCHUMS 444  George Balanchine and the Transformation of American Dance
Studio Arts
RCARTS 268  Introduction to Visual Thinking and Creativity
RCARTS 269  Elements of Design
RCARTS 285  Photography
RCARTS 286  Sculpture
RCARTS 287  Printmaking
RCARTS 288  Introduction to Drawing
RCARTS 289  Ceramics
Music
RCHUMS 249   Foundations of Music
RCHUMS 250   Chamber Music
RCHUMS 251   Topics in Music
RCHUMS 252   Topics in Musical Expression
RCHUMS 253   Choral Ensemble
RCHUMS 256   Studying and Playing Southeast Asian Music
RCHUMS 258   Afro Cuban Drumming and Styles
RCHUMS 259   Musical Improvisation
RCHUMS 350   Creative Musicianship
RCHUMS 351   Creative Musicianship: Theory Lab
RCHUMS 352   Found Instruments
Specialized Study: Seven upper-level courses (300 and above) distributed among two areas of focus. Four courses must be selected from one area and three in the remaining area. These areas and the specific courses considered appropriate for inclusion are determined by the student in consultation with the Arts and Ideas designated advisor. Possible areas of specialization include, for example: drama and anthropology; photography and history of art; literature and history; creative writing and African-American studies. However, no more than one of the two specializations may be in the practice of an art form.
Honors Plan.
Qualified students may be admitted to a program of advanced study in the beginning or middle of the junior year. An Honors Thesis is required.
Arts and Ideas in the Humanities Major (Fall 2012)
May be elected as a departmental major
Students wishing to pursue a major program in Arts and Ideas in the Humanities must develop a specific plan for its completion in consultation with the program's designated advisor. Appointments may be scheduled at the RC Advising Office, 134 Tyler, East Quad, or by calling 734.763.0032.
The Arts and Ideas Major offers students the ability to construct an interdisciplinary major in the arts and humanities. Majors can combine either two humanities disciplines or a humanities discipline with an artistic practice. Many courses focus on a specific historical moment or context, encouraging students to examine a particular culture through a broad range of different media. In these courses, students are asked to develop interpretive and analytical skills appropriate to the arts. Courses in visual studies, performance, and studio art provide training in the comparative analysis or practice of different art forms. By combining practice with the academic study of art, the Arts and Ideas curriculum encourages students to reflect on the origins of art, and to engage in its contexts, whether productive or historical.
Requirements for the Major
: a minimum of five courses to be elected from (1) History and Theory and (2) Visual Studies, Performance and Studio Arts, completed by seven courses of Specialized Study. (Total: minimum of 12 courses)
History and Theory: There are two areas: (A) Historical Perspectives and (B) Issues of Modernity. Students take two courses in one area and one in the remaining area:
Historical Perspectives
RCHUMS 309  Classical Sources of Modern Culture
RCHUMS 310   Pagans, Christians, Barbarians in Late Antiquity and the Early Middle Ages
RCHUMS 314  The Figure of Rome in Shakespeare and 16
th
-Century Painting
RCHUMS 315  Representations of History in the Literature and Visual Arts of Rome
RCHUMS 344  Reason and Passion in the 18
th
Century
RCHUMS 373  The Performing Arts in South and Southeast Asia
Issues of Modernity
RCHUMS 290  Arts and Ideas of the 20
th
Century
RCHUMS 291  Arts and Ideas of the 19
th
Century
RCHUMS 305  Cultural Confrontations in the Arts
RCHUMS 308  Art and Culture: Arts and Ideas of South and Southeast Asia
RCHUMS 318  Critical Approaches to Literature
RCHUMS 342  Representing the Holocaust in Literature, Film and the Visual Arts
RCHUMS 356 The Symphonic Century; Music and Revolution in the 19
th
Century
RCHUMS 372  The Subject in the Aftermath of Revolution
Visual Studies, Performance, and Studio Arts:
Two courses selected from one or more of the following areas.
Film/Video
RCHUMS 236  Art of the Film
RCHUMS 255  Film Experience
RCHUMS 312  Central European Cinema
RCHUMS 313   Russian and Ukrainian Cinema
Dance
RCHUMS 235  Topics in World Dance
RCHUMS 260   The Art of Dance: An Introduction to American and European Dance History
RCHUMS 444  George Balanchine and the Transformation of American Dance
Studio Arts
RCARTS 268  Introduction to Visual Thinking and Creativity
RCARTS 269  Elements of Design
RCARTS 285  Photography
RCARTS 286  Sculpture
RCARTS 287  Printmaking
RCARTS 288  Introduction to Drawing
RCARTS 289  Ceramics
Music
RCHUMS 249   Foundations of Music
RCHUMS 250   Chamber Music
RCHUMS 251   Topics in Music
RCHUMS 252   Topics in Musical Expression
RCHUMS 253   Choral Ensemble
RCHUMS 256   Studying and Playing Southeast Asian Music
RCHUMS 258   Afro Cuban Drumming and Styles
RCHUMS 259   Musical Improvisation
RCHUMS 350   Creative Musicianship
RCHUMS 351   Creative Musicianship: Theory Lab
RCHUMS 352   Found Instruments
Specialized Study:
Seven upper-level courses (300 and above) distributed among two areas of focus. Four courses must be selected from one area and three in the remaining area. These areas and the specific courses considered appropriate for inclusion are determined by the student in consultation with the Arts and Ideas designated advisor. Possible areas of specialization include, for example: drama and anthropology; photography and history of art; literature and history; creative writing and African-American studies. However, no more than one of the two specializations may be in the practice of an art form.
Honors Plan.
Qualified students may be admitted to a program of advanced study in the beginning or middle of the junior year. An Honors Thesis is required.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
