### Supplement: Course Information
Source: https://lsa.umich.edu/german/graduate-students/course-information.html

Page header:
page title: Course Information | U-M LSA Germanic Languages and Literatures

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About Us
People
Resources
German Day
News
Events
GLL Intranet
for
Undergraduate Studies
Graduate Studies
Alumni and Friends
Community Engagement
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Keyword Search of german
About Us
People
Resources
German Day
News
Events
GLL Intranet
for
Undergraduate Studies
Graduate Studies
Alumni and Friends
Community Engagement
German Studies
Yiddish Studies
Internships & Study Abroad
Policies
Transfer Credit
Winter 2026 Course Offerings
Scandinavian Studies
Language Clubs
Max Kade German Residence
Independent Study Policy
Accelerated MA in Language Teaching
Graduation
Dutch Studies
Scholarships, Awards, and Prizes
Placement Exams
Careers in Germanic Studies
Accelerated MA Program in Transcultural Studies
Ph.D. Program Description
Current Graduate Students
Berlin Exchange
Course Information
Prospective Graduate Students
Rackham Interdisciplinary Workshops
Funding
Graduate Certificate in German Studies
Giving to Germanic Languages & Literatures
Newsletter
Donor Spotlight
German Peer Mentors Alumni
U-M Alumni Association
German Language Learning Resources
Departmental Events
Relevant Coursework
Scholarships, Awards, and Prizes
German Day
Alamanya: Transnational German Studies RIW
Skip to Page Content
Graduate Studies
Course Information
...
Course Information
Graduate Studies
[X] close
Graduate Studies
Ph.D. Program Description
Course Information
Funding
Current Graduate Students
Prospective Graduate Students
Graduate Certificate in German Studies
Berlin Exchange
Rackham Interdisciplinary Workshops
Course Information
Graduate Studies
Ph.D. Program Description
Course Information
Funding
Current Graduate Students
Prospective Graduate Students
Graduate Certificate in German Studies
Berlin Exchange
Rackham Interdisciplinary Workshops
Doctoral students must complete a minimum of 36 credit hours of graded graduate coursework, including 3 credit hours of cognate coursework with a B+ or better in the student's precandidacy stage (years one and two). Courses elected as visit (audit) do not meet this requirement, nor do any doctoral courses (those designated as 990, etc.) As candidates, students enroll in Ger 995 and are advised to audit or enroll in courses specific to their dissertation topic.
Students are expected to take all of their coursework in the German department during their first year. In addition to three required courses (German 531, German 540, and German 825), students may choose from a variety of electives taught at the 700 level. Students may enroll in cognate course(s) beginning in their second year, with permission from the current Director of Graduate Studies. Required courses include:
German 540: Introduction to German Studies
, taken in the Fall term of the first year. This seminar introduces students to the central theoretical and methodological debates in the discipline of German Studies;
German 531: Teaching Methods
, taken in the year they begin to teach. This course is intended to provide the theoretical and practical foundations for the teaching of German as a foreign language.
German 825: The German Studies Colloquium
, which students must take in the Winter of the first and second year (in addition, if students are not conducting research abroad, we expect them to make every effort to enroll and attend after their second year). The colloquium serves multiple goals:
It provides an opportunity for students to revise a seminar paper for the first-year review.
It serves as a site of interdisciplinary practice and debate.
It serves as a forum in which more advanced students can present conference papers and dissertation chapters.
It provides a framework within which students can explore and prepare presentations on specific topics directly related to conferences and workshops sponsored by the German Studies program.
It serves as a forum for professionalization.
The remaining elective graduate courses in the department fall into three categories. At the end of his/her studies, the student must have chosen at least one class from at least two of these rubrics:
German 701/02: Textual and Visual Interpretations (3 credits)
: Courses under this rubric explore textual and visual rhetoric, questions of genre and media, and relations between text and image. Students are exposed to and work with a broad definition of textuality (including music, film, the visual arts, as well as literature), and seminars emphasize the theoretically informed, close analysis of texts from German-speaking Europe. These can include text-intensive seminars such as a recent intensive study of Robert Musil's Der Mann ohne Eigenschaften, or a class on Albrecht Duerer co-taught by Helmut Puff and an art historian, or Julia Hell's current class on post-1945 literary and visual culture.
German 731/32: Cultural and Historical Analysis (3 credits)
: These courses focus on concepts of history, culture, and their interrelationship. Such courses provide analytical tools and readings to engage with the field of premodern and modern German cultural history, to explore and challenge its contemporary practice (historiography), and to expand its vision. Examples of classes under this rubric have included Modern Interpretations of the Premodern, Modernism/modernities, or Ruins of Modernity, another co-taught seminar.
German 761/62: Critical Theory and Philosophy (3 credits)
: Courses under this rubric explore issues in aesthetics, theories of language and subjectivity, and the genealogy of critical thought in continental philosophy (Kant, Hegel, Marx, Nietzsche, among others), psychoanalysis (Freud, Lacan), and sociology (Weber, Simmel, Elias). These courses may also treat the legacy of critical thought in the twentieth century, examining representatives of the Frankfurt School (Adorno, Horkheimer, Marcuse, Habermas, Benjamin, and Kracauer), and the work of post-structuralists, feminists, and post-colonial theorists. These classes can be on a single theorist (Johannes von Moltke's recent Kracauer seminar), or classes taught by Andy Markovits and George Steinmetz on sociological thought, or Silke Weineck's seminar on Myth.
A listing of all undergraduate and graduate courses taught in the College of Literature, Science, and the Arts may be found in the
LSA Course Guide
.
Germanic Languages and Literatures
812 E. Washington St., 3110 MLB
University of Michigan
Ann Arbor, MI 48109-1275
germandept@umich.edu
Click to call 734.764.8018
734.764.8018
734.763.6557
Sitemap
Instagram
LinkedIn
Information For
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan

### Supplement: Course Information
Source: https://lsa.umich.edu/german/graduate-students/course-information.html

Page header:
page title: Course Information | U-M LSA Germanic Languages and Literatures

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
About Us
People
Resources
German Day
News
Events
GLL Intranet
for
Undergraduate Studies
Graduate Studies
Alumni and Friends
Community Engagement
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Keyword Search of german
About Us
People
Resources
German Day
News
Events
GLL Intranet
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
for
Undergraduate Studies
Graduate Studies
Alumni and Friends
Community Engagement
German Studies
Yiddish Studies
Internships & Study Abroad
Policies
Transfer Credit
Winter 2026 Course Offerings
Scandinavian Studies
Language Clubs
Max Kade German Residence
Independent Study Policy
Accelerated MA in Language Teaching
Graduation
Dutch Studies
Scholarships, Awards, and Prizes
Placement Exams
Careers in Germanic Studies
Accelerated MA Program in Transcultural Studies
Ph.D. Program Description
Current Graduate Students
Berlin Exchange
Course Information
Prospective Graduate Students
Rackham Interdisciplinary Workshops
Funding
Graduate Certificate in German Studies
Giving to Germanic Languages & Literatures
Newsletter
Donor Spotlight
German Peer Mentors Alumni
U-M Alumni Association
German Language Learning Resources
Departmental Events
Relevant Coursework
Scholarships, Awards, and Prizes
German Day
Alamanya: Transnational German Studies RIW
Skip to Page Content
Graduate Studies
Course Information
...
Course Information
Graduate Studies
[X] close
Graduate Studies
Ph.D. Program Description
Course Information
Funding
Current Graduate Students
Prospective Graduate Students
Graduate Certificate in German Studies
Berlin Exchange
Rackham Interdisciplinary Workshops
Course Information
Graduate Studies
Ph.D. Program Description
Course Information
Funding
Current Graduate Students
Prospective Graduate Students
Graduate Certificate in German Studies
Berlin Exchange
Rackham Interdisciplinary Workshops
Doctoral students must complete a minimum of 36 credit hours of graded graduate coursework, including 3 credit hours of cognate coursework with a B+ or better in the student's precandidacy stage (years one and two). Courses elected as visit (audit) do not meet this requirement, nor do any doctoral courses (those designated as 990, etc.) As candidates, students enroll in Ger 995 and are advised to audit or enroll in courses specific to their dissertation topic.
Students are expected to take all of their coursework in the German department during their first year. In addition to three required courses (German 531, German 540, and German 825), students may choose from a variety of electives taught at the 700 level. Students may enroll in cognate course(s) beginning in their second year, with permission from the current Director of Graduate Studies. Required courses include:
German 540: Introduction to German Studies
, taken in the Fall term of the first year. This seminar introduces students to the central theoretical and methodological debates in the discipline of German Studies;
German 531: Teaching Methods
, taken in the year they begin to teach. This course is intended to provide the theoretical and practical foundations for the teaching of German as a foreign language.
German 825: The German Studies Colloquium
, which students must take in the Winter of the first and second year (in addition, if students are not conducting research abroad, we expect them to make every effort to enroll and attend after their second year). The colloquium serves multiple goals:
It provides an opportunity for students to revise a seminar paper for the first-year review.
It serves as a site of interdisciplinary practice and debate.
It serves as a forum in which more advanced students can present conference papers and dissertation chapters.
It provides a framework within which students can explore and prepare presentations on specific topics directly related to conferences and workshops sponsored by the German Studies program.
It serves as a forum for professionalization.
The remaining elective graduate courses in the department fall into three categories. At the end of his/her studies, the student must have chosen at least one class from at least two of these rubrics:
German 701/02: Textual and Visual Interpretations (3 credits)
: Courses under this rubric explore textual and visual rhetoric, questions of genre and media, and relations between text and image. Students are exposed to and work with a broad definition of textuality (including music, film, the visual arts, as well as literature), and seminars emphasize the theoretically informed, close analysis of texts from German-speaking Europe. These can include text-intensive seminars such as a recent intensive study of Robert Musil's Der Mann ohne Eigenschaften, or a class on Albrecht Duerer co-taught by Helmut Puff and an art historian, or Julia Hell's current class on post-1945 literary and visual culture.
German 731/32: Cultural and Historical Analysis (3 credits)
: These courses focus on concepts of history, culture, and their interrelationship. Such courses provide analytical tools and readings to engage with the field of premodern and modern German cultural history, to explore and challenge its contemporary practice (historiography), and to expand its vision. Examples of classes under this rubric have included Modern Interpretations of the Premodern, Modernism/modernities, or Ruins of Modernity, another co-taught seminar.
German 761/62: Critical Theory and Philosophy (3 credits)
: Courses under this rubric explore issues in aesthetics, theories of language and subjectivity, and the genealogy of critical thought in continental philosophy (Kant, Hegel, Marx, Nietzsche, among others), psychoanalysis (Freud, Lacan), and sociology (Weber, Simmel, Elias). These courses may also treat the legacy of critical thought in the twentieth century, examining representatives of the Frankfurt School (Adorno, Horkheimer, Marcuse, Habermas, Benjamin, and Kracauer), and the work of post-structuralists, feminists, and post-colonial theorists. These classes can be on a single theorist (Johannes von Moltke's recent Kracauer seminar), or classes taught by Andy Markovits and George Steinmetz on sociological thought, or Silke Weineck's seminar on Myth.
A listing of all undergraduate and graduate courses taught in the College of Literature, Science, and the Arts may be found in the
LSA Course Guide
.
Germanic Languages and Literatures
812 E. Washington St., 3110 MLB
University of Michigan
Ann Arbor, MI 48109-1275
[email protected]
Click to call 734.764.8018
734.764.8018
734.763.6557
Sitemap
Instagram
LinkedIn
Information For
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan

### Supplement: Courses
Source: https://lsa.umich.edu/lsa/academics/courses.html

Page header:
page title: Courses | U-M LSA U-M College of LSA
og:description: University of Michigan's Literature, Science, and the Arts Course Guide will help you find available classes searchable by subject, instructor, keyword, and more.

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Courses
Courses
Academics
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Bulletin Archive
Key to Course Listing Notations
SUBJECT Guide
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Courses
Academics
Majors and Minors
Departments and Units
Courses
LSA Bulletin Archive
Key to Course Listing Notations
SUBJECT Guide
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Frauds and Fantastic Claims in Archaeology.
Physics of the Body and Mind.
Financial Mathematics.
Gender and the Law.
These courses and more are part of a comprehensive LSA curriculum that is thoughtful, practical, and, best of all, overwhelmingly fascinating. The
LSA Course Guide
will help you find available classes searchable by subject, instructor, keyword, and more.
An even broader view of our curriculum is available through the
LSA Course Catalog
– a comprehensive list of all courses currently active and recently offered by the College – searchable by subject, department, or requirement.
Feeling uncertain about what to study? The experts at LSA’s
Newnan Advising Center
can help you develop your academic goals, make informed decisions, and gain independence through access to full-time, peer, and departmental advisors.
LSA Course Catalog: A comprehensive list of all current and recently offered LSA courses
Course Bulletin Archive
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan

### Supplement: Browse copies of past LSA bulletins
Source: https://lsa.umich.edu/lsa/academics/courses/course-bulletin-archive.html

Page header:
page title: LSA Bulletin Archive | U-M LSA U-M College of LSA

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Courses
LSA Bulletin Archive
...
LSA Bulletin Archive
Academics
Courses
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Bulletin Archive
Key to Course Listing Notations
SUBJECT Guide
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
LSA Bulletin Archive
Academics
Majors and Minors
Departments and Units
Courses
LSA Bulletin Archive
Key to Course Listing Notations
SUBJECT Guide
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
LSA Bulletin 2025-2026
LSA Bulletin 2024-2025
LSA Bulletin 2023-2024
LSA Bulletin 2022-2023
LSA Bulletin 2021-2022
LSA Bulletin 2020-2021
LSA Bulletin 2019-2020
LSA Bulletin 2018-2019
LSA Bulletin 2017-2018
LSA Bulletin 2016-2017
LSA Bulletin 2015-2016
LSA Bulletin 2014-2015
LSA Bulletin 2013-2014
LSA Bulletin 2012-2013
LSA Bulletin 2011-2012
LSA Bulletin 2010-2011
If you require access to older LSA Bulletin content, please email
lsa.saa.office@umich.edu
with your request.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
