Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
German Major
...
German Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
German Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Winter 2017
Advising
German Major
— A plan for the major in German is developed in consultation with and must be approved by Karl-Georg Federhofer or Mary Rodena-Krasan the department advisors. Appointments are scheduled online at https://lsa.umich.edu/german/undergraduate-students/german-studies/german-advising.html.
German Department faculty are also available to students during regularly scheduled office hours which are posted on the bulletin board outside 3110 Modern Languages Building.
German Minors
— Students wishing to pursue a minor in German Studies must develop a specific plan for its completion in consultation with Kalli Federhofer or Mary Rodena-Krasan, the department advisors. Appointments are scheduled online at https://lsa.umich.edu/german/undergraduate-students/german-studies/german-advising.html.
Scandinavian Minor
— Students wishing to pursue a minor in Scandinavian Studies must develop a specific plan for its completion in consultation with
Johanna Eriksson
,
johannae@umich.ed
u.
Grade Policies
Students must earn a grade of C- or better in all required courses.
Prerequisites
GERMAN 230, 232, RCLANG 291, or the equivalent (AP/IB score, placement test, transfer credits).
Requirements
Minimum Credits:
30
30 credits beyond GERMAN 232 must include GERMAN 325 or 326, three 300-level courses; GERMAN 425 or 426, three 400-level courses; and at least two additional GERMAN courses numbered GERMAN 300 or higher.
Other Department Policies
Placement Test and Retroactive Credit
Students with high-school credit for German who intend to complete the A.B./B.S. language requirement in German must take a placement test administered by Germanic Languages. The placement test is advisory: students may attempt a higher course than their placement indicates without departmental permission, but must obtain departmental permission to take a lower-level course than their score indicates. LSA students who have attained fourth-term proficiency (GERMAN 232 or the equivalent) are considered to have satisfied the language requirement and may elect more advanced courses. LSA students whose first German course at the U of M is GERMAN 232 are normally eligible for four additional retroactive credits if they complete the course with a grade of "B" or better. Students whose first course is at or above the 300-level are normally eligible for 8 additional retroactive credits. For details, consult the
Guidelines for Retroactive Credits
on this website.
Questions regarding placement and the placement test should be directed to Professor
Hartmut Rastalsky
.
Information about graduate opportunities and careers
Information about graduate opportunities and careers specifically available to students majoring or minoring in German may be obtained from the Department office.
Residency
A minimum of 15 of the required 30 credits must be taken either in residence at Michigan or through a study abroad program affiliated with the University of Michigan.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the GERMAN, DUTCH, and SCAND subject areas may not be used toward the Distribution Requirement.
Honors
In meeting the requirements stated above, students admitted to the Honors major must include GERMAN 491 and 492 (Honors proseminar and thesis). Completion of preliminary work is a prerequisite to acceptance in the Honors major in German. Admission is granted to qualified students at the end of the junior year. Students must maintain a GPA of 3.7 or higher in German and an overall GPA of 3.4 or higher.
For further information, consult
Karl-Georg Federhofer
(
kallimz@umich.edu
) or
Mary Rodena-Krasan
(
mkrasan@umich.edu
).
Teaching Certificate
To secure departmental recommendation for a teaching major, students have to complete a minimum of 34 credits. For a list of the requirements, students should go to: www.soe.umich.edu/files/secondary_german_major_current.pdf. We strongly recommend that students enroll in GERMAN 531 (Fall). To meet the requirements for a teaching minor in German, students should complete GERMAN 325 or 326, any two courses selected from among GERMAN 381, 382, 383, 384, 385, and eight additional credits of senior work (GERMAN 425, 426 and 531 are particularly recommended).
All teaching certificate candidates should consult Karl-Georg Federhofer (
kallimz@umich.edu
) or Mary Rodena-Krasan (
mkrasan@umich.edu
).
German Major (Winter 2014 - Fall 2016)
Effective Winter 2014
The objectives of the major in German are:
to develop facility in the use of German;
to provide an integrated knowledge of major German writers in various disciplines; and
to gain insight into all aspects of German culture.
The major in German provides valuable background for work in all areas of today's global economy, and in the traditional areas of application of language study, such as international relations, teaching, translating, and the tourism industry. Consequently, dual majors in German and another subject (History, Political Science,
etc.)
are strongly encouraged.
Special Departmental Policy
Effective Winter 2016
Students must earn a grade of C- or better in all required courses (German major, German Studies minor)
Prerequisites to the Major
GERMAN 232, or the equivalent.
Prerequisite to Declaration
Students can declare a major at any stage during their undergraduate years.
Requirements for the Major
30 credits beyond GERMAN 232 must include GERMAN 325 or 326, three 300-level courses; GERMAN 425 or 426, three 400-level courses; and at least two additional GERMAN courses numbered GERMAN 300 or higher.
A minimum of 15 of the required 30 credits must be taken either in residence at Michigan or through a study abroad program affiliated with the University of Michigan.
Honors Plan
In meeting the requirements stated above, students admitted to the Honors major must include GERMAN 491 and 492 (Honors proseminar and thesis). Completion of preliminary work is a prerequisite to acceptance in the Honors major in German. Admission is granted to qualified students at the end of the junior year. Students must maintain a GPA of 3.7 or higher in German and an overall GPA of 3.4 or higher.
German Major (Fall 2012-Fall 2013)
changes effective Fall 2012-Fall 2013
May be elected as a departmental major
The objectives of the major in German are:
to develop facility in the use of German;
to provide an integrated knowledge of major German writers in various disciplines; and
to gain insight into all aspects of German culture.
The major in German provides valuable background for work in all areas of today's global economy, and in the traditional areas of application of language study, such as international relations, teaching, translating, and the tourism industry. Consequently, dual majors in German and another subject (History, Political Science,
etc.)
are strongly encouraged.
Prerequisites to the Major
GERMAN 232, or the equivalent.
Prerequisite to Declaration
Students can declare a major at any stage during their undergraduate years.
Requirements for the Major
Required are 30 credits beyond GERMAN 232 are required. Coursed must include GERMAN 325 or 326, three 300-level courses; German 425 or 426, three 400-level courses; and at least two additional GERMAN courses numbered GERMAN 300 or higher, which may include courses taught in English.
A minimum of 15 of the required 30 credits must be taken either in residence at Michigan or through a study abroad program affiliated with the University of Michigan.
For further information, contact
Karl-Georg Federhofer
(
kallimz@umich.edu
) or
Andrew Mills
(
ajmills@umich.edu
).
Honors Plan
In meeting the requirements stated above, students admitted to the Honors major must include GERMAN 491 and 492 (Honors proseminar and thesis). Completion of preliminary work is a prerequisite to acceptance in the Honors major in German. Admission is granted to qualified students at the end of the junior year. Students must maintain a GPA of 3.7 or higher in German and an overall GPA of 3.4 or higher.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
