Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
Mathematics
About Us
People
Centers & Outreach
Seminars, Colloquia & Lectures
News & Events
for
Undergraduates
Graduates
Alumni & Friends
Research
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Keyword Search of math
Home
About Us
People
Centers & Outreach
Seminars, Colloquia & Lectures
News & Events
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
for
Undergraduates
Graduates
Alumni & Friends
Research
Your First Math Course at UofM:  A Guide for Incoming Students
Advising
Frequently Asked Questions
Research and Career Opportunities
Transfer Credit
Undergraduate Math Courses
Awards, Scholarships, and Prizes
Graduation
Resources
Major and Minor Programs
Extracurricular Activities
Policies
Student Spotlight
Admissions
Programs
Students On the Job Market - AIM & Math
Awards & Fellowships
Recent Ph.D. Recipients
Student Spotlight - AIM & Math
Courses
Student Handbook - AIM & Math
Thesis Defense Schedule
Newsletters
Giving to Mathematics
Algebra and Algebraic Geometry
Combinatorics
Financial and Actuarial Mathematics
Mathematical Biology
Number Theory
Research Training Grant
Analysis
Computer Science
Geometry & Topology
Mathematical Physics
Probability Theory
Named Postdoctoral Fellows
Applied Mathematics
Differential Equations
Logic and Foundations
Mathematics Education
Scientific Computing
Skip to Page Content
Undergraduates
Major and Minor Programs
Secondary Mathematics Teaching Certificate
...
Secondary Mathematics Teaching Certificate
Undergraduates
Major and Minor Programs
[X] close
Undergraduates
Your First Math Course at UofM:  A Guide for Incoming Students
Undergraduate Math Courses
Major and Minor Programs
Declaring a Mathematics Major
Actuarial Mathematics
Honors Mathematics
Mathematics of Finance and Risk Management
Mathematical Sciences
Pure Mathematics
Secondary Mathematics Teaching Certificate
Mathematics Minor
Advising
Awards, Scholarships, and Prizes
Extracurricular Activities
Frequently Asked Questions
Graduation
Policies
Research and Career Opportunities
Resources
Student Spotlight
Transfer Credit
Secondary Mathematics Teaching Certificate
Undergraduates
Your First Math Course at UofM:  A Guide for Incoming Students
Undergraduate Math Courses
Major and Minor Programs
Declaring a Mathematics Major
Actuarial Mathematics
Honors Mathematics
Mathematics of Finance and Risk Management
Mathematical Sciences
Pure Mathematics
Secondary Mathematics Teaching Certificate
Mathematics Minor
Advising
Awards, Scholarships, and Prizes
Extracurricular Activities
Frequently Asked Questions
Graduation
Policies
Research and Career Opportunities
Resources
Student Spotlight
Transfer Credit
The Secondary Mathematics Teaching Certificate program is designed to provide the broad training in mathematics necessary to be a successful teacher of mathematics at the secondary level, grades 7–12. The requirements for a Secondary Teaching Certificate with a major in Mathematics may be met while earning a degree from the College of Literature, Science, and the Arts (A.B., B.S., or B.G.S.) or from the
School of Education
(A.B. Ed. or B.S. Ed.).
Major requirements are identical for all of these degrees, although LSA and Education have somewhat differing language and distribution requirements. LSA degree candidates must earn at least 104 LSA credits and at least 30 Education credits. Please note that the LSA B.S. degree requires 60 credits in physical and natural science and mathematics; students with less than 60 credits are eligible for an A.B. degree. Appointments with a Mathematics Department teaching certificate advisor
may be scheduled online
. For information specific to the
School of Education
, students should contact the SoE Office of Student Services, 1228 SEB, 734.764.7563. It is essential that students planning to obtain a teaching certificate consult a teaching certificate advisor, either in Mathematics or Education, prior to beginning their concentration program.
The SoE application deadline for fall term admission to the certification program is February 1.  Applications received after Februar1 are reviewed on a rolling basis through May 1.
Students are encouraged to apply during their sophomore year.
The School of Education will also accept winter term applications received by October 1 of a student's junior year.
Teaching Certificate Subplan Checklist
I. Prerequisites
The math prerequisites for the teaching certificate program are Math 205 or 215 and 217 and a working knowledge of a high-level computer language (
e.g.
Fortran, C or C++) at a level equivalent to completion of EECS 183.
II. Basic Courses
The basic courses for a candidate for a teaching certificate consist of one course from each of the following five groups (chosen with the approval of a teaching certificate advisor), completed with a grade of at least a C-:
Modern Algebra / Number Theory:
Math 487
Geometry:
Math 431
Probability:
Math 425 or 525
Analysis:
Math 351 or 451
Secondary Mathematics:
Math 486
III. Specific Courses
The program requires 10 specific Education courses, listed below, totaling 30 credits. These are elected in the junior and senior years in a specified order.
Consult with the School of Education Office of Student Services for the order and timing of these courses.
Methods of Teaching Mathematics (or minor field): EDUC 413 (3 credits)
Practicum in Teaching Methods: EDUC 307I and 307II (4 credits)
Educational Psychology: EDUC 391 (3 credits)
Reading and Writing: EDUC 402 (3 credits)
Education in a Multi-cultural Society: EDUC 392 (3 credits)
Directed Teaching: EDUC 302 (10 credits)
Problems and Principles of Secondary Education: EDUC 304 (2 credits)
Teaching with Technology: EDUC 446 (1 credit)
Teaching Students with Exceptionalities: EDUC 445 (1 credit)
The last 4 of these are to be elected concurrently.
We repeat: students must apply for admission to the certification program during their sophomore year
. Forms are available at the
School of Education
, Office of Student Services 1228 SEB.
Additional Requirements
Every student must successfully complete an introductory course in psychology (should be taken before Ed 391) and Michigan's licensure requirements.
Every Teaching Certificate student must also obtain a concentration or minor (SOE, not LSA) in another academic field. This normally requires 20–24 credits in a structured program in an area other than mathematics. Consult the
Bulletin of the School of Education
for acceptable programs.
Print a
Mathematics Teaching Certificate Worksheet
Mathematics
2074 East Hall
530 Church Street
Ann Arbor, MI 48109-1043
Undergraduate Students:
math-undergrad-office@umich.edu
Graduate Students:
math-grad-office@umich.edu
Department Administration:
math-admin-office@umich.edu
Website Updates:
math-comm-web@umich.edu
Intranet
Click to call 734.764.0335
734.764.0335
Sitemap
Information For
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
