Page header:
page title: Major — Michigan Materials Science and Engineering

Visible page text:
Skip to Main Content
Materials Science & Engineering
About Us
Overview & Mission
Welcome from the Chair
What is MSE?
Maps & Directions
Contact
Undergraduate Study
Overview
Programs
Overview
Major
Minor
SUGS
Considering the MSE Major?
Advising & Resources
Undergraduate Courses
Facilities
Overview
Van Vlack Lab
Research/Internships
Student Organizations/Teams
Careers
Accreditation
Graduate Study
Overview
Admissions
MS Degree Requirements
PhD Degree Requirements
Graduate Courses
Graduate Advising & Forms
GSI Information
Grad Student Council
SURE/SROP
Research
Overview
Hanawalt XMAL
Equipment Booking
Centers
People
Directory
Faculty
Courtesy Faculty
Lecturers
Adjunct Faculty
Emeritus Faculty
Staff
Research Scientists
Graduate Students
Research Fellows
News & Events
Overview
News
Events
Videos
Outreach
Faculty Awards
Newsletters
Van Vlack Lectureship
Pehlke Lectureship
Alumni
News
Giving
Newsletters
Alumni Merit Awards
Distinguished Alumni Lecture
External Advisory Board
Alumni Profiles
CONNECT WITH US:
About Us
Overview & Mission
Welcome from the Chair
What is MSE?
Maps & Directions
Contact
Undergraduate Study
Overview
Programs
Overview
Major
Minor
SUGS
Considering the MSE Major?
Advising & Resources
Undergraduate Courses
Facilities
Overview
Van Vlack Lab
Research/Internships
Student Organizations/Teams
Careers
Accreditation
Graduate Study
Overview
Admissions
MS Degree Requirements
PhD Degree Requirements
Graduate Courses
Graduate Advising & Forms
GSI Information
Grad Student Council
SURE/SROP
Research
Overview
Hanawalt XMAL
Equipment Booking
Centers
People
Directory
Faculty
Courtesy Faculty
Lecturers
Adjunct Faculty
Emeritus Faculty
Staff
Research Scientists
Graduate Students
Research Fellows
News & Events
Overview
News
Events
Videos
Outreach
Faculty Awards
Newsletters
Van Vlack Lectureship
Pehlke Lectureship
Alumni
News
Giving
Newsletters
Alumni Merit Awards
Distinguished Alumni Lecture
External Advisory Board
Alumni Profiles
Info
Major
Undergraduate
Programs
Major
Minor
SUGS
Considering the MSE major?
Advising & Resources
Undergraduate Courses
Facilities
Research/Internships
Student Organizations/Teams
Careers
Accreditation
So you just declared as an MSE major! Now what?
Program requirements
128
credits total
39
credits:
College of Engineering Common Requirements
Eng 100(4), Eng 101(4) or equivalent
Maths 115(4), 116(4), 215(4), 216(4)
Phys 140-141(5),  240-241(5)
Chem 130-125/126 or 210/211
Note about Eng 101 equivalency:
The MSE program will not accept EECS 183, AP computer science credit, or similar courses for EECS 101 unless the student takes a course that covers MATLAB for engineering computation, such as ENG 161 or our new math course MSE 293 (for now - it will get a new number next year).  Either of these courses will count as Science & Technical electives.
14
or more credits: Science and Technical Electives (a total of at least 53 credits between S&T and common courses)
What makes a course a science and tech elective?
Science and Technical Elective = any course with one or more pre-requisites amongst the CoE core courses; course content should not overlap with any MSE credits.
Must include ME 211(4)
Must include a Math course from the following:
STATS 412 (3) Intro to probability – suggested year: sophomore
EECS 301 (4) Probabilistic methods in engineering – suggested year: sophomore
Math 417 (3) Matrix algebra I – suggested year: sophomore/junior
Math 404 (3) Intermediate differential eqs – suggested year: junior
Math 471 (3) Intro to numerical methods – suggested year: sophomore/junior
Math 450 (4) Advanced math for engineers – suggested year: junior
PHYSICS 351 (3) Methods of Theoretical Physics I – suggested year: junior
ENG 570 (4): Methods and Practice of Scientific Computing – suggested year: junior/senior
Note that CHEM 210 is not required. Students interested in soft materials may want to take the course, which will count as a Science and Technical Elective.
MSE 281 and some sections of MSE 293 do not count as a Science or Technical Elective.   See an MSE advisor.
To find courses:
College of Engineering Bulletin
or
LS&A course guide
.
16
credits:
Intellectual Breadth
(IB)
47
credits:
MSE courses
Core courses:
MATSCI 220/250(4): Introduction to Materials and Manufacturing / Principles of Engineering Materials
MATSCI 242(4): Physics of Materials (W)
MATSCI 330(4): Thermodynamics of Materials (F)
MATSCI 335(4): Kinetics and Transport in Materials Engineering (W)
MATSCI 350(4): Structures of Materials (F)
MATSCI 360(3): Materials Laboratory I (F)
MATSCI 365(3): Materials Laboratory II (W)
MATSCI 420(3): Mechanical properties of Materials (F)
MATSCI 481(3): Sustainable Design of Materials and Engineering (F)
MATSCI 482(3): Materials Processing Design (W)
4 MSE Electives to select from:
MATSCI 400(3): Electronic, Magnetic, and Optical Materials for Modern Device Technology (F)
MATSCI 410(3): Design and Applications of Biomaterials (F)
MATSCI 412(3): Polymeric Materials (F)
MATSCI 440(3): Ceramic Materials (W)
MATSCI 454(3): Computational Approaches in MSE (F)
MATSCI 465(3): Structural and Chemical Characterization of Materials (W)
MATSCI 470(3): Physical Metallurgy (W)
MATSCI 514(3): Composite Materials (W)
MATSCI 490(3): Research Problems in Materials Science and Engineering (
Research Proposal Form)
.
The video (it is actually just audio) describes MSE 490.  Please send completed materials to be reviewed to Faculty Advisor Dr. Kathy Sevener (ksevener@unich.edu) and Undergraduate Advisor Molly Thornbladh (mthornbl@umich.edu).
MATSCI 493(3): Special Topics
MATSCI 5XX(3) -
Graduate course
Not all 500-level courses will count as MSE electives or Science and Technical electives.  Please check with the MSE advisor before selecting a 500-level course to satisfy these requirements.
12
or more credits: General Electives
F - Course offer Fall Term
W - Course offer Winter Term
Grades:
You must earn at least a C- in all of your courses for an MS&E undergraduate degree.
Pass/Fail grades:
Elective courses in Humanities and Social Sciences and General electives ONLY may be elected Pass/Fail. No more than 4 courses or 14 credit hours (whichever comes first) can be elected Pass/Fail.
Course flow & pre-requisites -
click for larger version
Sample schedule
Materials Science and Engineering Sample Schedule
Credit Hours
Semester
1
2
3
4
5
6
7
8
Subjects Required by all programs
Mathematics 115, 116, 215, and 216
16
Semester 1
4
Semester 2
4
Semester 3
4
Semester 4
4
Engineering 100, Introduction to Engineering
4
Semester 1
4
Engineering 101, Introduction to Computers
4
Semester 2
4
Chemistry 125/126 and 130 or Chemistry 210 and 211
5
Semester 1
5
Physics 140 with Lab 141; Physics 240 with Lab 241
10
Semester 2
5
Semester 3
5
Intellectual Breadth
16
Semester 1
4
Semester 2
4
Semester 4
4
Semester 6
4
Science and Technical Subjects (14 hours)
ME 211, Introduction to Solid Mechanics
4
Semester 4
4
Science and Technical Electives (must include math course from MSE list)
10
Semester 6
3
Semester 7
4
Semester 8
3
Program Subjects (47 hours)
MSE 250, Principles of Engineering Materials or MSE 220, Introduction to Materials and Manufacturing
4
Semester 3
4
MSE 242, Physics of Materials
4
Semester 4
4
MSE 330, Thermodynamics of Materials
4
Semester 5
4
MSE 335, Kinetics and Transport in Materials Engineering
4
Semester 6
4
MSE 350, Structure of Materials
4
Semester 5
4
MSE 360, Materials Lab I
3
Semester 5
3
MSE 365, Materials Lab II
3
Semester 6
3
MSE 420, Mechanical Behavior of Materials
3
Semester 7
3
MSE 481, Designing Sustainable Products and Processes
3
Semester 8
3
MSE 482, Product Deign and Manufacturing
3
Semester 7
3
Choose four MSE courses 400 level or above
12
Semester 5
3
Semester 7
3
Semester 8
6
Electives
General Electives
12
Semester 3
3
Semester 6
3
Semester 7
3
Semester 8
3
Total
128
17
17
16
16
14
17
16
15
Build your own schedule
Google Sheet Template
Submit your course plan for review by the MSE advisors:
Copy this link into a browser:
https://deptapps.engin.umich.edu/undergrad/plan/degreeplan?dept=221800&emplid=XXXXXX
Replace the XXs with your UMich ID number
Note that MSE courses are only offered once a year, except for MSE220/250.
Check the schedule
for the upcoming semesters.
College of Engineering courses
LS&A courses
I want to do the MSE Major and a Minor in another program…
One third of the MSE students pursue minors or dual degrees. Some of the most popular degrees and Minors to combine with an MSE degree include:
Chemistry
Computer Science
Energy and Science Policy
Entrepreneurship
Environmental Engineering
International Minor for Engineers
Language: check the departmental requirements and remember to check with
IPE
to fulfill any residency requirements / IB requirements
Math
Multi-disciplinary Design
Physics
But there are many others!
I want to declare…
At this time, e
mail us or make an appointment for an online meeting
.
