Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Polish Major
...
Polish Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Polish Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Winter 2013
Advising
Piotr Westwalewicz should be consulted by prospective majors before the end of the sophomore year. Appointments are scheduled online at
www.lsa.umich.edu/slavic/undergraduate/advising
.
Prerequisites
POLISH 121, 122, 221, and 222, or the equivalent.
Requirements
Minimum Credits:
27
At least 15 of the 27 credits must be upper-level (300 or above).
Polish Language:
6-12 credits of POLISH 321, 322, 421, 422; or equivalent
Polish Literature:
6-9 credits of POLISH 325, 326, 432
Polish Culture:
6-9 credits of POLISH 214, 215, 314, 450, SLAVIC 490*
Electives.
3-9 credits of:
SLAVIC 225, 240, 270, 312, 396, 490* (Polish topics);
HISTORY 330, 331
REEES 396
*(appropriate sections of SLAVIC 490 include “Rock Kills Communism” and “Revolution in the Attic”)
Up to two terms of another Slavic language (Bosnian / Croatian / Serbian, Czech, Russian, Ukrainian); see department for additional course options).
Residency
At least 15 of the 27 required credits must be taken in residence or through a study abroad program affiliated with the University of Michigan.  Study Abroad credit may count toward the major. Please consult with the Polish advisor prior to studying abroad.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the RUSSIAN, BCS, CZECH, POLISH, SLAVIC, and UKR subject areas may not be used toward the Distribution Requirement.
Polish Major (Winter 2010-Fall 2012)
May be elected as a departmental major
Effective  (Winter 2010-Fall 2012)
Prerequisites to the Major
POLISH 121, 122, 221, and 222, or the equivalent.
Requirements for the Major
1.
Core Courses (12 credits):
POLISH 321 and 322, or 421 and 422; POLISH 325, 326
2.
Electives (15 credits):
HISTORY 330, 331, 482
POLISH 314, 432
POLISH 450 (up to 3 credits)
REEES 396
SLAVIC 225, 240, 270, 312, 396, 490 (Polish topics);
Two terms of another Slavic language (Bosnian / Croatian / Serbian, Czech, Russian, Ukrainian)
Honors Plan.
Undergraduate majors who have maintained a 3.5 grade point average in Polish courses and 3.4 overall GPA may apply for admission to the Honors major. In addition to regular requirements for the major, qualified Honors majors work on a major project during the senior year, and complete an Honors thesis based on their research.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
