Page header:
page title: Drama Major | U-M LSA U-M College of LSA

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Drama Major
...
Drama Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Drama Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Winter 2024
Advising
1813 East Quadrangle
(734) 647-2745
Students can schedule appointments  with the Drama advisor
here
or by stopping by the offices at 1813 East Quadrangle.
Prerequisites
None.
Requirements
Minimum Credits:
35
Students within the major elect one foundational requirement course and one capstone requirement course, with the remaining coursework chosen from a list of approved electives to reach the minimum 35-credits.
Courses that count toward the foundational requirement
(choose one):
RCDRAMA 281 Inside the Dramatic Experience
RCDRAMA 282 Drama and Interpretation
Courses that count toward the capstone requirement
(choose one):
RCDRAMA 481: Play Production Seminar (capstone requirement is usually filled by this course, but may be filled by one of the three other courses listed)
RCCORE 307 College Teaching (Student Teaching Internship)
RCCORE 406 Independent Study
RCDRAMA 483 Shakespeare in the Arb
Other courses — electives
(choose a minimum of 27 credits):
THTREMUS 101 Intro to Acting I
THTREMUS 102 Intro to Acting II
THTREMUS 110 Intro to Acting for the Camera
THTREMUS 227 / ENGLISH 227 Introductory Playwriting
THTREMUS 240 Introduction to Design
THTREMUS 241 Directing I
THTREMUS 250 Introduction to Technical Theatre Practice
THTREMUS 251 Practicum I
THTREMUS 321 Theatre History I
THTREMUS 322 Theatre History II
THTREMUS 323 / ENGLISH 349 American Theatre and Drama
RCDRAMA 332 The Atonement Project
RCDRAMA 334 Latina/o Theatre for Social Change
RCDRAMA 335 Theatre and Incarceration
RCDRAMA 381 Shakespeare on the Stage
RCDRAMA 383 Ibsen, Strindberg, and Chekhov
RCDRAMA 387 Masterpieces of Renaissance Drama: Shakespeare’s Contemporaries
RCDRAMA 389 The Modern Theater: Marginalized Roles in American Musical Theater
RCDRAMA 390 Special Topics in Period and Place Drama
RCDRAMA 483 Shakespeare in the Arb'
RCDRAMA 482 Director and Text
RCDRAMA 485 Special Drama Topics
RCHUMS 334 Theatre, Music, and Arts through the Lens of 20th Century American Politics
RCHUMS 334 Advanced Practice in Community Engagement through the Arts
RCHUMS 341 Community Empowerment through the Arts
RCMUSIC 254 The Human Voice as Acoustical Instrument
ENGLISH 293-001 Great Works: Hamlet, Hamlet, Hamlet
ENGLISH 293-002 Great Works: Art and Activism in Four Plays by Arthur Miller
ENGLISH 346 001 Disaster Plays
ENGLISH 349 American Theatre and Drama
ENGLISH 427 Advanced Playwriting
Other courses as approved by the Drama Program head
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the THTREMUS subject area may not be used toward the Distribution Requirement.
Drama (Major) (Fall 2015 - Fall 2023)
Effective Fall 2015
Advising
1813 East Quadrangle
(734) 647-2745
www.lsa.umich.edu/rc
The Residential College (RC) is a four-year undergraduate liberal arts program with about 900 students and 60 faculty, situated within LSA. All RC advisors are RC faculty members and are available to meet with students to discuss RC and LSA requirements, possible majors, graduation requirements, etc. The RC
Board on Academic Standing
considers petitions submitted by RC students relating to requirements, deadlines, and academic circumstances. Appointments with academic advisors can be scheduled by calling the RC Academic Services Office at (734) 647-2745 or by stopping by the offices at 1813 East Quadrangle.
Prerequisites
None.
Requirements
Minimum Credits:
35
Theater History sequence:
THTREMUS 321 and 322
Fundamentals of acting and script analysis:
One of RCHUMS 281 or RCHUMS 282
One of THTREMUS 101 or 110 or 102
The Senior Capstone.
RCHUMS 481.
Category Requirement.
Five courses, with at least two in each category, for a total of at least 18 credits
Actor and Text.
Choose at least two from:
RCHUMS 383, 387, 389, 390, 483, 485
THTREMUS 233, 323
AAS 342
ENGLISH 349
Design and Production.
Choose at least two from:
RCHUMS 482
THTREMUS 227, 240, 241, 250, 251
ENGLISH 227
Other Department Policies
RC Players.
The RC Players is a student-run theater organization that provides students all over campus with the opportunity to showcase their talent in acting, directing, producing, and more. RC Players provide leadership opportunities and venues for creative and dramatic expression through its various student-written and published theatrical pieces in East Quad. Past productions have included Evenings of Scenes, premieres of original student-written works, student-senior theses that reflect and re-enact their undergraduate experiences, various experimental texts, and the modestly (in)famous Kamikaze Theater. We are open to all students across campus, but provide the unique advantage to become active and creative within the East Quad and RC community, even without any prior experience.
www.umich.edu/~rcplayer/
Shakespeare in the Arb.
A theater production of the LSA Residential College that moves through different areas of the Nichols Arboretum. The unique experience of Shakespeare in the Arb comes from the environmental staging of the plays. There is no fixed stage-instead, the audience follows the action through different locations in the Arboretum. The staging takes advantage of the vistas and valleys, the special arrangements of the natural settings. Performances held Thursday-Sunday evenings in June. This beloved annual tradition is eagerly anticipated by the community and commands sold-out performances.
http://www.lsa.umich.edu/rc/currentstudents/shakespeareinthearb
German Theatre Program.
U-M RC Deutsches Theater is part of the RC Intensive German Language Program. It has staged plays in German annually since 1985. The group travels to Munich or Berlin each year to see theater.
http://www-personal.umich.edu/~jshie/
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the THTREMUS subject area may not be used toward the Distribution Requirement.
Drama Major (Winter 2012-Winter 2015)
May be elected as a departmental major
Effective  Winter 2012-Winter 2015
The
RC Drama program
offers a unique course of study at U-M: the understanding of drama both as art form and literature. They learn to understand all the stages of the dramatic process - from the circumstances of a work's composition, to the history of theater methods and presentation. Students attune their sense of theater aesthetic through practice and experimentation. They immerse themselves in the dramatic process as actors and directors as well as learning about all the aspects of production: costuming, scenery, lighting and sound design.
The Drama major is operated in collaboration with the Department of Theatre and Drama. The major combines the strengths and faculty resources of the RC and Theatre and Drama.
The RC brings strengths in a humanities approach to drama and the dramatic arts, most notably in its Text-to-Performance orientation that combines the literary, the historical, and the theatrical.
Theatre and Drama contributes expertise in design, production, and practicum work, thereby exposing students to the best of both worlds.
Both programs offer students a variety of hands-on experiences and opportunities to study, explore, and perform.
Students have the opportunity to explore the fields of dramaturgy, directing, the teaching of dramatic literature, and practical theatre as it relates to theory; and to study dramatic texts and experience performance and production. It consists of 35 credits that move from introductory courses to those along two distinct upper-level tracks. The major culminates in a play production capstone seminar that brings all the elements of this major into focus.
The Program regards drama as an art form that is both literary and theatrical, drawing on these and many other arts for its expression, but claiming methods and purposes which are finally its own. A proper appreciation of drama requires the recognition and study of several stages in the making of a play, primarily those of the playwright and his conditions of work, the text and form of the play, the performance of the play, and the audience and society from which the play arises and to whom it is addressed. This demands a practical as well as a theoretical encounter with all the components of the dramatic experience. Accordingly, the method of study employed by the Drama Program combines active experiment and dynamic presentation with critical analysis and appropriate conditions for interpreting, enjoying, and evaluating the living work of dramatic art.
Prerequisites to the Major
None
Requirements for the major
Students wishing to pursue a sustained exploration of dramatic literature and its performance must complete a minimum of 35 credits of course work, distributed as follows:
Theater History sequence
:  THTREMUS 321 and 322
Fundamentals of acting and script analysis:
One of RCHUMS 281 or RCHUMS 282
One of THTREMUS 101 or 110 or 102
The Senior Capstone.
RCHUMS 481.
Category Requirement.
Six courses, with at least two in each category, for a total of at least 18 credits
Actor and Text.
Choose at least two from:
RCHUMS 383, 387, 389, 390, 483, 485
THTREMUS 233, 323
AAS 342
ENGLISH 349
Design and Production.
Choose at least two from:
RCHUMS 482
THTREMUS 227, 240, 241, 250, 251
ENGLISH 227
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
