Beyond the Curriculum
Learning Outside the Box
While SMTD’s robust academic offerings sustain artistic and scholarly traditions, complementary experiential programs encourage students to grow beyond them. Immersed in this world of possibility, our exceptional students challenge and encourage each other to re-envision the future. SMTD students take full advantage of our abundant resources and opportunities to enhance their educational experiences, and to ensure that they are prepared for a fulfilling and successful future.
On This Page
EXCEL Lab
Global Experiences with SMTD
Community Outreach
Student Organizations & Activities
Health & Wellness
The EXCEL Lab
The Excellence in Entrepreneurship, Career Empowerment & Leadership (EXCEL) Lab is SMTD’s home base for performing arts entrepreneurship, leadership, and career services. We take a personalized, collaborative approach to professional development by first exploring students’ individual visions and goals, and then connecting them with the resources they need to thrive.
Global Experiences with SMTD
SMTD is committed to supporting students in
studying and performing abroad
, and to supporting research and diverse visiting artists and scholars through our
Center for World Performance Studies
. From performance tours, to collaborations with teachers, artists, and other students, to semester-long study abroad, students advance professional and life skills while also jump-starting their burgeoning careers.
Global Experiences with SMTD
SMTD is committed to supporting students in
studying and performing abroad
, and to supporting research and diverse visiting artists and scholars through our
Center for World Performance Studies
. From performance tours, to collaborations with teachers, artists, and other students, to semester-long study abroad, students advance professional and life skills while also jump-starting their burgeoning careers.
Community Outreach
As a public institution, the University of Michigan has a mission to serve our community – a mission SMTD embraces. We present hundreds of performances that are free and open to the public, and we offer extensive programs that share the deep expertise residing within our school with both adult and youth learners. SMTD strives to make the transformative power of the performing arts accessible to populations and communities throughout Michigan, including public schools, senior living facilities, hospitals and community centers, while preparing SMTD students to become highly engaged artist-citizens.
Student Organizations & Activities
The University of Michigan offers a wide variety of unique experiences for students on campus and in the community.
Browse all U-M organizations and events on Maize Pages
.
Student Organizations and Activities
The University of Michigan offers a wide variety of unique experiences for students on campus and in the community.
Browse all U-M organizations and events on Maize Pages
.
Health & Wellness
There are a multitude of resources both at SMTD and at U-M to support every aspect of your wellness. The SMTD Wellness Program offers a variety of workshops, services, and courses geared towards prevention and recovery. Ongoing services and classes include: Mind-Body Balance Series (Yoga, Tai Chi, etc.), Wellness Mini-Series, Performing Arts Health Clinic, Wellness Coaching, and more!
Questions?
Contact Us
