Visible page text:
BME Undergraduate Curriculum
College of Engineering Core Requirements                Credit Hours
Calculus I Math 115                                                                 4
*
or MATH 120 (AP Credit), or MATH 185
Calculus II Math 116                                                                 4
*
or MATH 121 (AP Credit), or MATH 156, or MATH 186
Calculus III Math 215                                                                4
or MATH 285
Calculus IV Math 216                                                                4
or MATH 286
Engineering 100, Intro to Engineering                                         4
*or ENGLISH 124, ENGLISH 125, or other approved FYWR course
Engineering 101, Intro to Computing                                                 4
*or ENGR 151, EECS 183 +
ENGR 161
,
ROB 102, or EECS 180 +
ENGR 161
Chemistry 125, 126, 130                                                        5
or CHEM 210 & 211
General Physics I Physics 140/141, or Physics 160/161                         5
General Physics II Physics 240/241, or Physics 260/261                        5
Intellectual Breadth
16
Total 55
*For students planning to do the
Cellular and Molecular Biomedical Science Major (CMBS)
within LSA, the 140/240 sequence is highly recommended. If planning to transfer to the College of Engineering, the PHYSICS 140/240 sequence is required for Admissions.
Life & Materials Science Requirements                         Credit Hours
Biology 172                                                                         4
*or 195 (AP Credit), Intro to Biology
MatScie 220                                                                         4
*or 250, Principles of Engineering Materials
Total 8
Biomedical Engineering Core Requirements                 Credit Hours
Biomede 211, Circuits & Systems for BME                                         4
*or EECS 215
Biomede 221, Biophysical Chemistry & Thermodynamics                         4
Biomede 231, Intro to Biomechanics                                                 4
Biomede 241, Statistics, Computation, & Data Analysis                         4
Biomede 350, Intro to BME Design                                                  4
Biomede 418, Quantitative Cell Biology                                         3
Biomede 419, Quantitative Physiology                                         4
Biomede 450, BME Design OR Biomede 451 & 452                                4 or 6 credits
Biomede 458, Bioinstrumentation                                                4
Total 35-37
BME Depth Requirements
Credit Hours
Engineering Expertise                                                         12
Cross-Disciplinary Requirements                                                 6
Profession in Practice                                                                 3
Total
21
Unrestricted Electives
Total 9
Total 128
Additional Curriculum Links for Planning
Visual Example of BME Course Prog
ression
Visual of BME Course Sequencing (Prerequisites)
View Depth Requirement Guide
BME Sample Schedule
BME Student Services Canvas Page
(available to U-M community only)
Includes 4 year plan working documents and the BME Depth Requirement Guide
Last Updated Winter 2026
