Page header:
page title: Middle Eastern and North African Studies Major | U-M LSA U-M College of LSA

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Middle Eastern and North African Studies Major
...
Middle Eastern and North African Studies Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Middle Eastern and North African Studies Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Fall 2016
Exclusions:
Not open to those who elect a major in Near Eastern Studies.
Advising
The Center for Middle Eastern and North African Studies
offers a multidisciplinary area major program to students who want to obtain a broad background on the modern Middle East and North Africa.
International Institute (II) undergraduate academic advisors will assist students in developing a program of study. Students are encouraged to
schedule an advising appointment
with an II undergraduate advisor to discuss prerequisite courses, requirements, declaring, academic planning, course selection, registration, senior releases, and other matters of concern. For more information, visit the
II Advising page
.
Prerequisites
One of the following first-year language sequences or the equivalent:
ARABIC 101 and 102
ARMENIAN 101 and 102
HEBREW 101 and 102
PERSIAN 101 and 102
TURKISH 101 and 102
Strongly recommended:
NEAREAST 200 (Introduction to the Middle East)
AAPTIS 204 (Introduction to Islam)
Requirements
Minimum Credits:
30
A minimum of 30 credits at the 200-level and above, chosen in consultation with and approved by the undergraduate department advisor. The courses chosen must include:
Core Courses
MENAS 493
One 300 or 400-level, advisor approved, course in Anthropology, Sociology, or Women’s Studies
HISTORY 443 and one additional 300 or 400-level, advisor approved, course in pre-1800 Middle East history
Political Science, any one of the following: POLSCI 351, 352, 353.
MENAS Language Requirement for the Major.
One year of the following languages beyond the first year: Arabic, Armenian, Hebrew, Persian, or Turkish.
Electives.
Two approved electives, selected in consultation with the advisor, with appropriate Middle East content.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the MENAS subject area may not be used toward the Distribution Requirement.
Honors
Special arrangements are made for qualified students to elect an Honors major. Candidates for an Honors major undertake independent research which is reported in a senior Honors thesis. Prospective Honors majors should consult with the Honors department advisor before the end of the junior year and should enroll in one of the senior Honors thesis courses approved by the advisor.
Middle Eastern and North African Studies Major (Fall 2015-Summer 2016)
May be elected as an area major
Effective Fall 2015-Summer 2016
Not open to those who elect a major in Near Eastern Studies
Prerequisites to the Major
One of the following first-year language sequences or the equivalent:
Arabic (ARABIC 101 and AAPTIS 102)
Armenian (ARMENIAN 101 and AAPTIS 172, or AAPTIS 173; ARMENIAN 105 and AAPTIS 182, or AAPTIS 183)
Hebrew (HEBREW 101 and HJCS 102)
Persian (PERSIAN 101 and AAPTIS 142; or AAPTIS 143)
Turkish (TURKISH 101 and AAPTIS 152; or AAPTIS 155).
Strongly recommended:
NEAREAST 100 (Peoples of the Middle East)
AAPTIS 204 (Introduction to Islam)
Requirements for the major
A minimum of 30 credits at the 200-level and above, chosen in consultation with and approved by the undergraduate department advisor. The courses chosen must include:
Core Courses
(If the courses below are not offered, an alternative course must be chosen in consultation with and approved by the MENAS department advisor.):
ANTHRCUL 409.
HISTORY 443 and one of the following:
HISTORY 442, 538, 539, 542, 545.
Political Science, any one of the following:
POLSCI 351, 352, 353.
MENAS Language Requirement for the Major.
One year of an appropriate language of the area (Arabic, Armenian, Hebrew, Persian, Turkish) beyond the first year level. For Arabic a student may count AAPTIS 201 and 202 or one year of colloquial Arabic (Egyptian, Levantine) as the second year of language study.
Electives.
Two approved electives, selected in consultation with the advisor, with appropriate Middle East content from the Departments of Anthropology, History, History of Art, Modern Middle East and North African Studies, Political Science, and Sociology.
Honors Plan
Special arrangements are made for qualified students to elect an Honors major. Candidates for an Honors major undertake independent research which is reported in a senior Honors thesis. Prospective Honors majors should consult with the Honors department advisor before the end of the junior year and should enroll in one of the senior Honors thesis courses approved by the advisor.
Middle Eastern and North African Studies Major (Summer 2014 - Summer 2015)
May be elected as an area major
(Effective Summer 2014- Summer 2015)
Prerequisites to the Major
One of the following first-year language sequences or the equivalent:
Arabic (AAPTIS 101 and 102)
Armenian (AAPTIS 171 and 172, or 173; AAPTIS 181 and 182, or 183)
Hebrew (HJCS 101 and 102)
Persian (AAPTIS 141 and 142; or 143)
Turkish (AAPTIS 151 and 152; or 155).
Strongly recommended:
AAPTIS 100 (Peoples of the Middle East)
AAPTIS 204 (Introduction to Islam)
Requirements for the major
A minimum of 30 credits at the 200-level and above, chosen in consultation with and approved by the undergraduate department advisor. The courses chosen must include:
Core Courses
(If the courses below are not offered, an alternative course must be chosen in consultation with and approved by the MENAS department advisor.):
ANTHRCUL 409.
HISTORY 443 and one of the following:
HISTORY 442, 538, 539, 542, 545.
Political Science, any one of the following:
POLSCI 351, 352, 353.
MENAS Language Requirement for the Major.
One year of an appropriate language of the area (Arabic, Armenian, Hebrew, Persian, Turkish) beyond the first year level. For Arabic a student may count AAPTIS 201 and 202 or one year of colloquial Arabic (Egyptian, Levantine) as the second year of language study.
Electives.
Two approved electives, selected in consultation with the advisor, with appropriate Middle East content from the Departments of Anthropology, History, History of Art, Modern Middle East and North African Studies, Political Science, and Sociology.
Honors Plan
Special arrangements are made for qualified students to elect an Honors major. Candidates for an Honors major undertake independent research which is reported in a senior Honors thesis. Prospective Honors majors should consult with the Honors department advisor before the end of the junior year and should enroll in one of the senior Honors thesis courses approved by the advisor.
Middle Eastern and North African Studies Major (effective through Summer 2014)
May be elected as an area major
(effective through Summer 2014)
Prerequisites to the Major
One of the following first year language sequences or the equivalent:
Arabic (AAPTIS 101 and 102)
Armenian (AAPTIS 171 and 172, or 173; AAPTIS 181 and 182, or 183)
Hebrew (HJCS 101 and 102)
Persian (AAPTIS 141 and 142; or 143)
Turkish (AAPTIS 151 and 152; or 155).
Strongly recommended:
AAPTIS 100 (Peoples of the Middle East)
AAPTIS 204 (Introduction to Islam)
Requirements for the major
A minimum of 30 credits at the 200-level and above, chosen in consultation with and approved by the undergraduate department advisor. The courses chosen must include:
ANTHRCUL 409.
HISTORY 443 and one of the following: HISTORY 442, 538, 539, 542, 545.
Political Science, any one of the following: POLSCI 351, 352, 353.
One year of an appropriate language of the area (Arabic, Armenian, Hebrew, Persian, Turkish) beyond the first year level. For Arabic a student may count AAPTIS 201 and 202 or one year of colloquial Arabic (Egyptian, Levantine) as the second year of language study.
Two approved electives, selected in consultation with the advisor, with appropriate Middle East content from the Departments of Anthropology, History, History of Art, Modern Middle East and North African Studies, Political Science, and Sociology.
Honors Plan.
Special arrangements are made for qualified students to elect an Honors major. Candidates for an Honors major undertake independent research which is reported in a senior Honors thesis. Prospective Honors majors should consult with the Honors department advisor before the end of the junior year and should enroll in one of the senior Honors thesis courses approved by the advisor.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
