Building Leaders in the Business of Sport
As a Sport Management major, you’ll discover the social, economic, and operational impacts of sport business from the inside out and how you can make a real difference in the field. You’ll not only learn from top faculty and industry leaders, you’ll benefit from opportunities provided by Michigan’s elite athletics program and our vast network of successful alumni.
Our
Sport Management Advisory Board
connects students with leaders across the sport industry and related fields. Board members provide insight into current and emerging trends in sport business and help create meaningful connections that support student internships, employment opportunities, and mentorship.
Undergraduate program:
Apply Now
Connect with Us
Graduate programs:
Apply Now
Connect with Us
Degrees
Undergraduate Program
Through our undergraduate program, you'll actively learn about the field through close interaction with faculty, academic advisors, and alumni mentors, as well as dynamic internships and professional development activities.
Master's Program
As a master’s student, you’ll explore a wide array of topics required to manage the sport enterprise: entrepreneurship, urban planning, finance, economics, diversity, social justice, corporate social responsibility, marketing, law, globalization, and organizational behavior.
PhD Program
Our doctorate program is the right path for you if you intend to build a career as a scholar, teacher, researcher, or professional in economics, marketing, philanthropy, and urban development, focused on sport business.
rgb(216,96,24)
rgb(19,21,22)
#1
Doctoral Program in the Country
NATIONAL ACADEMY OF KINESIOLOGY, 2023
#2
College for Sport Management in the US
Niche, 2024
9
Student-Run Sport Management Groups & Organizations
SoK Spotlights
Zach Jurcisin
Sport management student & founder of the Jurcisin Family Foundation to support Type 1 diabetics and their families
What's important to me is having conversations with patients and offering my time. I think that’s the most impactful for people — having people to reach out to and talk to if I have questions has been integral for me as I've dealt with Type 1 diabetes and figured it out. And that's something that I would love to give back.
Read More About       Zach Jurcisin
SoK Spotlights
Eliana DeTata
SM '26 (just graduated!)
I was fortunate enough to be invited to the NFL Women’s Forum at the Combine, where we got to hear the owners of the Colts speak. I saw Dan Campbell in the lobby there. Freshman year, I maybe would have been shocked. But I've gotten to the point where I've realized that
these are the rooms I want to be in, and these are the rooms I deserve to be in.
Read More About       Eliana DeTata
SoK Spotlights
Emmie Morehous
Sport management student
The world we live in is so unbelievably divided at this point that to have something that people still come together on, like sports, is such a wonderful and beautiful thing.
Read More About       Emmie Morehous
SoK Spotlights
Natalie Kan (SM '25)
Professional swimmer & cofounder of Shen Designs
Right before the Olympics, I tried not to read the news or the comments because they can get kind of negative, and I knew that was going to impact me and my teammates. But then once I was there and looking at the stands and seeing how many people from back home traveled all that way to support Hong Kong — it felt surreal.
Read More About       Natalie Kan (SM '25)
SoK Spotlights
Zach Jurcisin
Sport management student & founder of the Jurcisin Family Foundation to support Type 1 diabetics and their families
What's important to me is having conversations with patients and offering my time. I think that’s the most impactful for people — having people to reach out to and talk to if I have questions has been integral for me as I've dealt with Type 1 diabetes and figured it out. And that's something that I would love to give back.
Read More About       Zach Jurcisin
SoK Spotlights
Eliana DeTata
SM '26 (just graduated!)
I was fortunate enough to be invited to the NFL Women’s Forum at the Combine, where we got to hear the owners of the Colts speak. I saw Dan Campbell in the lobby there. Freshman year, I maybe would have been shocked. But I've gotten to the point where I've realized that
these are the rooms I want to be in, and these are the rooms I deserve to be in.
Read More About       Eliana DeTata
Student Organizations
rgb(0,39,76)
rgb(254,254,255)
rgb(255,203,5)
Careers in Sport Management
First Destination Career Plans
Many of our graduates work at national sport organizations; big agencies; and industry-leading organizations like ESPN, the NCAA, The New York Times, Under Armour. Others pursue post-graduate studies in business, law, accounting, and urban planning.
WHAT OUR GRADUATES DO
69%
Employed Full-Time
Undergraduate Class of 2022; 90% reporting (110 graduates)
24%
Continuing Education
7%
Employed Part-Time / Internship / Service
rgb(0,39,76)
research-court-lines
Human Performance & Sport Science Center
Research
SPORT MANAGEMENT
Our SM centers research how
sport can promote economic and urban development and positive social change. They also also bridge theory and practice with innovative research in the business of sport, including marketing, sponsorship, new media, gaming, and sport industry organizations.
Learn more about our research
rgb(255,203,5)
rgb(19,21,22)
rgb(0,39,76)
Our Students in Action
Students in the course
Strategy of Sport Organizations
stepped into the role of consultants for
Angel City FC
— the National Women's Soccer League club known for its sellout crowds and bold community impact.
Their challenge: develop research-backed strategies to help the club grow new revenue streams ahead of its upcoming anniversary and major global sporting events. Through hands-on consulting work, students applied what they learn in the classroom to a real-world challenge — working at the intersection of sport, business, and community impact.
News
Inside the Research
       | 
    Media Hits
Michigan News: "Welcome to Wrexham" docuseries nets economic, social gains for Wales city, new research finds
Ryan Reynolds' and Rob McElhenney's efforts to revitalize a low-level soccer team, as chronicled in an FX docuseries, helped boost employment and mental health in the surrounding region.
Alumni
       | 
    Student Success
How 2 young SM alums landed broadcasting roles for pro sports teams
Dannie Rogers (SM '17) and Zach Linfield (SM '23) now work for the Detroit Lions and the Detroit Tigers, respectively.
Class Is In Session
       | 
    Inside the Research
Sports venues have become big business
Here's how the Sport Management Program prepares students to work inside the growing sector.
see all news
rgb(254,254,255)
rgb(19,21,22)
rgb(0,39,76)
