Page header:
page title: BFA in Art & Design | U-M Stamps
og:description: The Stamps BFA program focuses on creativity: critical thinking, project development, community engagement and collaboration, as well as mastery of technique and craftsmanship.

Visible page text:
BFA in Art & Design
The Stamps BFA program focuses on creativity: critical thinking, project development, community engagement and collaboration, as well as mastery of technique and craftsmanship.
Apply Now
In this section
Undergraduate Programs
BFA in Art & Design
BA in Art & Design
BFA in Interarts Performance
Dual Degrees
Minor in Art & Design
Minor in Interarts Performance
Minors for Stamps Students
Undergraduate Programs
BFA in Art & Design
BA in Art & Design
BFA in Interarts Performance
Dual Degrees
Minor in Art & Design
Minor in Interarts Performance
Minors for Stamps Students
Apply Now
In addition to studio coursework, students have the opportunity to take part in and integrate the wide range of areas of study available at the University of Michigan.
During the first year, students complete a foundation of studio courses and begin to explore their academic interests. In the second year, students begin taking elective studio courses and continue to pursue academic courses beyond the Stamps School, and are encouraged to make interdisciplinary connections that will inform their work for the next three years. Year three and four are extraordinarily flexible, as students continue with elective studios and interdisciplinary courses outside of the Stamps School, culminating with advanced,
400
-level studio work.
Studio Courses
66
–
72
credits
Required Studio Courses
21
Elective Studio Courses
45
–
51
Non-Studio Courses
56
–
62
Credits
Required Academic Courses
17
Elective Academic Courses
39
–
45
Milestone Requirements
no credit
Sophomore Review
Total Credits:
128
Required Studio Courses
Foundation Studios
During the first and second years,
BFA
students complete a series of required Foundation Studio courses. These courses provide a foundation of skills in a wide variety of physical materials and processes.
Course Title
Course #
Credits
Studio: Drawing
1
ARTDES
100
3
Studio: Drawing
2
ARTDES
105
3
Studio:
2
D
ARTDES
115
3
Studio:
3
D
ARTDES
120
3
Studio:
4
D
ARTDES
125
3
Creative Process Strategies
ARTDES
130
3
Second Year Studio
ARTDES
220
3
Elective Studio Courses
Students begin taking Elective Studio courses during their second year. These courses allow students to explore and develop specific areas of interest. Students will take a minimum of fifteen Elective Studios (
45
credits) from their second through their fourth years of study, distributed in the following way:
One studio must be an
Engagement Studio
Four studios (
12
credits) must be at the
200
-level
Four studios (
12
credits) must be at the
300
-level
Three studios (
9
credits) must be at the
400
-level. (Students may earn those
9
credits by taking
ARTDES
498
: Integrative Project
, a
2
‑semester studio, which culminates in a senior project)
Three studios (
9
credits) are to be taken at any level (
200
−
400
). Three studio mini-courses (for a total of
3
credits) may count among the
9
credits for this requirement.
Students have the choice of taking two additional studios at any level (for a total of
51
elective studio credits), or they can choose to put those
6
credits toward academic courses.
Six credits (
2
courses) of elective studios may come from other
UM
schools or departments. Studio courses taken abroad during approved Stamps study abroad programs are considered as
ARTDES
credits.
Elective Studio courses vary each semester.
Learn more about
Integrative Project
, an optional
9
‑credit /
2
‑semester studio elective course culminating in a senior project.
Required Academic Courses
Stamps academic and experiential requirements are designed to engage students in both the history of art and design and the current practice of emerging artists. The
Penny Stamps Speaker Series
brings respect­ed lead­ers and inno­va­tors from a broad spec­trum of cre­ative fields to Ann Arbor to con­duct week­ly pub­lic lec­tures and engagements with students.
Students in the
BFA
program must take four required Stamps Academic courses. To view more information about Stamps Academic courses for upcoming semesters, visit
our course guide
.
Course Title
Course #
Credits
Art
&
Design in Context
ARTDES
150
3
Art
&
Design History
ARTDES
151
3
Stamps Lecture Series
ARTDES
160
8
Writing in Art and Design
ARTDES
399
3
At Stamps, writing for artists and designers is a key component of the educational experience. In this video, faculty members and students talk about the importance of two Stamps courses,
First-Year Writing in Art and Design
and
Writing in Art and Design.
Elective Academic Courses
Students in the Stamps School participate in the rich intellectual and academic life of a top tier university by taking University Academic courses. The Stamps School requires liberal arts coursework, but also allows for elective choices. Students may undertake coursework to complete a minor in an academic area or they may tailor their academic selections to complement their studio practice or other career goals. The
BFA
requires
39
Aca­d­e­m­ic Elec­tive Credits.
U‑M’s Liberal Arts Requirements are designed to develop basic familiarity with the three traditional components of liberal arts — humanities, social sciences, and natural sciences; to enhance analytical reasoning; to encourage empathy with other cultures; and to understand contemporary environmental issues. Students must earn at least three credits in each specific area of the liberal arts, but may use one course to meet two or even three requirements. Students may use required and elective courses in their pursuit of a minor. Students may use
AP
/
IB
credit to fulfill any of the academic requirements with the exception of First Year Writing. Questions about specific requirements should to be directed to the Smucker • Wagstaff Academic Programs Center staff.
Requirement
credits
First Year Writing (
FYWR
)
3
Social Science (
SS
)
3
Natural Science (
NS
)
3
Analytical Reasoning (
MSA
,
QR
/
1
,
QR
/
2
)
3
Environmental Studies (
ENVIRON
)
3
Race and Ethnicity (
RE
)
3
2
Art or Design History/​Theory/​Criticism electives
6
–
8
Use the code next to the title (
SS
,
NS
,
MSA
,
QR
/
1
,
QR
/
2
,
ENVIRON
,
RE
,
FYRW
) to locate courses that satisfy Liberal Arts Requirements on Wolverine Access.
Sophomore Review
In the Sophomore Review, students present their work to date to a committee of faculty members.
The Sophomore Review is an opportunity for students to pause and take stock of how far they have come and what they can do to become the creative practitioners they aspire to be. While the Stamps faculty is always available to offer advice and suggestions, the Sophomore Review formalizes this process. It serves as part of their professional development and prepares them for other important assessments, such as performance reviews in their careers and/​or critiques in graduate school.
Sophomore reviews create an opportunity for:
Students to have in-depth reflection on achievements, challenges, and risks taken within the program.
Students to define ideas, interests and future plans, and receive faculty feedback and advice.
Faculty to assess the student’s work and progress to date and provide in depth mentoring and recommendations.
Work will be evaluated by the faculty committee according to the following criteria:
Evidence of visual skills
Evidence of making skills
Evidence of creative and design process strategies
Evidence of critical reflection
Understanding how work fits into context
Articulation of future goals
Presentation
Participation in the Sophomore Review is required, and unless they are dual degree students, students must participate in April of their sophomore year; they will receive a copy of the Sophomore Review report by email in May. These reviews represent a significant professional and creative milestone.
Study Abroad
Studying abroad with a program approved by Stamps prepares Stamps graduates to enter the globalized economy, makes them more competitive for graduate study, fellowship opportunities, and employment, and helps them to become informed global citizens. International study provides first-hand knowledge of other cultures, fosters creative insights and new life experiences, encourages independence and flexibility, and prepares students to negotiate difference, adapt to changing situations, and to solve problems from a new perspective.
Learn more about study abroad opportunities.
