Page header:
page title: Courses | U-M Stamps
og:description: Learn about courses at the Stamps School of Art & Design: credits, descriptions, faculty, prereqs, scheduling, overrides, and more.

Visible page text:
Courses
Search by keyword
Clear
Semester Offered
Spring 2026
Fall 2026
Course Topics
Non-Major
Studio
Elective
Engagement
Required
Academic
Mini
ULWR Approved
Graduate
MFA
MDes
InterArts
University Arts
International
HTC
Theme Semester
For the most current information on Stamps courses, including required prerequisites, visit
Wolverine Access
. The Stamps
Curriculum Designer
can also help you plan your schedule.
Click here for information on
Overrides
.
Fall 2026
Course
Course Number
Course Details
Drawing: Observation
ARTDES 100.001
Credit Hours: 3
Semester: Fall 2026
Drawing: Observation
ARTDES 100.002
Credit Hours: 3
Semester: Fall 2026
Drawing: Observation
ARTDES 100.003
Credit Hours: 3
Semester: Fall 2026
Drawing: Observation
ARTDES 100.004
Credit Hours: 3
Semester: Fall 2026
Drawing: Observation
ARTDES 100.005
Credit Hours: 3
Semester: Fall 2026
Drawing: Observation
ARTDES 100.006
Credit Hours: 3
Semester: Fall 2026
Drawing: Observation
ARTDES 100.007
Credit Hours: 3
Semester: Fall 2026
Drawing: Observation
ARTDES 100.008
Credit Hours: 3
Semester: Fall 2026
Drawing: Observation
ARTDES 100.009
Credit Hours: 3
Semester: Fall 2026
Drawing: Observation
ARTDES 100.010
Credit Hours: 3
Semester: Fall 2026
Drawing: Observation
ARTDES 100.011
Credit Hours: 3
Semester: Fall 2026
Drawing: Observation
ARTDES 100.012
Credit Hours: 3
Semester: Fall 2026
Drawing: Observation
ARTDES 100.013
Credit Hours: 3
Semester: Fall 2026
Study Abroad for Artists and Designers
ADABRD 101.001
Credit Hours: 1
Semester: Fall 2026
Drawing: Visualization
ARTDES 105.001
Credit Hours: 3
Semester: Fall 2026
Studio: 2D
ARTDES 115.001
Credit Hours: 3
Semester: Fall 2026
Studio: 2D
ARTDES 115.002
Credit Hours: 3
Semester: Fall 2026
Studio: 2D
ARTDES 115.003
Credit Hours: 3
Semester: Fall 2026
Studio: 2D
ARTDES 115.004
Credit Hours: 3
Semester: Fall 2026
Studio: 2D
ARTDES 115.005
Credit Hours: 3
Semester: Fall 2026
Studio: 2D
ARTDES 115.006
Credit Hours: 3
Semester: Fall 2026
Studio: 2D
ARTDES 115.007
Credit Hours: 3
Semester: Fall 2026
Studio: 2D
ARTDES 115.008
Credit Hours: 3
Semester: Fall 2026
Studio: 2D
ARTDES 115.009
Credit Hours: 3
Semester: Fall 2026
Studio: 2D
ARTDES 115.010
Credit Hours: 3
Semester: Fall 2026
Studio: 2D
ARTDES 115.011
Credit Hours: 3
Semester: Fall 2026
Studio: 2D
ARTDES 115.012
Credit Hours: 3
Semester: Fall 2026
Studio: 3D
ARTDES 120.001
Credit Hours: 3
Semester: Fall 2026
Studio: 3D
ARTDES 120.002
Credit Hours: 3
Semester: Fall 2026
Studio: 3D
ARTDES 120.003
Credit Hours: 3
Semester: Fall 2026
Studio: 3D
ARTDES 120.004
Credit Hours: 3
Semester: Fall 2026
Studio: 3D
ARTDES 120.005
Credit Hours: 3
Semester: Fall 2026
Studio: 3D
ARTDES 120.006
Credit Hours: 3
Semester: Fall 2026
Studio: 3D
ARTDES 120.007
Credit Hours: 3
Semester: Fall 2026
Studio: 3D
ARTDES 120.008
Credit Hours: 3
Semester: Fall 2026
Studio: 3D
ARTDES 120.009
Credit Hours: 3
Semester: Fall 2026
Studio: 3D
ARTDES 120.010
Credit Hours: 3
Semester: Fall 2026
Studio: 3D
ARTDES 120.011
Credit Hours: 3
Semester: Fall 2026
Studio: 3D
ARTDES 120.012
Credit Hours: 3
Semester: Fall 2026
Studio: 4D
ARTDES 125.001
Credit Hours: 3
Semester: Fall 2026
First Year Writing in Art and Design
ARTDES 129.001
Credit Hours: 4
Semester: Fall 2026
First Year Writing in Art and Design
ARTDES 129.002
Credit Hours: 4
Semester: Fall 2026
First Year Writing in Art and Design
ARTDES 129.003
Credit Hours: 4
Semester: Fall 2026
Creative Process Strategies
ARTDES 130.001
Credit Hours: 3
Semester: Fall 2026
Art and Design in Context - Lecture
ARTDES 150.001
Credit Hours: 2
Semester: Fall 2026
Art and Design in Context - Discussion
ARTDES 150.002
Credit Hours: 1
Semester: Fall 2026
Art and Design in Context - Discussion
ARTDES 150.003
Credit Hours: 1
Semester: Fall 2026
Art and Design in Context - Discussion
ARTDES 150.004
Credit Hours: 1
Semester: Fall 2026
Art and Design in Context - Discussion
ARTDES 150.005
Credit Hours: 1
Semester: Fall 2026
Art and Design in Context - Discussion
ARTDES 150.006
Credit Hours: 1
Semester: Fall 2026
Art and Design in Context - Discussion
ARTDES 150.007
Credit Hours: 1
Semester: Fall 2026
Art and Design in Context - Discussion
ARTDES 150.008
Credit Hours: 1
Semester: Fall 2026
Art and Design in Context - Discussion
ARTDES 150.009
Credit Hours: 1
Semester: Fall 2026
Art and Design in Context - Discussion
ARTDES 150.010
Credit Hours: 1
Semester: Fall 2026
Art and Design in Context - Discussion
ARTDES 150.011
Credit Hours: 1
Semester: Fall 2026
Art and Design in Context - Discussion
ARTDES 150.012
Credit Hours: 1
Semester: Fall 2026
Stamps Lecture Series
ARTDES 160.001
Credit Hours: 1
Semester: Fall 2026
Interarts Performance Forum
INTPERF 160.001
Credit Hours: 3
Semester: Fall 2026
Drawing for Non-Majors
ARTDES 170.001
Credit Hours: 3
Semester: Fall 2026
Painting for Non-Majors
ARTDES 172.001
Credit Hours: 3
Semester: Fall 2026
Digital Photography for Non-Majors
ARTDES 173.001
Credit Hours: 3
Semester: Fall 2026
Digital Photography for Non-Majors
ARTDES 173.002
Credit Hours: 3
Semester: Fall 2026
Watercolor for Non-Majors
ARTDES 174.001
Credit Hours: 3
Semester: Fall 2026
Watercolor for Non-Majors
ARTDES 174.002
Credit Hours: 3
Semester: Fall 2026
Watercolor for Non-Majors
ARTDES 174.003
Credit Hours: 3
Semester: Fall 2026
Life Drawing for Non-Majors
ARTDES 175.001
Credit Hours: 3
Semester: Fall 2026
Life Drawing for Non-Majors
ARTDES 175.002
Credit Hours: 3
Semester: Fall 2026
Graphic Design for Non-Majors
ARTDES 176.001
Credit Hours: 3
Semester: Fall 2026
Graphic Design for Non-Majors
ARTDES 176.002
Credit Hours: 3
Semester: Fall 2026
Graphic Design for Non-Majors
ARTDES 176.003
Credit Hours: 3
Semester: Fall 2026
Graphic Design for Non-Majors
ARTDES 176.004
Credit Hours: 3
Semester: Fall 2026
Graphic Design for Non-Majors
ARTDES 176.005
Credit Hours: 3
Semester: Fall 2026
Jewelry/Metals for Non-Majors
ARTDES 177.001
Credit Hours: 3
Semester: Fall 2026
Jewelry/Metals for Non-Majors
ARTDES 177.002
Credit Hours: 3
Semester: Fall 2026
Exploring Animation for Non-Majors
ARTDES 178.001
Credit Hours: 3
Semester: Fall 2026
Exploring Animation for Non-Majors
ARTDES 178.002
Credit Hours: 3
Semester: Fall 2026
Exploring Animation for Non-Majors
ARTDES 178.003
Credit Hours: 3
Semester: Fall 2026
Clay for Non-Majors
ARTDES 181.001
Credit Hours: 3
Semester: Fall 2026
Clay for Non-Majors
ARTDES 181.002
Credit Hours: 3
Semester: Fall 2026
Making Images with Photoshop
ARTDES 190.001
Credit Hours: 1
Semester: Fall 2026
Making Images with Illustrator
ARTDES 192.001
Credit Hours: 1
Semester: Fall 2026
Sewing: Stitched Assemblage
ARTDES 197.001
Credit Hours: 1
Semester: Fall 2026
Sewing: Stitched Assemblage
ARTDES 197.002
Credit Hours: 1
Semester: Fall 2026
Intro to Ceramics
ARTDES 202.001
Credit Hours: 3
Semester: Fall 2026
Intro to Ceramics
ARTDES 202.002
Credit Hours: 3
Semester: Fall 2026
Social Spaces: The Role of Artists  Designers  and Citizens
ARTDES 203.001
Credit Hours: 3
Semester: Fall 2026
Social Spaces: The Role of Artists  Designers  and Citizens
ARTDES 203.002
Credit Hours: 3
Semester: Fall 2026
Design Drawing
ARTDES 204.001
Credit Hours: 3
Semester: Fall 2026
Intro to Painting: Organizing Visual Space
ARTDES 205.001
Credit Hours: 3
Semester: Fall 2026
Intro to Painting: Organizing Visual Space
ARTDES 205.002
Credit Hours: 3
Semester: Fall 2026
Garment Design & Construction
ARTDES 206.001
Credit Hours: 3
Semester: Fall 2026
Textile Design: Pattern & Print
ARTDES 207.001
Credit Hours: 3
Semester: Fall 2026
Textile Design: Fiber Structures
ARTDES 208.001
Credit Hours: 3
Semester: Fall 2026
Typography
ARTDES 210.001
Credit Hours: 3
Semester: Fall 2026
Typography
ARTDES 210.002
Credit Hours: 3
Semester: Fall 2026
Typography
ARTDES 210.003
Credit Hours: 3
Semester: Fall 2026
Sign and Symbol
ARTDES 211.001
Credit Hours: 3
Semester: Fall 2026
Sign and Symbol
ARTDES 211.002
Credit Hours: 3
Semester: Fall 2026
Mold-Making and Multiples
ARTDES 216.001
Credit Hours: 3
Semester: Fall 2026
Fab 3: Bits and Atoms
ARTDES 217.001
Credit Hours: 3
Semester: Fall 2026
Book Arts: Methods & Materials
ARTDES 231.001
Credit Hours: 3
Semester: Fall 2026
Intro to Printmaking
ARTDES 235.001
Credit Hours: 3
Semester: Fall 2026
Intro to Printmaking
ARTDES 235.002
Credit Hours: 3
Semester: Fall 2026
Creative Programming
ARTDES 239.001
Credit Hours: 3
Semester: Fall 2026
Intro to Product Design
ARTDES 241.001
Credit Hours: 3
Semester: Fall 2026
Intro to Product Design
ARTDES 241.002
Credit Hours: 3
Semester: Fall 2026
Intro to Animation
ARTDES 243.001
Credit Hours: 3
Semester: Fall 2026
Intro to Animation
ARTDES 243.002
Credit Hours: 3
Semester: Fall 2026
Building Web Interfaces
ARTDES 245.001
Credit Hours: 3
Semester: Fall 2026
Intro to Metals/Jewelry
ARTDES 252.001
Credit Hours: 3
Semester: Fall 2026
Intro to Photography
ARTDES 255.001
Credit Hours: 3
Semester: Fall 2026
Intro to Sculpture
ARTDES 260.001
Credit Hours: 3
Semester: Fall 2026
Intro to Video: Digital Cinematography & Editing
ARTDES 265.001
Credit Hours: 3
Semester: Fall 2026
Figure Drawing
ARTDES 269.001
Credit Hours: 3
Semester: Fall 2026
Figure Drawing
ARTDES 269.002
Credit Hours: 3
Semester: Fall 2026
Visualizing and Depicting Ideas
ARTDES 270.001
Credit Hours: 3
Semester: Fall 2026
Visualizing and Depicting Ideas
ARTDES 270.002
Credit Hours: 3
Semester: Fall 2026
Visualizing and Depicting Ideas
ARTDES 270.003
Credit Hours: 3
Semester: Fall 2026
Color
ARTDES 275.001
Credit Hours: 3
Semester: Fall 2026
Color
ARTDES 275.002
Credit Hours: 3
Semester: Fall 2026
Color
ARTDES 275.003
Credit Hours: 3
Semester: Fall 2026
Ceramics Materials Research & Experimentation
ARTDES 301.001
Credit Hours: 3
Semester: Fall 2026
Jewelry/Metals: Color + Image
ARTDES 306.001
Credit Hours: 3
Semester: Fall 2026
Figure Painting
ARTDES 309.001
Credit Hours: 3
Semester: Fall 2026
Change by Design
ARTDES 314.001
Credit Hours: 3
Semester: Fall 2026
Change by Design
ARTDES 314.002
Credit Hours: 3
Semester: Fall 2026
Digital Painting
ARTDES 326.001
Credit Hours: 3
Semester: Fall 2026
Experimental Animation
ARTDES 328.001
Credit Hours: 3
Semester: Fall 2026
Documentary Photography
ARTDES 330.001
Credit Hours: 3
Semester: Fall 2026
Dressing Up and Down
ARTDES 332.001
Credit Hours: 3
Semester: Fall 2026
Information Design
ARTDES 333.001
Credit Hours: 3
Semester: Fall 2026
Video Diaries
ARTDES 334.001
Credit Hours: 3
Semester: Fall 2026
Comics/Graphic Narrative
ARTDES 336.001
Credit Hours: 3
Semester: Fall 2026
Science Illustration
ARTDES 339.001
Credit Hours: 3
Semester: Fall 2026
Digital Image Making
ARTDES 340.001
Credit Hours: 3
Semester: Fall 2026
Discursive Design
ARTDES 342.001
Credit Hours: 3
Semester: Fall 2026
Interaction Design
ARTDES 345.001
Credit Hours: 3
Semester: Fall 2026
Interaction Design
ARTDES 345.002
Credit Hours: 3
Semester: Fall 2026
Florilegium: A Plant Compendium
ARTDES 352.001
Credit Hours: 3
Semester: Fall 2026
Publication Design
ARTDES 358.001
Credit Hours: 3
Semester: Fall 2026
Publication Design
ARTDES 358.002
Credit Hours: 3
Semester: Fall 2026
Mediated Spaces
ARTDES 362.001
Credit Hours: 3
Semester: Fall 2026
Embodied Interfaces
ARTDES 369.001
Credit Hours: 3
Semester: Fall 2026
Exploring Lithography Printmaking (From Stone to Plate)
ARTDES 370.001
Credit Hours: 3
Semester: Fall 2026
Gender Race & Sexuality in Photography
ARTDES 377.001
Credit Hours: 3
Semester: Fall 2026
Professional Practice
ARTDES 391.001
Credit Hours: 3
Semester: Fall 2026
Art Controversies
ARTDES 398.001
Credit Hours: 3
Semester: Fall 2026
Writing in Art and Design
ARTDES 399.001
Credit Hours: 3
Semester: Fall 2026
Writing in Art and Design
ARTDES 399.002
Credit Hours: 3
Semester: Fall 2026
Writing in Art and Design
ARTDES 399.003
Credit Hours: 3
Semester: Fall 2026
Writing in Art and Design
ARTDES 399.004
Credit Hours: 3
Semester: Fall 2026
BA Senior Studio
ARTDES 401.001
Credit Hours: 3
Semester: Fall 2026
Senior Independent Studio
ARTDES 402.001
Credit Hours: 3
Semester: Fall 2026
Where do Paintings Come From
ARTDES 414.001
Credit Hours: 3
Semester: Fall 2026
Integrated Product Development-Tauber
ARTDES 416.001
Credit Hours: 3
Semester: Fall 2026
SciFi Prototyping
ARTDES 420.001
Credit Hours: 3
Semester: Fall 2026
Advanced Typography
ARTDES 422.001
Credit Hours: 3
Semester: Fall 2026
Body Con(cept)
ARTDES 426.001
Credit Hours: 3
Semester: Fall 2026
Delightful Design
ARTDES 429.001
Credit Hours: 3
Semester: Fall 2026
Narrative Forms
ARTDES 447.001
Credit Hours: 3
Semester: Fall 2026
Gallery as Site for Social Change
ARTDES 449.001
Credit Hours: 3
Semester: Fall 2026
Integrative Project - Class/Studio
ARTDES 498.001
Credit Hours: 3
Semester: Fall 2026
Integrative Project - Class/Studio
ARTDES 498.002
Credit Hours: 3
Semester: Fall 2026
Integrative Project - Class/Studio
ARTDES 498.003
Credit Hours: 3
Semester: Fall 2026
Integrative Project - Class/Studio
ARTDES 498.004
Credit Hours: 3
Semester: Fall 2026
Integrative Project - Class/Studio
ARTDES 498.005
Credit Hours: 3
Semester: Fall 2026
Integrated Product Development
ARTDES 516.001
Credit Hours: 3
Semester: Fall 2026
MFA Research Methods
ARTDES 600.001
Credit Hours: 3
Semester: Fall 2026
Art Theory Seminar: Decolonizing the Archive
ARTDES 602.001
Credit Hours: 3
Semester: Fall 2026
Art Theory Seminar: What Happens After (Interrogating Dominant Paradigms, Post-Conditions, and Speculative Futures)
ARTDES 602.002
Credit Hours: 3
Semester: Fall 2026
MFA Critique
ARTDES 605.001
Credit Hours: 3
Semester: Fall 2026
MFA Directed Studio
ARTDES 610.001
Credit Hours: 6
Semester: Fall 2026
MDes Design Studio 1: Design Futures
ARTDES 650.001
Credit Hours: 6
Semester: Fall 2026
MDes Research Methods 1: Speculative Design
ARTDES 651.001
Credit Hours: 3
Semester: Fall 2026
MDes Critical Forum
ARTDES 663.001
Credit Hours: 3
Semester: Fall 2026
MDes Fieldwork
ARTDES 665.001
Credit Hours: 3
Semester: Fall 2026
Thesis Writing Seminar
ARTDES 703.001
Credit Hours: 3
Semester: Fall 2026
MFA Thesis Studio
ARTDES 710.001
Credit Hours: 6
Semester: Fall 2026
MFA Thesis Studio
ARTDES 710.002
Credit Hours: 6
Semester: Fall 2026
MFA Thesis Studio
ARTDES 710.003
Credit Hours: 6
Semester: Fall 2026
MFA Thesis Studio
ARTDES 710.004
Credit Hours: 6
Semester: Fall 2026
MFA Thesis Studio
ARTDES 710.005
Credit Hours: 6
Semester: Fall 2026
MFA Thesis Studio
ARTDES 710.006
Credit Hours: 6
Semester: Fall 2026
MFA Thesis Studio
ARTDES 710.007
Credit Hours: 6
Semester: Fall 2026
MFA International Project
ARTDES 720.001
Credit Hours: 3
Semester: Fall 2026
