### Supplement: Courses
Source: https://lsa.umich.edu/lsa/academics/courses.html

Page header:
page title: Courses | U-M LSA U-M College of LSA
og:description: University of Michigan's Literature, Science, and the Arts Course Guide will help you find available classes searchable by subject, instructor, keyword, and more.

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Courses
Courses
Academics
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Bulletin Archive
Key to Course Listing Notations
SUBJECT Guide
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Courses
Academics
Majors and Minors
Departments and Units
Courses
LSA Bulletin Archive
Key to Course Listing Notations
SUBJECT Guide
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Frauds and Fantastic Claims in Archaeology.
Physics of the Body and Mind.
Financial Mathematics.
Gender and the Law.
These courses and more are part of a comprehensive LSA curriculum that is thoughtful, practical, and, best of all, overwhelmingly fascinating. The
LSA Course Guide
will help you find available classes searchable by subject, instructor, keyword, and more.
An even broader view of our curriculum is available through the
LSA Course Catalog
– a comprehensive list of all courses currently active and recently offered by the College – searchable by subject, department, or requirement.
Feeling uncertain about what to study? The experts at LSA’s
Newnan Advising Center
can help you develop your academic goals, make informed decisions, and gain independence through access to full-time, peer, and departmental advisors.
LSA Course Catalog: A comprehensive list of all current and recently offered LSA courses
Course Bulletin Archive
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
