Structural Biology Track (Sub-Major)
Effective Winter 2026
Prerequisites
MATH 115 (or 120) and 116 (or 121)
MATH 215 and 216,
or
CHEM 262
CHEM 210 / 211, 215;
PHYSICS 150/151 and 250/251 or 140/141 and 240/241 or 160/161 and 260/261 or 139/239
BIOLOGY 172
or
174
or
191
or
192
or
195.
Requirements
Minimum Credits:
26
Core:
BIOPHYS / CHEM / PHYSICS 370: Physical and Chemical Principles behind Biology and Medicine
BIOPHYS / MCDB 420: Structural Biology I
BIOPHYS 421: Structural Biology II
BIOPHYS / PHYSICS 450: Biophysics Laboratory
BIOPHYS 495: Senior Seminar in Biophysics
Outside Core:
CHEM / BIOLCHEM 351: Fundamentals of Biochemistry
or
MCDB 310: Introductory Biochemistry
or
BIOLCHEM 415: Introductory Biochemistry
Electives:
Two of the following, with one from Biophysics:
BIOPHYS 401: Special Topics in Biophysics
BIOPHYS / CHEM / PHYSICS 417: Dynamical Processes
BIOPHYS / CHEM 422: Exp Methods in Structural Biology
BIOPHYS / PHYSICS 430: Medical Physics
BIOPHYS 435: Biophysical Modeling
BIOPHYS / CHEM 440: Biophysics of Diseases
BIOPHYS / CMPLXSYS / PHYSICS 445: Introduction to Information Theory for the Natural Sciences
(only if taken FA20 or later)
BIOPHYS / CHEM 454: Biophysical Chemistry II
BIOPHYS / MATH / BIOINF 463: Mathematical Modeling in Biology
BIOPHYS / CHEM 520: Theory & Methods of Biological Chemistry
BIOPHYS / CHEM 521: Techniques in Biophysical Chemistry
BIOMEDE 417, 418, 419, 442
CHEM 421, 451, 452, 453, 461, 525
MATH 425, 463
MCDB 401, 408, 411, 422, 428, 436
MECHENG 406
MICRBIOL 405
PHYSICS 405, 406, 453, 460
Other 400-level courses may be accepted, per approval of the Undergraduate Chair
Students double majoring in Biophysics and Biological Chemistry cannot use CHEM 451, 452 or 453 to satisfy the Biophysics elective or Honors elective requirement.
Research:
At least two credits of BIOPHYS 399. Students wishing to conduct research in a laboratory outside of the Program must identify a Biophysics co-sponsor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the BIOPHYS subject area may not be used toward the Distribution Requirement.
Honors
In addition to completing all the Biophysics requirements for the major, a GPA in the major of at least 3.4 and the completion of an
Honors thesis
(BIOPHYS 499) with a grade of B or better, and
a second Biophysics elective
are required.
Approved Honors electives are all Biophysics and cognate electives above, plus CHEM 453, MCDB 422, PHYSICS 402 and PHYSICS 453.
Other courses may be accepted per approval of the Undergraduate Chair.
