Visible page text:
Comparative Culture & Identity (CCI) (Sub-Major)
Effective Fall 2025
Exclusions:
The Comparative Culture and Identity (CCI) sub-plan is only available to declared International Studies majors and is not a major or minor. The sub-plan will be notated on the student's official transcript.
Advising
The
major in International Studies
offers students the opportunity to take a set of courses across departments to bring multiple methods and concepts together to address global problems. International Studies students will be exposed to topics such as global health trends, human rights and refugees, cultural homogenization and hybridization, environmental and energy crises, terrorism, transnational social movements, immigration, and the spread of technology. The major will draw on methods developed in specific disciplines such as economics, sociology, psychology, comparative literature, political science, anthropology, and history, and some methods emerging from cross-disciplinary and interdisciplinary fields. For detailed information about the major, please visit the
Program in International and Comparative Studies (PICS) website
.
Students declaring the
Comparative Culture and Identity (CCI) sub-plan
will draft a program of study that includes courses that help them understand the global richness of behavioral, literary, and artistic expressions reflecting the diversity of the human experience. Among the topics covered are theories of culture, theories of identity, comparative belief systems and societal organizations, nationalism, comparative literary and film traditions, comparative ideologies, colonialism and post-colonialism, global arts, comparative gender studies, and cultural transmission.
International Studies advisors will assist students in developing a program of study. Students are encouraged to
schedule an advising appointment
with an International Studies advisor to discuss International Studies prerequisite courses, requirements, declaring, academic planning, course selection, registration, senior releases, and other matters of concern. Advising for the
PICS Honors plan
is provided by the Coordinator of Experiential, Independent, & Honors Education for the Program in International and Comparative Studies (PICS). For more information, visit the
PICS Advising page
.
Grade Policies
Students must earn a C- or better in all courses used to meet the requirements of the major, which are included in the minimum 34 credits and the GPA. Courses used to meet the PICS Language Requirement are not included in the minimum 34 credits required for the major nor in the major GPA.
Prerequisites
Completion of INTLSTD 101:
Introduction to International Studies
with a minimum grade of C-.
Students must have enrolled in or completed 4th-term language proficiency.
To Declare
: Students must be enrolled in or have completed INTLSTD 101.
Requirements
Additional prerequisites and/or requirements are listed on the
International Studies Major page
.
Language Requirement:
Sixth-term proficiency.
Program Core (7 credits):
INTLSTD 301: Topics in International Studies, or one 300 level INTLSTD Core Faculty Lecture (INTLSTD 300, 341); and
INTLSTD 401: International Studies Advanced Seminar
Research Design Course (3 credits):
INTLSTD 390: Designing Research in International Studies
Regional Course (3 credits):
One geographic emphasis course devoted to a single world region or country that is related to foreign language of study. There is no pre-approved list of regional courses. Students must seek and obtain approval of the regional course from a PICS advisor. It is strongly advised that this approval be obtained before taking the class.
CCI Courses (12 credits):
Four courses, chosen from an
approved list
, to gain knowledge in the sub-plan area.
Globalization and Culture
: One course must be chosen from the following short list:
ANTHRCUL 222:
The Comparative Study of Cultures;
COMPLIT 240:
Literature Across Borders,
or COMPLIT 322:
Translating World Literatures,
or GTBOOKS/COMPLIT 212:
Great Books in World Literatures;
INTLSTD 205/HISTORY 101:
What is History?;
or
ROMLANG 253:
The Mediterranean: History and Culture.
At least one course must be at the 400 level.
Must include at least two academic subjects.
Note: Complete term specific sub-plan and core course lists may be found on the
PICS courses page.
Three electives (9 credits):
The electives are designed to allow students to further personalize their major. Students will elect three advanced courses which will be expected to build upon the theme of their sub-plan. The selected courses should thus contribute to the coherence of the student's overall concentration. Students may select additional sub-plan, regional, or relevant study abroad courses, however there is no pre-approved list of electives. Because there is no list, students must seek and obtain the approval of electives - on a course-by-course basis - from a PICS advisor. It is strongly advised that this approval be obtained before taking the class.
Constraints
Courses used to meet the Core, Research Design, Regional, Sub-plan, and Elective requirements may not be used toward more than one requirement within the major; however, they may be shared with other majors and minors in accordance with LSA policies. Courses used to meet the PICS Language Requirement may not be used toward the requirements within the major.
Distribution Policy
No course used to fulfill a major requirement may be used toward the LSA Distribution Requirement. In addition, courses in the INTLSTD subject area may not be used toward the LSA Distribution Requirement. Exception: The major prerequisite of INTLSTD 101/GEOG 145 may be used in LSA Distribution.
