### Supplement: Course Information
Source: https://lsa.umich.edu/biology/undergraduates.html

Page header:
page title: Undergraduates | U-M LSA Program in Biology

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
Contact Us
News and Events
People
EEB Department
MCDB Department
for
Undergraduates
Faculty and Staff
Alumni and Friends
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Keyword Search of biology
Contact Us
News and Events
People
EEB Department
MCDB Department
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
for
Undergraduates
Faculty and Staff
Alumni and Friends
Majors & Minors
Honors &  Research Thesis Program
Graduation Information
Frequently Asked Questions (FAQs)
Student Events, Job Opportunities, & Newsletter Archive
Advising
Student Groups
Prospective Students
Peer Advisor Application
Transfer Information
Student Research
Undergraduate Awards & Fellowships
Student Resources
Undergraduate Teaching Assistant (UTA) Position
Preparing for a Course
Teaching & Grading
Course Support Staffing
Services for Students
Information for GSIs
Need a Staff Member?
Giving Opportunities
Skip to Page Content
Undergraduates
Undergraduates
[X] close
Undergraduates
Majors & Minors
Advising
Student Research
Honors &  Research Thesis Program
Student Groups
Undergraduate Awards & Fellowships
Graduation Information
Prospective Students
Student Resources
Frequently Asked Questions (FAQs)
Peer Advisor Application
Undergraduate Teaching Assistant (UTA) Position
Student Events, Job Opportunities, & Newsletter Archive
Transfer Information
Undergraduates
Undergraduates
Majors & Minors
Advising
Student Research
Honors &  Research Thesis Program
Student Groups
Undergraduate Awards & Fellowships
Graduation Information
Prospective Students
Student Resources
Frequently Asked Questions (FAQs)
Peer Advisor Application
Undergraduate Teaching Assistant (UTA) Position
Student Events, Job Opportunities, & Newsletter Archive
Transfer Information
The Program in Biology is made up of two departments: the Ecology and Evolutionary Biology Department (EEB) and the Molecular, Cellular, and Developmental Biology (MCDB) Department. There are eight majors and two minors offered through the Program in Biology (some with other departments' participation). The majors are:  Biology; Biology, Health, & Society (BHS); Cellular & Molecular Biomedical Science (CMBS); Ecology, Evolution & Biodiversity (EEB); Microbiology; Molecular, Cellular, & Developmental Biology (MCDB); Neuroscience; and Plant Biology.
The study of biology opens the door to diverse career opportunities. Many life science majors go on to attend professional schools in the health sciences (medical, nursing, and dental school) or graduate study that leads to careers in academia, industry, or government. Others pursue careers in conservation biology, law, journalism, teaching, and public health, among other options.
The Program in Biology office in 2200 BSB houses biology-specific student services for our undergraduates and includes a drop-in space for students to study or check in with
Peer Advisors
.  Many general questions can be answered by on-duty staff, but more complicated or in-depth discussions should be
scheduled online
.
Course Information
Course Guide
(Term Search)
Course Catalog
(All Courses)
BIO. STATION
Courses
Syllabus
Archive
Program in Biology
2200 Biological Science Building
1105 North University Ave.
Ann Arbor, MI 48109-1085
[email protected]
Click to call 734.763.7984
734.763.7984
Sitemap
Facebook
Twitter
Information For
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan

### Supplement: Courses
Source: https://lsa.umich.edu/lsa/academics/courses.html

Page header:
page title: Courses | U-M LSA U-M College of LSA
og:description: University of Michigan's Literature, Science, and the Arts Course Guide will help you find available classes searchable by subject, instructor, keyword, and more.

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Courses
Courses
Academics
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Bulletin Archive
Key to Course Listing Notations
SUBJECT Guide
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Courses
Academics
Majors and Minors
Departments and Units
Courses
LSA Bulletin Archive
Key to Course Listing Notations
SUBJECT Guide
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Frauds and Fantastic Claims in Archaeology.
Physics of the Body and Mind.
Financial Mathematics.
Gender and the Law.
These courses and more are part of a comprehensive LSA curriculum that is thoughtful, practical, and, best of all, overwhelmingly fascinating. The
LSA Course Guide
will help you find available classes searchable by subject, instructor, keyword, and more.
An even broader view of our curriculum is available through the
LSA Course Catalog
– a comprehensive list of all courses currently active and recently offered by the College – searchable by subject, department, or requirement.
Feeling uncertain about what to study? The experts at LSA’s
Newnan Advising Center
can help you develop your academic goals, make informed decisions, and gain independence through access to full-time, peer, and departmental advisors.
LSA Course Catalog: A comprehensive list of all current and recently offered LSA courses
Course Bulletin Archive
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan

### Supplement: Browse copies of past LSA bulletins
Source: https://lsa.umich.edu/lsa/academics/courses/course-bulletin-archive.html

Page header:
page title: LSA Bulletin Archive | U-M LSA U-M College of LSA

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Courses
LSA Bulletin Archive
...
LSA Bulletin Archive
Academics
Courses
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Bulletin Archive
Key to Course Listing Notations
SUBJECT Guide
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
LSA Bulletin Archive
Academics
Majors and Minors
Departments and Units
Courses
LSA Bulletin Archive
Key to Course Listing Notations
SUBJECT Guide
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
LSA Bulletin 2025-2026
LSA Bulletin 2024-2025
LSA Bulletin 2023-2024
LSA Bulletin 2022-2023
LSA Bulletin 2021-2022
LSA Bulletin 2020-2021
LSA Bulletin 2019-2020
LSA Bulletin 2018-2019
LSA Bulletin 2017-2018
LSA Bulletin 2016-2017
LSA Bulletin 2015-2016
LSA Bulletin 2014-2015
LSA Bulletin 2013-2014
LSA Bulletin 2012-2013
LSA Bulletin 2011-2012
LSA Bulletin 2010-2011
If you require access to older LSA Bulletin content, please email
lsa.saa.office@umich.edu
with your request.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
