Page header:
page title: Google Sheet export

Visible page text:
Course	Course Title
	COMPLIT CORE *Once a major has completed the required number of courses for the Comparative Literature core requirement, additional Comparative Literature courses may count toward the required elective credits in language and translation 
COMPLIT 200	Translation Across Disciplines
COMPLIT 250	Translating Race and Ethnicity in Local and Global Contexts
COMPLIT 322	Translating World Literatures
COMPLIT 323	Adapting World Literatures
COMPLIT 494	Translation Practicum
COMPLIT 497	Translation Capstone Seminar
	COURSES IN LANGUAGE & TRANSLATION
AMCULT 380/FTVM 380/LATINOAM 380/DIGITAL380	Studies in Transnational Media
ANTHRCUL 374/LING 374	Language and Culture
ARABIC 513	Arabic-English Translation: Theory and Practice
ASIAN 333	Language Justice in South Asia
ASIAN 353	China Around the World: Power, Politics, and Translation
ASIAN 457 	Translating Korean Poetry: Theory and Practice
ASIANLAN 441	Practicum in Japanese Translation (Hon'yaku jisshu)
COMPLIT 222/GTBOOKS 212	Great Books in World Literature
COMPLIT 300 	Global Humanities
COMPLIT 340/GREEKMOD 340 	Travels to Greece
COMPLIT 382 	Literature and the Other Arts
COMPLIT 422	Comparing World Literatures and Culture
COMPLIT 490 	Comparative Cultural Studies
ELI 390/EDUC 390/LING 390/RCSSCI 390 	Community-Engaged Learning in ESL Teaching Contexts
ENGLISH 317	Literature and Culture
ENGLISH 375 	World Literatures in English
ENGLISH 408/LING 408 	Varieties of English
FRENCH 337	Seminar in Translation
FTVM 485 	The Global Screen
GERMAN 449 	Special Topics in English Translation (Topic Dependent)
GERMAN 470	Workshop in Translation
GERMAN 472 	Un/Translatability in Theory and Practice
GREEKMOD 330 	Translating Modern Greek, Reporting the World
LING 342 	Perspectives on Bilingualism
RCCORE 309 	Study Off-Campus
RELIGION 363/MIDEAST 322 	The Qur'an and Its Interpretations
SPANISH 289	 Introduction to Translation
SPANISH 308 	Workshop in Academic Writing
SPANISH 415/ROMLING 415 	Problems in Language Translation
SPANISH 440 	Literatures and Cultures of the Borderlands: The Politics of Language
THTREMUS 326 	Intercultural Drama
WRITING 302 	Global Communication: Rhetorical Approaches to Multilingual Conversation
