Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
History of Art Major
...
History of Art Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
History of Art Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Fall 2023
Advising
A major or minor in the History of Art is developed in consultation with a History of Art advisor. Appointments are scheduled through the departmental website:
http://lsa.umich.edu/histart/undergraduates/advising-appointments.html
.
Majors and minors must consult with an advisor at least once a year.
The History of Art Website
. For further information about the curriculum, student resources, faculty and staff, departmental events, and Helicon (the undergraduate art history association), please consult the History of Art website:
www.lsa.umich.edu/histart/
Prerequisites
None.
Requirements
Minimum Credits:
30
At least 24 credits in History of Art and 6 cognate credits.
The 24 History of Art credits must include:
6 credits at the 200 level.
12 credits at the 300 level or higher, including a 3-credit seminar
6 additional credits at the 200 level or higher.
completion of the History of Art
Distribution Requirements
for Majors.
Distribution Requirements.
There are two kinds of distribution requirements, one focusing on historical time periods and the other on different regions of the globe. The former familiarizes students with cultural practices associated with different historical moments, and the latter with a wide range of national and regional traditions. Majors are required to select 200-level or higher courses that correspond to at least
three of the five time periods
and
three of the six regions
listed below. Since each course counts towards one time period and one region, the distribution requirements can be satisfied with as few as three courses.
Time Periods
Ancient
Medieval
Early Modern
Modern and Contemporary
Transhistorical
Regions
The Middle East (includes Western and Central Asia and North Africa)
Sub-Saharan Africa
Asia (includes China, Japan, India, South and Southeast Asia, and the Pacific)
Europe and the U. S.
Latin America and the Caribbean
Transregional
Cognate Requirements.
The 6 cognate credits (two courses) must include:
One studio course (minimum 3 credits) at the 100 level or higher. This course may be taken at the School of Art & Design, the Residential College, or the Taubman College of Architecture and Urban Planning, and must be approved by an advisor.
An additional advisor-approved course (minimum 3 credits) to be selected from a discipline related to a student's particular interest in art history.
Residency
15 of the required 30 elective credits must be taken in residence at Michigan or at off-campus sites directed by Michigan faculty. Courses directed to major requirements by exception can count toward the major residency requirement.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the HISTART subject area may not be used toward the Distribution Requirement.
Honors
To qualify for the
History of Art Honors Plan
, a student must have an overall GPA of at least 3.4 and a GPA of at least 3.5 in the major. Honors students in History of Art enroll in HISTART 498 and 499 during the fall and winter terms of the senior year, and are required to write a senior Honors thesis.
History of Art (Major) (Winter 2018 - Summer 2023)
Effective Winter 2018
Advising
A major or minor in the History of Art is developed in consultation with a History of Art advisor. Appointments are scheduled through the departmental website:
http://lsa.umich.edu/histart/undergraduates/advising-appointments.html
.
Majors and minors must consult with an advisor at least once a year.
The History of Art Website
. For further information about the curriculum, student resources, faculty and staff, departmental events, and Helicon (the undergraduate art history association), please consult the History of Art website:
www.lsa.umich.edu/histart/
Prerequisites
None.
Requirements
Minimum Credits:
30
At least 24 credits in History of Art and 6 cognate credits.
The 24 History of Art credits must include:
6 credits at the 200 level.
12 credits at the 300 level or higher, including a 3-credit seminar
6 additional credits at the 200 level or higher.
completion of the History of Art
Distribution Requirements
for Majors.
Distribution Requirements.
There are two kinds of distribution requirements, one focusing on historical time periods and the other on different regions of the globe. The former familiarizes students with cultural practices associated with different historical moments, and the latter with a wide range of national and regional traditions. Majors are required to select 200-level or higher courses that correspond to at least
three of the four time periods
and
three of the five regions
listed below. Since each course counts towards one time period and one region, the distribution requirements can be satisfied with as few as three courses.
Time Periods
Ancient
Medieval
Early Modern
Modern and Contemporary
Regions
The Middle East (includes Western and Central Asia and North Africa)
Sub-Saharan Africa
Asia (includes China, Japan, India, South and Southeast Asia, and the Pacific)
Europe and the U. S.
Latin America and the Caribbean
Cognate Requirements.
The 6 cognate credits (two courses) must include:
One studio course (minimum 3 credits) at the 100 level or higher. This course may be taken at the School of Art & Design, the Residential College, or the Taubman College of Architecture and Urban Planning, and must be approved by an advisor.
An additional advisor-approved course (minimum 3 credits) to be selected from a discipline related to a student's particular interest in art history.
Residency
15 of the required 30 elective credits must be taken in residence at Michigan or at off-campus sites directed by Michigan faculty. Courses directed to major requirements by exception can count toward the major residency requirement.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the HISTART subject area may not be used toward the Distribution Requirement.
Honors
To qualify for the
History of Art Honors Plan
, a student must have an overall GPA of at least 3.4 and a GPA of at least 3.5 in the major. Honors students in History of Art enroll in HISTART 498 and 499 during the fall and winter terms of the senior year, and are required to write a senior Honors thesis.
History of Art (Major) (Winter 2016 - Fall 2017)
Effective Winter 2016
Advising
A major or minor in the History of Art is developed in consultation with a History of Art advisor. Appointments are scheduled through the departmental website:
www.lsa.umich.edu/histart/undergraduate/academicadvising
.
Majors and minors must consult with an advisor at least once a year.
The History of Art Website
. For further information about the curriculum, student resources, faculty and staff, departmental events, and Helicon (the undergraduate art history association), please consult the History of Art website:
www.lsa.umich.edu/histart/
Prerequisites
Any course below the 300 level, except for HISTART 194 and 299. Students are encouraged – but not required – to choose from among HISTART 100, 101, 102, or 103. The prerequisite requirement can also be met through the Advanced Placement Examination (AP) in Art History with the approval of a History of Art advisor.
Requirements
Minimum Credits:
30
At least 24 credits in History of Art and 6 cognate credits.
The 24 credits in History of Art must include:
a 3-credit seminar at the 300 level or higher.
a total of 12 credits (including the seminar) at the 300 level or higher.
12 additional credits at the 200 level or higher.
completion of the History of Art Distribution Requirements.
Distribution Requirements.
There are two kinds of distribution requirements, one focusing on historical time periods and the other on different regions of the globe. The former familiarizes students with cultural practices associated with different historical moments, and the latter with a wide range of national and regional traditions. Majors are required to select 200-level or higher courses that correspond to at least
three of the four time periods
and
three of the five regions
listed below. Since each course counts towards one time period and one region, the distribution requirements can be satisfied with as few as three courses.
Time Periods
Ancient
Medieval
Early Modern
Modern and Contemporary
Regions
The Middle East (includes Western and Central Asia and North Africa)
Sub-Saharan Africa
Asia (includes China, Japan, India, South and Southeast Asia, and the Pacific)
Europe and the U. S.
Latin America and the Caribbean
Cognate Requirements.
The 6 cognate credits (two courses) must include:
One studio course (minimum 3 credits) at the 100 level or higher. This course may be taken at the School of Art & Design, the Residential College, or the Taubman College of Architecture and Urban Planning, and must be approved by an advisor.
An additional advisor-approved course (minimum 3 credits) to be selected from a discipline related to a student's particular interest in art history.
Residency
15 of the required 30 elective credits must be taken in residence at Michigan or at off-campus sites directed by Michigan faculty. Courses directed to major requirements by exception can count toward the major residency requirement.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the HISTART subject area may not be used toward the Distribution Requirement.
Honors
To qualify for the
History of Art Honors Plan
, a student must have an overall GPA of at least 3.4 and a GPA of at least 3.5 in the major. Honors students in History of Art enroll in HISTART 498 and 499 during the fall and winter terms of the senior year, and are required to write a senior Honors thesis.
History of Art Major (Winter 2014-Fall 2015)
Effective  Winter 2014-Fall 2015
May be elected as a departmental major
Prerequisite to the Major
Any course below the 300 level, except for HISTART 194 and 299. Students are encouraged – but not required – to choose from among HISTART 100, 101, 102, or 103. The prerequisite requirement can also be met through the Advanced Placement Examination (AP) in Art History with the approval of a History of Art advisor.
Requirements for the Major
At least 24 credits in History of Art and 6 cognate credits.
The 24 credits in History of Art must include:
a 3-credit seminar at the 300 level or higher.
a total of 12 credits (including the seminar) at the 300 level or higher.
12 additional credits at the 200 level or higher.
completion of the History of Art Distribution Requirements.
Distribution Requirements.
There are two kinds of distribution requirements, one focusing on historical time periods and the other on different regions of the globe. The former familiarizes students with cultural practices associated with different historical moments, and the latter with a wide range of national and regional traditions. Majors are required to select 200-level or higher courses that correspond to at least
three of the four time periods
and
three of the five regions
listed below. Since each course counts towards one time period and one region, the distribution requirements can be satisfied with as few as three courses.
Time Periods
Ancient
Medieval
Early Modern
Modern and Contemporary
Regions
The Middle East (includes Western and Central Asia and North Africa)
Sub-Saharan Africa
Asia (includes China, Japan, India, South and Southeast Asia, and the Pacific)
Europe and the U. S.
Latin America and the Caribbean
Cognate Requirements.
The 6 cognate credits (two courses) must include:
One studio course (minimum 3 credits) at the 100 level or higher. This course may be taken at the School of Art & Design, the Residential College, or the Taubman College of Architecture and Urban Planning, and must be approved by an advisor.
An additional advisor-approved course (minimum 3 credits) to be selected from a discipline related to a student's particular interest in art history.
Honors Plan
To qualify for the
History of Art Honors Plan
, a student must have an overall GPA of at least 3.4and a GPA of at least 3.5 in the major. Honors students in History of Art enroll in HISTART 498 and 499 during the fall and winter terms of the senior year, and are required to write a senior Honors thesis.
History of Art Major (Fall 2011-Fall 2013)
(Effective Date: Fall 2011 - Fall 2013;  changes to Honors Program effective
Winter 2013)
May be elected as a departmental major
Prerequisites to the Major.
Any course below the 300 level (except HISTART 194), chosen - preferably - from among the courses numbered HISTART 100, 101, 102, 103, 112, or 208. One 100-level course can be met through AP, upon approval by a History of Art advisor.
Requirements for the Major.
30 credits at the 200-level and above. At least four courses (or a minimum of 12 credits) must be at the 300 or higher level, and one of these must be a 300- or 400-level seminar. Three courses (at the 200 or higher level) must meet the Chronological and Geographical distribution requirements described below. Students are otherwise free to choose whatever they wish to make up their major.
(N.B.: No course in which the student obtained lower than a C- grade may be accepted in satisfaction of the Department's requirements for the major, nor any courses elected under the pass/fail option).
1. Chronological and Geographical Distribution Requirements.
History of Art at the University of Michigan offers a culturally interlaced and multicentric program, encompassing the histories of the visual and architectural arts in a diversity of temporal and geographical locations. Majors must ensure that at least three of their courses adequately cover some of this rich diversity. To do this, students must take courses covering each of at least three chronologically different periods, and courses covering each of at least three geographical regions.
The chronological categories can be broadly defined as:
Ancient
Medieval
Early Modern
Modern and Contemporary (18th century or later)
The geographical areas can be described as:
Western Asia and North Africa (Middle East) and Central Asia
Sub-Saharan Africa
Eastern Asia (China, Japan, India, Southeast Asia) and the Pacific
Europe, United States, and Canada
the Americas and the Caribbean.
A student thus might take the following cluster of courses to satisfy the distribution requirement: Ancient China, Byzantine Middle East, Modern Russia; another cluster could be Hellenistic Egypt, Medieval Western Europe, Early Modern Africa. Many other combinations are possible. Department advisors guide students through the program.
Students are encouraged to take a semester of work in history of art at various international programs. However, at least 12 credits for the major (excluding prerequisites) must be taken in residence at UM-Ann Arbor.
2. Cognates.
Each History of Art concentrator must take two cognate courses, (for a minimum of six credits), outside of the Department of History of Art.
One of these must be a 3-credit course in studio practice taken at the University of Michigan School of Art + Design. Students are advised to select this course either from the sequence of 100-level classes designated as "Non-Major Studio Courses" or to apply for permission to elect one of the 100-, 200-, or 300-level studio courses designed for Art + Design majors.
All University undergraduates may register freely for "Non-Major Studio Courses".
To enroll in one of the 100 or 200 level studio "Core Courses" required of Art&Design majors, History of Art majors should request an administrative override from the Assistant Dean for Undergraduate Programs in the School of Art & Design in advance of their registration appointments.
To enroll in one of the 300 level "Elective Studio Courses" History of Art majors should apply to the instructor for permission in advance of their registration appointments.
The second cognate must be a class at 300-level or above that addresses a subject related to the student's studies in History of Art but from the perspective of another discipline. Choices frequently come from Anthropology, History, Religion, Screen Arts and Cultures, Philosophy, literatures of various cultures, Architecture & Urban Planning or the Residential College, but many other meaningful options are possible upon consultation with a major adviser. All cognates must be approved by a History of Art advisor.
Students are advised to bear in mind the College requirement that "Candidates for the AB, BS, or BGS degree must complete a minimum of 100 credits of LS&A courses, thus allowing 20 credits of non LS&A coursework in the 120 required for the degree."
Students may petition a major adviser to consider granting exceptions that would permit other courses to count for the two cognate requirements.
Note:
Courses that satisfy LSA distribution requirements cannot simultaneously be offered in satisfaction of Requirements for the major, either History of Art courses or cognates. History of Art courses, however, may satisfy ULWR (Writing) and R&E (Race & Ethnicity) requirements. Before registering, students must first check the LSA web site for the courses designated to satisfy ULWR and R&E requirements, as these courses change each academic term.
Language Preparation.
Students who wish to pursue graduate work in the history of art are encouraged to develop second language proficiency beyond the requirements set by LS&A. Reading proficiency in German, in particular, is required by most history of art graduate programs. Students who wish to pursue graduate studies in west or east Asian art are strongly encouraged to begin the study of Arabic, Persian, Japanese, Chinese or a related language as early as possible in their undergraduate program.
Credit for Study Abroad.
Credit awarded by the University of Michigan
Center for Global and Intercultural Study (CGIS)
may automatically be offered in satisfaction of appropriate history of art requirements for the major. In consultation with the student, a history of art department advisor will correlate study abroad courses with the department's course offerings. The department advisor will also sign the student's CGIS application.
History of art courses taken through
other
university study-abroad programs, however, must be evaluated by a department advisor on a case-by-case basis. Students hoping to present such work toward their major must consult with the department advisor
prior
to undertaking foreign studies, with the end of identifying potentially appropriate courses. It is understood that no such courses can be preapproved, and that students upon their return must be prepared to document their work fully by providing the syllabi, papers, and/or exams for the courses in question. Depending upon the content, academic demands, and relationship to department course offerings thus demonstrated, full, partial, or no credit toward meeting requirements for the major may then be granted.
Credit for Internship Experience.
Internships at museums, galleries, auction houses, and archaeological digs can be of great benefit to students of the history of art, providing intimate contact with works of art and exposure to the many facets of the discipline. The Department is therefore prepared to award credit for internship experience through independent study (HISTART 299). Before registering, the student completes the
Independent Study (IS) Contract
form and meets with a faculty member to determine the objectives that will be met by the internship, as well as the grade criteria and the number of academic credits to be earned. As with any independent study, students will meet the academic requirements for course credit by submitting a written product, describing the skills acquired by the internship and how those skills will contribute to the student's academic and/or career goals. The final evaluation will be determined once the internship is completed, and the written product is submitted for evaluation.
Honors Program.
The Honors major is open to juniors and seniors who have obtained the permission of the Honors department advisor. Candidates for Honors in history of art must meet all requirements for a regular major. Students need the permission of the Director of Undergraduate Studies to enroll in two classes tied to writing the senior thesis (HISTART 498/499). In their last term Honors candidates must complete the Honors thesis (HISTART 499).
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
