Page header:
page title: Women's and Gender Studies Major Requirements | U-M LSA Women's and Gender Studies

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About Us
People
News and Events
Resources
WGS Portal
for
Prospective Students
Undergraduate Students
Graduate Students
Alumni & Friends
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Keyword Search of women
About Us
People
News and Events
Resources
WGS Portal
for
Prospective Students
Undergraduate Students
Graduate Students
Alumni & Friends
Undergraduate Programs
Graduate Programs
Women's and Gender Studies Major
Honors Program
Transfer Credit
Herman Family Internship Initiative
SOAR - Research Program
Gender and Health Major
Advising
Global and Intercultural Study
Dorothy McGuigan Prizes
Declare and Release
Minors
Undergraduate Courses
What Can You Do With a Women's and Gender Studies Degree?
Feminist Practice Award
Joint PhD Programs
Joint PhD Student Handbook
Funding for PhDs
Graduate Certificate Programs
Graduate Courses
Dorothy McGuigan Prizes
Alumni Directory
Post Graduate Faculty Appointments
Giving
Dissertation Titles
Skip to Page Content
Undergraduate Students
Women's and Gender Studies Major
Women's and Gender Studies Major Requirements
...
Women's and Gender Studies Major Requirements
Undergraduate Students
Women's and Gender Studies Major
[X] close
Undergraduate Students
Women's and Gender Studies Major
Women's and Gender Studies Major Requirements
Gender and Health Major
Minors
Honors Program
Advising
Undergraduate Courses
Transfer Credit
Global and Intercultural Study
What Can You Do With a Women's and Gender Studies Degree?
Herman Family Internship Initiative
Dorothy McGuigan Prizes
Feminist Practice Award
SOAR - Research Program
Declare and Release
Women's and Gender Studies Major Requirements
Undergraduate Students
Women's and Gender Studies Major
Women's and Gender Studies Major Requirements
Gender and Health Major
Minors
Honors Program
Advising
Undergraduate Courses
Transfer Credit
Global and Intercultural Study
What Can You Do With a Women's and Gender Studies Degree?
Herman Family Internship Initiative
Dorothy McGuigan Prizes
Feminist Practice Award
SOAR - Research Program
Declare and Release
Women's and Gender Studies major requirements ensure that students are exposed to a wide variety of disciplines and practices important to feminist thought.
The Women's and Gender Studies major requires a total of 33 credits. 27 credits must be taken in WGS courses, while the remaining 6 are to be taken in cognate courses that provide complementary skills but are housed in a different department. WGS 240: Introduction to Women's and Gender Studies, is a prerequisite for the major, and only two additional courses may be taken at the 200 level. Students should consult the
worksheet for major requirements
when planning their program.
Feminist Thought
All majors are required to take WGS 330: Feminist Thought, which introduces them to some of the major debates and intellectual conversations in the field of feminist theory. The seminar is organized around a set of texts that are engaged with questions about race, ethnicity, class, sexuality, (trans)nationalism or globalization, with an acute attention to the historical construction of their ideologies and practices, and to their relevance to individual and collective experience.
Practicum
The practicum ensures that majors gain exposure to and participate in hands-on research or community service internships in which feminist approaches are materially relevant.
Students choose
one
of the following to fulfull this requirement:
WGS 310: Health, Gender, and Performance
WGS 350: Nonprofit Management, Community Engagement & Feminist Practice
WGS 351: Leading Feminism
WGS 353 Helping Hands: The Science of Doulas
WGS 404: Gender Based Violence: From Theory to Practice
Research course related to gender and sexuality, by approval of WGS advisor
Thematic Areas
Students are required to take at least one course from each of the following four areas. Only one course may count toward two areas. If such a course is double-counted, an additional elective must be chosen to reach the required 27 credits of Women's and Gender Studies classes (see more on electives below).
Please consult the links to the right for information about which courses count towards each area.
LGBTQ (Lesbian, Gay, Bisexual, Transgender, and Queer) and Sexuality Studies
These courses offer an interdisciplinary approach to sexuality that includes topics such as religious beliefs, legal codes, medical constructions, and social movements, and recognizes them as historically variable and culturally specific. With the contributions of empirical research, feminist scholarship, and queer theory, courses in this area acquaint students with the history of sexuality and understanding the formation of sexual identities and sexuality.
Gender, Race and Ethnicity in the United States
These courses examine the intersection of gender, race, and ethnicity in order to consider differences among women and men, as well as the impact of multiple categories of identity on experience and on the formation and contestation of gender itself. Interracial and interethnic relations, the mutual influence of social movements, and racialized genders are also explored. Although the U.S. is the primary focus of these courses, consideration of various diasporas encourages analysis of the links between communities across national borders.
Gender, Culture, and Representation
These courses explore ways in which meanings about women and gender are produced through cultural images, artifacts, and performances. They position students as readers, viewers, and interpreters of culture, as well as creators of it, especially in the domains of literature, the visual and performing arts, mass media (including film), and their histories. Courses introduce students to feminist analyses of culture and encourage them to consider processes of viewing, writing, and producing knowledge.
Gender in a Global Context
These courses offer a comparative cross-cultural perspective on the construction and meaning of gender, race, class, and sexuality. They examine current forces of globalization and empire, the histories of imperialism and colonialism, and postcolonial resistance and theory. Courses decenter the U.S. while placing it in a geopolitical context, including global feminisms.
Electives
Electives include any Women's and Gender Studies course at the 200 level or above, and will be used to bring the total credits of Women's and Gender Studies classes to 27 (excluding WGS 240 and the cognates.)
At least 25 credits must be at the 300 or above. This means you can take up to two 200 level Women's and Gender Studies courses in addition to WGS 240 Intro. to Women's Studies.
Cognate Requirement
Students are required to take two courses at the 300 or 400 level that are neither in Women's and Gender Studies nor cross-listed, but provide supporting skills or contexts for the study of women and gender. These courses should not, however, focus primarily on women. In order to ensure that the interdisciplinary Women's and GenderStudies major is complemented by training in a single discipline, these courses will normally be in the same department. Cognate courses may be in a second major.
Please consult with a
Women's Studies advisor
if you have questions about courses that will fulfill the cognate requirement.
Fall 2026 Courses for WGS Major Requirements
Spring/Summer 26 Courses for WGS Major Requirements
Chart of All Women's and Gender Studies Courses in Major Requirements
A Note Regarding LSA Distribution Requirements
If you have two majors, you may choose one of the majors to count for LSA distribution (HU, SS, ID credit). If Women's and Gender Studies is your single major, you may not count any of those courses toward distribution. However the upper level writing requirement may be done in a single major. Courses in a single major may count for University requirements (R&E and upper level writing). Questions? Email
wgs.advising@umich.edu
.
The Department of Women's and Gender Studies wants everyone at the University of Michigan to easily access the information and resources we provide. Our ongoing accessibility effort works towards being in line with the Web Content Accessibility Guidelines (WCAG). If you need further accessibility assistance, please email wgsoffice@umich.edu.
Women's and Gender Studies
University of Michigan
College of LSA
Ann Arbor, MI 48109-1290
wgsoffice@umich.edu
Click to call 734.615.6613
734.615.6613
734.647.4943
Sitemap
Instagram
Information For
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
