Sociology and Social Work (Sub-Major)
Effective Winter 2023
Advising
Please review the
Advising
page of the Sociology website for full information on declaring a Sociology major, sub-major, or minor, getting in touch by email, or scheduling an appointment.
A department advisor is available to discuss the choice of Sociology as a major or minor, assist with course planning, and provide guidance on department opportunities. Students may schedule an advising appointment using the online appointment scheduler linked
here
or email advising questions to
socadvisor@umich.edu
.
Prerequisites
None.
Requirements
Minimum Credits:
33
SW 305: Community Action and Social Change
SOC 225: Project Community: Sociology in Action
To have a notation of the Sociology and Social Work submajor appear on your transcript, you must successfully complete a minimum of 12 credits from the following list:
SOC 204: International Migration
SOC 221: Social Inequality
SOC 233: Social Problems
SOC 250: Politics, Power, and Social Change
SOC 303: Race and Ethnicity
SOC 304: American Immigration
SOC 325: Project Community Advanced Practicum*
SOC 335: Urban Inequality
SOC 344: Sociology of Families
SOC 345: Sociology of Sexuality
SOC 354: Law and Society
SOC 368: Criminology
SOC 391: Sociology in Practice*
SOC 404: Latinos
SOC 422: Latin America
SOC 447: Sociology of Gender
SOC 455: Sociology of Religion
SOC 458: Sociology of Education
SOC 461: Social Movements
SOC 468: Inside-Out Prison Exchange*
Approved topics in SOC 295, 495, 394 (SURO), 395 (Independent Study), 396 (Internship)
A minimum of eight credits of electives must be elected in the subplan at the 300-level or above (not including prerequisite).
Constraints
Up to 6 credits of SOC 394 SURO, SOC 395 Independent Study, and SOC 396 Internship may count in the sub-major.
Other Department Policies
Students who are interested in declaring a Sociology and Social Work subplan are encouraged to declare at or before the beginning of their junior year.
All required courses for the Sociology and Social Work subplan (SOC 210, SOC 305, SOC 310, SW 305, and SOC 225) are offered every fall and winter term.
Courses do not need to be taken sequentially.
Students are strongly encouraged to take SOC 225 (Project Community) before applying to the MSW preferred admissions program.
Students who declare later in their undergraduate studies may not be able to complete the optional 12 graduate credits in the School of Social Work during their senior year. This will not affect their ability to complete the Sociology and Social Work subplan, or their eligibility for preferred admissions to the MSW program. The only impact is whether they will be accepted into the accelerated 45-credit MSW program, or the regular 60-credit MSW program.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the SOC subject area may not be used toward the Distribution Requirement.
