### Supplement: approved list
Source: https://ii.umich.edu/pics/undergraduates/courses.html

Page header:
page title: Courses | U-M LSA Program in International and Comparative Studies (PICS)

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
About Us
People
News and Events
Resources
Funding
Donate
for
Undergraduates
Alumni and Friends
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Keyword Search of pics
About Us
People
News and Events
Resources
Funding
Donate
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
for
Undergraduates
Alumni and Friends
Advising
Minor
Transfer Credit Policy
Frequently Asked Questions
Student Organizations
Info Sessions
Honors Plan
Internships
How to Graduate
Student Spotlight
Major
Courses
Graduation
Careers
Alumni Spotlight
Alumni Insights
Skip to Page Content
Undergraduates
Courses
...
Courses
Undergraduates
[X] close
Undergraduates
Advising
Info Sessions
Major
Minor
Honors Plan
Courses
Transfer Credit Policy
Internships
Graduation
Frequently Asked Questions
How to Graduate
Careers
Student Organizations
Student Spotlight
Courses
Undergraduates
Advising
Info Sessions
Major
Minor
Honors Plan
Courses
Transfer Credit Policy
Internships
Graduation
Frequently Asked Questions
How to Graduate
Careers
Student Organizations
Student Spotlight
Approved Courses
The Program in International and Comparative Studies (PICS) evaluates the content of courses offered by departments in the College of Literature, Science, and the Arts (LSA) as well as other University of Michigan colleges and schools. The courses listed below are currently approved by PICS for International Studies majors and minors, and will fulfill PICS requirements as indicated.
Course Approval Requests
We will consider approving non-listed courses on a case-by-case basis. To learn more, please see our
Frequently Asked Questions
(FAQ) page.
Submit - International Studies Major Requirement Exception Form
Elective and regional courses are student-designed and should be approved by a
PICS advisor
.
For a thorough outline of International Studies requirements, please see the
major
and
minor
information pages.
List of Approved Courses for Fall 2026
List of Approved Courses for Spring 2026, Summer 2026, Spring/Summer 2026
List of Approved Courses for Winter 2026
Previous Years' Courses
Academic Year 2026-27
Fall 2026
Academic Year 2025-26
Spring 2026, Summer 2026, Spring/Summer 2026
Winter 2026
Fall 2025
Academic Year 2024-25
Spring 2025, Summer 2025, Spring/Summer 2025
Winter 2025
Fall 2024
Academic Year 2023-24
Spring 2024, Summer 2024, Spring/Summer 2024
Winter 2024
Fall 2023
Academic Year 2022-23
Spring 2023, Summer 2023, Spring/Summer 2023
Winter 2023
Fall 2022
Academic Year 2021-22
Spring 2022, Summer 2022, Spring/Summer 2022
Winter 2022
Fall 2021
Waitlist Policy
• Overrides for INTLSTD 101 will be issued automatically, in waitlist order (unless an instructor asks for a different process) up to the first week of class by the program as space becomes available.
• Students are notified by email when an override/permission has been issued. The seat may go to an alternate student on the waitlist if the override is allowed to expire. Permissions may be only for 48 hours.
• Students (waitlisted or not) must attend the first class and obtain an override from the instructor. No overrides will be granted after the first day of class without the instructor's consent for INTLSTD 301 or INTLSTD 401. Declared PICS students are given priority with first priority given to PICS seniors.
• If all students on a waitlist have been given an opportunity to enroll, but do not, they will be dropped from the waitlist by the Registrar’s Office. This will allow the class to open back up for registration.
Grade Grievance Policy
Please review the
LSA Grade Grievance Policy
for information on grade grievance guidelines and procedures. Formal grade grievances may be submitted to
is.gradegrievance@umich.edu
.
Program in International and Comparative Studies (PICS)
500 Church St.
Suite 300
Ann Arbor, MI 48109-1042
[email protected]
A member of the International Institute
Click to call 734.764.2268
734.764.2268
734.763.9154
Sitemap
Twitter
Youtube
Instagram
Flickr
LinkedIn
More about LSA
About LSA
LSA News & Events
LSA Magazine
Student Resources
Course Guide
Academic Advising
LSA Opportunity Hub
Global Studies
Academics
Majors & Minors
Departments & Units
LSA Dates and Deadlines
Connect
Social Media
LSA Today Newsletter
Report Feedback
©
2026 Regents of the University of Michigan

### Supplement: Courses
Source: https://lsa.umich.edu/lsa/academics/courses.html

Page header:
page title: Courses | U-M LSA U-M College of LSA
og:description: University of Michigan's Literature, Science, and the Arts Course Guide will help you find available classes searchable by subject, instructor, keyword, and more.

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Courses
Courses
Academics
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Bulletin Archive
Key to Course Listing Notations
SUBJECT Guide
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Courses
Academics
Majors and Minors
Departments and Units
Courses
LSA Bulletin Archive
Key to Course Listing Notations
SUBJECT Guide
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Frauds and Fantastic Claims in Archaeology.
Physics of the Body and Mind.
Financial Mathematics.
Gender and the Law.
These courses and more are part of a comprehensive LSA curriculum that is thoughtful, practical, and, best of all, overwhelmingly fascinating. The
LSA Course Guide
will help you find available classes searchable by subject, instructor, keyword, and more.
An even broader view of our curriculum is available through the
LSA Course Catalog
– a comprehensive list of all courses currently active and recently offered by the College – searchable by subject, department, or requirement.
Feeling uncertain about what to study? The experts at LSA’s
Newnan Advising Center
can help you develop your academic goals, make informed decisions, and gain independence through access to full-time, peer, and departmental advisors.
LSA Course Catalog: A comprehensive list of all current and recently offered LSA courses
Course Bulletin Archive
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan

### Supplement: Browse copies of past LSA bulletins
Source: https://lsa.umich.edu/lsa/academics/courses/course-bulletin-archive.html

Page header:
page title: LSA Bulletin Archive | U-M LSA U-M College of LSA

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Courses
LSA Bulletin Archive
...
LSA Bulletin Archive
Academics
Courses
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Bulletin Archive
Key to Course Listing Notations
SUBJECT Guide
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
LSA Bulletin Archive
Academics
Majors and Minors
Departments and Units
Courses
LSA Bulletin Archive
Key to Course Listing Notations
SUBJECT Guide
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
LSA Bulletin 2025-2026
LSA Bulletin 2024-2025
LSA Bulletin 2023-2024
LSA Bulletin 2022-2023
LSA Bulletin 2021-2022
LSA Bulletin 2020-2021
LSA Bulletin 2019-2020
LSA Bulletin 2018-2019
LSA Bulletin 2017-2018
LSA Bulletin 2016-2017
LSA Bulletin 2015-2016
LSA Bulletin 2014-2015
LSA Bulletin 2013-2014
LSA Bulletin 2012-2013
LSA Bulletin 2011-2012
LSA Bulletin 2010-2011
If you require access to older LSA Bulletin content, please email
lsa.saa.office@umich.edu
with your request.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
