MCDB Updated: 3/27/26 lcc Page 1 of 4 
 
Molecular, Cellular, & Developmental Biology (MCDB) Major Requirements 
Program in Biology Student Services 
: 2200 Biological Sciences Bldg. (BSB)        : http://www.lsa.umich.edu/biology  
: lsa-biology-advising@umich.edu              : 734-763-7984 
 
Why study Biology? 
Biology as a discipline is connected to many aspects of our everyday lives.  From development and disease, to the food 
we eat, to the environment around us, studying biology brings us a deeper understanding of the world around us and 
allows us to benefit society through medicine, agriculture and environmental stewardship.  Biology is a rapidly advancing 
area as we learn more every day about biological concepts ranging from our cells to our planet.  Mastering biology 
opens up diverse careers in health science (medicine, dentistry, public health), biotechnology and pharmaceutical 
sciences, biological research, environmental policy, conservation and wildlife biology, ecological monitoring, and 
farming. 
 
Who should major in Molecular, Cellular, and Developmental Biology? 
The curriculum in Molecular, Cellular, and Developmental Biology offers students an integrated program of study and 
training in the biological and physical sciences. It is a pathway to graduate study in areas of biology and medicine that 
emphasize a quantitative and analytical approach to the life sciences. Students intending to go to medical school should 
compare degree requirements to the med school requirements found here: https://lsa.umich.edu/advising/plan-your-
path/pre-health. It is strongly recommended that pre-med and other pre-health students meet with an LSA pre-health 
advisor. 
 
What’s the difference between the MCDB and Microbiology majors? 
MCDB and Microbiology are related majors, but MCDB focuses on cellular and molecular structures and their functions, 
whereas Microbiology includes the study of viruses, algae, bacteria, protozoa, fungi, and immunobiology. 
 
Exclusions:  Students who elect a major in MCDB may not elect the following majors: Biology; Biology, Health, & Society 
(BHS); Biotechnology & Bioenvironmental Sciences (BBS); Cellular & Molecular Biomedical Science (CMBS); 
Microbiology; Plant Biology; Neuroscience; Biochemistry; or Biomolecular Science. They also may not elect an academic 
minor in Biology or Biochemistry. 
 
How do I declare? 
Students interested in any major in the biological sciences are encouraged to meet with an advisor to discuss their 
academic plans as soon as possible! Students must have completed the introductory biology sequence, one term in 
residence with a major/minor GPA of 2.0 or better, and be in good academic standing in order to declare. Make an 
advising appointment online through the Program in Biology website: www.lsa.umich.edu/biology.  
 
What courses should I take first? 
The introductory biology sequence consists of:  BIOLOGY 171, BIOLOGY 172 or 174, and BIOLOGY 173.  Students should 
take 171 or 172/174 first and then follow with the second lecture course and 173. (Note that the introductory biology 
sequence courses cannot be taken pass/fail.) 
• Students with an appropriate AP/IB score receive credit for BIOLOGY 195, which is the equivalent of BIOLOGY 
171 & 172/174, but does NOT grant credit for 173. Students with an appropriate AP/IB score receive credit for 
BIOLOGY 196, which is the equivalent of BIOLOGY 173. 
• Transfer students who receive credit for BIOLOGY 191 should take BIOLOGY 192 (offered in Fall terms only) and 
BIOLOGY 173 to complete the introductory biology sequence. 
 
BIOLOGY 171  
…focuses on ecology, biodiversity, and genetics and 
evolutionary processes.  Students engage with biological 
hypotheses dealing with prominent current issues such as 
human evolutionary origins, emerging diseases, 
conservation biology, and global change. 
BIOLOGY 172 or 174  
(prerequisite: prior or concurrent credit for CHEM 130) 
…focuses on how cells, organs, and organisms work.   
(174 covers the same material as 172 but is geared toward 
students who prefer a more problem-solving approach to 
understand biology, rather than a more traditional lecture-
based course.) 
BIOLOGY 173   (prerequisite = BIOLOGY 171, 172, 174, 191, or 195) 
…is the accompanying lab component to the introductory sequence.  The course provides an integrated introduction to 
experimental biology.  Topics focus on biochemistry, molecular genetics, evolution, and ecology.  

 
MCDB Updated: 3/27/26 lcc Page 2 of 4 
 
 
 
How do I get involved in research? 
 
Independent research is a wonderful opportunity to take an active role in studying what you enjoy!  Students participate 
in a lab, field, or modeling project in which they themselves have a say in the design, implementation, and interpretation 
of experiments.  Please visit the Undergraduate Research web pages for the specific requirements for independent 
research and advice on how to choose a research area and mentor: http://www.lsa.umich.edu/biology/studentresearch.   
 
What are the requirements for Honors? 
 
The Program in Biology administers an Honors Program to train students to conduct independent research in the 
biological sciences.  Participating in the honors program allows students to develop their research skills, deepen their 
understanding of the field, and form productive relationships with faculty and other students.  The achievement is noted 
on the diploma and official transcript. 
 
In addition to completing all the requirements for the major, an honors degree requires: 
(1) an overall and major GPA of at least 3.4, 
(2) completion of the thesis program application via the Program in Biology web page, 
            (3)  participation in at least two terms of independent research, and 
(4)  the completion of a significant piece of independent research that is 
(a) reported in an honors thesis and 
(b) presented in a public forum. 
  
Note that undergraduate research students typically register for an independent research course (as appropriate for 
their major) during each term of research.  Formal course registration is encouraged, but not required.  For more 
information, including the Honors Program application, consult the Program in Biology Honors Information page. 
 
How do I find out about internships, study abroad, or summer programs? 
 
Information about study abroad, faculty-led intercultural internships, faculty-led courses and field experiences, and Spring/Summer 
language study is available through the Center for Global and Intercultural Study ( www.lsa.umich.edu/cgis). The Opportunity Hub 
(https://lsa.umich.edu/opportunityhub) also provides information on fellowships, internships and other student opportunities.  
 
Can I transfer courses from another institution? 
 
The Program in Biology will review classes taken at other institutions to determine equivalency to University of Michigan Bio logy 
courses.  (Note that 300- and 400-level courses will not be evaluated for equivalent credit.) If an external class is determined to be 
equivalent to a U-M course, it can be posted to your transcript as the U-M Biology course (with a "T") when you successfully 
complete the course and the transfer steps listed on the Biology website: www.lsa.umich.edu/biology/transfercredit.  Approved 
equivalent courses may count toward major requirements, but transfer students are encouraged to meet with a major advisor to 
develop a major plan. At least 20 of the 31 credits required for the MCDB major must be taken in-residence. 
 
[Note:  You are welcome to request review of a course before you take it.  You will need to provide a detailed syllabus, and 
must obtain one from the instructor in advance.] 
 
How can I get involved with student organizations? 
 
There are several student organizations pertinent to biology-related majors.  More detailed information is available on 
the Program in Biology website: www.lsa.umich.edu/biology. 
 
• Biology Student Alliance (BSA):  a student org. open to all Program in Biology & Neuro. majors as well as pre -med or other 
science-oriented students interested in biology research and outreach, and in collaborating and socializing with other 
biology-interested students.  Email bsa-eboard@umich.edu for more information 
• Michigan Ecology and Evolutionary Biology Society (MEEBS): The Michigan Ecology and Evolutionary Biology Society 
(MEEBS) is an informal club designed to create a community for EEB -interested students from any major. Contact faculty 
advisor Catherine Badgley or check out the MEEBS Facebook page for more information.  
• Neuroscience Students Association (NSA):  an organization for students with an interest in neuroscience.  Email 
nsaleadteam@umich.edu for more information. 
• Microbiology Club: An organization striving to introduce students to different topics within microbiology and explore the 
many opportunities within the field. Email olacomm@umich.edu for more information.  
 
MCDB Updated: 3/27/26 lcc Page 3 of 4 
 
 
CURRENT COURSES ACCEPTABLE as ADVANCED MCDB COURSES and ELECTIVES 
NOTE:  No course may be used to satisfy two requirements. 
 
 
________________________________________________________________________________________________________________________________________________________________________________________________________________________ 
I.  ADVANCED MCDB LABORATORY COURSES (2 courses required) 
 
MCDB 306 Genetics Laboratory 
MCDB 400 Advanced Independent Research (Must be taken for 3 credits in one term; 3 credit max. applies; see CONSTRAINTS.) 
MCDB 423 Research in Cellular and Molecular Neurobiology Laboratory 
MCDB 424 Behavioral Neurobiology Laboratory 
MCDB 429 Laboratory in Cellular and Molecular Biology 
 
 
________________________________________________________________________________________________________________________________________________________________________________________________________________________ 
II.  ADVANCED MCDB COURSES (2 courses required)
 
MCDB 401 Advanced Topics 
MCDB 403 Molecular and Cell Biology of the Synapse 
MCDB 405 Molecular Basis of Development 
MCDB 408 Genomic Biology 
MCDB 411 Protein Structure and Function 
MCDB 415 Microbial Genetics 
MCDB 417 Chromosome Structure & Function 
MCDB 420 Structural Biology: The Architecture of Life (no credit if 
MCDB 445 has been taken) 
MCDB 421 Topics in Cellular and Molecular Neurobiology 
MCDB 422 Brain Development, Plasticity, and Circuits 
MCDB 425 Biotechnology: From Concepts to Technologies 
MCDB 426 Molecular Endocrinology 
MCDB 427 Molecular Biology (if not used for core) 
MCDB 428 Cell Biology (if not used for core) 
MCDB 430 Plant Molecular Biology 
MCDB 435 Intracellular Trafficking 
MCDB 436 Introductory Immunology 
MCDB 439 Protein Post-translational Mod. in Health & Diseases 
MCDB 440 Cell Cycle Control and Cancer 
MCDB 441 Cell Biology and Disease 
MCDB 445 Advanced Biochem.: Molecular Basis of Biology & 
Medicine (no credit if MCDB 420 has been taken) 
MCDB 447 Lyosomes and Diseases 
MCDB 448 Telomerase Function in Stem Cells and Cancers 
MCDB 451 Molecular Neurobiology of Health and Disease 
MCDB 452 The Visual System 
MCDB 453 Ion Channels and their Channelopathies 
MCDB 454 Cell Biology of the Cytoskeleton 
MCDB 458 Neuroepigenetics 
MCDB 459 Brain States and Behavior 
MCDB 462 Epigenetics 
MCDB 463 Sensory Circuits and Diseases 
MCDB 464 Cellular Diversity in the Immune and Nervous Systems 
MCDB 472 Building a Synthetic Cell 
MCDB 475 Gene Regulatory Mechanisms 
MCDB 488 Cell Shape and Movement 
MCDB 489 Microbial Genes and Genomes 
 
NOTE: Additional courses from Group I may be used to meet this requirement. 
 
 
________________________________________________________________________________________________________________________________________________________________________________________________________________________ 
III.  BIOLOGY AND CHEMISTRY ELECTIVES:  Choose course(s) from the following list to reach 31 credits in major:  
 
1. Additional courses from Groups I or II (above) 
2. Any specific BIOLOGY, EEB, or MCDB course at the 200-, 300-, or 400-level not used to fulfill another requirement  
(except BIOLOGY 200, 201, 215, 241, 299, 312; or EEB 300, 301, 302, 312; or MCDB 300, 301, 302, 320, 360, 412, 460, or 
461) 
3. CHEM 230 or CHEM 260 
 
MCDB Updated: 3/27/26 lcc Page 4 of 4 
 
 
MCDB MAJOR REQUIREMENTS 
 
 
MOLECULAR, CELLULAR, and DEVELOPMENTAL BIOLOGY PREREQUISITES: 
Introductory Biology Sequence:  TERM: COURSE: GRADE: 
□ Choose Sequence A, B, or C: 
A: BIO 171; BIO 172 or 174; & BIO 173 or BIO 196 (AP/IB) 
B: BIO 195 (AP/IB); & BIO 173 or BIO 196 (AP/IB) 
C. BIO 191 (transfer credit); BIO 192; & BIO 173 
*Students must have completed the introductory biology sequence, one term in residence with a 
major/minor GPA of 2.0 or better, and be in good academic standing in order to declare.* 
      
      
      
Chemistry Sequence:    
□ CHEM 210 & 211       
      
□ CHEM 215 & 216       
      
Quantitative Analysis Sequence: 
Choose four courses from the following options: [Note:  Any course used to fulfill this requirement 
cannot also be used as a major elective; i.e., a course cannot "double-count."] 
    □ MATH 115, 120 (AP), 185, 275, or 295 
    □ MATH 116, 121 (AP), 156, 186, 276, or 296  
    □ PHYSICS I: PHYSICS 125, 135, 139 (AP), 140, 150, or 160 
    □ PHYSICS II: PHYSICS 126, 235, 239 (AP), 240, 250, or 260 
    □ Computer Programming: EECS 180 (AP/IB) or EECS 183; EECS 203; EECS 280 
    □ Statistics: STATS 180 (AP) or STATS 250; STATS 206; STATS 280; STATS 400-level or above (min. 3 credits) 
    □ BIOLOGY 202; BIOLOGY 131/BIOPHYS 131/COMPFOR 131; DATASCI 101 
    □ BIOPHYS/PHYSICS 290 
  
  
  
  
  
  
   
      
      
          
MOLECULAR, CELLULAR, and DEVELOPMENTAL BIOLOGY MAJOR: 
Core Courses 
□ Choose one from:  Fundamentals of Cell Biology (BIOLOGY 272); or Developmental Biology 
(BIOLOGY 205); or Biotechnology & Bioenvironmental Science (BIOLOGY 290)       
□ Genetics:  BIO 305       
□ Biochemistry:  Choose one from:  MCDB 310, BIOLCHEM 415, or CHEM 351    
□ Cellular or Molecular Biology:  Choose one from MCDB 427 or MCDB 428    
I.  Advanced MCDB Laboratory Courses 
□ Choose two courses from attached list.       
    
II.  Advanced MCDB Courses 
□ Choose two courses from attached list.       
    
III.  Biology & Chemistry Electives 
□ Choose course(s) from attached list to reach 31 credits in major.       
CONSTRAINTS: 
• Prerequisites, introductory science courses, and non-specific (departmental) transfer courses are EXCLUDED from the 31 cr. required for 
the major. 
• A maximum of three credits of independent research (MCDB 400, et al.) may count toward the major.  Three credits must be completed in 
one term to meet the Advanced MCDB Laboratory requirement or the Advanced MCDB Course requirement. 
Total Units and GPA Requirement for  Molecular, Cellular, and Developmental Biology 
□ Minimum 31 cr. in Major 
□ Minimum 2.0 GPA in Major 
GPA is calculated from all mandatory prerequisites, all courses used for major requirements (including cognates), and all courses in BIOLOGY, EEB, 
and MCDB.
