Page header:
page title: Russian, East European, and Eurasian Studies Major | U-M LSA U-M College of LSA

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Russian, East European, and Eurasian Studies Major
...
Russian, East European, and Eurasian Studies Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Russian, East European, and Eurasian Studies Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Winter 2017
Advising
The Center for Russian, East European, and Eurasian Studies
offers a broad, interdisciplinary undergraduate curriculum for students who wish to acquire extensive knowledge of countries of the former Soviet Union and East Central Europe.
International Institute (II) undergraduate academic advisors will assist students in developing a program of study. Students are encouraged to
schedule an advising appointment
with an II undergraduate advisor to discuss prerequisite courses, requirements, declaring, academic planning, course selection, registration, senior releases, and other matters of concern. For more information, visit the
II Advising page
.
Prerequisites
One of the following first-year language sequences or the equivalent:
ARMENIAN 101 and 102
BCS 131 and 132
CZECH 141 and 142
POLISH 121 and 122
RUSSIAN 101 and 102
RUSSIAN 103/RCLANG 193
RUSSIAN 123
UKR 151 and 152
YIDDISH 101/JUDAIC 101/GERMAN 127 and YIDDISH 102/JUDAIC 102/GERMAN 128
One of the following strongly recommended:
RUSSIAN 231 (Introduction to Russian Culture)
SLAVIC 225 (Arts and Culture of Central Europe)
SLAVIC 240 (Introduction to Slavic Folklore)
Requirements
Minimum Credits:
30
20 of the minimum 30 credits must be at the 300-level or above.
Geographic distribution
(8 credits):
At least two of the following courses:
REEES 340 (Central Eurasia);
REEES 395 (Russia);
or REEES 396 or 397 (Eastern Europe).
Disciplinary distribution
(9 credits):
At least one 3-credit upper-level course in each sub-area:
Arts/Culture,
History,
and Social Science.
Seminar
(3-4 credits):
One 400-level course with an extensive writing or research component on a REEES-focused topic approved by the REEES program director.
Electives
: Additional advisor approved electives to reach the 30 minimum credits. Electives may be drawn from advisor-approved courses related to REEES topics including language courses beyond the 4th term (up to 8 credits) and study abroad coursework.
Language Requirement
: Students must show 6th term proficiency in Russian or Polish, or 4th term proficiency in another language of the region (excluding German).
Other Department Policies
Concurrent Undergraduate/Graduate Studies (CUGS) Program
Majors who are advanced in their studies and have exhausted the undergraduate resources in Russian, East European , and Eurasian Studies are encouraged to talk with the CREES advisor about applying for enrollment in LSA and the Rackham Graduate School through the Concurrent Undergraduate-Graduate Studies (CUGS) Program in LSA.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the REEES subject area may not be used toward the Distribution Requirement.
Honors
Undergraduate majors who have maintained a 3.5 grade point average in the REEES major and a 3.4 overall GPA qualify for admission to the Honors plan. In addition to completing all College and REEES graduation  requirements, Honors majors complete a Senior Thesis that is judged worthy of Honors designation by the thesis advisor and at least one other faculty reader. An Honors major is not limited to students who have been in the College Honors Program in the first and second year. Students with questions about the program are encouraged to schedule a meeting with an undergraduate academic advisor online at
www.ii.umich.edu/crees
.
Russian, East European, and Eurasian Studies Major (Winter 2015 - Fall 2016)
Effective Winter 2015
The undergraduate curriculum in Russian, East European, and Eurasian Studies offers broad, interdisciplinary training for students who wish to acquire extensive knowledge of a country or countries of the former Soviet Union and East Central Europe. Proficiency in a language of the region is an important component of the Russian, East European, and Eurasian Studies major. The degree prepares majors for graduate study as well as professional opportunities in areas ranging from government to business to teaching.
Prerequisites to major
One introductory course, usually SLAVIC 225: Arts and Cultures of Central Europe
or
RUSSIAN 231: Introduction to Russian Culture; or (if authorized by the undergraduate advisor) another 200-or 300-level REEES approved course, with a similar emphasis on breadth of coverage. (Narrowly focused courses, even if they appear on the REEES-approved list, are generally not acceptable as prerequisites).
Requirements for the  major
A minimum of 30 credits, including:
REEES 340, 395, 396, or 397.
REEES 401
or
its equivalent.
Electives:
At least 20 credits of REEES-approved upper-level (300-400) courses.
Geographic distribution:
at least one 3-credit course in each sub-area (Russia, Eastern Europe, and Central Eurasia) — including at least two of the three REEES survey ("gateway") classes: REEES 340, 395, 396/397
(i.e.,
may not count REEES 396 and 397 as different gateways)
Disciplinary distribution:
at least one 3-credit course in each sub-area (arts/culture, history, and social science). Courses (including REEES surveys) may count for both geographic and disciplinary distributions.
Honors Plan
Undergraduate majors who have maintained a 3.5 grade point average in the REEES major and a 3.4 overall GPA may apply for admission to the Honors program. Applications for the program, which are available at the program office, are accepted annually in November of the applicant's junior year. In addition to the application, students must submit a current transcript and a sample paper in the discipline in which they intend to write their Honors thesis. A maximum of 15 students will be accepted each year into the program.
Those accepted are expected to meet occasionally in an informal workshop at CREES and to work individually with their thesis advisor to prepare a prospectus. Credit for this preliminary work may be obtained by enrolling in REEES 402 for two credits. During their senior year, students may elect REEES 403 for each term (receiving a Y grade in December), for a two-term total of six credits. Completed theses, which must be submitted by a due-date in late March, will be read by at least two faculty members including the student's advisor. These theses ideally involve substantial use of foreign-language (REE) texts/sources/documents/databases. Grades for theses will be based on the quality of the research, analysis, and writing they display. The letter grade for REEES 403 and the levels of Honors with which the student will be graduated are:
A+
Highest Honors
A
High Honors
A-
Honors
B+ or below
No Honors
Students with questions about the program are encouraged to schedule a meeting with the  undergraduate academic advisor online at
www.ii.umich.edu/crees
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
