Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Greek (Modern) Language and Culture Major
...
Greek (Modern) Language and Culture Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Greek (Modern) Language and Culture Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Fall 2024
Advising
Students interested in the Department's majors in Greek, Latin, Classical Languages and Literatures, Archaeology of the Ancient Mediterranean, Classical Civilization or Modern Greek major should check with the Department office for the name of the current advisor. Students interested in obtaining Teacher Certification in Latin should see the Elementary Latin Coordinator.
The Department recommends that interested students see the department advisors as early as possible in order to plan their programs and avoid unnecessary scheduling conflicts.
Students wishing to pursue a minor in Classical Studies must develop a specific plan for its completion in consultation with the Department's designated advisor.
Grade Policies
The department requires that a student earn a grade of at least C– in all language courses which are prerequisite for subsequent elections. A student should repeat any language course in which a D+ or lower grade is earned and which serves as a prerequisite to other courses which are to be elected. A grade of D+ signifies some achievement but denotes too weak a foundation for subsequent courses.
Prerequisites
GREEKMOD 101 and 102
Requirements
Minimum Credits:
29
Minimum of 9 courses, distributed as follows:
Modern Greek Language:
Four (4) terms of Modern Greek language at the 200-level and above: GREEKMOD 201, 202, 301, and 302; (205 and 305 are excluded).
Modern Greek Literature and Culture:
GREEKMOD 214: Intro to Modern Greek Culture and three additional courses in Modern Greek literature and culture at the 300-level and above.
Structure course:
One course, selected from CLCIV, ARCHAM or CLARCH, COMPLIT, HISTORY, HISTART or POLISCI in consultation with, and approved by, the department advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the ARCHAM or CLARCH, CLCIV, CLLING, GREEK, GREEKMOD, and LATIN subject areas may not be used toward the Distribution Requirement.
Honors
The department offers Honors in each of the six majors. Interested students who have a cumulative grade point average of at least 3.4 should contact their department advisor to discuss an Honors thesis no later than the winter term of their junior year at the latest.
It is the student's responsibility to find a suitable faculty advisor to oversee the thesis project. This project and its components are to be decided collectively by the student and the advisor at the end of the junior year. We encourage students to think creatively about the approach to their research and thesis project. Thesis advisors must sign off on a student's thesis project proposal.
At the end of the thesis project, the candidate must offer an oral defense of this work to a committee comprised of the thesis advisor and another faculty member, and present their research findings at the Classical Studies Honors Symposium.
Additional requirements for Honors candidates are specified with each major.
Honors in Greek (Modern) Language and Culture
In addition to the above requirements, students who have demonstrated superior ability in the language and serious interest in a project of research, may be admitted to a program of advanced study at the beginning of the senior year, leading to the degree of Bachelor of Arts with Honors in Modern Greek Studies. Students pursuing an Honors major must satisfy the following:
3.4 minimum cumulative GPA; 3.5 minimum major GPA
Completion of an Honors thesis and oral defense in coordination with a Classics faculty member
CLCIV 480: Studying Antiquity,
section titled "Research Seminar"
(Fall term)
Students may also elect GREEKMOD 495 for 1-2 credits in the Fall and 1-3 credits in the Winter but are not required to do so.
Greek (Modern) Language and Culture (Major) (Winter 2023 - Summer 2024)
Effective Winter 2023
Advising
Students interested in the Department's majors in Greek, Latin, Classical Languages and Literatures, Classical Archaeology, Classical Civilization or Modern Greek major should check with the Department office for the name of the current advisor. Students interested in obtaining Teacher Certification in Latin should see the Elementary Latin Coordinator.
The Department recommends that interested students see the department advisors as early as possible in order to plan their programs and avoid unnecessary scheduling conflicts.
Students wishing to pursue a minor in Classical Studies must develop a specific plan for its completion in consultation with the Department's designated advisor.
Grade Policies
The department requires that a student earn a grade of at least C– in all language courses which are prerequisite for subsequent elections. A student should repeat any language course in which a D+ or lower grade is earned and which serves as a prerequisite to other courses which are to be elected. A grade of D+ signifies some achievement but denotes too weak a foundation for subsequent courses.
Prerequisites
GREEKMOD 101 and 102 (or MODGREEK 101 and 102).
Requirements
Minimum Credits:
29
Minimum of 9 courses, distributed as follows:
Modern Greek Language:
Four (4) terms of Modern Greek language at the 200-level and above: GREEKMOD 201, 202, 301, and 302 (or MODGREEK 201, 202, 301, and 302); (205 and 305 are excluded).
Modern Greek Literature and Culture:
GREEKMOD 214: Intro to Modern Greek Culture and three additional courses in Modern Greek literature and culture at the 300-level and above.
Structure course:
One course, selected from CLCIV, CLARCH, COMPLIT, HISTORY, HISTART or POLISCI in consultation with, and approved by, the department advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the CLARCH, CLCIV, CLLING, GREEK, GREEKMOD, and LATIN subject areas may not be used toward the Distribution Requirement.
Honors
The department offers Honors in each of the six majors. Interested students who have a cumulative grade point average of at least 3.4 should contact their department advisor to discuss an Honors thesis no later than the winter term of their junior year at the latest.
It is the student's responsibility to find a suitable faculty advisor to oversee the thesis project. This project and its components are to be decided collectively by the student and the advisor at the end of the junior year. We encourage students to think creatively about the approach to their research and thesis project. Thesis advisors must sign off on a student's thesis project proposal.
At the end of the thesis project, the candidate must offer an oral defense of this work to a committee comprised of the thesis advisor and another faculty member, and present their research findings at the Classical Studies Honors Symposium.
Additional requirements for Honors candidates are specified with each major.
Honors in Greek (Modern) Language and Culture
In addition to the above requirements, students who have demonstrated superior ability in the language and serious interest in a project of research, may be admitted to a program of advanced study at the beginning of the senior year, leading to the degree of Bachelor of Arts with Honors in Modern Greek Studies. Students pursuing an Honors major must satisfy the following:
3.4 minimum cumulative GPA; 3.5 minimum major GPA
Completion of an Honors thesis and oral defense in coordination with a Classics faculty member
CLCIV 480: Studying Antiquity,
section titled "Research Seminar"
(Fall term)
Students may also elect GREEKMOD 495 for 1-2 credits in the Fall and 1-3 credits in the Winter but are not required to do so.
Greek (Modern) Language and Culture (Major) (Fall 2018 - Fall 2022)
Effective Fall 2018
Advising
Students interested in the Department's majors in Greek, Latin, Classical Languages and Literatures, Classical Archaeology, Classical Civilization or Modern Greek major should check with the Department office for the name of the current advisor. Students interested in obtaining Teacher Certification in Latin should see Professor Deborah Ross.
The Department recommends that interested students see the department advisors as early as possible in order to plan their programs and avoid unnecessary scheduling conflicts.
Students wishing to pursue a minor in Classical Studies must develop a specific plan for its completion in consultation with the Department's designated advisor.
Grade Policies
The department requires that a student earn a grade of at least C– in all language courses which are prerequisite for subsequent elections. A student should repeat any language course in which a D+ or lower grade is earned and which serves as a prerequisite to other courses which are to be elected. A grade of D+ signifies some achievement but denotes too weak a foundation for subsequent courses.
Prerequisites
GREEKMOD 101 and 102 (or MODGREEK 101 and 102).
Requirements
Minimum Credits:
32
Minimum of ten courses, distributed as follows:
Modern Greek Language:
Four (4) terms of Modern Greek language at the 200-level and above: GREEKMOD 201, 202, 301, and 302 (or MODGREEK 201, 202, 301, and 302); (205 and 305 are excluded).
Modern Greek Literature and Culture:
Three courses in Modern Greek literature and culture at the 300-level and above.
Structure courses:
Three courses, selected in consultation with, and approved by, the department advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the CLARCH, CLCIV, CLLING, GREEK, GREEKMOD, and LATIN subject areas may not be used toward the Distribution Requirement.
Honors
In addition to the above requirements, students who have demonstrated superior ability in the language and serious interest in a project of research, may be admitted to a program of advanced study at the beginning of the senior year, leading to the degree of Bachelor of Arts with Honors in Modern Greek Studies. Students pursuing an Honors major must satisfy the following:
3.4 minimum overall GPA; 3.5 minimum major GPA
Completion of an Honors thesis and oral defense in coordination with a Classics faculty member
CLCIV 480: Studying Antiquity,
section titled "Research Seminar"
(Fall term)
Students may also elect GREEKMOD 495 for 1-2 credits in the Fall and 1-3 credits in the Winter but are not required to do so.
Greek (Modern) Language and Culture (Major) (Fall 2016 - Summer 2018)
Effective Fall 2016
Advising
Students interested in the Department's majors in Greek, Latin, Classical Languages and Literatures, Classical Archaeology, Classical Civilization or Modern Greek major should check with the Department office for the name of the current advisor. Students interested in obtaining Teacher Certification in Latin should see Professor Deborah Ross.
Major advising for Modern Greek is provided by Professor Vassilios Lambropoulos and Artemis Leontis. Information about scheduling appointments is available from the department office.
The Department recommends that interested students see the department advisors as early as possible in order to plan their programs and avoid unnecessary scheduling conflicts.
Students wishing to pursue a minor in Classical Studies must develop a specific plan for its completion in consultation with the Department's designated advisor. Appointments may be scheduled at 2160 Angell Hall.
Grade Policies
The department requires that a student earn a grade of at least C– in all language courses which are prerequisite for subsequent elections. A student should repeat any language course in which a D+ or lower grade is earned and which serves as a prerequisite to other courses which are to be elected. A grade of D+ signifies some achievement but denotes too weak a foundation for subsequent courses.
Prerequisites
GREEKMOD 101 and 102 (or MODGREEK 101 and 102).
Requirements
Minimum Credits:
32
Minimum of ten courses, distributed as follows:
Modern Greek Language:
Four (4) terms of Modern Greek language at the 200-level and above: GREEKMOD 201, 202, 301, and 302 (or MODGREEK 201, 202, 301, and 302); (205 and 305 are excluded).
Modern Greek Literature and Culture:
Three courses in Modern Greek literature and culture at the 300-level and above.
Structure courses:
Three courses, selected in consultation with, and approved by, the department advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the CLARCH, CLCIV, CLLING, GREEK, GREEKMOD, and LATIN subject areas may not be used toward the Distribution Requirement.
Honors
In addition to the above requirements, students who have demonstrated superior ability in the language and serious interest in a project of research, may be admitted to a program of advanced study at the beginning of the senior year, leading to the degree of Bachelor of Arts with Honors in Modern Greek Studies. Students pursuing an Honors major must satisfy the following:
3.4 minimum overall GPA; 3.5 minimum major GPA
Completion of an Honors thesis and oral defense in coordination with a Classics faculty member
CLCIV 480: Studying Antiquity,
section titled "Research Seminar"
(Fall term)
Students may also elect GREEKMOD 495 for 1-2 credits in the Fall and 1-3 credits in the Winter but are not required to do so.
Greek (Modern) Language and Culture Major (Winter 2016-Sumer 2016)
May be elected as a departmental major
Effective Winter 2016-Summer
Prerequisites to the major
GREEKMOD 101 and 102 (or MODGREEK 101 and 102).
Requirements for the Major
Minimum of ten courses, distributed as follows:
Modern Greek Language:
Four (4) terms of Modern Greek language at the 200-level and above: GREEKMOD 201, 202, 301, and 302 (or MODGREEK 201, 202, 301, and 302); (205 and 305 are excluded).
Modern Greek Literature and Culture:
Three courses in Modern Greek literature and culture at the 300-level and above.
Structure courses:
Three courses, selected in consultation with, and approved by, the department advisor.
Honors Plan
Students holding a cumulative GPA of 3.5 and Modern Greek Studies Major GPA of 3.5, who have demonstrated superior ability in the language and serious interest in a project of research, may be admitted to a program of advanced study at the beginning of the senior year, leading to the degree of Bachelor of Arts with Honors in Modern Greek Studies. In addition to the normal requirements for the major, students must complete an Honors Thesis and a reading list in their senior year.
Greek (Modern) Language and Culture Major (Winter 2015-Fall 2015)
May be elected as a departmental major
Effective Winter 2015-Fall 2015
Prerequisites to the major
GREEKMOD 101 and 102 (or MODGREEK 101 and 102).
Requirements for the Major
Minimum of ten courses, distributed as follows:
Modern Greek Language:
Four (4) terms of Modern Greek language at the 200-level and above: GREEKMOD 201, 202, 301, and 302 (or MODGREEK 201, 202, 301, and 302); (205 and 305 are excluded).
Modern Greek Literature and Culture:
Three courses in Modern Greek literature and culture at the 300-level and above.
Structure courses:
Three courses, selected in consultation with, and approved by, the department advisor. At least one course must be selected in three of the areas listed below:
Classical Civilization
Byzantine History and Art
Anthropology
Political Science
Honors Plan
Students holding a cumulative GPA of 3.5 and Modern Greek Studies Major GPA of 3.5, who have demonstrated superior ability in the language and serious interest in a project of research, may be admitted to a program of advanced study at the beginning of the senior year, leading to the degree of Bachelor of Arts with Honors in Modern Greek Studies. In addition to the normal requirements for the major, students must complete an Honors Thesis and a reading list in their senior year.
Modern Greek Studies Major (Winter 2010 - Fall 2014)
Effective Winter 2010 - Fall 2014
May be elected as a departmental major
Prerequisites to the major
MODGREEK 101 and 102.
Requirements for the Major
Minimum of ten courses, distributed as follows:
Modern Greek Language:
Four (4) terms of Modern Greek language at the 200-level and above:  MODGREEK 201, 202, 301, and 302 (205 and 305 are excluded).
Modern Greek Literature and Culture:
Three courses in Modern Greek literature and culture at the 300-level and above.
Structure courses:
Three courses, selected in consultation with, and approved by, the department advisor. At least one course must be selected in three of the areas listed below:
Classical Civilization
Byzantine History and Art
Anthropology
Political Science
Honors Plan
Students holding a cumulative GPA of 3.5 and Modern Greek Studies Major GPA of 3.5, who have demonstrated superior ability in the language and serious interest in a project of research, may be admitted to a program of advanced study at the beginning of the senior year, leading to the degree of Bachelor of Arts with Honors in Modern Greek Studies. In addition to the normal requirements for the major, students must complete an Honors Thesis and a reading list in their senior year.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
