Visible page text:
Screenwriting (Sub-Major)
Effective Fall 2019
Advising
Students who may be interested in a major in Film, Television, and Media are encouraged to consult with a department advisor. Appointments are scheduled online at:
https://webapps.lsa.umich.edu/AdvAppts/AA_StuSelfSvc1.aspx?ctgy=SAC
Prerequisites
Additional Pre-requisites and/or requirements are listed on the Film, Television, and Media
Major page
.
FTVM 236 completed with a minimum grade of C-. The prerequisite for the Film, Television, and Media major may be taken for a grade or may be taken P/F.
Students interested in the submajor must take the same prerequisite course required of students wishing to declare the Film, Television, and Media major. Students with grade lower than C- in this course should meet with an advisor to declare his/her major in Film, Television, and Media.
Students must then take FTVM 290 and 210, followed by FTVM 310. After successful completion of FTVM 310, and acceptance and successful completion, B- or better, in FTVM 410, the student may apply for the Screenwriting submajor. The student should contact the Coordinator of Screenwriting to state their interest in applying to the submajor.
Requirements
Final approval for the Screenwriting submajor is based on the student's acceptance and successful completion, B or better, of one of the following:
FTVM 427, Screenwriting III
OR
FTVM 423, Practicum for the Screenwriter (only if the student is selected as one of the two screenwriters for the course)
FTVM 311, Screenwriting for Television
Note: If a student is not accepted into the Screenwriting submajor, he or she may continue with the Film, Television, and Media major. The courses required of the student to apply for the submajor will all satisfy requirements in the general Film, Television, and Media major, whether or not the student is successful in his/her application to the Screenwriting submajor. Students who receive notice of their acceptance into the Screenwriting submajor from the Screenwriting Coordinator should see the Associate Chair of Film, Television, and Media to complete a revised major declaration form to notify the college of their admission into the Screenwriting submajor.
Submajors are expected to complete all normal Film, Television, and Media requirements for the major in the studies-based part of the curriculum.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the FTVM and SAC subject areas may not be used toward the Distribution Requirement.
Honors
After successful completion of FTVM 410, students with a GPA of 3.5 or above in the Film, Television, and Media major and 3.4 GPA overall may wish to declare Honors in Screenwriting. Interested students should consult the Coordinator of Screenwriting.
