Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Latin American and Caribbean Studies Major
...
Latin American and Caribbean Studies Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Latin American and Caribbean Studies Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Fall 2016
Advising
The Center for Latin American and Caribbean Studies
offers an interdepartmental program of study through a major in Latin American and Caribbean Studies which is designed to provide students with a rigorous, multi-disciplinary approach to the study of Latin America and the Caribbean.
International Institute (II) undergraduate academic advisors will assist students in developing a program of study. Students are encouraged to
schedule an advising appointment
with an II undergraduate advisor to discuss prerequisite courses, requirements, declaring, academic planning, course selection, registration, senior releases, and other matters of concern. For more information, visit the
II Advising page
.
Prerequisites
None.
Requirements
Minimum Credits:
30
LACS Language Requirement for the Major.
Proficiency in Spanish [SPANISH 277 or RCLANG 294 or equivalent] or Portuguese [PORTUG 232 or equivalent] should be achieved as early as possible in the program. Students are encouraged to go beyond this, either with further work in the language chosen, or by achieving competency in the other major language.
Language requirement courses are not included in the minimum 30 credits required for the major nor in the major GPA.
At least 20 credits must be at the 300-400 level.
Required Courses.
Students must include at least one course from each of the following areas of study:
Anthropology:
ANTHRCUL 319: Latin American Society and Culture, ANTHRCUL 414: Introduction to Caribbean Societies and Cultures, I, or an upper-level Anthropology course on Latin America, approved by an advisor.
History:
HISTORY 347: Latin America: The Colonial Period or HISTORY 348: Latin America: The National Period, or an upper-level HISTORY course on Latin America, approved by an advisor.
Literature:
SPANISH 381: Survey of Latin American Literature, I, SPANISH 382: Survey of Latin American Literature, II, or an upper-level course in Latin American literature, approved by an advisor.
Politics and Economy:
SPANISH 438: Economy and Politics in Latin America/Spain, or an upper-level course in Latin American politics and/or economy, approved by an advisor.
Note:
courses in this area are usually found in the departments of Political Science, Sociology, and Spanish.
Elective Courses.
The remainder of the 30 credits may be drawn from courses, from any department, that deal with Latin America and the Caribbean; including up to 4 credits of Quechua or Nahuatl language. Study Abroad coursework may be used toward the major with approval from an advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the LACS subject area may not be used toward the Distribution Requirement.
Honors
Application for an Honors major is usually made at the beginning of the third year. Participation requires a 3.5 GPA in all LACS coursework and a 3.4 overall GPA. Graduation with Honors is recommended for students who complete all College and LACS graduation requirements, maintain a 3.5 major GPA, 3.4 overall GPA, and write a substantial LACS Senior Thesis that is judged worthy of Honors designation by the thesis advisor and at least one other faculty reader. An Honors major is not limited to students who have been in the College Honors Program in the first and second years. LACS Honors candidates will enroll in LACS 399 during their thesis writing semester. More details about the Senior Thesis and about applying for LACS Honors may be obtained from the department advisor.
Latin American and Caribbean Studies Major (Fall 2011-Summer 2016)
Effective Fall 2011-Summer 2016
May be elected as an interdepartmental major
The Interdepartmental Program of study in a major in Latin American and Caribbean Studies is designed to provide students with a rigorous, multi-disciplinary approach to the study of Latin America and the Caribbean. A broad base of knowledge is established by the requirement of a core of upper-level work in languages, the social sciences, and the humanities. Analytical depth is demonstrated through the completion of a senior thesis under appropriate faculty supervision.
Prerequisites to the Major.
None.
Requirements for the major.
30 credits above the 200-level, beyond the language requirement, are required to complete the major. Among the 30 credits, students must choose at least one course from each of the disciplines of Anthropology, History, Literature, and Political Science.
LACS Language Requirement for the Major.
Competency in Spanish or Portuguese [equivalent to SPANISH 277 (or 275) or the intensive Spanish program at the Residential College, or PORTUG 232] should be achieved as early as possible in the program. Students are encouraged to go beyond this, either with further work in the language chosen, or by achieving competency in the other major language.
Required Courses.
In choosing the 30 credits of upper-level courses, students must include at least one course from
each
of the following areas:
Anthropology:
ANTHRCUL 319 (Introduction to Latin American Society and Culture), 414 (Introduction to Caribbean Societies and Cultures), or another upper-level Anthropology course on Latin America.
History:
HISTORY 347 (Latin America: The Colonial Period), or 348 (Latin America: The National Period), or another upper-level HISTORY course on Latin America.
Literature:
SPANISH 381, 382 (Introduction to Latin American Literature, I and II), or another upper-level course in Latin American literature.
Political Science:
POLSCI 347 (Government and Politics of Latin America), or another upper-level course in Latin American politics.
Elective Courses.
The remainder of the 30 credits may be drawn from upper-level courses, from any department, that deal with Latin America and the Caribbean. These change from year to year. The Center will normally make available during pre-registration a list of courses relating to Latin America and the Caribbean offered the following term. Accredited courses taken during Study Abroad programs in Latin America [administered by the Center for Global and Intercultural Study (CGIS), 764-4311] can in many cases count toward the major. Students should consult with their individual faculty advisor and with the Undergraduate Advisor for advice on selecting appropriate courses and developing an intellectually coherent and comprehensive program of study.
Advising.
Prospective majors should consult  the department advisor for guidance on courses. Appointments are scheduled in the LACS office, (734) 763-0553 or lacs.office@umich.edu. Normally, a plan for the major should reflect the multidisciplinary nature of the program and the themes that a student wishes to develop. Students should file a tentative plan for the major with the Center in their junior year, and update it prior to graduation.
Honors Plan.
LACS offers an Honors major to qualified LACS students. Application for an Honors major is usually made at the beginning of the third year. Participation requires a 3.5 grade point average. Graduation with Honors is recommended for students who complete all College and LACS graduation requirements, maintain a 3.5 GPA, and write a substantial LACS Senior Thesis that is judged worthy of Honors designation by the thesis advisor and at least one other faculty reader. An Honors major is not limited to students who have been in the College Honors Program in the first and second years. More details about the Senior Thesis and about applying for LACS Honors may be obtained from the department advisor.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
