Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Interdisciplinary Astronomy Major
...
Interdisciplinary Astronomy Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Interdisciplinary Astronomy Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Fall 2026
Exclusions:
Not open to those with a major in Astronomy and Astrophysics.
Advising
Students considering a major or minor in the Department of Astronomy are encouraged to meet with a department advisor as early as possible.
Advising appointments are
scheduled online
.
Prerequisites
MATH 115, 116, and 215
PHYSICS 140/141 [or PHYSICS 160/161 or 150/151]
PHYSICS 240/241 [or PHYSICS 260/261 or 250/251]
PHYSICS 340 or PHYSICS 360
Programming: COMPFOR 131 or SI 101 or an equivalent introduction to programming with Python, approved by an Astronomy department advisor
Requirements
Minimum Credits:
31
Astronomy Core:
ASTRO 201, 361
Astronomy Electives.
At least six credits from: ASTRO 401, 402, 403, 404, 405, 406, 416, or 461.
ULWR:
ASTRO 429 or ULWR of cognate plan
Cognates.
A minimum of 15 credits of cognate courses as part of an interdisciplinary plan designed with the approval of the department advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the ASTRO subject area may not be used toward the Distribution Requirement.
Honors
Students who are interested in scholarly research in astronomy and have a cumulative grade point average of 3.4 and a major GPA of at least 3.5, are encouraged to consider the Honors major. Students with a lower GPA may be admitted to Honors at the discretion of the department advisor. The Honors major requires writing a senior Honors thesis based on research done in collaboration with a faculty member. Interested students should consult with the department advisor by the beginning of their junior year.
Interdisciplinary Astronomy (B.A. or B.S.) (Major) (Fall 2022 - Summer 2026)
Effective Fall 2022
Exclusions:
Not open to those with a major in Astronomy and Astrophysics.
Advising
Information about scheduling advising appointments is available from the Department office.
Prerequisites
MATH 115, 116, and 215
PHYSICS 140/141 [or PHYSICS 160/161 or 135/136]
PHYSICS 240/241 [or PHYSICS 260/261 or 235/236]
PHYSICS 340 [or PHYSICS 360]
Requirements
Minimum Credits:
31
Astronomy Core:
ASTRO 201, 361
Astronomy Electives.
At least six credits from: ASTRO 401, 402, 403, 404, 405, 406, 416, or 461.
ULWR:
ASTRO 429 or ULWR of cognate plan
Cognates.
A minimum of 15 credits of cognate courses as part of an interdisciplinary plan designed with the approval of the department advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the ASTRO subject area may not be used toward the Distribution Requirement.
Honors
Students who are interested in scholarly research in astronomy and have a cumulative grade point average of 3.4 and a major GPA of at least 3.5, are encouraged to consider the Honors major. Students with a lower GPA may be admitted to Honors at the discretion of the department advisor. The Honors major requires writing a senior Honors thesis based on research done in collaboration with a faculty member. Interested students should consult with the department advisor by the beginning of their junior year.
Interdisciplinary Astronomy (B.A. or B.S.) (Major) (Winter 2018 - Summer 2022)
Effective Winter 2018
Exclusions:
Not open to those with a major in Astronomy and Astrophysics.
Advising
Information about scheduling advising appointments is available from the Department office.
Prerequisites
MATH 115, 116, and 215
PHYSICS 140/141 [or PHYSICS 160/161 or 135/136]
PHYSICS 240/241 [or PHYSICS 260/261 or 235/236]
PHYSICS 340 [or PHYSICS 360]
Requirements
Minimum Credits:
31
Astronomy Core:
ASTRO 201, 361
Astronomy Electives.
At least six credits from: ASTRO 401, 402, 403, 404, 405, 406, or 461.
ULWR:
ASTRO 429 or ULWR of cognate plan
Cognates.
A minimum of 15 credits of cognate courses as part of an interdisciplinary plan designed with the approval of the department advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the ASTRO subject area may not be used toward the Distribution Requirement.
Interdisciplinary Astronomy (B.A. or B.S.) (Major) (Winter 2015 - Fall 2017)
Effective Winter 2015
Exclusions:
Not open to those with a major in Astronomy and Astrophysics.
Advising
Advising appointments are scheduled
online
.
Prerequisites
MATH 115, 116, and 215
PHYSICS 140/141 [or PHYSICS 160/161 or 135/136]
PHYSICS 240/241 [or PHYSICS 260/261 or 235/236]
PHYSICS 340/341 [or PHYSICS 360/341]
Requirements
Minimum Credits:
31
Astronomy Core:
ASTRO 201, 361
Astronomy Electives.
At least six credits from: ASTRO 401, 402, 403, 404, 405, 406, or 461.
ULWR:
ASTRO 429 or ULWR of cognate plan
Cognates.
A minimum of 15 credits of cognate courses as part of an interdisciplinary plan designed with the approval of the department advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the ASTRO subject area may not be used toward the Distribution Requirement.
Interdisciplinary Astronomy Major (B.A. or B.S.)  (Fall 2014)
Not open to those with a major in Astronomy and Astrophysics
Effective Fall 2014
The major in Interdisciplinary Astronomy is offered to students wishing to develop a substantive expertise in astronomy, a practical understanding of science, and a basic ability to communicate science to the public. This major offers the opportunity to include contextual understanding of astronomy with respect to history, philosophy of science, and geoscience.
Prerequisites to the Major
At least 3 credits of 100-level Astronomy (excluding ASTRO 183)
PHYSICS 139, or 140 and 141, or 160 and 161, or equivalent
MATH 115 and 116, or 185 and 186, or equivalent.
Requirements for the Major
A minimum of 28 credits, distributed as follows:
Astronomy Core:
ASTRO 201 and 429.
ENGLISH 225
Astronomy Electives.
12 credits from: ASTRO 205, 206, 210, 220, 305, 361, 402, 403, 404, 405, 406, or 420; at least 3 credits must be at the 300-level or above.
3 credits from:
AOSS 204, 320
ASTRO 204
EARTH 201, 204, 320, 325, 331, 351/451, 420, or 446
ENVIRON 209, 325
GEOG 201
Elective.
3 credits from:
Any 300- or 400-level Astronomy course
HISTORY 300, 301
PHIL 322, 381, 420, 422, 423, 424, 427, 464
PHYSICS 411, 420, 424, 481
PUBPOL 481
WOMENSTD 484
Students are encouraged to take additional Physics courses in their earlier course of study.
Interdisciplinary Astronomy Major (B.A. or B.S.) (Winter 2014-Summer 2014)
Not open to those with a major in Astronomy and Astrophysics
Effective Winter 2014-Summer 2014
The major in Interdisciplinary Astronomy is offered to students wishing to develop a substantive expertise in astronomy, a practical understanding of science, and a basic ability to communicate science to the public. This major offers the opportunity to include contextual understanding of astronomy with respect to history, philosophy of science, and geoscience.
Prerequisites to the Major
At least 3 credits of 100-level Astronomy (excluding ASTRO 183)
PHYSICS 139, or 140 and 141, or 160 and 161, or equivalent
MATH 115 and 116, or 185 and 186, or equivalent.
Requirements for the Major
A minimum of 28 credits, distributed as follows:
ASTRO 201, 305, and 429.
ENGLISH 225
9 credits from: ASTRO 205, 210, 220, 361, 402, 403, 404, 405, or 420; at least 3 credits must be at the 300-level or above.
3 credits from:
AOSS 204, 320
ASTRO 204
EARTH 201, 204, 320, 325, 331, 351/451, 420, or 446
ENVIRON 209, 325
GEOG 201
An elective of 3 credits from:
Any 300- or 400-level Astronomy course
HISTORY 300, 301
PHIL 322, 381, 420, 422, 423, 424, 427, 464
PHYSICS 411, 420, 424, 481
PUBPOL 481
WOMENSTD 484
Students are encouraged to take additional Physics courses in their earlier course of study.
Interdisciplinary Astronomy Major (B.A. or B.S.) (Fall 2013)
not open to those with a major in Astronomy and Astrophysics
Effective Fall 2013
The major in Interdisciplinary Astronomy is offered to students wishing to develop a substantive expertise in astronomy, a practical understanding of science, and a basic ability to communicate science to the public. This major offers the opportunity to include contextual understanding of astronomy with respect to history, philosophy of science, and geoscience.
Prerequisites to the Major
At least 3 credits of 100-level Astronomy; PHYSICS 139, or 140 and 141, or 160 and 161, or equivalent; and MATH 115 and 116, or 185 and 186, or equivalent.
Requirements for the major
A minimum of 24 credits, distributed as follows:
ASTRO 201, 305, and 429.
9 credits from: ASTRO 205, 210, 220, 361, 402, 403, 404, 405, or 420; at least 3 credits must be at the 300-level or above.
3 credits from:
AOSS 204, 320
ASTRO 204
EARTH 201, 204, 320, 325, 331, 351/451, 420, or 446
ENVIRON 209, 325
GEOG 201
An elective of 3 credits from:
Any 300- or 400-level Astronomy course
HISTORY 300, 301
PHIL 322, 381, 420, 422, 423, 424, 427, 464
PHYSICS 411, 420, 424, 481
PUBPOL 481
WOMENSTD 427
Students are encouraged to take additional Physics courses in their earlier course of study.
Interdisciplinary Astronomy Major (B.A. or B.S.)  (Winter 2013 - Summer 2013)
not open to those with a major in Astronomy and Astrophysics
Effective Winter 2013-Summer 2013
The major in Interdisciplinary Astronomy is offered to students wishing to develop a substantive expertise in astronomy, a practical understanding of science, and a basic ability to communicate science to the public. This major offers the opportunity to include contextual understanding of astronomy with respect to history, philosophy of science, and geoscience.
Prerequisites to the Major.
At least 3 credits of 100-level Astronomy; PHYSICS 139, or 140 and 141, or 160 and 161, or equivalent; and MATH 115 and 116, or 185 and 186, or equivalent.
Program of study in a major.
ASTRO 201, 305, and 429.
9 credits from: ASTRO 205, 210, 220, 361, 402, 403, 404, 405, or 420; at least 3 credits must be at the 300-level or above.
3 credits from:
AOSS 204, 320
ASTRO 204
EARTH 201, 204, 320, 325, 331, 351/451, 420, or 446
ENVIRON 209, 325
GEOG 201
An elective of 3 credits from:
Any 300- or 400-level Astronomy course
HISTORY 300, 301
PHIL 322, 381, 420, 422, 423, 424, 427, 464
PHYSICS 411, 420, 424, 481
PUBPOL 481
WOMENSTD 427
Students are encouraged to take additional Physics courses in their earlier course of study.
Interdisciplinary Astronomy Major (B.A. or B.S.) (Fall 2012)
not open to those with a major in Astronomy and Astrophysics
Effective Fall 2012
The major in Interdisciplinary Astronomy is offered to students wishing to develop a substantive expertise in astronomy, a practical understanding of science, and a basic ability to communicate science to the public. This major offers the opportunity to include contextual understanding of astronomy with respect to history, philosophy of science, and geoscience.
Prerequisites to the Major.
At least 3 credits of 100-level Astronomy; PHYSICS 140 and 141, or equivalent; and MATH 115 and 116, or equivalent.
Program of study in a major.
ASTRO 201, ASTRO 305(3 credits),  ASTRO 429.
9 credits from: ASTRO 205, 210, 220, 361, 402, 403, 404, or 405; at least 3 credits must be at the 300-level or above.
3 credits from:
AOSS 204, 320
ASTRO 204
GEOSCI 201, 204, 320, 325, 331, 351/451, 420, or 446
ENVIRON 209, 325
GEOG 201
An elective of 3 credits from:
Any 300- or 400-level ASTRO course
HISTORY 300, 301
PHIL 420, 422, 423, 424, 427, 464
PHYSICS 411, 420, 424, or 481
PUBPOL 481
WOMENSTD 427
Students are encouraged to take additional Physics courses in their earlier course of study.
Advising.
Information about scheduling advising appointments is available from the Department office.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
