Page header:
page title: Philosophy Major | U-M LSA U-M College of LSA

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Philosophy Major
...
Philosophy Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Philosophy Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Winter 2022
Advising
Prospective majors, especially students contemplating graduate work in philosophy, should consult a department advisor as early as possible in order to work out an appropriate, unified program. Appointments are scheduled through the on-line scheduling system available on the department's web page:
https://myadvising.lsa.umich.edu/appointments/offices/PHIL
Grade Policies
No course will count toward the major unless the student receives a grade of C- or better.  This includes all courses including prerequisites, required courses, and electives.
Prerequisites
Any 100- or 200-level course other than PHIL 180, 183
(if elected after FA20)
, 201, 296 (logic courses). None of these courses counts toward the requirements for the major. PHIL 288 or 289 may be used as a prerequisite or toward a requirement, but not both.
Requirements
Minimum Credits:
25
Majors must take at least 25 credits of Philosophy.
In fulfilling the credit requirement students must also satisfy the following distribution requirements:
Formal Methods:
PHIL 296, 303, 305, 413, or 414
History of Philosophy:
One course from among:
PHIL 288, 289, 388, or 389. PHIL 288 or 289 may be used as a prerequisite or toward a requirement, but not both;
and one additional course from among: PHIL 288, 289, 323, 371, 385, 386, 388, 389, 391, 392, 393/CLCIV 369, 405, 406, 433, 458, 460, 461, 462, 463, 464, 466, 467, 474, and 492
Value:
One of PHIL 361: Ethics or 362: Data and the Just Society or 366: Political Philosophy or 367: Social and Political Philosophy or PPE 300: Introduction to Political Economy
Mind and Reality:
Either PHIL 345: Language and Mind or 381: Science and Objectivity or 383: Knowledge and Reality
Three additional courses:
Two additional 400-level courses (other than PHIL 419, 455, 498, or 499). Note: students are not permitted to use any course to satisfy more than one requirement. For example, if you use a 400-level course to satisfy the logic or history requirements, you cannot use that same course to satisfy this requirement.
One additional course at the 300-level or higher
The courses needed to satisfy these requirements are not always offered every term. Majors should plan their programs so that they can be sure to take the courses they need before they can graduate.
Residency
At least 16 credits, including requirement 5.1, must be taken in residence.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the PHIL subject area may not be used toward the Distribution Requirement.
Honors
Qualified students who are interested in an Honors major in Philosophy should consult a department advisor as early as possible. Except in cases where special permission is granted, students must have a cumulative grade point average of at least 3.4 and a 3.5 average in completed courses in philosophy in order to be eligible for admission. Honors majors are required to complete 28 (rather than 25) credits in the major, including PHIL 401 and 498 or 499, which is taken in the senior year. Before enrolling in PHIL 498 or 499, students must submit a thesis proposal for the department's approval. Only students who have written an Honors thesis will be considered for graduation with Honors degrees. Students are admitted to the Honors major at the beginning of the junior year (or later) by permission of the Honors department advisor.
Philosophy (Major) (Fall 2019 - Fall 2021)
Effective Fall 2019
Advising
Prospective majors, especially students contemplating graduate work in philosophy, should consult a department advisor as early as possible in order to work out an appropriate, unified program. Appointments are scheduled through the on-line scheduling system available on the department's web page:
www.lsa.umich.edu/philosophy/undergraduate/advisorappointments
.
Grade Policies
No course will count toward the major unless the student receives a grade of C- or better.  This includes all courses including prerequisites, required courses, and electives.
Prerequisites
Any 100- or 200-level course other than PHIL 180, 183
(if elected after FA20)
, 201, 296 (logic courses) and PHIL 288, 289. None of these courses counts toward the requirements for the major.
Requirements
Minimum Credits:
25
Majors must take at least 25 credits of Philosophy.
In fulfilling the credit requirement students must also satisfy the following distribution requirements:
Formal Methods:
PHIL 296, 303, 305, 413, or 414
History of Philosophy:
One course from among:
PHIL 288 (W18), 289 (W18), 388, or 389;
and one additional course from among: PHIL 288 (W18), 289 (W18), 323 (W18), 371, 385 (W18), 386 (W18), 388, 389, 391 (W18), 392 (W18), 393/CLCIV 369 (W18), 405, 406, 433 (W18), 458, 460, 461, 462, 463, 464, 466 (W18), 467, 474 (W18), and 492
Value:
One of PHIL 361: Ethics or 366: Political Philosophy or 367: Social and Political Philosophy or PPE 300: Introduction to Political Economy
Mind and Reality:
Either PHIL 345: Language and Mind or 381: Science and Objectivity or 383: Knowledge and Reality
Three additional courses:
Two additional 400-level courses (other than PHIL 419, 455, 498, or 499). Note: students are not permitted to use any course to satisfy more than one requirement. For example, if you use a 400-level course to satisfy the logic or history requirements, you cannot use that same course to satisfy this requirement.
One additional course at the 300-level or higher, such as PHIL 345: Language and Mind or 383: Knowledge and Reality
The courses needed to satisfy these requirements are not always offered every term. Majors should plan their programs so that they can be sure to take the courses they need before they can graduate.
Residency
At least 16 credits, including requirement 5.1, must be taken in residence.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the PHIL subject area may not be used toward the Distribution Requirement.
Honors
Qualified students who are interested in an Honors major in Philosophy should consult a department advisor as early as possible. Except in cases where special permission is granted, students must have a cumulative grade point average of at least 3.4 and a 3.5 average in completed courses in philosophy in order to be eligible for admission. Honors majors are required to complete 28 (rather than 25) credits in the major, including PHIL 401 and 498 or 499, which is taken in the senior year. Before enrolling in PHIL 498 or 499, students must submit a thesis proposal for the department's approval. Only students who have written an Honors thesis will be considered for graduation with Honors degrees. Students are admitted to the Honors major at the beginning of the junior year (or later) by permission of the Honors department advisor.
Philosophy (Major) (Winter 2012 - Summer 2019)
Effective Winter 2012
Advising
Prospective majors, especially students contemplating graduate work in philosophy, should consult a department advisor as early as possible in order to work out an appropriate, unified program. Appointments are scheduled through the on-line scheduling system available on the department's web page:
www.lsa.umich.edu/philosophy/undergraduate/advisorappointments
.
Grade Policies
No course will count toward the major unless the student receives a grade of C- or better.  This includes all courses including prerequisites, required courses, and electives.
Prerequisites
Any 100- or 200-level course other than PHIL 180, 183
(if elected after FA20)
, 201, 296 (logic courses). None of these courses counts toward the requirements for the major.
Requirements
Minimum Credits:
25
Majors must take at least 25 credits of Philosophy.
In fulfilling the credit requirement students must also satisfy the following distribution requirements:
Formal Methods:
PHIL 296, 303, 305, 413, or 414
History of Philosophy:
One course from among:
PHIL 288 (W18), 289 (W18), 388, or 389;
and one additional course from among: PHIL 288 (W18), 289 (W18), 323 (W18), 371, 385 (W18), 386 (W18), 388, 389, 391 (W18), 392 (W18), 393/CLCIV 369 (W18), 405, 406, 433 (W18), 458, 460, 461, 462, 463, 464, 466 (W18), 467, 474 (W18), and 492
Value:
One of PHIL 361: Ethics or 366: Political Philosophy or 367: Social and Political Philosophy or PPE 300: Introduction to Political Economy
Mind and Reality:
Either PHIL 345: Language and Mind or 381: Science and Objectivity or 383: Knowledge and Reality
Three additional courses:
Two additional 400-level courses (other than PHIL 419, 455, 498, or 499). Note: students are not permitted to use any course to satisfy more than one requirement. For example, if you use a 400-level course to satisfy the logic or history requirements, you cannot use that same course to satisfy this requirement.
One additional course at the 300-level or higher, such as PHIL 345: Language and Mind or 383: Knowledge and Reality
The courses needed to satisfy these requirements are not always offered every term. Majors should plan their programs so that they can be sure to take the courses they need before they can graduate.
Residency
At least 16 credits, including requirement 5.1, must be taken in residence.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the PHIL subject area may not be used toward the Distribution Requirement.
Honors
Qualified students who are interested in an Honors major in Philosophy should consult a department advisor as early as possible. Except in cases where special permission is granted, students must have a cumulative grade point average of at least 3.4 and a 3.5 average in completed courses in philosophy in order to be eligible for admission. Honors majors are required to complete 28 (rather than 25) credits in the major, including PHIL 401 and 498 or 499, which is taken in the senior year. Before enrolling in PHIL 498 or 499, students must submit a thesis proposal for the department's approval. Only students who have written an Honors thesis will be considered for graduation with Honors degrees. Students are admitted to the Honors major at the beginning of the junior year (or later) by permission of the Honors department advisor.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
