### Supplement: Courses
Source: https://lsa.umich.edu/math/graduates/Courses.html

Page header:
page title: Courses | U-M LSA Mathematics

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
Mathematics
About Us
People
Centers & Outreach
Seminars, Colloquia & Lectures
News & Events
for
Undergraduates
Graduates
Alumni & Friends
Research
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Keyword Search of math
Home
About Us
People
Centers & Outreach
Seminars, Colloquia & Lectures
News & Events
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
for
Undergraduates
Graduates
Alumni & Friends
Research
Your First Math Course at UofM:  A Guide for Incoming Students
Advising
Frequently Asked Questions
Research and Career Opportunities
Transfer Credit
Undergraduate Math Courses
Awards, Scholarships, and Prizes
Graduation
Resources
Major and Minor Programs
Extracurricular Activities
Policies
Student Spotlight
Admissions
Programs
Students On the Job Market - AIM & Math
Awards & Fellowships
Recent Ph.D. Recipients
Student Spotlight - AIM & Math
Courses
Student Handbook - AIM & Math
Thesis Defense Schedule
Newsletters
Giving to Mathematics
Algebra and Algebraic Geometry
Combinatorics
Financial and Actuarial Mathematics
Mathematical Biology
Number Theory
Research Training Grant
Analysis
Computer Science
Geometry & Topology
Mathematical Physics
Probability Theory
Named Postdoctoral Fellows
Applied Mathematics
Differential Equations
Logic and Foundations
Mathematics Education
Scientific Computing
Skip to Page Content
Graduates
Courses
...
Courses
Graduates
[X] close
Graduates
Admissions
Awards & Fellowships
Courses
Programs
Recent Ph.D. Recipients
Student Handbook - AIM & Math
Students On the Job Market - AIM & Math
Student Spotlight - AIM & Math
Thesis Defense Schedule
Courses
Graduates
Admissions
Awards & Fellowships
Courses
Programs
Recent Ph.D. Recipients
Student Handbook - AIM & Math
Students On the Job Market - AIM & Math
Student Spotlight - AIM & Math
Thesis Defense Schedule
Welcome to the University of Mathematics graduate courses page.  Click the buttons below to explore our offerings.
Courses by Term
Term (500+)
Courses by
Area
Cross-listed
Courses
Undergrad
Courses
Current Mathematics Department graduate students will find helpful pages linked to the buttons below.
Grad
Handbook
Course
Enrollment FAQs
AIM PhD Course
Requirements
Math PhD Course
Requirements
Mathematics
2074 East Hall
530 Church Street
Ann Arbor, MI 48109-1043
Undergraduate Students:
math-undergrad-office@umich.edu
Graduate Students:
math-grad-office@umich.edu
Department Administration:
math-admin-office@umich.edu
Website Updates:
math-comm-web@umich.edu
Intranet
Click to call 734.764.0335
734.764.0335
Sitemap
Information For
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan

### Supplement: Directed Teaching:
Source: https://marsal.umich.edu/academics/courses/EDUC_302/

Page header:
page title: Page not found | University of Michigan Marsal Family School of Education

Visible page text:
Skip to main content
Info for:
(choose one)
Tap Enter button to open the role navigation
Tap Enter button to close the role navigation
Search
Need Answers?
View FAQs
Email, Phone, and Addresses
View Directory
Explore Degrees
See All
The requested page could not be found.

### Supplement: Problems and Principles of Secondary Education:
Source: https://marsal.umich.edu/academics/courses/EDUC_304/

Page header:
page title: Page not found | University of Michigan Marsal Family School of Education

Visible page text:
Skip to main content
Info for:
(choose one)
Tap Enter button to open the role navigation
Tap Enter button to close the role navigation
Search
Need Answers?
View FAQs
Email, Phone, and Addresses
View Directory
Explore Degrees
See All
The requested page could not be found.

### Supplement: Practicum in Teaching Methods:
Source: https://marsal.umich.edu/academics/courses/EDUC_307/

Page header:
page title: Page not found | University of Michigan Marsal Family School of Education

Visible page text:
Skip to main content
Info for:
(choose one)
Tap Enter button to open the role navigation
Tap Enter button to close the role navigation
Search
Need Answers?
View FAQs
Email, Phone, and Addresses
View Directory
Explore Degrees
See All
The requested page could not be found.

### Supplement: Educational Psychology:
Source: https://marsal.umich.edu/academics/courses/EDUC_391/

Page header:
page title: Page not found | University of Michigan Marsal Family School of Education

Visible page text:
Skip to main content
Info for:
(choose one)
Tap Enter button to open the role navigation
Tap Enter button to close the role navigation
Search
Need Answers?
View FAQs
Email, Phone, and Addresses
View Directory
Explore Degrees
See All
The requested page could not be found.

### Supplement: Education in a Multi-cultural Society:
Source: https://marsal.umich.edu/academics/courses/EDUC_392/

Page header:
page title: Page not found | University of Michigan Marsal Family School of Education

Visible page text:
Skip to main content
Info for:
(choose one)
Tap Enter button to open the role navigation
Tap Enter button to close the role navigation
Search
Need Answers?
View FAQs
Email, Phone, and Addresses
View Directory
Explore Degrees
See All
The requested page could not be found.

### Supplement: Reading and Writing:
Source: https://marsal.umich.edu/academics/courses/EDUC_402/

Page header:
page title: Page not found | University of Michigan Marsal Family School of Education

Visible page text:
Skip to main content
Info for:
(choose one)
Tap Enter button to open the role navigation
Tap Enter button to close the role navigation
Search
Need Answers?
View FAQs
Email, Phone, and Addresses
View Directory
Explore Degrees
See All
The requested page could not be found.

### Supplement: Methods of Teaching Mathematics (or minor field):
Source: https://marsal.umich.edu/academics/courses/EDUC_413/

Page header:
page title: Page not found | University of Michigan Marsal Family School of Education

Visible page text:
Skip to main content
Info for:
(choose one)
Tap Enter button to open the role navigation
Tap Enter button to close the role navigation
Search
Need Answers?
View FAQs
Email, Phone, and Addresses
View Directory
Explore Degrees
See All
The requested page could not be found.
