Culture and Media (Sub-Major)
Effective Fall 2023
Exclusions:
Students majoring in Anthropology may only declare one of the optional sub-majors.
Advising
Department advisors are available to explain program objectives and requirements and to help with the planning of your program. Please visit the Advising page of the Anthropology website for information on how to schedule an advising appointment.
Additionally, all Anthropology faculty members are available for informal discussion about the field of anthropology with students during scheduled office hours (check the Department office for times).
Prerequisites
None, but ANTHRCUL 101 is recommended.
Requirements
At least 32 credits at the 200-level or above are required.
Choose at least one course in each of the following subfields:
1.
Anthropological Archaeology:
ANTHRARC 282: Doing Archaeology: Essential Theory and Methods (4)
ANTHRARC 386: Early Civilizations (4)
2.
Biological Anthropology:
ANTHRBIO 201: How Humans Evolved (4)
3.
Linguistic Anthropology:
ANTHRCUL 272: Language in Society (4)
ANTHRCUL 374: Language and Culture (4)
4.
Sociocultural Anthropology:
ANTHRCUL 222: The Comparative Study of Culture (4)
ANTHRCUL 226: Introduction to Historical Anthropology (3)
ANTHRCUL 230: Fundamentals of Social Theory (4)
ANTHRCUL 330: Culture, Thought, and Meaning (4)
Culture and Media Sub-Major
Students in the Culture and Media sub-major must complete 16-17 credits for the sub-major as part of their anthropology major elective credits for a minimum of 32 credits total.  At least one course must be at the 400-level or above. A list of approved courses for each sub-major can be found on the Anthropology Department website.
Constraints
The Culture and Media sub-major is only available to declared Anthropology majors and is not an independent major or minor. The sub-major will be notated on the student's official transcript.
A maximum of 6 credits of independent research can be counted toward the major.
Residency
At least 20 credits must be completed in residence at the University of Michigan.
Distribution Policy
No course used to fulfill a major requirement may be used toward the LSA Distribution Requirement. In addition, courses in the ANTHRARC, ANTHRBIO, and ANTHRCUL subject areas may not be used toward the Distribution Requirement.
Honors
Students interested in scholarly research are encouraged to consider the Honors major. Previous participation in the College Honors program is not a prerequisite. Seniors admitted to the Honors major normally elect an independent study or seminar in their special field of interest: biological anthropology (ANTHRBIO 398), archaeology (ANTHRARC 398) or sociocultural or linguistic anthropology (ANTHRCUL 497). These give students an opportunity for intensive training and research experience; the Honors major requires a senior thesis. Interested students should consult an Anthropology advisor for more information.
Teaching Certificate
Students interested in obtaining a secondary teaching certificate with a teaching minor in Anthropology should consult the "Teacher Certification Program" on the LSA website and the School of Education Office of Academic Services.
