### Supplement: Culture and Media approved courses
Source: https://lsa.umich.edu/anthro/undergraduates/anthropology-major/culture-and-media-sub-major.html

Page header:
page title: Culture and Media Sub-Major | U-M LSA Anthropology

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About Us
People
Subfields
News and Events
Resources
for
Undergraduates
Graduates
Alumni & Friends
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Keyword Search of anthro
About Us
People
Subfields
News and Events
Resources
for
Undergraduates
Graduates
Alumni & Friends
Anthropology Major
Courses
Academic Policies & Procedures
Transfer Credit
Accelerated MA Program in Transcultural Studies
Human Origins, Biology, and Behavior Major
Honors Program
Get Involved
Graduation
Minors
Advising
Funding
What can I do with an Anthropology degree?
Prospective Students
Recent Graduates
Current Student Resources
Awards
Get Involved
Giving
What Does Anthropology Mean to You?
Skip to Page Content
Undergraduates
Anthropology Major
Culture and Media Sub-Major
...
Culture and Media Sub-Major
Undergraduates
Anthropology Major
[X] close
Undergraduates
Anthropology Major
Archaeology Sub-Major
Culture and Media Sub-Major
Environment and Conservation Sub-Major
Medical Anthropology Sub-Major
Politics, Law, and Economy Sub-Major
Power, Identity, and Inequality Sub-Major
Human Origins, Biology, and Behavior Major
Minors
Courses
Honors Program
Advising
Academic Policies & Procedures
Get Involved
Funding
Transfer Credit
Graduation
What can I do with an Anthropology degree?
Accelerated MA Program in Transcultural Studies
Culture and Media Sub-Major
Undergraduates
Anthropology Major
Archaeology Sub-Major
Culture and Media Sub-Major
Environment and Conservation Sub-Major
Medical Anthropology Sub-Major
Politics, Law, and Economy Sub-Major
Power, Identity, and Inequality Sub-Major
Human Origins, Biology, and Behavior Major
Minors
Courses
Honors Program
Advising
Academic Policies & Procedures
Get Involved
Funding
Transfer Credit
Graduation
What can I do with an Anthropology degree?
Accelerated MA Program in Transcultural Studies
The Culture and Media submajor offers a rigorous study of the everyday life of media technologies.
This course of study responds to a growing demand for qualitative and critical approaches to understanding how media forms and technologies are changing societies around the world, as well as how those societies interpret, take up, and transform media in culturally diverse and historically specific ways. Anthropology offers a uniquely cross-cultural, comparative perspective on media and technology, and its ethnographic methods of observation and recording will equip students with the knowledge and skills to make sense of and navigate the intersections of culture, media and technology in a global context.
This sub-major offers courses in both media anthropology and multimodal experiential ethnography.
Media anthropology
: the ethnographic study of the production, consumption, and circulation of media forms in social life, from mass broadcast media such as television and radio to digital media platforms and algorithmic cultures. Ethnographic approaches to media focus on various aspects, from the sensory to the infrastructural to the political and economic; it covers media in interactive environments of various kinds, from digital platforms to live concerts and performances.
Multimodal experiential ethnography
: ethnographic film-making along with the history and critical study of ethnographic film; multimedia, such as podcasts, sonic ethnography, comics, and animation; sensory ethnography; and video analysis of gesture and embodied communication.
Prerequisites
None, but ANTHRCUL 101 is recommended.
Requirements
Students in the Culture and Media sub-major must complete 16-17 credits from the courses listed below as part of their anthropology major elective credits for a minimum of 32 credits total.
Courses
ANTHRCUL 237 - Digital Futures: Media Technologies and Social Transformation Around the World
ANTHRCUL 249 -  Sound, Music, and Noise (STS 249)
ANTHRCUL 272 - Language in Society (LING 272)
ANTHRCUL 274 - Language and Popular Culture
ANTHRCUL 299 - Topics in Linguistic Anthropology: Language and Popular Culture
ANTHRCUL 338 - The Arts in Anthropological Perspective
ANTHRCUL 356 - Topics in Sociocultural Anthropology: Filming the Future of 'Diversity'
ANTHRCUL 359 - Ethnographic Methods
ANTHRCUL 374 - Language and Culture
ANTHRCUL 458 - Topics in Sociocultural Anthropology: Filming the Future of Detroit (AAS 498)
ANTHRCUL 458 - Topics in Sociocultural and Linguistic Anthropology: Religion, Media, and Politics
ANTHRCUL 458 - Topics in Sociocultural and Linguistic Anthropology: The Sensorium: Art, Life, and Online Worlds
ANTHRCUL 458 - Topics in Sociocultural and Linguistic Anthropology: Suspicion, Surveillance, and Paranoia: Anthropological Perspectives
ANTHRCUL 458 - Topics in Sociocultural and Linguistic Anthropology: Visual Methods: Ethnographic Film-making
ANTHRCUL 458 - Topics in Sociocultural and Linguistic Anthropology: Language and Media
ANTHRCUL 471 - Face-to-Face Interaction
ANTHRCUL 476 - Body Talk, Body Politics: Nonverbal Communication
Constraints
The Culture and Media sub-major is only available to declared Anthropology majors and is not a major or minor. The sub-major will be notated on the student's official transcript.
A maximum of 6 credits of independent research can be counted toward the major.
Residency
At least 20 credits must be completed in residence at the University of Michigan.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the ANTHRARC, ANTHRBIO, and ANTHRCUL subject areas may not be used toward the Distribution Requirement.
Exclusions
Students may elect only one of the optional sub-majors.
Anthropology
101 West Hall
1085 S. University Ave.
Ann Arbor, Michigan 48109-1107
michigan-anthro@umich.edu
Click to call 734.764.7274
734.764.7274
734.763.6077
Sitemap
Facebook
Twitter
Youtube
Instagram
Information For
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan

### Supplement: Anthropology Department website
Source: https://lsa.umich.edu/anthro/undergraduates/anthropology-major.html

Page header:
page title: Anthropology Major | U-M LSA Anthropology

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About Us
People
Subfields
News and Events
Resources
for
Undergraduates
Graduates
Alumni & Friends
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Keyword Search of anthro
About Us
People
Subfields
News and Events
Resources
for
Undergraduates
Graduates
Alumni & Friends
Anthropology Major
Courses
Academic Policies & Procedures
Transfer Credit
Accelerated MA Program in Transcultural Studies
Human Origins, Biology, and Behavior Major
Honors Program
Get Involved
Graduation
Minors
Advising
Funding
What can I do with an Anthropology degree?
Prospective Students
Recent Graduates
Current Student Resources
Awards
Get Involved
Giving
What Does Anthropology Mean to You?
Skip to Page Content
Undergraduates
Anthropology Major
...
Anthropology Major
Undergraduates
[X] close
Undergraduates
Anthropology Major
Archaeology Sub-Major
Culture and Media Sub-Major
Environment and Conservation Sub-Major
Medical Anthropology Sub-Major
Politics, Law, and Economy Sub-Major
Power, Identity, and Inequality Sub-Major
Human Origins, Biology, and Behavior Major
Minors
Courses
Honors Program
Advising
Academic Policies & Procedures
Get Involved
Funding
Transfer Credit
Graduation
What can I do with an Anthropology degree?
Accelerated MA Program in Transcultural Studies
Anthropology Major
Undergraduates
Anthropology Major
Archaeology Sub-Major
Culture and Media Sub-Major
Environment and Conservation Sub-Major
Medical Anthropology Sub-Major
Politics, Law, and Economy Sub-Major
Power, Identity, and Inequality Sub-Major
Human Origins, Biology, and Behavior Major
Minors
Courses
Honors Program
Advising
Academic Policies & Procedures
Get Involved
Funding
Transfer Credit
Graduation
What can I do with an Anthropology degree?
Accelerated MA Program in Transcultural Studies
The Anthropology major provides a holistic, comparative, and innovative understanding of humanity and human behavior that forms an invaluable foundation for problem solving in an increasingly complex world.
Anthropology helps us make sense of who we are, where we came from, our social relations, our material culture, how we walk, talk and think, and our effects on the planet. Anthropology provides skills and expertise in the social sciences, natural sciences, and humanities.
You will learn to think critically, write effectively, work both collaboratively and independently, collect and analyze data, and be equipped to pursue a wide range of careers in the health sciences, conservation, social justice, law and policy, media and technology, international affairs, and more. Students who major in anthropology can earn either a B.A. or B.S. degree and choose to focus their studies further with six submajors.
Anthropology Submajors
Archaeology
Culture and Media
Environment and Conservation
Medical Anthropology
Politics, Law, and Economy
Power, Identity, and Inequality
Major Requirements
At least 32 credits at the 200-level or above are required. Choose at least one course in each of the following subfields:
1. Anthropological Archaeology
ANTHRARC 282 Doing Archaeology: Essential Theory and Methods (4)
ANTHRARC 386 Early Civilizations (4)
2. Biological Anthropology
ANTHRBIO 201 How Humans Evolved (4)
3. Linguistic Anthropology
ANTHRCUL 272 Language in Society (4)
ANTHRCUL 374 Language and Culture (4)
4. Sociocultural Anthropology
ANTHRCUL 222 The Comparative Studies of Culture (4)
ANTHRCUL 226 Introduction to Historical Anthropology (3)
ANTHRCUL 230 Fundamentals of Social Theory (4)
ANTHRCUL 330 Culture, Thought, and Meaning (4)
Other credits are taken from ANTHRARC, ANTHRBIO, or ANTHRCUL courses with a minimum of one course at the 400-level or above.
Anthropology
101 West Hall
1085 S. University Ave.
Ann Arbor, Michigan 48109-1107
michigan-anthro@umich.edu
Click to call 734.764.7274
734.764.7274
734.763.6077
Sitemap
Facebook
Twitter
Youtube
Instagram
Information For
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
