Page header:
page title: Interdisciplinary Chemical Sciences (ICS) Major | U-M LSA U-M College of LSA

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}
previous
|
next
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Interdisciplinary Chemical Sciences (ICS) Major
...
Interdisciplinary Chemical Sciences (ICS) Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Interdisciplinary Chemical Sciences (ICS) Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Winter 2024
Exclusions:
May not be elected by those pursuing a major in Chemistry, Biochemistry, or Biomolecular Science; or any of the Department of Chemistry minors.
Advising
Students develop a plan for the major in consultation with a program advisor. Those interested in a B.S. degree with a major in Chemistry, Biochemistry, Biomolecular Science, or Interdisciplinary Chemical Sciences are urged to consult a program advisor during their first or sophomore years. Prospective majors are advised that further study in chemistry requires adequate performance in early chemistry courses (preferably B- or better) as well as in the mathematics and physics prerequisites. Students interested in an Honors degree should see the Chemistry Honors advisor. Appointments are scheduled online at http://lsa.umich.edu/chem/undergraduates/advising.html. Students interested in the joint program with the College of Engineering should make an appointment with Newnan Academic Advising Center and then make an appointment to see a Chemistry Department advisor online.
Grade Policies
The department strongly recommends that a student earn a grade of at least C– in all CHEM courses and mathematics, physics, and biology courses that are prerequisite for subsequent elections. A major program grade point average of at least 2.0 is required; this includes chemistry courses, mathematics, physics, and biology prerequisites, and advanced electives that are part of a major plan. Prerequisites must be taken for a grade. Students must request any change in a chemistry course grade within the first fifteen University Business days of the first full term following the term in which the disputed grade was issued.
Prerequisites
PHYSICS [125/127 or 135/136 or 139 or 140/141 or 150/151 or 160/161] or equivalent
MATH 115 (or 120) and 116 (or 121), or an equivalent sequence
Requirements
Minimum Credits:
27
A minimum of 27 credits in Chemistry and 15 credits in cognates approved by the department advisor, as follows:
Core Courses in Chemistry:
CHEM 210/211;
CHEM 241/242 or CHEM 245/246/247;
CHEM 260;
CHEM 302 or 303.
Electives.
12 credits in CHEM, including at least three courses at the 300-level or above. At least one of these must be a 400-level lecture course.
Theme Focus/Cognates:
15 credits of course work at the 200-level or above, with at least two courses (6 credits) at the 300-level or above. The plan must be designed with prior approval of a chemistry department advisor.
The Interdisciplinary Chemical Sciences major allows students substantial flexibility to define the thematic focus of their study in cognate courses. The flexibility inherent in the ICS major comes with a responsibility: each student must work closely with an ICS department advisor to select the proper upper level chemistry classes and define a cognate course plan when declaring the ICS major. Possible cognate plans are posted on the department website. Example subplans include a focus on:
Health and Life Sciences
Philosophy
Chemical Physics
ICS at the interface between science and public policy
Constraints
Only 3 classes can be shared between ICS and a second major.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the CHEM subject area may not be used toward the Distribution Requirement.
Honors
Maintenance of a satisfactory GPA (3.4) in courses for the major, including prerequisites, and satisfactory completion of an Honors thesis (CHEM 499) based on the research done in CHEM 399 are required for Honors. All students, whatever their program, who are interested in an Honors degree should see the Chemistry Honors advisor (Room 1500 Chemistry) for approval for participation in the Junior-Senior Honors Program in Chemistry.
Teaching Certificate
Those seeking a B.S. with a teaching certificate in Chemistry must fulfill departmental as well as School of Education requirements. Students who plan to earn a teaching certificate with a teaching major or minor in Chemistry should contact the School of Education Teacher Education Office.
Interdisciplinary Chemical Sciences (ICS) [A.B. or B.S.] (Major) (Fall 2022 - Fall 2023)
Effective Fall 2022
Exclusions:
May not be elected by those pursuing a major in Chemical Science (or Chemistry), Biochemistry, or Biomolecular Science; or any of the Chemistry minors.
Advising
Students develop a plan for the major in consultation with a program advisor. Advisor approval of the plan for the major will be required when a student declares an ICS major. Those interested in a major in Interdisciplinary Chemical Sciences are urged to consult a program advisor during the freshman and/or sophomore years. Prospective majors are advised that further study in chemistry requires adequate performance in early chemistry courses (preferably B- or better) as well as in the mathematics and physics prerequisites. Students interested in an Honors degree should see the Chemistry Honors advisor. Appointments are scheduled online at
www.umich.edu/~michchem/undergrad/index.html
Grade Policies
The department strongly recommends that a student earn a grade of at least C– in all CHEM courses and mathematics, physics, and biology courses that are prerequisite for subsequent elections. A major program grade point average of at least 2.0 is required; this includes chemistry courses, mathematics, physics, and biology prerequisites, and advanced electives that are part of a major plan. Prerequisites must be taken for a grade. Students must request any change in a chemistry course grade within the first fifteen University Business days of the first full term following the term in which the disputed grade was issued.
Prerequisites
PHYSICS [125/127 or 135/136 or 139 or 140/141 or 150/151 or 160/161] or equivalent
MATH 115 (or 120) and 116 (or 121), or an equivalent sequence
Requirements
Minimum Credits:
27
A minimum of 27 credits in Chemistry and 15 credits in cognates approved by the department advisor, as follows:
Core Courses in Chemistry:
CHEM 210/211;
CHEM 241/242 or CHEM 245/246/247;
CHEM 260;
CHEM 302 or 303.
Electives.
12 credits in CHEM, including at least three courses at the 300-level or above. At least one of these must be a 400-level lecture course.
Theme Focus/Cognates:
15 credits of course work at the 200-level or above, with at least two courses (6 credits) at the 300-level or above. The plan must be designed with prior approval of a chemistry department advisor.
The Interdisciplinary Chemical Sciences major allows students substantial flexibility to define the thematic focus of their study in cognate courses. The flexibility inherent in the ICS major comes with a responsibility: each student must work closely with an ICS department advisor to select the proper upper level chemistry classes and define a cognate course plan when declaring the ICS major. Possible cognate plans are posted on the department website. Example subplans include a focus on:
Health and Life Sciences
Philosophy
Chemical Physics
ICS at the interface between science and public policy
Constraints
Only 3 classes can be shared between ICS and a second major.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the CHEM subject area may not be used toward the Distribution Requirement.
Honors
Maintenance of a satisfactory GPA (3.4) in courses for the major, including prerequisites, and satisfactory completion of an Honors thesis (CHEM 499) based on the research done in CHEM 399 are required for Honors. All students, whatever their program, who are interested in an Honors degree should see the Chemistry Honors advisor (Room 1500 Chemistry) for approval for participation in the Junior-Senior Honors Program in Chemistry.
Teaching Certificate
Those seeking a B.S. or B.S. Chem. Degree with a teaching certificate in Chemistry must fulfill departmental as well as School of Education requirements. Students who plan to earn a teaching certificate with a teaching major or minor in Chemistry should contact the School of Education Teacher Education Office.
Interdisciplinary Chemical Sciences (ICS) [A.B. or B.S.] (Major) (Fall 2015 - Summer 2022)
Effective Fall 2015
Exclusions:
May not be elected by those pursuing a major in Chemical Science (or Chemistry), Biochemistry, or Biomolecular Science; or any of the Chemistry minors.
Advising
Students develop a plan for the major in consultation with a program advisor. Advisor approval of the plan for the major will be required when a student declares an ICS major. Those interested in a major in Interdisciplinary Chemical Sciences are urged to consult a program advisor during the freshman and/or sophomore years. Prospective majors are advised that further study in chemistry requires adequate performance in early chemistry courses (preferably B- or better) as well as in the mathematics and physics prerequisites. Students interested in an Honors degree should see the Chemistry Honors advisor. Appointments are scheduled online at
www.umich.edu/~michchem/undergrad/index.html
Grade Policies
The department strongly recommends that a student earn a grade of at least C– in all CHEM courses and mathematics, physics, and biology courses that are prerequisite for subsequent elections. A major program grade point average of at least 2.0 is required; this includes chemistry courses, mathematics, physics, and biology prerequisites, and advanced electives that are part of a major plan. Prerequisites must be taken for a grade. Students must request any change in a chemistry course grade within the first fifteen University Business days of the first full term following the term in which the disputed grade was issued.
Prerequisites
PHYSICS 135/136 or 140/141 or equivalent
MATH 115 (or 120) and 116 (or 121), or an equivalent sequence
Requirements
Minimum Credits:
27
A minimum of 27 credits in Chemistry and 15 credits in cognates approved by the department advisor, as follows:
Core Courses in Chemistry:
CHEM 210/211;
CHEM 241/242 or CHEM 245/246/247;
CHEM 260;
CHEM 302 or 303.
Electives.
12 credits in CHEM, including at least three courses at the 300-level or above. At least one of these must be a 400-level lecture course.
Theme Focus/Cognates:
15 credits of course work at the 200-level or above, with at least two courses (6 credits) at the 300-level or above. The plan must be designed with prior approval of a chemistry department advisor.
The Interdisciplinary Chemical Sciences major allows students substantial flexibility to define the thematic focus of their study in cognate courses. The flexibility inherent in the ICS major comes with a responsibility: each student must work closely with an ICS department advisor to select the proper upper level chemistry classes and define a cognate course plan when declaring the ICS major. Possible cognate plans are posted on the department website. Example subplans include a focus on:
Health and Life Sciences
Philosophy
Chemical Physics
ICS at the interface between science and public policy
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the CHEM subject area may not be used toward the Distribution Requirement.
Honors
Maintenance of a satisfactory GPA (3.4) in courses for the major, including prerequisites, and satisfactory completion of an Honors thesis (CHEM 499) based on the research done in CHEM 399 are required for Honors. All students, whatever their program, who are interested in an Honors degree should see the Chemistry Honors advisor (Room 1500 Chemistry) for approval for participation in the Junior-Senior Honors Program in Chemistry.
Teaching Certificate
Those seeking a B.S. or B.S. Chem. Degree with a teaching certificate in Chemistry must fulfill departmental as well as School of Education requirements. Students who plan to earn a teaching certificate with a teaching major or minor in Chemistry should contact the School of Education Teacher Education Office.
Interdisciplinary Chemical Sciences (ICS) Major (Fall 2012-Summer 2015)
Interdisciplinary Chemical Sciences (ICS)
May be elected as a departmental major
Effective Fall 2012-Summer 2015
Exclusions.
May not be elected by those pursuing a major in Chemical Science (or Chemistry), Biochemistry, or Biomolecular Science; or any of the Chemistry minors
The Interdisciplinary Chemical Sciences (ICS) major allows students the flexibility to supplement a core study of chemistry with courses in complementary fields. The intended audience for the major includes pre-health professional students, students interested in the relationship between science and societal concerns such as the environment or public policy, students interested in fields such as the philosophy of science or history of science where a sound background in a scientific field will provide a deeper level of engagement, and students interested in broadly interdisciplinary sciences not well represented in any individual department. This major can be effective preparation for graduate study in the sciences, graduate studies in an interdisciplinary area that might benefit from a strong science background, for medical, law, and business schools, or for direct entry into the job market.
Prerequisites to the Major
PHYSICS 135/136 or 140/141 or equivalent
MATH 115 and 116, or an equivalent sequence
Requirements for the Major
A minimum of 27 credits in Chemistry and 15 credits in cognates approved by the department advisor, as follows:
Core Courses in Chemistry:
CHEM 210/211;
CHEM 241/242 or CHEM 245/246/247;
CHEM 260;
CHEM 302 or 303.
Electives.
12 credits in CHEM, including at least three courses at the 300-level or above. At least one of these must be a 400-level lecture course.
Theme Focus/Cognates:
15 credits of course work at the 200-level or above, with at least two courses (6 credits) at the 300-level or above. The plan must be designed with prior approval of a chemistry department advisor.
The Interdisciplinary Chemical Sciences major allows students substantial flexibility to define the thematic focus of their study in cognate courses. The flexibility inherent in the ICS major comes with a responsibility: each student must work closely with an ICS department advisor to select the proper upper level chemistry classes and define a cognate course plan when declaring the ICS major. Possible cognate plans are posted on the department website. Example subplans include a focus on:
Health and Life Sciences
Philosophy
Chemical Physics
ICS at the interface between science and public policy
Honors Plan in Interdisciplinary Chemical Sciences
Maintenance of a satisfactory GPA (3.4) in courses for the major, including prerequisites, and satisfactory completion of an Honors thesis (CHEM 499) based on the research done in CHEM 399 are required for Honors. All students, whatever their program, who are interested in an Honors degree should see the Chemistry Honors advisor (Room 1500 Chemistry) for approval for participation in the Junior-Senior Honors Program in Chemistry.
Advising
Students develop a plan for the major in consultation with a program advisor. Advisor approval of the plan for the major will be required when a student declares an ICS major. Those interested in a major in Interdisciplinary Chemical Sciences are urged to consult a program advisor during the freshman and/or sophomore years. Prospective majors are advised that further study in chemistry requires adequate performance in early chemistry courses (preferably B- or better) as well as in the mathematics and physics prerequisites. Students interested in an Honors degree should see the Chemistry Honors advisor. Appointments are scheduled online.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
