Page header:
page title: BS in Pharmaceutical Sciences | UM College of Pharmacy
og:description: The pharmacy programs bachelor's degree in pharmaceutical Sciences pre-health program prepares you to go on to graduate school or straight to the workforce

Visible page text:
Bachelor of Science in
Pharmaceutical Sciences
Apply Now
Home
»
Pharmacy Programs
»
BS in Pharmaceutical Sciences
Healthcare Excellence
Starts Here
#3
College of Pharmacy
in the Nation
#3
Public University
Nationwide
#1
in Research Funding
in the Big 10
#1
Best Small College Towns
in America
710K+
Living U-M Alumni
Worldwide
Preparing You for a Career in
Healthcare or Research
Multidisciplinary by design, you will take classes in the foundations of pharmacy such as the science of medicines, biopharmaceutics and the biology of drug delivery. You will also explore core courses in chemistry, mathematics and biology taught across several schools and colleges at the University.
Expand Your Knowledge
Explore your interests and become even more well-rounded by pairing your major in Pharmaceutical Sciences with a minor.
Dive into Research
Secure an undergraduate research position under a faculty member and gain real-life experience in the lab, or graduate with honors by pursuing an Honors Research Thesis Project.
Sharpen Your Skills
Take advantage of one-credit seminars on health professions, professionalism and research – all while earning credit toward your degree.
Broaden Your Focus
Earn two separate undergraduate degrees from two different U-M schools or colleges at the same time through the Dual Degree program.
Why Choose Our
Bachelor's Program?
Go beyond Pharmacy in this pre-health program and set yourself up for success to go on to graduate school or straight to the workforce.
Experience all the maize and blue culture of the University of Michigan while benefiting from the close-knit community at the College of Pharmacy.
Request More Information
Download Brochure
Hear What Our
BSPS Alums
Have to Say
Kaitlyn Ziegle, Class of 2024
Current PharmD Student
"Faculty in the CoP have always been welcoming, approachable and supportive. During my time in BSPS, I reached out to multiple professors for shadowing, career advice and independent research project opportunities. Pursuing a BSPS degree helped prepare me for the PharmD program."
Saatvik Vaishnav, Class of 2024
"The BSPS program has played a tremendous role in developing me as a future leader in science. From various classes in the field of pharmacy that are only available in the BSPS program, to having exceptional faculty members with research labs producing life-saving medical treatments, the BSPS program has allowed me to gain the skills needed to pursue a career in the medical field as a physician."
Noah Poulin, Class of 2024
Pursuing Medical Degree
"At commencement, it was really cool to look around and see people who are pursuing a PharmD, or a PhD program or going to medical school. I don’t think there’s any other program on campus that has small class sizes but also graduates such successful people. I think that’s very unique."
BSPS Curriculum at a
Glance
What You’ll Learn in the BSPS Program
GE
courses
STEM
courses
Rx
courses
ELEC
courses
GE
courses
STEM
courses
Rx
courses
ELEC
courses
General Education Courses
English
Social Sciences
Humanities and more
Science, Math and
Lab Courses
Biology
General Chemistry
Organic Chemistry
Physiology and more
Pharmaceutical Sciences Courses
Sciences of Medicines
Precision Health
Drug Discovery and more
Elective Courses
Choose a Minor
Take Pre-Health Prerequisites
Explore the Unique Courses U-M Offers
Class of 2026:
64%
PharmD, MD, Professional Health Degree
14%
Masters, PhD
5%
Job/Industry
What You Can Do with a
BSPS Degree
An undergraduate degree in Pharmaceutical Sciences can lead to a wide array of options, including careers in healthcare companies and the pharmaceutical industry, or you may choose to continue your education by pursuing a graduate degree or professional programs like medical, dental, and pharmacy school.
Life at the University of Michigan
Join a student organization, explore Ann Arbor, cheer on the Wolverines at the Big House and make lifelong friends.
Student Life at U-M
Fast Track to a PharmD
Gain admission to the U-M College of Pharmacy’s Doctor of Pharmacy (PharmD) program a year early while completing your Bachelor of Pharmaceutical Sciences – saving you time and money.
Learn More
Ready to Apply?
Learn about admission requirements and view the next steps toward earning a Bachelor of Science in Pharmaceutical Sciences at the University of Michigan.
Application Details
