BSPS Degree Checklist              Name:                                                                                    Date:                                   . 
Earned credits + Current term credits:                                                                                           GPA Criteria:  
+  Remaining required credits:                                                                                                            ✓  Minimum 2.0 cumulative GPA 
+  Remaining elective credits:                                                                                                             ✓  “C-” or better in BSPS Core and courses that are  
                                                                                                                                                                  prerequisites to the Core (see *, ^, ~, -, etc.) 
=  At least 120 total credits      →                   /60 taken at Michigan while in BSPS  (totals vary if you are fast-tracking) 
________________________________________________________________________________________________________________________ 
General Education (18 credits) 
 First Year Writing Req. (4cr) 
 Humanities or Language (4cr) 
 Humanities or Language (3cr) 
 Social Science (4cr) 
 Social Science (3cr) 
 
  Only 1 AP/IB SS and 1 AP/IB HU may count 
                _______________________ 
 
 
 
Science / Math / Lab (49 credits) 
 Biology 171 (4cr) 
 Biology 172 (4cr) 
 Biology 173 (2 cr) 
 
 Chem 125 (1cr) 
 Chem 126 (1cr) 
 Chem 130 (3cr) * ~ 
 
 Chem 210 (3cr) - 
 Chem 211 (2cr)  
 
 Chem 215 (3cr) 
 Chem 216 (2cr) 
 
 Chem 230 or 260 (3cr) ~ 
 
 BiolChem 415 or MCDB 310 or 
Chem 351 (4cr) ^ 
 
 Physics 140 or 150 (4cr) 
 Physics 141 or 151 (1cr) 
 
 Math 115 (4cr) ~ 
 
 Stats 250 (4cr) 
 
 Physiol 201 or 502 (4cr) 
_______________________ 
   
 
 
 
BSPS Core (27 credits) 
First Year: 
 
 Pharmacy 102 (1cr) – Fall 
 
 PharmSci 101 (2cr) – Winter 
 
Sophomore Year: 
 
 Pharmacy 200 (3cr) – Fall 
 Pharmacy 212 (1cr) – Fall 
 
 MedChem 210 (3cr) – Winter - 
 Pharmacy 217 (1cr) – Winter 
 
Junior Year: 
 
 PharmSci 300 (3cr) – Fall * 
 Pharmacy 302 (1cr) – Fall 
 
 MedChem 310 (3cr) – Winter ^ 
 Pharmacy 312 (1cr) – Winter 
 
Senior Year: 
 
 PharmSci 400 (3cr) – Fall ~ 
 PharmSci 402 (1cr) – Fall  
 
 MedChem 410 (3cr) – Winter  
 PharmSci 402 (1cr) – Winter  
_______________________ 
 
 
NOTES: 
 
 
 
 
 
 
 
 
 
 
 
 
Electives (about 26 credits) 
 
 
 
 
DEGREE PLANNING: 
 
 
 
 
 
 
 
 
 
 
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
Final course selection and registration is ultimately up to the student. This document is for organizing and planning purposes during our meeting; for the most accurate information, please refer to your 
Audit Checklist in Wolverine Access.
