### Supplement: Go to Silent Advisor
Source: https://drive.usercontent.google.com/download?id=1YJ3tfWH0sbGzZI3nrSlzLL82zwrTqUhv&export=download

Page header:
page title: PDF extract

Visible page text:
MASTER OF ARTS IN COMPOSITION Silent Advisor 2021 – 2022  
        This term layout is provided as a guideline only. The sequence of elections and credits may vary based on individual circumstances.  For more specific information, see an Advisor.   Work elected in making up deficiencies will not count as credit toward the degree.   
 SMTD Requirements Credits Composition 539/540 4; elected each term Composition Seminar 550 2; elected each term Music Theory, Musicology, Electronic Music, and/or Performing Arts Technology 8 credits Electives from outside SMTD  8 credits 	Final Project – A short orchestral work composed while in residence, a bound copy of which must be deposited with the department, or another large project approved by an advisor   
FALL TERM 	FIRST YEAR  Course Elections Credits Composition 539 (Lessons) Composition 550 (Seminar) Theory/Musicology/Electronic/PAT Possible Remedial Theory 139 Possible Remedial Theory 334 
4 2 3 1 2 Credit Total 12  
WINTER TERM 	 Course Elections Credits Composition 539 (Lessons) Composition 550 (Seminar) Theory/Musicology/Electronic/PAT Outside SMTD Elective Possible Remedial Theory 240 Possible Remedial Theory 461 
4 2 3 2 1 2 Credit Total 14  SECOND YEAR  Course Elections Credits Composition 540 (Lessons) Composition 550 (Seminar) Theory/Musicology/Electronic/PAT Outside SMTD Elective 
4 2 3 3 Credit Total 12  
 Course Elections Credits Composition 540 (Lessons) Composition 550 (Seminar) Outside SMTD Elective 4 2 3 Credit Total 9  
Minimum Total Credits Required: 30
