Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Archaeology of the Ancient Mediterranean Major
...
Archaeology of the Ancient Mediterranean Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Archaeology of the Ancient Mediterranean Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Fall 2024
Advising
Students interested in the Department's majors in Greek (Ancient), Latin, Classical Languages and Literatures, Archaeology of the Ancient Mediterranean, Classical Civilization or Greek (Modern) major should check with the
Department office
for the name of the current advisor. Students interested in obtaining Teacher Certification in Latin should see the Elementary Latin Coordinator.
The Department recommends that interested students see the department advisors as early as possible in order to plan their programs and avoid unnecessary scheduling conflicts.
Students wishing to pursue a minor in Classical Studies must develop a specific plan for its completion in consultation with the Department's designated advisor.
Grade Policies
The department requires that a student earn a grade of at least C– in all
language
courses which are prerequisite for subsequent elections. A student should repeat any
language
course in which a D+ or lower grade is earned and which serves as a prerequisite to other courses which are to be elected. A grade of D+ signifies some achievement but denotes too weak a foundation for subsequent courses.
Prerequisites
None.
Requirements
Minimum Credits:
27
Requires a minimum of 8 courses (at least 3 credits each) including:
two of the following introductory courses: ARCHAM 221, 222, or 228
one broad introductory course in either Greek or Roman history or civilization (200-level or above), such as CLCIV 202, 302; HISTORY 200, 201
three upper-level courses (numbered 325 and above) in the Archaeology of the Ancient Mediterranean (ARCHAM)
one course in Ancient Greek or Latin that helps the student achieve third-term proficiency (usually met by successful completion of GREEK 301 or the equivalent, or LATIN 231 or the equivalent). Students who plan to fulfill this requirement in other ways should speak to the department advisor.
At least one additional relevant course at the 400-level (ARCHAM 499 may be substituted only with prior approval of the advisor)
Students interested in possibly continuing in the field should discuss their plans with the undergraduate advisor as early and as frequently as possible.  Graduate school in Archaeology of the Ancient Mediterranean requires knowledge of both Ancient Greek and Latin and the department advisor can assist in planning a curriculum to include both languages.
Other Department Policies
Field Experience
Recommended but not required for a major in Archaeology of the Ancient Mediterranean There are several opportunities for students to join excavations in the Mediterranean area under the supervision of University of Michigan faculty. Contact the Department to speak with an advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the ARCHAM or CLARCH, CLCIV, CLLING, GREEK, GREEKMOD, and LATIN subject areas may not be used toward the Distribution Requirement.
Honors
The department offers Honors in each of the six majors. Interested students who have a cumulative grade point average of at least 3.4 should contact their department advisor to discuss an Honors thesis no later than the winter term of their junior year.
It is the student's responsibility to find a suitable faculty advisor to oversee the thesis project. This project and its components are to be decided collectively by the student and the advisor at the end of the junior year. We encourage students to think creatively about the approach to their research and thesis project. Thesis advisors must sign off on a student's thesis project proposal.
At the end of the thesis project, the candidate must offer an oral defense of this work to a committee comprised of the thesis advisor and another faculty member, and present their research findings at the Classical Studies Honors Symposium.
Additional requirements for Honors candidates are specified with each major.
Honors in Archaeology of the Ancient Mediterranean
In addition to the Honors plan requirements stated above, Honors candidates must satisfy the following:
3.4 minimum cumulative GPA; 3.5 minimum major GPA
Completion of an Honors thesis and oral defense in coordination with a Classics faculty member
Completion of eight credits in the second classical language (Greek if the major language is Latin; Latin if the major language is Greek).
CLCIV 480
section titled "Research Seminar"
(Fall term)
Students may also elect ARCHAM 495 for 1-2 credits in the Fall and 1-3 credits in the Winter, but are not required to do so.
Classical Archaeology (Major) (Winter 2023 - Summer 2024)
Effective Winter 2023
Advising
Students interested in the Department's majors in Greek (Ancient), Latin, Classical Languages and Literatures, Classical Archaeology, Classical Civilization or Greek (Modern) major should check with the
Department office
for the name of the current advisor. Students interested in obtaining Teacher Certification in Latin should see the Elementary Latin Coordinator.
The Department recommends that interested students see the department advisors as early as possible in order to plan their programs and avoid unnecessary scheduling conflicts.
Students wishing to pursue a minor in Classical Studies must develop a specific plan for its completion in consultation with the Department's designated advisor.
Grade Policies
The department requires that a student earn a grade of at least C– in all
language
courses which are prerequisite for subsequent elections. A student should repeat any
language
course in which a D+ or lower grade is earned and which serves as a prerequisite to other courses which are to be elected. A grade of D+ signifies some achievement but denotes too weak a foundation for subsequent courses.
Prerequisites
None.
Requirements
Minimum Credits:
24
Requires a minimum of 8 courses (at least 3 credits each) including:
two of the following introductory courses: CLARCH 220, 221, 222, 323
one course in either Greek or Roman history or civilization (200-level or above)
three upper-level courses (numbered 325 and above) in the field of Classical Archaeology.
third-term proficiency in Greek or Latin (usually met by successful completion of GREEK 301 or the equivalent, or LATIN 231 or the equivalent). Students who plan to fulfill this requirement in other ways should speak to the department advisor.
At least one additional relevant course at the 400-level.
Students interested in possibly continuing in the field of Classical Archaeology should discuss their plans with the undergraduate advisor as early and as frequently as possible.  Graduate school in Classical Archaeology requires knowledge of both Ancient Greek and Latin and the department advisor can assist in planning a curriculum to include both languages.
Other Department Policies
Field Experience
Recommended but not required for a major in Classical Archaeology. There are several opportunities for students to join excavations in the Mediterranean area under the supervision of University of Michigan faculty. Contact the Department to speak with an advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the CLARCH, CLCIV, CLLING, GREEK, GREEKMOD, and LATIN subject areas may not be used toward the Distribution Requirement.
Honors
The department offers Honors in each of the six majors. Interested students who have a cumulative grade point average of at least 3.4 should contact their department advisor to discuss an Honors thesis no later than the winter term of their junior year.
It is the student's responsibility to find a suitable faculty advisor to oversee the thesis project. This project and its components are to be decided collectively by the student and the advisor at the end of the junior year. We encourage students to think creatively about the approach to their research and thesis project. Thesis advisors must sign off on a student's thesis project proposal.
At the end of the thesis project, the candidate must offer an oral defense of this work to a committee comprised of the thesis advisor and another faculty member, and present their research findings at the Classical Studies Honors Symposium.
Additional requirements for Honors candidates are specified with each major.
Honors in Classical Archaeology
In addition to the Honors plan requirements stated above, Honors candidates must satisfy the following:
3.4 minimum cumulative GPA; 3.5 minimum major GPA
Completion of an Honors thesis and oral defense in coordination with a Classics faculty member
Completion of eight credits in the second classical language (Greek if the major language is Latin; Latin if the major language is Greek).
CLCIV 480
section titled "Research Seminar"
(Fall term)
Students may also elect CLARCH 495 for 1-2 credits in the Fall and 1-3 credits in the Winter, but are not required to do so.
Classical Archaeology (Major) (Fall 2018 - Fall 2022)
Effective Fall 2018
Advising
Students interested in the Department's majors in Greek (Ancient), Latin, Classical Languages and Literatures, Classical Archaeology, Classical Civilization or Greek (Modern) major should check with the
Department office
for the name of the current advisor. Students interested in obtaining Teacher Certification in Latin should see Professor Deborah Ross.
The Department recommends that interested students see the department advisors as early as possible in order to plan their programs and avoid unnecessary scheduling conflicts.
Students wishing to pursue a minor in Classical Studies must develop a specific plan for its completion in consultation with the Department's designated advisor.
Grade Policies
The department requires that a student earn a grade of at least C– in all
language
courses which are prerequisite for subsequent elections. A student should repeat any
language
course in which a D+ or lower grade is earned and which serves as a prerequisite to other courses which are to be elected. A grade of D+ signifies some achievement but denotes too weak a foundation for subsequent courses.
Prerequisites
None.
Requirements
Minimum Credits:
27
Requires a minimum of 9 courses (at least 3 credits each) including:
two of the following introductory courses: CLARCH 221, 222, 323
three upper-level courses (numbered 325 and above) in the field of Classical Archaeology.
one course in either Greek or Roman history or civilization.
In consultation with an advisor, one upper-level course in a cognate field (e.g., Anthropology, History, History of Art, Near Eastern Studies, Religion, Women's Studies).
third-term proficiency in Greek or Latin (usually met by successful completion of GREEK 301 or the equivalent, or LATIN 231 or the equivalent). Students who plan to fulfill this requirement in other ways should speak to the undergraduate advisor.
At least one additional relevant course at the 400 level.
Students interested in possibly continuing in the field of Classical Archaeology should discuss their plans with the undergraduate advisor as early and as frequently as possible.  Graduate school in Classical Archaeology requires knowledge of both Ancient Greek and Latin and the department advisor can assist in planning a curriculum to include both languages.
Other Department Policies
Field Experience
Recommended but not required for a major in Classical Archaeology. There are several opportunities for students to join excavations in the Mediterranean area under the supervision of University of Michigan faculty. Contact the Department to speak with an advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the CLARCH, CLCIV, CLLING, GREEK, GREEKMOD, and LATIN subject areas may not be used toward the Distribution Requirement.
Honors
Effective Date of Honors requirements for the major Fall 2006
The department offers Honors in each of the six majors. Interested students who have a cumulative grade point average of at least 3.5 should contact their department advisor to discuss an Honors thesis no later than the winter term of their junior year at the latest.
It is the student's responsibility to find a suitable faculty advisor to oversee the thesis project. This project and its components are to be decided collectively by the student and the advisor at the end of the junior year. We encourage students to think creatively about the approach to their research and thesis project. Thesis advisors must sign off on a student's thesis project proposal.
Honors students may receive six credits during their senior year for research culminating in a thesis project by registering for one of the following courses: CLARCH 495, CLCIV 495, GREEK 495 or LATIN 495 depending on the major. At the end of the thesis project, the candidate must offer an oral defense of this work to a committee comprised of the thesis advisor and another faculty member, and present their research findings at the Classical Studies Honors Symposium.
Additional requirements for Honors candidates are specified with each major.
Honors Plan in Classical Archaeology
In addition to the Honors plan requirements stated above, Honors candidates must satisfy the following:
3.4 minimum overall GPA; 3.5 minimum major GPA
Completion of an Honors thesis and oral defense in coordination with a Classics faculty member
Completion of eight credits in the second classical language (Greek if the major language is Latin; Latin if the major language is Greek).
CLCIV 480
section titled "Research Seminar"
(Fall term)
Students may also elect CLARCH 495 for 1-2 credits in the Fall and 1-3 credits in the Winter, but are not required to do so.
Classical Archaeology (Major) (Fall 2016 - Summer 2018)
Effective Fall 2016
Advising
Students interested in the Department's majors in Greek, Latin, Classical Languages and Literatures, Classical Archaeology, Classical Civilization or Modern Greek major should check with the
Department office
for the name of the current advisor. Students interested in obtaining Teacher Certification in Latin should see Professor Deborah Ross.
Major advising for Modern Greek is provided by Professor Vassilios Lambropoulos and Artemis Leontis. Information about scheduling appointments is available from the
department office
.
The Department recommends that interested students see the department advisors as early as possible in order to plan their programs and avoid unnecessary scheduling conflicts.
Students wishing to pursue a minor in Classical Studies must develop a specific plan for its completion in consultation with the Department's designated advisor. Appointments may be scheduled at 2160 Angell Hall.
Grade Policies
The department requires that a student earn a grade of at least C– in all
language
courses which are prerequisite for subsequent elections. A student should repeat any
language
course in which a D+ or lower grade is earned and which serves as a prerequisite to other courses which are to be elected. A grade of D+ signifies some achievement but denotes too weak a foundation for subsequent courses.
Prerequisites
None.
Requirements
Minimum Credits:
27
Requires a minimum of 9 courses (at least 3 credits each) including:
two of the following introductory courses: CLARCH 221, 222, 323
three upper-level courses (numbered 380 and above) in the field of Classical Archaeology.
one course in either Greek or Roman history or civilization.
In consultation with an advisor, one upper-level course in a cognate field (e.g., Anthropology, History, History of Art, Near Eastern Studies, Religion, Women's Studies).
third-term proficiency in Greek or Latin (usually met by successful completion of GREEK 301 or the equivalent, or LATIN 231 or the equivalent). Students who plan to fulfill this requirement in other ways should speak to the undergraduate advisor.
At least one additional relevant course.
Students interested in possibly continuing in the field of Classical Archaeology should discuss their plans with the undergraduate advisor as early and as frequently as possible.  Graduate school in Classical Archaeology requires knowledge of both Ancient Greek and Latin and the department advisor can assist in planning a curriculum to include both languages.
Other Department Policies
Field Experience
Recommended but not required for a concentration in Classical Archaeology. There are several opportunities for students to join excavations in the Mediterranean area under the supervision of University of Michigan faculty. Contact the Department to speak with an advisor.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the CLARCH, CLCIV, CLLING, GREEK, GREEKMOD, and LATIN subject areas may not be used toward the Distribution Requirement.
Honors
Effective Date of Honors requirements for the major Fall 2006
The department offers Honors in each of the six majors. Interested students who have a cumulative grade point average of at least 3.5 should contact their department advisor to discuss an Honors thesis no later than the winter term of their junior year at the latest.
It is the student's responsibility to find a suitable faculty advisor to oversee the thesis project. This project and its components are to be decided collectively by the student and the advisor at the end of the junior year. We encourage students to think creatively about the approach to their research and thesis project. Thesis advisors must sign off on a student's thesis project proposal.
Honors students may receive six credits during their senior year for research culminating in a thesis project by registering for one of the following courses: CLARCH 495, CLCIV 495, GREEK 495 or LATIN 495 depending on the major. At the end of the thesis project, the candidate must offer an oral defense of this work to a committee comprised of the thesis advisor and another faculty member, and present their research findings at the Classical Studies Honors Symposium.
Additional requirements for Honors candidates are specified with each major.
Honors Concentration in Classical Archaeology
In addition to the Honors concentration requirements stated above, Honors candidates must satisfy the following:
3.4 minimum overall GPA; 3.5 minimum major GPA
Completion of an Honors thesis and oral defense in coordination with a Classics faculty member
Completion of eight credits in the second classical language (Greek if the major language is Latin; Latin if the major language is Greek).
CLCIV 480
section titled "Research Seminar"
(Fall term)
Students may also elect CLARCH 495 for 1-2 credits in the Fall and 1-3 credits in the Winter, but are not required to do so.
Classical Archaeology Major (Fall 2012-Summer 2016)
Effective Date of major Fall 2012-Summer 2016
May be elected as a departmental major
Classical archaeology is the study of the material culture-the artifacts, sites, monuments, and landscapes-of the ancient Mediterranean world. While the civilizations of Greece and Rome tend to be our focus, other areas, notably Egypt and the Near East, also form part of what we study. Classical archeology deals with all periods from the Paleolithic through the Byzantine.
Courses in Classical Archaeology generally do not require knowledge of Greek or Latin.
Requirements for the Major
Requires a minimum of 9 courses (at least 3 credits each) including:
two of the following introductory courses: CLARCH 221, 222, 323
three upper-level courses (numbered 380 and above) in the field of Classical Archaeology.
one course in either Greek or Roman history or civilization.
In consultation with an advisor, one upper-level course in a cognate field
(e.g.,
Anthropology, History, History of Art, Near Eastern Studies, Religion, Women's Studies).
third-term proficiency in Greek or Latin (usually met by successful completion of GREEK 301 or the equivalent, or LATIN 231 or the equivalent). Students who plan to fulfill this requirement in other ways should speak to the department advisor.
At least one additional relevant course.
Students interested in possibly continuing in the field of Classical Archaeology should discuss their plans (not least in the ancient languages) with the department advisor as early and as frequently as possible.
Honors Plan
In addition to the Honors requirements for the major stated above, Honors candidates are required to take a minimum of eight credits in the second classical language (Greek if the major language is Latin; Latin if the major language is Greek).
Field Experience
Recommended but not required for a major in Classical Archaeology. There are several opportunities for students to join excavations in the Mediterranean area under the supervision of University of Michigan faculty. Contact the Department to speak with an advisor.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
