Page header:
page title: Engineering Physics – Bulletin

Visible page text:
Engineering Physics
Overview
Basic physics is an integral part of every engineering curriculum. However, the sophistication of many areas of engineering, coupled with the staggering rate of technological advance, has created a need for engineers with much stronger backgrounds in math and physics—people who can work in an engineering environment and who are capable of applying advanced physics concepts to bring innovations to the marketplace. For example, the development of the computer closely followed the invention of the transistor. Consider the number of other physical phenomena (lasers, nuclear reactors, semiconductors, nuclear magnetic resonance, particle accelerators, etc.) that have been developed by engineers into modern technologies.
Engineering Physics is particularly attractive to those students who may attend graduate school, even if they have not yet decided on a particular field. An advanced physics and mathematics background, coupled with an engineering curriculum, is excellent preparation for most graduate engineering programs and for traditional physics or applied physics programs. Additionally, for those students that are seeking industry careers after their undergraduate degrees, the Engineering Physics curriculum offers the opportunity to focus in an advanced engineering area while developing a strong fundamental physics foundation.
Engineering Physics meets the stated needs by providing a thorough curriculum in basic and advanced engineering courses combined with sufficient physics and mathematics to be equivalent to a traditional degree in physics. A unique feature of the curriculum is the elective sequence of engineering courses that the student elects in a specialized field of engineering. This sequence of courses is chosen by the student (with the advisor’s input and approval) in any field of interest, such as quantum computing, data science, microprocessor design, plasma science and technology, electro-optics, computational methods or bioengineering, to name just a few. With 42 credit hours of electives in math, engineering, and physics, the student has a high degree of flexibility and opportunity for exploring or specializing in fields of their interest. Many Engineering Physics students also take advantage of the extensive research opportunities on campus,  in both the engineering and science departments.
The Engineering Physics degree program is administered by the Nuclear Engineering and Radiological Sciences Department.
Program Administration
Undergraduate Program Chairs
Carolyn Kuranz
2911 Cooley Laboratory
YZ
2927 Cooley Laboratory
Student Administration Manager
Michelle Sonderman
1919 Cooley Laboratory
For more specific information on contacting people – go to our
Contacts page
.
Mission Statement
Mission
To provide students with a high-quality education that prepares them for careers in engineering and science.
Goals
To educate students in the scientific fundamentals as well as in an engineering discipline of their choice, to provide the depth and breadth required to adapt to changes in technology.
Enrollment and Graduation Data
The University Registrar publishes
the number of students enrolled annually in this program
.
Contact
Undergraduate Program Chairs
Carolyn Kuranz
2911 Cooley
ckuranz@umich.edu
(734) 615-6282
YZ
2927 Cooley Laboratory
yzyz@umich.edu
734-647-4338
Student Administration Manager
Michelle Sonderman
1919 Cooley
For more specific information on contacting people – go to our
Contacts page
.
Engineering Physics Undergraduate Program website
Undergraduate Degree Program
Sample Schedule
B.S.E. in Engineering Physics
Not an ABET-accredited program. Please see the PDF version of the
sample schedule
. Additional information can be found on the
NERS Department website
.
