Page header:
page title: Afroamerican and African Studies Major | U-M LSA U-M College of LSA

Visible page text:
Skip to Content
U-M
//
LSA
//
Departments and Units
//
Majors and Minors
//
Look To Michigan
//
LSA Course Guide
//
LSA Gateway
Submit Site Search
Search
About
Academics
Research
News and Events
Support LSA
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
U-M
LSA
Departments and Units
Majors and Minors
Look To Michigan
LSA Course Guide
LSA Gateway
Course Catalog
Give Online
Keyword Search of en
About
Academics
Research
News and Events
Support LSA
Course Catalog
Give Online
for
Prospective Students
Current Students
Alumni and Friends
Faculty and Staff
LSA 101: Info for Admitted Students
Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our presentations and information from wherever you are.
Undergraduate
Graduate
Transfer
International
Student Life
Admissions
Student Stories
Outcomes and Possibilities
LSA delivers a purposeful, pragmatic liberal arts education that employers respect and seek out.
Undergraduate
Graduate
Transfer
Education
Academic Advising
Outcomes and Possibilities
College Connections
College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College.
Get Connected
Get Involved
Get Informed
College Connections
Staff Achievement Awards Program
This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.
Budget and Finance
Chairs and Directors
Facilities and Operations
Faculty Academic Affairs
Graduate Education
Human Resources
LSA Advancement
LSA Research Office
Office of the Dean
Security and Safety
Standard Practice Guide
Student Academic Affairs
Technology Services
Undergraduate Education
Skip to Page Content
Academics
Majors and Minors
Afroamerican and African Studies Major
...
Afroamerican and African Studies Major
Academics
Majors and Minors
[X] close
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Afroamerican and African Studies Major
Academics
Majors and Minors
Departments and Units
Courses
LSA Degrees
LSA Requirements
LSA Academic Policies and Procedures
LSA Commitment to Academic Freedom
LSA First-Semester Grade Covering Pilot
Dates and Deadlines
Academic Integrity
Engaged Learning
STEM
Business
What Will You Do with an LSA Degree?
Advising
Department Website
Effective Fall 2025
Exclusions:
A major in Afroamerican and African Studies is not open to students with a minor in the Department of Afroamerican and African Studies.
Advising
A team of DAAS faculty and staff is available to advise students. Students can make an appointment with an advisor through our
department website
, contact an advisor by email (
daasadvising@umich.edu
), or drop by the department during advising hours to meet with an advisor.
Students are also encouraged to relax or study in the Lemuel Johnson Center (room 5511) and to attend DAAS community events where our advisors are often present.
DAAS majors who want to declare the Honors subplan must develop a specific plan for its completion in consultation with the department's Student Services Coordinator.
Prerequisites
None.
Requirements
Minimum Credits:
28
Complete two of the following three gateway courses:
AAS 200 (Introduction to African Studies)
AAS 201 (Introduction to African American Studies)
AAS 202 (Introduction to African Diasporic Studies)
Complete two 300-level or above comparative or global courses that compare different geographical regions, historical periods, political contexts, or cultural contexts.  Choose from: AAS 304, 309, 322, 323, 324, 346,357, 359, 362, 365, 381, 384, 441
Complete four AAS electives chosen in consultation with a DAAS advisor or faculty.  In selecting electives, students may find it helpful to organize their curriculum according to one of the following themes: Environmental Studies; Expressive Arts; Gender and Sexuality Studies; Global Political Economies; Health; Law, Politics, and Social Justice; Migrations and Humanitarianism; Popular Culture and New Media; or Religion and Spiritual Practice. See the DAAS website for a comprehensive list of AAS courses organized by theme.
Two of these electives must be at the 300- or 400-level
Students who declare a major in Afroamerican and African studies must complete at least one AAS ULWR course. This course can be used to fulfill other requirements in the major, and can also be used to fulfill the college ULWR if the student receives a C- or better. Additionally, DAAS Honors students may use their Honors Thesis to meet this requirement (see Honors section below for details)
Complete the DAAS-In-Action course, AAS 498.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement.
In addition, courses in the AAS subject area may not be used toward the Distribution Requirement.
Honors
AAS majors who want to pursue Honors can do so through an independent study process that leads to an Honors Capstone. Students interested in this opportunity should contact the department no later than the end of their junior year. Students wishing to pursue Honors must achieve a 3.4 cumulative GPA and a 3.5 GPA in the courses used for their major by the end of the second semester of their senior year.
The Department of Afroamerican and African Studies seeks to optimize the experience of DAAS students who want to pursue Honors. College Honors students may also be able to use their capstone thesis to meet the Upper-Level Writing Requirement.
DAAS Honors requirements:
1. Complete one of the following three (3) upper-level seminars as a topic prospectus for Honors Capstone:
AAS 498: DAAS-In-Action
AAS 600: Proseminar: Interdisciplinary Approaches to African Studies
AAS 601: Proseminar: Interdisciplinary Approaches to African American and Diaspora Studies
2. Complete one independent study course with a faculty mentor the semester following the completion of the upper-level seminar topic prospectus.
3. Complete a Senior Honors Capstone (thesis or project in consultation with a faculty mentor).
Afroamerican and African Studies (Major) (Winter 2024 - Summer 2025)
Effective Winter 2024
Exclusions:
A major in Afroamerican and African Studies is not open to students with a minor in the Department of Afroamerican and African Studies.
Advising
A team of DAAS faculty and staff is available to advise students. Students can make an appointment with an advisor through our
department website
, contact an advisor by email (
daasadvising@umich.edu
), or drop by the department during advising hours to meet with an advisor.
Students are also encouraged to relax or study in the Lemuel Johnson Center (room 5511) and to attend DAAS community events where our advisors are often present.
DAAS majors who want to declare the Honors subplan must develop a specific plan for its completion in consultation with the department's Student Services Coordinator.
Prerequisites
None.
Requirements
Minimum Credits:
28
Complete two of the following three gateway courses:
AAS 200 (Introduction to African Studies)
AAS 201 (Introduction to African American Studies)
AAS 202 (Introduction to African Diasporic Studies)
Complete two 300-level comparative or global courses that compare different geographical regions, historical periods, political contexts, or cultural contexts.  Choose from: AAS 303, 304, 309, 322, 323, 324, 346, 354, 359, 362, 365, 366, 381, 384.
Complete four AAS electives chosen in consultation with a DAAS advisor or faculty.  In selecting electives, students may find it helpful to organize their curriculum according to one of the following themes: Environmental Studies; Expressive Arts; Gender and Sexuality Studies; Global Political Economies; Health; Law, Politics, and Social Justice; Migrations and Humanitarianism; Popular Culture and New Media; or Religion and Spiritual Practice. See the DAAS website for a comprehensive list of AAS courses organized by theme.
Two of these electives must be at the 300- or 400-level
Students who declare a major in Afroamerican and African studies must complete at least one AAS ULWR course. This course can be used to fulfill other requirements in the major, and can also be used to fulfill the college ULWR if the student receives a C- or better. Additionally, DAAS Honors students may use their Honors Thesis to meet this requirement (see Honors section below for details)
Complete the DAAS-In-Action course, AAS 498.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement.
In addition, courses in the AAS subject area may not be used toward the Distribution Requirement.
Honors
AAS majors who want to pursue Honors can do so through an independent study process that leads to an Honors Capstone. Students interested in this opportunity should contact the department no later than the end of their junior year. Students wishing to pursue Honors must achieve a 3.4 cumulative GPA and a 3.5 GPA in the courses used for their major by the end of the second semester of their senior year.
The Department of Afroamerican and African Studies seeks to optimize the experience of DAAS students who want to pursue Honors. College Honors students may also be able to use their capstone thesis to meet the Upper-Level Writing Requirement.
DAAS Honors requirements:
1. Complete one of the following three (3) upper-level seminars as a topic prospectus for Honors Capstone:
AAS 498: DAAS-In-Action
AAS 600: Proseminar: Interdisciplinary Approaches to African Studies
AAS 601: Proseminar: Interdisciplinary Approaches to African American and Diaspora Studies
2. Complete one independent study course with a faculty mentor the semester following the completion of the upper-level seminar topic prospectus.
3. Complete a Senior Honors Capstone (thesis or project in consultation with a faculty mentor).
Afroamerican and African Studies (Major) (Fall 2020 - Fall 2023)
Effective Fall 2020
Exclusions:
A major in Afroamerican and African Studies is not open to students with a minor in the Department of Afroamerican and African Studies.
Advising
A team of DAAS faculty and staff is available to advise students. Students can make an appointment with an advisor through our
department website
, contact an advisor by email (
daasadvising@umich.edu
), or drop by the department during advising hours to meet with an advisor.
Students are also encouraged to relax or study in the Lemuel Johnson Center (room 5511) and to attend DAAS community events where our advisors are often present.
Prerequisites
None.
Requirements
Minimum Credits:
28
Complete two of the following three gateway courses:
AAS 200 (Introduction to African Studies)
AAS 201 (Introduction to African American Studies)
AAS 202 (Introduction to African Diasporic Studies)
Complete two 300-level comparative or global courses that compare different geographical regions, historical periods, political contexts, or cultural contexts.  Choose from: AAS 303, 304, 309, 322, 323, 324, 346, 354, 359, 362, 365, 366, 381, 384.
Complete four AAS electives chosen in consultation with a DAAS advisor or faculty.  In selecting electives, students may find it helpful to organize their curriculum according to one of the following themes: Environmental Studies; Expressive Arts; Gender and Sexuality Studies; Global Political Economies; Health; Law, Politics, and Social Justice; Migrations and Humanitarianism; Popular Culture and New Media; or Religion and Spiritual Practice. See the DAAS website for a comprehensive list of AAS courses organized by theme.
Two of these electives must be at the 300- or 400-level
Students who declare a major in Afroamerican and African studies must complete at least one AAS ULWR course. This course can be used to fulfill other requirements in the major, and can also be used to fulfill the college ULWR if the student receives a C- or better.. Additionally, DAAS Honors students may use their Honors Thesis to meet this requirement (see Honors section below for details)
Complete the DAAS-In-Action course, AAS 498.
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement.
In addition, courses in the AAS subject area may not be used toward the Distribution Requirement.
Honors
AAS majors who want to declare the Honors subplan can do so through an independent study process that leads to an Honors thesis.  Students wishing to pursue Honors must have a 3.4 overall GPA and a 3.5 GPA in AAS courses. Students interested in this opportunity should contact the department no later than the end of their junior year.
College Honors students can also use their honors thesis to meet the ULWR.
Afroamerican and African Studies (Major) (Fall 2011 - Summer 2020)
Effective Fall 2011
Advising
The
DAAS Advising Center
(5511 Haven Hall) is staffed with faculty and staff eager to provide academic advising on the DAAS curriculum for any student interested in these fields of study, whether pursuing a major, a minor, or one course. Call (734) 764-5513 or drop by during the posted hours. The DAAS Advising Center also sponsors final exam study breaks, informational meetings on graduate study, and other such events.
For more information, please contact:
daasadvising@umich.edu
Prerequisites
AAS 111: Introduction to Africa and Its Diaspora (4 credits).
Requirements
Minimum Credits:
34
Two courses at the 200 level (6 credits total):
One Area Course.
This course must focus on one of three major geographic areas of the African Diaspora: Africa, the Americas, or the Caribbean. The following courses best satisfy this requirement:
AAS 200: Introduction to African Studies
AAS 201: Introduction to African American Studies
AAS 202: Introduction to Caribbean Studies
One Cross-Area Course OR Second Area Course.
If you choose to take a cross-area course, it must focus on
at least two
geographic areas of the African Diaspora. Those geographic areas include Africa, the Americas, the Caribbean, Europe, and Asia. AAS 211, "Dynamics of the Black Diaspora," satisfies this cross-area requirement.
If you choose to take a second area course, it must focus exclusively on
one
geographic area of the African Diaspora not covered in your first area course.
Eight courses at the 300 or 400 level (24 credits total):
Six Area Courses (focusing on
one
geographic area of the African Diaspora).
All six of these courses must focus on the same geographic area: Africa, the Americas, or the Caribbean. The area that you choose as your focal point is your
sub-major area.
Among these six courses, you may include some cross-area courses if they include substantial coverage of your sub-major area.
One Cross-Area Course.
This course must examine diasporic issues across
at least two
geographic areas of the African Diaspora. Those geographic areas include Africa, the Americas, the Caribbean, Europe, and Asia.
One Second Area Course.
This course must focus exclusively on
one
geographic area of the African Diaspora that is not your sub-major area.
One Senior Seminar: AAS 495 (4 credits).
This writing-intensive course offers a capstone experience for seniors. Students writing a DAAS Honors thesis must enroll in
AAS 495-Honors,
an advanced section of the course.
Suggested Specializations
In selecting courses for your sub-major, we recommend that you:
Cluster your 300- and 400-level courses around a particular specialization
Many AAS courses relate to one or more of the following specializations:
Health and Education
Expressive Cultures: Literature, Media, Arts, Religion, Languages
Gender and Sexuality
Globalization, Transnationalism, and Citizenship
Development, Politics, Law, and Environmental Studies
Urban Studies and Social Inequality
For more information about specific courses that satisfy these specializations, please visit:
https://lsa.umich.edu/daas/undergraduates/daas-course-offerings.html
Include courses that represent different disciplines.
For instance:
If you are especially interested in African anthropology, you would benefit from taking a course in African sociology or African literature.
If you are especially interested in African American film and visual art, you would benefit from taking a course in African American psychology, history, or communication and media studies.
If you are especially interested in Caribbean or Latin American Studies, you would benefit from taking courses offered by the Department of Romance Languages or the Center for Latin American and Caribbean Studies. (In order to receive credit for courses offered by other programs or departments, you must seek permission from your DAAS advisor.)
For more information, please contact:
daasadvising@umich.edu
Distribution Policy
No course used to fulfill a major requirement may be used toward the
LSA Distribution Requirement
. In addition, courses in the AAS subject area may not be used toward the Distribution Requirement.
Honors
Students wishing to pursue DAAS Honors must have a 3.4 overall GPA and a 3.5 GPA in AAS courses. In addition to requirements set for the major, students seeking Honors need to:
Contact the DAAS Honors Coordinator to apply for the program by the first term of their junior year, and no later than the end of the second term of their junior year. As part of the application process students also select a Faculty Thesis Advisor, who should be a member of the DAAS faculty.
Take a special section of the Senior Seminar, AAS 495: Advanced research in Afroamerican & African Studies, in the Fall term of their senior year. The student's work in the Senior Seminar will focus on drafting a portion (approximately 25 pages) of the Honors thesis.
Take AAS 410: Supervised Reading and Research, in the Winter term of their senior year, when they will expand, revise, and complete the thesis. The student's faculty advisor will normally oversee this independent study. The finished Honors thesis should be 40 to 60 pages.
Submit their final thesis to the DAAS office by the end of March. All theses must have the final approval of the faculty advisor. All theses are also read by at least one and in many cases two additional members of the faculty who will offer feedback and assess the quality of the thesis. If the thesis meets the criteria of excellence for receiving Honors, it will be assigned one of the following rankings: "Honors," "High Honors," or "Highest Honors." The final determination of Honors ranking is made by the Honors Program Coordinator in consultation with the Director of Undergraduate Studies.
Seniors earning Honors are invited along with their guests and advisors to the DAAS Graduation Ceremony, at which the students present brief summaries of their theses and receive a special certificate of achievement.
Afroamerican and African Studies major (Fall 2010-Summer 2011)
Effective Date of Major: Fall 2010-Summer 2011
May be elected as an interdepartmental major
The CAAS major is centered on the idea of the African Diaspora so that students can explore the contrasting cultures of African-descended people around the globe. In addition, students will specialize in one geographic area of the Diaspora. Three areas have been defined: African Studies, Afroamerican Studies and Caribbean Studies.
Prerequisite to the Major
CAAS 111: Introduction to Africa and Its Diaspora (4 credits).
Requirements for the Major
The 200-Level Requirements.
At the 200 level, CAAS courses are introductory or general surveys either within one of the geographic areas (Africa, African America, or the Afro-Caribbean) or across at least two of these areas. Because these courses build on the basic concepts and methods introduced in CAAS 111, students are strongly encouraged to take CAAS 111 before proceeding to any of these 200-level courses. At the 200 level, there are two requirements: (1) one course within one of the three major geographic areas; and (2) either one cross-area course focusing on Diasporic connections or a course within a second geographic area.
One Area Course
(3 credits): Each concentrator is required to take at least one course (3 credits) at the 200-level that is focused on issues solely in one of the geographic areas. This course may be in African Studies, Black U.S. Studies, or Afro-Caribbean/Latin American Studies. Students are strongly encouraged to take one of the following courses to meet this requirement: CAAS 200, "Introduction to African Studies"; CAAS 201, "Introduction to African American Studies"; or CAAS 202, "Introduction to Afro-Caribbean Studies."
One Cross-Area Course
or Second Area Course (3 credits): Each concentrator is required to take at least one 200-level course that examines Diasporic issues across at least two geographic areas: Africa and the U.S., Africa and the Afro-Caribbean, or the Afro-Caribbean and the U.S., or one additional 200-level course that focuses on issues in a second geographical area.
The Upper-Level Requirements.
Upper-level CAAS courses focus on more specialized issues and methods, frequently within particular disciplines or concerning an interdisciplinary problem in the study of an area. At this level, there are also courses focused on particular historical periods, literary genres and periods, sub-areas of the African continent (such as East Africa), national identities (such as Ethiopia), social, political, or economic movements (such as Pan-Africanism, urban redevelopment in the U.S., or Black feminist thought).
Students are required to take at least 9 courses (27 credits) at the 300 and 400 level. Six of these courses are devoted to the student's chosen track, enabling in-depth study in one geographic area (the submajor). One course must focus on materials solely outside the submajor. One course must have a cross-area focus on Africa and its Diaspora. Each student is also required to take one Senior Seminar (CAAS 495) for 3 credits.
The Submajor
(18 credits) .
CAAS offers three tracks based in study of the three major geographic areas of Africa and its Diaspora: African Studies, African-American Studies (U.S.-focused), and Afro-Caribbean Studies. To ensure that students gain depth in their studies, they must complete at least 6 upper-level courses (18 credits) in one of these geographic areas. Among these six courses, the student may include some cross-area courses, as long as the submajor area plays a central role in the course materials.
In choosing courses for the submajor, students should do work across traditional disciplines. For instance, a student especially interested in African anthropology would be well served in also taking a course in African sociology or African literature. A student interested in African American film and visual art would be well served to take a course in African American psychology, history, or communication studies.
(Students who are interested in specializing in Afro-Caribbean/Latin American Studies may supplement their CAAS courses with those from other units, such as courses offered through the Center for  Latin American and Caribbean Studies and the Department of Romance Languages. Students, however, must first seek permission from CAAS academic advising staff before doing so.)
The Upper-Level Cross-Area Requirements
(6 credits).
If the submajor facilitates depth in a geographic area, the upper-level cross-area requirements encourage students to continue to build a breadth of knowledge. Students must take at least 2 courses (6 credits) that focus on geographic areas outside their chosen track.
Each student is required to take one course (3 credits) fully outside his or her submajor either in Africa or the Diaspora. That is, those who choose the African Studies track must complete at least one upper-level course solely in Afroamerican or Afro-Caribbean Studies. Likewise, students subconcentrating in one of the Diaspora areas
(i.e.,
African American or Afro-Caribbean Studies) must complete at least one upper-level course devoted solely to Africa.
Each student must also complete at least one upper-level course (3 credits) that focuses on cross-area study between Africa and its Diaspora. This is in addition to any such cross-area courses counted toward the 18 credits of the submajor.
CAAS 495: The Senior Seminar
(4 credits).
All students are required to take a Senior Seminar. As a capstone course, CAAS 495 invites students to reflect on and synthesize their studies by participating in a seminar format, by working on a particular problem of interest to the student, and through the production of a major research paper.
The Theme Cluster Option.
In addition to the above requirements, students can enhance their educational experience in CAAS by also clustering their courses around a theme crucial to understanding the historical cultures and contemporary issues of people of African descent. As students examine the course offerings in consultation with their CAAS academic advisor, they may seek to create a dialogue among their courses within a term and across terms by electing courses in which that particular theme stands out. This option is strongly recommended, especially for Honors majors.
Students may choose one of the following themes around which to cluster their courses:
The Arts and Performance
Colonialism and Post-colonialism
Contemporary Culture
Diasporic Connections
Education and Literacy
Gender and Sexuality
Health and Development
Information Technology
Mass Media
Migration and Travel
Nationalism and Pan-Africanism
Philosophy and Political Thought
Race and Environment
Urban and Community Studies
Honors Plan [Effective Fall 2010]
Students wishing to pursue CAAS Honors must have a 3.4 overall GPA and a 3.5 GPA in CAAS courses.  In addition to requirements set for the major, students seeking honors need to:
Contact the CAAS Honors Coordinator to apply for the program by the first term of their junior year, and no later than the end of the second term of their junior year.  As part of the application process students also select a Faculty Thesis Advisor, who should be a member of the CAAS faculty.
Take a special section of the Senior Seminar (CAAS 495), titled "Advanced research in Afroamerican & African Studies," in the Fall term of their senior year. The student's work in the Senior Seminar will focus on drafting a portion (approximately 25 pages) of the honors thesis.
Take CAAS 410, "Supervised Reading and Research," in the Winter term of their senior year, when they will expand, revise, and complete the thesis. The student's faculty advisor will normally oversee this independent study.  The finished honors thesis should be 40 to 60 pages.
Submit their final thesis to the CAAS office by the end of March.  All theses must have the final approval of the faculty advisor.  All theses are also read by at least one and in many cases two additional members of the faculty who will offer feedback and assess the quality of the thesis.  If the thesis meets the criteria of excellence for receiving Honors, it will be assigned one of the following rankings: "Honors," "High Honors," or "Highest Honors."  The final determination of Honors ranking is made by the Honors Program Coordinator in consultation with the Director of Undergraduate Studies.
Seniors earning Honors are invited along with their guests and advisors to the CAAS Graduation Ceremony, at which the students present brief summaries of their theses and receive a special certificate of achievement.
Information for
Prospective Students
Current Students
Faculty and Staff
Alumni and Friends
More about LSA
About LSA
How Do I Apply?
News
LSA Magazine
Give
Maps
Student Resources
Courses
Academic Advising
Majors and Minors
Departments and Units
Global Studies
LSA Opportunity Hub
Connect
Social Media
Update Contact Info
Contact Us
Privacy Statement
Report Feedback
©
2026 Regents of the University of Michigan
