Degree Information
Home
/
Undergraduate
/
Degree Information
Sample schedules
Sample Schedule
(PDF)
ChE Program Scheduling Worksheet
(PDF)
Planning for prerequisites:
Diagram of prerequisites for required courses
Electives
Engineering Elective Requirements
(PDF)
Bio/Life Science Requirement
Concentrations within the ChE Program
Concentrations and supplemental studies
Engineering minors
Other minors
Excluded Courses
Engineering Electives
The following courses are NOT allowed to be used as engineering electives in the chemical engineering program.
NOTE:
Other courses may be added to this list later
BioME 295 & 495
–
seminar courses
CEE 401
– Not significant technical content
EECS 284
–
programming, not engineering
ENTR 407
– Not significant technical content
Courses not counted for degree credit
Any English Language Institute (ELI) course, such as Eng Lng I 120 *
—The ELI offers advanced instruction in English language to non-native speakers.
Any English Composition Board (ECB) course
— Some students are required to take this as part of their Intro. Composition requirement
Courses that are too similar in content
— Students can only receive credit for one such course. These courses include:
Engr 101 AND EECS 183
Math 116 AND Math 119
* while these courses will not provide credit toward a degree, the grades will be used in computing GPA
Math and Physics
Chemical Engineering students may fulfill the math requirements with these alternative courses:
Math 115 – May be replaced by Math 185, or Math 195
Math 116 – May be replaced by Math 156, Math 186, or Math 196
Math 215 – May be replaced by Math 255, Math 285, or Math 295
Math 216 – May be replaced by Math 256, Math 286, or Math 296
The 50s series courses are honors courses focusing on applications and theory and aimed at engineers. The 80s series courses focus more on theory in addition to applications. The 90s series are theory-focused courses. These are described in more detail in the
LSA Course Guide
.
Chemical Engineering students may fulfill the physics requirements with these alternative courses:
Physics 140 – May be replaced by Physics 160
Physics 141 – May be replaced by Physics 161
Physics 240 – May be replaced by Physics 260
Physics 241 – May be replaced by Physics 261
The 60s series is an honors sequence aimed at engineers. The 50s series (150/151, 250/251), which focuses on life science applications of physics concepts, is not calculus-based and thus can not be used to fulfill the physics requirement.
