CERTIFICATION
BACHELOR'S
Undergraduate Secondary Teacher Education
Overview and Requirements
Applying
Careers & Field Experience
The secondary teacher education program at the University of Michigan now offers first-year admission in addition to the option to transfer in as a junior (either across campus or from a different college or university). Secondary teacher education also offers an option to add teacher certification to your degree while remaining in your U-M school or college. Secondary teacher education’s three-term program prepares students to teach middle and high school grades with secondary teacher certification through the State of Michigan. Students select an initial (primary) endorsement area and may also choose to (optionally) pursue an additional endorsement to broaden their range of career options. As a prospective secondary teacher, also called a “teaching intern,” you get the opportunity to teach subjects about which you have a deep understanding.
Changes Coming for Fall 2026 Admits
Current Secondary Certification Endorsements
Students admitted to the secondary teacher education program in the Winter 2026 term or prior are prepared for certification in the following endorsement areas and grade bands:
Biology, Chemistry, Earth/Space Science, Economics, English, History, Integrated Science, Mathematics, Physics, Political Science, Psychology and Social Studies, 6–12
World Languages (see options below), PK–12
Music, K–12
Students may also (optionally) earn an additional endorsement in English as a Second Language (ESL), which encompasses grades PK–12.
New Secondary Certification Endorsements
Due to certification grade band restructuring implemented by the Michigan Department of Education (MDE), students admitted to the secondary teacher education program beginning in the Fall 2026 term will be certified to teach the following endorsement areas in two new grade bands, 5–9 and 7–12:
English Language Arts
Social Studies
Science
Mathematics
World Language and ESL endorsements will continue to be for grades PK-12. Music endorsements will continue to be for grades K-12. Psychology will continue to be available as both an initial and additional endorsement, and is expected to remain for grades 6-12.
Please note that ESL cannot be pursued as a stand alone endorsement area; it can only be pursued as an additional endorsement, in conjunction with another endorsement area.
Anticipated Future Changes
The MDE is still in the process of considering offering Biology, Chemistry, Earth/Space Science, Physics, Economics, History, and Political Science for additional endorsement only. Also, MDE’s timeline for Music to transition from K-12 to PK-12 has yet to be determined.
Please contact our academic advisors at
marsal.eppadvising@umich.edu
(link sends email)
for assistance in planning coursework for these future changes.
Education Degree with Teacher Certification
Earn a Bachelor of Arts or a Bachelor of Science degree in Education along with teacher certification.
Other U-M Degree with Teacher Certification
The program also offers the option to add certification to the degree you are pursuing in another school or college at the University of Michigan.
LSA Degree + Education Degree with Teacher Certification
Another option is to earn degrees in LSA and the Marsal School simultaneously. Students interested in the Multiple Dependent Degree Program (MDDP) can earn two degrees by meeting all requirements for both LSA and Marsal School degrees, along with certification. Admission to both LSA and the Marsal School is required, along with written permission from advisors in both units and a detailed academic plan for completion of all requirements. This MDDP option requires a minimum of 150 credits.
Post-baccalaureate Certification Only
Students who have already completed a bachelor’s degree (and do not seek a second bachelor’s degree) may apply as a non-degree applicant to the Marsal Family School of Education to complete the teacher certification requirements. This Post-Baccalaureate/Non-Candidate for Degree Status program is for the undergraduate level only.
Program Policy Regarding Transportation
The secondary teacher education program prioritizes learning about issues of diversity, inclusion, justice, and equity in teaching. We aim for all interns to experience teaching and learning in a variety of school contexts and become effective teachers of students from diverse backgrounds. Therefore, interns are placed in a range of clinical experience placements that require travel as much as 45 miles from the Marsal Family School of Education.
Interns are responsible for their own transportation to and from their placement sites and should keep this expense in mind when calculating their educational expenses. It is expected that interns have independent reliable transportation to ensure their ability to adequately access the schools with whom we partner for clinical experiences.
Read more +
Want to learn more about the program?
See our
upcoming information sessions
Additional certificate and endorsement opportunities
English as a Second Language Teaching Endorsement
International Baccalaureate (IB) Teaching Certificate
Trauma-Informed Practice Mini-Certificate
Requirements
The secondary teacher education program consists of two course sequences. The pre-professional sequence completed in the first and second year can either be taken at U-M or at another institution prior to transferring. The professional sequence is completed in the third and fourth year at Marsal. Select your applicant status below for a detailed curriculum outline.
First-Year Admission
Transfer - External
Transfer - U-M Cross Campus
Minimum credits required
120
General studies credits
36
The State of Michigan requires teacher certification candidates to complete an approved program of general or liberal education. This includes English, literature, humanities, social sciences, mathematics, natural or physical sciences, and the arts:
Required Education Core Course (20 credits)
EDUC 118 – Schooling in a Multicultural Society
(3 credits)
EDUC 141 – Schools, Society, and Self: Beginning the Work of Teaching
(2 credits)
EDUC 151 – Youth Serving Community Engagement
(1 credit)
EDUC 160 – Everyday Equitable Practice and Dialogue for Teaching
(3 credits)
EDUC 241 – Deepening Disciplinary Knowledge
(3 credits)
EDUC 271 – Youth Serving Community Engagement
(2 credits)
EDUC electives (6 credits; 2 courses)
First-Year Writing (4 credits)
Select one course designated by U-M as meeting the
First Year Writing Requirement (FYWR)
(link is external)
, such as
CLCIV 101, 121,
COMPLIT 122,
ENGLISH 124, 125, 126,
GTBOOKS 191,
HISTORY 195, or
WRITING 160.
Humanities (12 credits)
Courses must be from at least two different subjects
The FYWR (4 credits) counts toward Humanities
Natural Science / Mathematics (12 credits)
Courses must be from at least two
different
subjects
Social Science (12 credits)
Courses must be from at least two different subjects
EDUC 118 counts toward Social Science
If you are pursuing a dual degree (MDDP)
: These general studies requirements apply to anyone earning a degree from the Marsal Family School of Education, including dual degree students. You will also have to meet the distribution requirements for your other degree.
Endorsement area credits
Students choose one or more endorsement areas; see
Endorsement Areas
for specific area requirements.
Endorsement area credits may be double counted with general studies requirements where possible.
Elective credits
Variable to meet minimum 120 credits for degree; dependent on endorsement area
Credits to complete during the professional sequence
Core credits
16–18
Students complete the following courses:
EDUC 391 – Educational Psychology & Human Development
(3 credits)
EDUC 392 – Educational Foundations in a Multicultural Society
(3 credits)
EDUC 402 – Reading and Writing in Content Areas
(3 credits; dependent on endorsement area)
EDUC 445 – Teaching Students with Exceptionalities in the General Education Middle and High School Classroom
(1 credit)
EDUC 446 – Teaching with Digital Technologies 6–12
(3 credits)
EDUC 4XX – Content Area Methods
*
(3–5 credits; dependent on endorsement area)
These courses must be completed in a
specific sequence
.
Teaching credits
16–17
Students complete the following courses:
EDUC 302 – Directed Teaching in the Secondary School
(10 credits)
EDUC 304 – Problems and Principles of Secondary Education
(2 credits)
EDUC 307 – Practicum I
(2 credits)
EDUC 307 – Practicum II
(2–3 credits)
MDE ESL endorsement credits (optional)
17
Interns may elect the MDE English as a Second Language (ESL) endorsement by completing a sequence of courses and fieldwork, focused on English Language Development (ELD), during their elementary or secondary certification programs at the undergraduate or master’s levels. Fully approved by the State of Michigan, the ELD Coursework is a 17-credit, six course and practice-based course sequence, which meets Michigan state standards and prepares interns to take the MTTC ESL exam.
Learn more about obtaining an MDE ESL endorsement
Endorsement Areas
under construction
Arabic PK–12
Biology 6–12
Chemistry 6–12
ESL PK–12
Earth/Space Science 6–12
Economics 6–12
English 6–12
English Language Arts 5–9 & 7–12
French PK–12
German PK–12
History 6–12
Integrated Science 6–12
Latin PK–12
Mandarin PK–12
Mathematics 5-9 & 7-12
Mathematics 6–12
Music Education K–12
Physics 6–12
Political Science 6–12
Psychology 6–12
Science 5-9 & 7-12
Social Studies 5-9 & 7-12
Social Studies 6–12
Spanish PK–12
ENDORSEMENT AREAS
Arabic PK–12
Biology 6–12
Chemistry 6–12
ESL PK–12
Earth/Space Science 6–12
Economics 6–12
English 6–12
English Language Arts 5–9 & 7–12
French PK–12
German PK–12
History 6–12
Integrated Science 6–12
Latin PK–12
Mandarin PK–12
Mathematics 5-9 & 7-12
Mathematics 6–12
Music Education K–12
Physics 6–12
Political Science 6–12
Psychology 6–12
Science 5-9 & 7-12
Social Studies 5-9 & 7-12
Social Studies 6–12
Spanish PK–12
Arabic
Requirement
Description
ARABIC 401
or
ARABIC 402
Advanced Arabic I
or
Advanced Arabic II
ARABIC 503
Classical Arabic Grammar
ARABIC 506
Arabic Phonology and Morphophonology
ARABIC 507
Arabic Syntax and Semantics
ANTHRCUL 409
Peoples and Cultures of the Near East and North Africa
EDUC 307
or
EDUC 650
*
Practicum
or
Reflective Teaching Field Experience
EDUC 419
or
EDUC 420
*
Teaching Methods for World Language Minors
or
Teaching World Languages in the Secondary School
Literature
Choose two (6 credits) of the following: ARABIC 600, 601, 602, 604
*
Required for endorsement but doesn't count toward GPA
Note:
See
Changes coming for Fall 2026 admits
Upcoming Information Sessions
Aug 10, 2026
Discover Marsal Undergraduate Session (Online session)
11:00 a.m.-12:00 p.m.
Information Session
Aug 20, 2026
Discover Marsal Undergraduate Session (In person session)
6:00-7:00 p.m.
Information Session
Aug 27, 2026
Transfer Undergraduate Teacher Education Information Session
4:00 p.m.
Information Session
Sep 15, 2026
Transfer Undergraduate Teacher Education Information Session
12:00 p.m.
Information Session
See all information sessions
Connect with us
Submit an inquiry
(link is external)
Meet a student ambassador
Meet with an admissions advisor
(link is external)
FAQ
Application Deadlines
Apply early to receive a timely decision! Submitting an early application will give you time to engage with your program, visit campus, and have time to make an informed decision.
Winter (January)
October 1
Junior admission only
Fall (August)
November 1
Early Action
(link is external)
Early Decision
(link is external)
First-year admission only
February 1
Regular Decision
(link is external)
Application Process
First-Year Admission
Post-Baccalaureate
Transfer - External
Transfer - U-M Cross Campus
Step 1: Meet with us
Schedule an appointment with an admissions representative
(link is external)
Sign up for an information session
Step 2: Prepare application materials
Gather the materials outlined in the
application checklist
(link is external)
Step 3: Apply online
Complete the
Common Application for First-Year Students
(link is external)
and select one of the
Teacher Education
options as your program of study
Visit
First-year Application Plans
(link is external)
to view your admission options (Early Action, Early Decision, or Regular Decision)
Step 4: Submit Video Interview
Becoming a Teacher Education Student: Admissions Video Interview
Quick Facts
Financial aid
Available
Part-time status
No applications accepted
Field placements
Guaranteed
In-school placements every semester, plus additional courses that occur in schools
Connect with us
Submit an inquiry
(link is external)
Meet a student ambassador
Meet with an admissions advisor
(link is external)
FAQ
Careers
86%
of known graduates found full-time employment or pursued an advanced degree
92%
of known graduates are highly satisfied or satisfied with their current position
100%
of known graduates found a job within 4 months
Hiring organizations and job titles
In-state
Organization
Job Title
Location
Canton Preparatory High School
9th-12th Grade Social Studies Teacher
Canton, MI
Detroit International Academy for Young Women
Teacher
Detroit, MI
Holland High School
Spanish Teacher
Holland, MI
Huron High School
Social Studies Teacher
Ann Arbor, MI
Pioneer High School
High School Science Teacher
Ann Arbor, MI
Washtenaw International Academy
7th, 8th, 9th Grade ELA Teacher
Ypsilanti, MI
Out-of-state
Organization
Job title
Location
Caruso Middle School
6th-8th Grade Spanish Teacher
Deerfield, IL
Costa Mesa Middle School
7th & 8th Grade Special Education
Costa Mesa, CA
Discovery Outdoor Education Program
2nd-12th Grade Outdoor Educator
Navasota, TX
Mendham Township Middle School
5th-8th Grades Choir Director
Mendham, NJ
Somerville High School
10th Grade College Prep & Honors English Teacher
Somerville, MA
Field Experience
Classroom Experience
Having a real-world experience within the settings of your chosen profession is an essential part of your educational preparation. In the first two terms, you will spend 6–8 hours per week in classrooms as a teaching intern. You will observe the classroom in action and collect data on student learning and teaching practice. You will contribute to the classroom instruction by tutoring, co-teaching, and planning with mentor teachers and your university partners.
The culminating field experience is the student teaching term of 14–15 weeks. You will spend 5 days per week for the full school day immersed in the classroom. You will slowly and deliberately take on all aspects of instructional responsibility for your students in grades 7–12, building toward lead teaching.
School Partnerships
Substantial field experience in a diverse array of classrooms, urban to rural, is a key component of the program. You will have one field placement in a school in Ann Arbor and at least one placement in a neighboring district.
Connect with us
Submit an inquiry
(link is external)
Meet a student ambassador
Meet with an admissions advisor
(link is external)
FAQ
